<span id="price-summary-section">
    <div class="cart-details">
      <div class="heading-cart">Price Details</div>
      <div class="details" *ngFor="let total of totals"><span class="title" *ngIf="total.code!='total'">{{total.title}}</span><span class="price"  *ngIf="total.code!='total'"> Rs. {{total.value}}</span></div>
     <div  *ngFor="let total of totals"> <div class="total" *ngIf="total.code=='total'"><span class="ttl">Total</span><span class="price"> Rs. {{total.value}}</span></div></div>
      
     <div class="coupon-wrap" *ngIf="coupon =='' && reward==''"><a (click)="coupon_input= !coupon_input" class="coupon-clk">Have A Coupon Code?</a></div>
      <div *ngIf="coupon =='' && coupon_input" class="demo" id="panel"><span class="input-wrap">
        <input type="text" class="coupon"
            #couponCode name="coupon" id="input-coupon" placeholder="Enter your coupon here"></span><span
          class="btn-grey"><a (click) = "applyCoupon(couponCode)" id="button-coupon">APPLY</a></span>
      </div>      
      <div class="coupon-wrap coupon-removed-wrap" *ngIf="coupon !=''">
        <a href="javascript:void(0);" (click) = "removeCoupon()" id="remove-coupon">Remove Coupon ({{coupon}})</a>
      </div>      
      <div class="cartmsg">
        <span style="color:red;" *ngIf="coupon_error !=''">{{coupon_error}}</span><br/>
        <span style="color:green;" *ngIf="coupon_msg !=''" [innerHtml]="coupon_msg"></span>
      </div>

      <div class="row reward-row" *ngIf="available_rewards !=0 && reward=='' && coupon=='' "> 
        <a (click)="reward_input = !reward_input" class="reward-link">Total Available Rewards Points ({{available_rewards}})</a>
       <div id="rewards" *ngIf="reward=='' &&  reward_input">
        <div class="coupon">
          <div class="">
       <span class="input-wrap"><input type="text" class="coupon" #rewardCode name="reward" value="" placeholder="Points to use (Max 100)" id="input-reward">
       </span>
       <span class="btn-grey"><a (click) = "applyReward(rewardCode)" id="button-reward">APPLY</a></span>
       </div>
        </div>
        </div>
        </div>
        <div class="rewardmsg">
          <span style="color:red;" *ngIf="reward_error !=''">{{reward_error}}</span><br/>
          <span style="color:green;" *ngIf="reward_msg !=''" [innerHtml]="reward_msg"></span>
         </div>	 
        <div class="reward-wrap reward-removed-wrap" *ngIf="reward !=''"><a (click) = "removeReward()" id="remove-reward">Remove Reward</a></div>
    </div>
    </span>
  
    <div class="heading usp" *ngIf="deviceType=='Desktop'">
    <img loading="lazy"  src="{{CDN_PATH}}2019/newcheckout/images/shield.png" class="shield"
      alt="Secure">
    <div class="shield-desc">
      <p class="heading-shield">MYFLOWERTREE SECURE</p>
      <p class="sub-heading-shield">6000+ Gift Options</p>
    </div>
    </div>
  
    <div class="satisfaction" *ngIf="deviceType=='Desktop'">
    <ul>
      <li class="first leaf usp1"><span class="icon"><img loading="lazy"  alt="heart"
            src="{{CDN_PATH}}2019/newcheckout/images/usp1.png"></span><span
          class="text">1&nbsp;Million Happy Customers</span></li>
      <li class="last leaf usp2"><span class="icon"><img loading="lazy"  alt="on time delivery"
            src="{{CDN_PATH}}2019/newcheckout/images/usp2.png"></span><span
          class="text">On Time Delivery</span></li>
      <li class="last leaf usp3"><span class="icon"><img loading="lazy"  alt="smiley"
            src="{{CDN_PATH}}2019/newcheckout/images/usp3.png"></span><span
          class="text">100% Happiness Guaranteed</span></li>
    </ul>
    <div class="payment-icon"><img loading="lazy"  alt="payment option"
        src="{{CDN_PATH}}2019/newcheckout/images/payment-icon.png"></div>
    </div>