<span id="updateCart" (click)="updateCart()"></span>
<div id="product-new">
	<input type="hidden"  name="custom[shipping_name]" id="shippingnamevalue"/>
	<input type="hidden"  name="custom[shipping_time_slot]" id="deliverytimeslot"/>
	<input type="hidden" name="custom[delivery_date]" id="delivery_date" class="form-control date" />
</div>
<div id="deliverydatemodal" class="modal">
    <div class="modal-content">
        <span class="close calendarClose" (click)="closeCalendar()">&times;</span>
        <div class="delivertimebox1">
          <div class="modal-header">
            <h4 class="modal-title1">Select Delivery Date</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <div id="datetimepicker12pp">
                  </div>
                  <div id="datetimepicker12ppremote">
                    <input data-date="05-09-2017" data-date-format="DD-MM-YYYY" class="datetimepicker12pp" id="pickselectdateremote" type="hidden">
                  </div>
                </div>
                
              </div>
            </div>
            
          </div>
        </div>
        <div class="delivertimebox2">
          <div class="modal-header">
      <!--<span class="close calendarClose">&times;</span>-->
            <div class="backarw backtocalender"><i class="fa fa-arrow-left" aria-hidden="true">Back</i></div> <h4 class="modal-title1">Select Shipping Method</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12" id="methodshipping">
  
                <input id="shippinglabelinternational" type="radio" class="radio shippingclick" name="shipping_method" value="international.international" (click)="internationalMethod()" />
                
                <label for="shippinglabelinternational" id="international" class="shippinglabel"><span class="black">Standard Delivery</span> <span class="shippingprc">Free</span>  </label>
  
              </div>
            </div>
            <div class="backarw bk-link backtocalender">Back to Calendar</div>
          </div>
        </div>
  
        <div class="delivertimebox3">
          <div class="modal-header">
      <!--<span class="close calendarClose">&times;</span>-->
              <div class="backtoMethod"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
              
              <h4 class="modal-title1">Select Delivery Time</h4>
              
          </div>
          <input type="hidden" name="rmtcity" id="remotecity" value="33434"/>
          <input type="hidden" name="cityId" id="cityId" value=""/>
          <input type="hidden" name="interCity" id="intercityId" value=""/>
          <input type="hidden" name="morningShip" id="morningShip" value=""/>
          <div class="modal-body">
            <div class="form-group">
            <div class="popup-header">
              <div class="shippingtime title" id="shippingtimeslots">Select Delivery Time Slot</div>
              </div>
              <div id="shippingtimeslots_day_day" style="font-size:12px; display:none; color:#e67510; text-align:center;">(This is a time preference. There can be occasional delays)</div>
              
           <!-- <div id="shippingtimeslots_day_day" style="font-size:12px; display:none; color:#e67510; text-align:center;">(This is a time preference. There can be occasional delays)</div>
                  -->
           <div id="shippingtimeslots_night_night" style="font-size:12px; display:none; color:#e67510; text-align:center;"></div>
                <div class="row deliveytime">
                  <div class="deliveytimebox">
                  
                    <div class="col-md-12" id="morningshipping">
                          <div class="row">
                            <div class="slot-item">
                              <input id="shippingtime_day_1"  class="radio shippingtimeclick" name="delivery_time" type="radio"  value="07:00 - 09:00 hrs" onclick="javascript:shippingtime1(this.value);">
                              <label for="shippingtime_day_1" class="shippinglabel">07:00 - 09:00</label>
                            </div>
                          </div>
                    </div>
                    
                    <div class="col-md-12" id="nightshipping">
                          <div class="row">
                            <div class="slot-item">
                              <input id="shippingtime_night_1"  class="radio shippingtimeclick" name="delivery_time" type="radio"  value="23:30 - 00:30 hrs" onclick="javascript:shippingtime1(this.value);">
                              <label for="shippingtime_night_1" class="shippinglabel">23:00 - 23:59</label>
                            </div>
                          </div>
                    </div>
                    
                    <div class="col-md-12" id="remoteshipping" style="display:none;">
                          <div class="row">
                            <div class="slot-item">
                              <input id="shippingtime_next_remote"  class="radio shippingtimeclick" name="delivery_time" type="radio"  value="11:00 - 21:00 hrs" onclick="javascript:shippingtime1(this.value);">
                              <label for="shippingtime_next_remote" class="shippinglabel">11:00 - 21:00 hrs</label>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-12" id="nextdayshipping">
                    </div>
                    
                    <div class="col-md-12" id="dayshipping">
                    </div>
                    <div class="col-md-12" id="expressshipping_nextday" style="display:none;">
                    </div>
                    <div class="col-md-12" id="expressshipping">
                    </div>
                  </div>
                </div>
            </div>
            <div class="backarw bk-link backtoMethod">Back to TimeSlot</div>
          </div>
        </div>
    </div>
  </div>