<span id="updateCart_courier" (click)="updateCart_courier()"></span>
<div id="product-new">
	<input type="hidden"  name="custom[shipping_name]" id="shippingnamevalue_courier"/>
	<input type="hidden"  name="custom[shipping_time_slot]" id="deliverytimeslot_courier"/>
	<input type="hidden" name="custom[delivery_date]" id="delivery_date_courier" class="form-control date" />
</div>
<div id="deliverydatemodal_Courier" class="modal">
    <div class="modal-content">
        <span class="close calendarClose" (click)="closeCalendar_Courier()">&times;</span>
        <div class="delivertimebox_courier">
          <div class="modal-header">
            <h4 class="modal-title1">Select Delivery Date</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <div id="courier_datetimepicker">
                  </div>
                  <div id="datetimepicker12ppremote">
                    <input data-date="05-09-2017" data-date-format="DD-MM-YYYY" class="courier_datetimepicker" id="pickselectdateremote" type="hidden">
                  </div>
                </div>                
              </div>
            </div>            
          </div>
        </div>  
    </div>
  </div>