:host::ng-deep #container{margin-top:120px;} 
:host::ng-deep .heading-title{margin-top:0px;} 
@media only screen and (max-width:760px){ 
    :host::ng-deep #container{margin-top:40px;} 
} 
 :host::ng-deep .form-group{
    display: flex;
}


 