 <div id="container" class="container j-container">
            <ul class="breadcrumb">
               <li><a routerLink="/">Home</a></li>
               <li><a routerLink="/account">Account</a></li>
               <li><a routerLink="/account/changepassword">Change Password</a></li>
            </ul>
            <div class="row">
               <div id="content" class="col-sm-12">
                  <h1 class="heading-title">Change Password</h1>
                  <span *ngIf="successmsg">Password Updated Successfully</span>
                  <div class="content">
                    <form [formGroup]="changepassForm" (ngSubmit)="submitpasswordForm()">
                        <fieldset>

                           <h2 class="secondary-title">Your Password</h2>
                           
                            
                           

                           <div class="form-group required">
                              <label class="col-sm-2 control-label" for="input-password">Password</label>
                              <div class="col-sm-10"><input type="password" formControlName="password" value="" placeholder="Password" id="input-password" class="form-control" />
                                <span *ngIf="!changepassForm.get('password').valid && changepassForm.get('password').touched" class="error-message">
                                    <span *ngIf="changepassForm.get('password').errors['required']">Please Enter Password</span>
                                   </span>
                            </div>
                             
                            </div>
                           <div class="form-group required">
                              <label class="col-sm-2 control-label" for="input-confirm">Password Confirm</label>
                              <div class="col-sm-10"><input type="password" formControlName="confirm" value="" placeholder="Password Confirm" id="input-confirm" class="form-control" />
                                <span *ngIf="!changepassForm.get('confirm').valid && changepassForm.get('confirm').touched" class="error-message">
                                    <span *ngIf="changepassForm.get('confirm').errors['required']">Please Enter Confirm Password</span>
                                </span>
                               
                                <span *ngIf="errormsg">Please Enter Valid Confirm Password</span>
                                
                            </div>
                              
                            </div>
                        </fieldset>
                        <div class="buttons">
                           <div class="pull-left"><a routerLink="/account" class="btn btn-default button">Back</a></div>
                           <div class="pull-right"><input type="submit" value="Continue" class="btn btn-primary button" /></div>
                        </div>
                    </form>
                  </div>
               </div>
            </div>
         </div>