<section id="checkout-login">
    <div class="container-fluid containerhwlogin" style="background-color:#DBF4E6;">
      <div class="row ">
      <div class="col-md-12">
        <div class="loginbox">  
            <div style="color: green;">{{message}}</div>
              <div class="loginheading">
          Your feedback is truly important.<br />
      Please spare a moment for it.
          </div>
          <div class="row">
            <div class="col-md-12">
            <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedbackForm()">  
            <div class="stars">    
                <input class="star star-5" id="star-5" type="radio" value="5" formControlName="star">
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" value="4" formControlName="star">
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" value="3" formControlName="star">
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" value="2" formControlName="star">
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" value="1" formControlName="star">
                <label class="star star-1" for="star-1"></label>
                <span *ngIf="!feedbackForm.get('star').valid && feedbackForm.get('star').touched"
                  class="error-message">
                <span *ngIf="feedbackForm.get('star').errors['required']">Please Select Star</span>
                </span>
            </div>   
          <textarea placeholder="Please Enter Feedback..." id="message" class="form-control" formControlName="review"></textarea>
          <span *ngIf="!feedbackForm.get('review').valid && feedbackForm.get('review').touched"
                  class="error-message">
                  <span *ngIf="feedbackForm.get('review').errors['required']">Please Enter Review</span>
                  </span>   
          <input type="file" id="review-image" (change)="uploadFile($event)" formControlName="review_image" value="Review image" class="form-control" >
              <span id="image_message" style="color:red;"></span>
              <button id="checklogin" type="submit" class="btn btn-danger btn-checkot margintop20">Submit Your Feedback</button>
              </form>              
            </div>           
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>