<div id="container" class="container j-container">
    <ul class="breadcrumb">
        <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb"><a routerLink="/" itemprop="url"><span itemprop="title">Home</span></a></li>
        <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb"><a routerLink="/faq" itemprop="url"><span itemprop="title">FAQ</span></a></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1 class="heading-title">FAQ</h1>            
            <div [innerHTML]="faqdata[0]?.description | safeHtml"></div>
        </div>        
    </div>
</div>