<link [href]="cssDy.bootstrapMin" rel="stylesheet">
<link [href]="cssDy.jquery_ui" rel="stylesheet">
<link [href]="cssDy.nav_css" rel="stylesheet">
<link [href]="cssDy.custom_css" rel="stylesheet">
<div class="wsmenucontainer clearfix" id="wsmenuss">
      <div *ngIf="deviceType=='Mobile'">
          <div class="mobile">
            <div class="overlapblackbg"></div>
            <div class="wsmobileheader clearfix"><a id="wsnavtoggle" (click)="firststep()" class="animated-arrow"><span></span></a>
              <div class="mobile-header">
                <div class="header-menu-icon"></div>
                <div class="mobile-search" id="searchshow"><img loading="lazy"  src="{{CDN_PATH}}2019/new_home_page/images/search.svg"></div>
                <div class="mobile-logo"><a routerLink="/"><img loading="lazy"  src="{{CDN_PATH}}2019/myflowertree-logo.svg" width="90" alt=""></a></div>
                <div class="mobile-cart"><a routerLink="cart" class=""><img loading="lazy"  src="{{CDN_PATH}}2019/new_home_page/images/shopping-cart.svg"><span *ngIf="cartCount">{{cartCount}} </span></a></div>
                <div class="mobile-acc" id="accountshow"><img loading="lazy"  src="{{CDN_PATH}}2019/new_home_page/images/menu-1.svg"></div>
              </div>
            </div>
            <div class="header">
              <div class="wsmenu clearfix">
                <div class="menu-section">
                  <div class="menu-section-heading"><img loading="lazy"  src="{{CDN_DOMAIN}}images/profile.png"><a routerLink="javascript:void(0)" *ngIf="auth.isLoggedIn()">{{auth.getUserDetails()?.firstname}}</a> <span *ngIf="!auth.isLoggedIn()">Hi Guest</span></div>
                  <div class="menu-li-box">
                    
                    <div class="menu-li-login"><a routerLink="/login" *ngIf="!auth.isLoggedIn()">Login</a></div>
                    <div class="menu-li-login"><a (click)="logOut()" *ngIf="auth.isLoggedIn()">Logout</a></div>  

                    <div class="menu-li-track"><a routerLink="/track-order">Track My Order</a></div>
                    <div class="menu-li-Call">
                      <a href="tel:08068248269">Call</a>

                    </div>
                  </div>
                </div>
<ul class="mobile-sub wsmenu-list" *ngIf="deviceType=='Mobile' && header=='one'">
  <li><span class="wsmenu-click" id="sameday" (click)="secondstep('sameday','samedaysub')"><i class="wsmenu-arrow fa fa-angle-down"></i></span>
    <a href="#">Same Day Delivery <span class="arrow"></span></a>    
    <ul class="wsmenu-submenu" id="samedaysub">
      <li><a  (click)="coseMe()" routerLink="/cakes/same-day-delivery">Cakes</a></li>
      <li><a (click)="coseMe()" routerLink="/chocolates/same-day-delivery">Chocolates</a></li>
      <li><a (click)="coseMe()" routerLink="/flowers/same-day-delivery">Flowers</a></li>
      <li><a (click)="coseMe()" routerLink="/same-day-delivery">Gifts</a></li>
      <li><a (click)="coseMe()" routerLink="/plants/same-day-delivery">Plants</a></li>
      <li><a (click)="coseMe()" routerLink="/personalised-gifts/same-day-delivery">Personalised Gifts</a></li>
    </ul>
 </li>
 <li><span class="wsmenu-click" id="flower" (click)="secondstep('flower','flowersub')"><i class="wsmenu-arrow fa fa-angle-down"></i></span>
    <a href="#">Flowers <span class="arrow"></span></a>    
    <ul class="wsmenu-submenu" id="flowersub">
       <li><span class="wsmenu-click02" (click)="thirdstep('flsubmenu','flsprice')"><i class="wsmenu-arrow fa fa-angle-down" id="flsprice"></i></span>
          <a routerLink="#" ><i class="fa fa-angle-right"></i>By Price</a>        
          <ul class="wsmenu-submenu-sub" id="flsubmenu">
            <li><a (click)="coseMe()" routerLink="/flowers" [queryParams]="{price:'0-600'}">Under 600</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers" [queryParams]="{price:'600-999'}">600 To 999</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers" [queryParams]="{price:'1000-1999'}">1000 To 1999</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers" [queryParams]="{price:'2500-250000'}">Above 2000</a></li>
          </ul>
       </li>
       <li><span class="wsmenu-click02" (click)="thirdstep('flw','flwclass')"><i class="wsmenu-arrow fa fa-angle-down" id="flwclass"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>Flowers</a>        
          <ul class="wsmenu-submenu-sub" id="flw">
            <li><a (click)="coseMe()" routerLink="/flowers">All Flowers</a></li>
            <li><a (click)="coseMe()" routerLink="/roses">Roses</a></li>
            <li><a (click)="coseMe()" routerLink="/lilies">Lilies</a></li>
            <li><a (click)="coseMe()" routerLink="/orchid">Orchids</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers-in-a-box">Flowers in Box</a></li>
            <li><a (click)="coseMe()" routerLink="/send-flower-bouquets-online">Flower Bouquet</a></li>
            <li><a (click)="coseMe()" routerLink="/carnations">Carnations</a></li>
            <li><a (click)="coseMe()" routerLink="/gerberas">Gerberas</a></li>
            <li><a (click)="coseMe()" routerLink="/premium-designer-flowers-collection">Flower Arrangements</a></li>
            <li><a (click)="coseMe()" routerLink="/premium-flowers">Exotic Flowers</a></li>
            <li><a (click)="coseMe()" routerLink="/luxury-collection">Premium Flowers</a></li>
          </ul>
       </li>
       <li><span class="wsmenu-click02" (click)="thirdstep('flcom','flwcomclass')"><i class="wsmenu-arrow fa fa-angle-down" id="flwcomclass"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>Flower Combos</a>        
          <ul class="wsmenu-submenu-sub" id="flcom">
            <li><a (click)="coseMe()" routerLink="/combos">All Combos</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers-and-cakes">Flower N Cake</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers-plus-teddy">Flower N Teddy</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers-plus-chocolate">Flower N Chocolate</a></li>
            <li><a (click)="coseMe()" routerLink="/send-flowers-with-sweets">Flower N Sweet</a></li>
          </ul>
       </li>
       <li><span class="wsmenu-click02" (click)="thirdstep('flocc','flwoccclass')"><i class="wsmenu-arrow fa fa-angle-down" id="flwoccclass"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>By Occasion</a>        
          <ul class="wsmenu-submenu-sub" id="flocc">
            <li><a (click)="coseMe()" routerLink="/anniversary/flowers">Anniversary</a></li>
            <li><a (click)="coseMe()" routerLink="/birthday/flowers">Birthday</a></li>
            <li><a (click)="coseMe()" routerLink="/gifts-for-appreciation">Appreciation</a></li>
            <li><a (click)="coseMe()" routerLink="/congratulations">Congratulations</a></li>
            <li><a (click)="coseMe()" routerLink="/get-well-soon">Get Well Soon</a></li>
            <li><a (click)="coseMe()" routerLink="/i-am-sorry">I Am Sorry</a></li>
            <li><a (click)="coseMe()" routerLink="/love-romance">Love &amp; Affection</a></li>
            <li><a (click)="coseMe()" routerLink="/thank-you">Thank You</a></li>
            <li><a (click)="coseMe()" routerLink="/new-baby">New Born</a></li>
          </ul>
       </li>
       <li><span class="wsmenu-click02" (click)="thirdstep('flcity','flwcityclass')"><i class="wsmenu-arrow fa fa-angle-down" id="flwcityclass"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>By City</a>        
          <ul class="wsmenu-submenu-sub" id="flcity">
            <li><a (click)="coseMe()" routerLink="/flowers/delhi">Delhi</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers/mumbai">Mumbai</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers/bangalore">Bangalore</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers/chennai">Chennai</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers/kolkata">Kolkata</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers/hyderabad">Hyderabad</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers/pune">Pune</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers/gurgaon">Gurgaon</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers/noida">Noida</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers/ahmedabad">Ahmedabad</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers/jalandhar">Jalandhar</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers/kanpur">Kanpur</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers/allahabad">Allahabad</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers/jaipur">Jaipur</a></li>
            <li><a (click)="coseMe()" routerLink="/flowers/lucknow">Lucknow</a></li>
            <li><a (click)="coseMe()" routerLink="/delivery-cities">All Cities</a></li>
          </ul>
       </li>
    </ul>
 </li>
 <li><span class="wsmenu-click" id="cks" (click)="secondstep('cks','ckess')"><i class="wsmenu-arrow fa fa-angle-down"></i></span>
    
    <a href="#">Cakes <span class="arrow"></span></a>    
    <ul class="wsmenu-submenu" id="ckess">
       <li><span class="wsmenu-click02" (click)="thirdstep('cakePr','cakePrice')"><i class="wsmenu-arrow fa fa-angle-down" id="cakePrice"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>By Price</a>        
          <ul class="wsmenu-submenu-sub" id="cakePr">
            <li><a (click)="coseMe()" routerLink="/cakes" [queryParams]="{price:'0-699'}">Under 699</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes" [queryParams]="{price:'700-999'}">700 To 999</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes" [queryParams]="{price:'1000-1999'}">1000 To 1999</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes" [queryParams]="{price:'2500-250000'}">Above 2000</a></li>
          </ul>
       </li>
       <li><span class="wsmenu-click02" (click)="thirdstep('cakeFl','cakeflavor')"><i class="wsmenu-arrow fa fa-angle-down" id="cakeflavor"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>By Flavour</a>        
          <ul class="wsmenu-submenu-sub" id="cakeFl">
            <li><a (click)="coseMe()" routerLink="/cakes">All Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/chocolate-cakes">Chocolate Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/black-forest-cakes">Blackforest Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/truffle-cakes">Truffle Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/butterscotch-cakes">Butterscotch Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/vanilla-cakes">Vanilla Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/red-velvet-cakes">Red Velvet Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/pineapple-cakes">Pineapple Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/fruit-cakes">Fruit Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/coffee-cakes">Coffee Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/strawberry-cakes">Strawberry Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/cheese-cakes">Cheese Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/exotic-cakes">Exotic Cakes</a></li>
          </ul>
       </li>
       <li><span class="wsmenu-click02" (click)="thirdstep('cakety','cakeType')"><i class="wsmenu-arrow fa fa-angle-down" id="cakeType"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>By Type</a>        
          <ul class="wsmenu-submenu-sub" id="cakety">
            <li><a (click)="coseMe()" routerLink="/eggless-cakes">Eggless Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/sugarfree-cakes">Sugarfree Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/regular-cakes">Regular Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/photo-cakes">Photo Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/cartoon-cakes">Cartoon Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/exotic-cakes">Premium Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/heart-shape-cakes">Heart Shaped</a></li>
            <li><a (click)="coseMe()" routerLink="/barbie-cakes">Barbie Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/theme-cakes">Theme Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/cup-cakes">Cup Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/spiderman-cakes">Spider Man Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/mickey-mouse-cakes">Mickey Mouse Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/deliver-tier-cakes-online">Tier Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/cake-in-a-jar">Cake Jars</a></li>
            <li><a (click)="coseMe()" routerLink="/5-star-cakes">5 Star Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/tea-cakes">Tea Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/pinata-cakes">Pinata Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/pull-up-cakes">Pull Up Cakes</a></li>
          </ul>
       </li>
       <li><span class="wsmenu-click02" (click)="thirdstep('cakeocc','cakeoccasion')"><i class="wsmenu-arrow fa fa-angle-down" id="cakeoccasion"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>By Occasion</a>        
          <ul class="wsmenu-submenu-sub" id="cakeocc">
            <li><a (click)="coseMe()" routerLink="/anniversary/cakes">Anniversary</a></li>
            <li><a (click)="coseMe()" routerLink="/birthday/cakes">Birthday</a></li>
            <li><a (click)="coseMe()" routerLink="/gifts-for-appreciation">Appreciation</a></li>
            <li><a (click)="coseMe()" routerLink="/congratulations">Congratulations</a></li>
            <li><a (click)="coseMe()" routerLink="/get-well-soon">Get Well Soon</a></li>
            <li><a (click)="coseMe()" routerLink="/i-am-sorry">I Am Sorry</a></li>
            <li><a (click)="coseMe()" routerLink="/love-romance">Love &amp; Affection</a></li>
            <li><a (click)="coseMe()" routerLink="/thank-you">Thank You</a></li>
            <li><a (click)="coseMe()" routerLink="/new-baby">New Born</a></li>
          </ul>
       </li>
       <li><span class="wsmenu-click02" (click)="thirdstep('cakecity','cakect')"><i class="wsmenu-arrow fa fa-angle-down" id="cakect"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>By City</a>        
          <ul class="wsmenu-submenu-sub" id="cakecity">
            <li><a (click)="coseMe()" routerLink="/cakes/delhi">Delhi</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/mumbai">Mumbai</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/bangalore">Bangalore</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/chennai">Chennai</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/kolkata">Kolkata</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/hyderabad">Hyderabad</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/pune">Pune</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/gurgaon">Gurgaon</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/noida">Noida</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/ahmedabad">Ahmedabad</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/jalandhar">Jalandhar</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/kanpur">Kanpur</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/allahabad">Allahabad</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/jaipur">Jaipur</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/lucknow">Lucknow</a></li>
            <li><a (click)="coseMe()" routerLink="/delivery-cities">All Cities</a></li>
          </ul>
       </li>
    </ul>
 </li>
 <li><span class="wsmenu-click" id="prson" (click)="secondstep('prson','prsonaliz')"><i class="wsmenu-arrow fa fa-angle-down"></i></span>
    
    <a href="#">Personalised <span class="arrow"></span></a>    
    <ul class="wsmenu-submenu" id="prsonaliz">
       <li><span class="wsmenu-click02" (click)="thirdstep('person','personalised')"><i class="wsmenu-arrow fa fa-angle-down" id="personalised"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>By Price</a>        
          <ul class="wsmenu-submenu-sub" id="person">
            <li><a (click)="coseMe()" routerLink="/personalised-gifts" [queryParams]="{price:'0-600'}">Under 600</a></li>
            <li><a (click)="coseMe()" routerLink="/personalised-gifts" [queryParams]="{price:'600-999'}">600 To 999</a></li>
            <li><a (click)="coseMe()" routerLink="/personalised-gifts" [queryParams]="{price:'1000-250000'}">Above 1000</a></li>
          </ul>
       </li>
       <li><span class="wsmenu-click02" (click)="thirdstep('personTy','personType')"><i class="wsmenu-arrow fa fa-angle-down" id="personType"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>By Type</a>        
          <ul class="wsmenu-submenu-sub" id="personTy">
            <li><a (click)="coseMe()" routerLink="/personalised-mugs">Mugs</a></li>
            <li><a (click)="coseMe()" routerLink="/personalised-cushions">Cushions</a></li>
            <li><a (click)="coseMe()" routerLink="/personalized-keychains">Keychains</a></li>
            <li><a (click)="coseMe()" routerLink="/personalised-travel-accessories">Travel Accessories</a></li>
            <li><a (click)="coseMe()" routerLink="/personalised-caricatures">Caricature </a></li>
            <li><a (click)="coseMe()" routerLink="/personalised-engraved">Wooden Engraved</a></li>
            <li><a (click)="coseMe()" routerLink="/personalised-photo-frames">Photo Frames</a></li>
            <li><a (click)="coseMe()" routerLink="/personalised-photo-lamps">Photo Lamps</a></li>
            <li><a (click)="coseMe()" routerLink="/chocolates">Chocolates</a></li>
            <li><a (click)="coseMe()" routerLink="/personalised-gifts">All Personalised Gifts</a></li>
          </ul>
       </li>
    </ul>
 </li>
 <li><span class="wsmenu-click" id="birth" (click)="secondstep('birth','birthday')"><i class="wsmenu-arrow fa fa-angle-down"></i></span>
    
    <a href="#">Birthday <span class="arrow"></span></a>    
    <ul class="wsmenu-submenu" id="birthday">
       <li><span class="wsmenu-click02" (click)="thirdstep('persongfTy','personGiftType')"><i class="wsmenu-arrow fa fa-angle-down" id="personGiftType"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>Gift Type</a>        
          <ul class="wsmenu-submenu-sub" id="persongfTy">
            <li><a (click)="coseMe()" routerLink="/birthday/cakes">Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/chocolate-bouquets">Chocolate Bouquets</a></li>
            <li><a (click)="coseMe()" routerLink="/birthday/combos">Combos</a></li>
            <li><a (click)="coseMe()" routerLink="/birthday/flowers">Flowers</a></li>
            <li><a (click)="coseMe()" routerLink="/jewellery">Jewellery</a></li>
            <li><a (click)="coseMe()" routerLink="/perfumes">Perfumes</a></li>
            <li><a (click)="coseMe()" routerLink="/birthday/personalised-gifts">Personalised</a></li>
            <li><a (click)="coseMe()" routerLink="/birthday/photo-cakes">Photo Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/plants">Plants</a></li>
            <li><a (click)="coseMe()" routerLink="/soft-toys">Soft Toys</a></li>
            <li><a (click)="coseMe()" routerLink="/sweets">Sweets</a></li>
            <li><a (click)="coseMe()" routerLink="/birthday">All Birthday Gifts</a></li>
          </ul>
       </li>
       <li><span class="wsmenu-click02" (click)="thirdstep('persongfRe','personRelation')"><i class="wsmenu-arrow fa fa-angle-down" id="personRelation"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>Gifts By Relation</a>        
          <ul class="wsmenu-submenu-sub" id="persongfRe">
            <li><a (click)="coseMe()" routerLink="/birthday/gifts/for-boyfriend">Boyfriend</a></li>
            <li><a (click)="coseMe()" routerLink="/birthday/gifts/for-brother">Brother</a></li>
            <li><a (click)="coseMe()" routerLink="/birthday/gifts/for-father">Father</a></li>
            <li><a (click)="coseMe()" routerLink="/birthday/gifts/for-friend">Friend</a></li>
            <li><a (click)="coseMe()" routerLink="/birthday/gifts/for-girlfriend">Girlfriend</a></li>
            <li><a (click)="coseMe()" routerLink="/birthday/gifts/for-husband">Husband</a></li>
            <li><a (click)="coseMe()" routerLink="/birthday/gifts/for-mother">Mother</a></li>
            <li><a (click)="coseMe()" routerLink="/birthday/gifts/for-sister">Sister</a></li>
            <li><a (click)="coseMe()" routerLink="/birthday/gifts/for-wife">Wife</a></li>
          </ul>
       </li>
       <li><span class="wsmenu-click02" (click)="thirdstep('expre','express')"><i class="wsmenu-arrow fa fa-angle-down" id="express"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>Express</a>        
          <ul class="wsmenu-submenu-sub" id="expre">
            <li><a (click)="coseMe()" routerLink="/flowers/same-day-delivery">Same Day Flowers</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/same-day-delivery">Same Day Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/same-day-delivery">Same Day Gifts</a></li>
            <li><a (click)="coseMe()" routerLink="/plants/same-day-delivery">Same Day Plant</a></li>
            <li><a (click)="coseMe()" routerLink="/chocolates/same-day-delivery">Same Day Chocolates</a></li>

          </ul>
       </li>
    </ul>
 </li>
 <li><span class="wsmenu-click" id="anniv" (click)="secondstep('anniv','anniver')"><i class="wsmenu-arrow fa fa-angle-down"></i></span>
    
    <a href="#">Anniversary <span class="arrow"></span></a>    
    <ul class="wsmenu-submenu" id="anniver">
       <li><span class="wsmenu-click02" (click)="thirdstep('giftType','gftTy')"><i class="wsmenu-arrow fa fa-angle-down" id="gftTy"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>Gift Type</a>        
          <ul class="wsmenu-submenu-sub" id="giftType">
            <li><a (click)="coseMe()" routerLink="/anniversary/flowers">Flowers</a></li>
            <li><a (click)="coseMe()" routerLink="/anniversary/cakes">Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/anniversary/photo-cakes">Photo Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/anniversary/personalised-gifts">Personalised Gifts</a></li>
            <li><a (click)="coseMe()" routerLink="/anniversary/combos">Combos</a></li>
            <li><a (click)="coseMe()" routerLink="/anniversary/plants">Plants</a></li>
            <li><a (click)="coseMe()" routerLink="/chocolate-bouquets">Chocolate Bouquets</a></li>
            <li><a (click)="coseMe()" routerLink="/soft-toys">Soft Toys</a></li>
            <li><a (click)="coseMe()" routerLink="/jewellery">Jewellery </a></li>
            <li><a (click)="coseMe()" routerLink="/perfumes">Perfumes</a></li>
            <li><a (click)="coseMe()" routerLink="/sweets">Sweets</a></li>
            <li><a (click)="coseMe()" routerLink="/anniversary">All Anniversary Gifts</a></li>
          </ul>
       </li>
       <li><span class="wsmenu-click02" (click)="thirdstep('giftrel','gftrel')"><i class="wsmenu-arrow fa fa-angle-down" id="gftrel"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>Gifts By Relation</a>        
          <ul class="wsmenu-submenu-sub" id="giftrel">
            <li><a (click)="coseMe()" routerLink="/anniversary/gifts/for-husband">Husband</a></li>
            <li><a (click)="coseMe()" routerLink="/anniversary/gifts/for-parents">Parents</a></li>
            <li><a (click)="coseMe()" routerLink="/anniversary/gifts/for-wife">Wife</a></li>
          </ul>
       </li>
       <li><span class="wsmenu-click02" (click)="thirdstep('giftexp','gftexpress')"><i class="wsmenu-arrow fa fa-angle-down" id="gftexpress"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>Express</a>        
          <ul class="wsmenu-submenu-sub" id="giftexp">
            <li><a (click)="coseMe()" routerLink="/flowers/same-day-delivery">Same Day Flowers</a></li>
            <li><a (click)="coseMe()" routerLink="/cakes/same-day-delivery">Same Day Cakes</a></li>
            <li><a (click)="coseMe()" routerLink="/same-day-delivery">Same Day Gifts</a></li>
            <li><a (click)="coseMe()" routerLink="/plants/same-day-delivery">Same Day Plant</a></li>
            <li><a (click)="coseMe()" routerLink="/chocolates/same-day-delivery">Same Day Chocolates</a></li>
          </ul>
       </li>
    </ul>
 </li>
 <li><span class="wsmenu-click" id="plnt" (click)="secondstep('plnt','pltss')"><i class="wsmenu-arrow fa fa-angle-down"></i></span>
    
    <a href="#">Plants <span class="arrow"></span></a>    
    <ul class="wsmenu-submenu" id="pltss">
      <li><a (click)="coseMe()" routerLink="/plants">All Plants</a></li>
      <li><a (click)="coseMe()" routerLink="/air-purifying-plants">Air Purifying Plants</a></li>
      <li><a (click)="coseMe()" routerLink="/lucky-bamboo">Lucky Bamboo</a></li>
      <li><a (click)="coseMe()" routerLink="/bonsai-plants">Bonsai Plants</a></li>
      <li><a (click)="coseMe()" routerLink="/indoor-plants">Indoor Plants</a></li>
      <li><a (click)="coseMe()" routerLink="/outdoor-plants">Outdoor Plants</a></li>
      <li><a (click)="coseMe()" routerLink="/terrarium-plants">Terrarium Plants</a></li>
      <li><a (click)="coseMe()" routerLink="/money-plant">Money Plants</a></li>
      <li><a (click)="coseMe()" routerLink="/plants-same-day-delivery">Same Day Plants</a></li>
    </ul>
 </li>
 <li><span class="wsmenu-click" id="gfft" (click)="secondstep('gfft','gfftss')"><i class="wsmenu-arrow fa fa-angle-down"></i></span>
    
    <a href="#">Gifts <span class="arrow"></span></a>    
    <ul class="wsmenu-submenu" id="gfftss">
       <li>
          <span class="wsmenu-click02" (click)="thirdstep('gifts','gftpri')"><i class="wsmenu-arrow fa fa-angle-down" id="gftpri"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>By Price</a>        
          <ul class="wsmenu-submenu-sub" id="gifts">
            <li><a (click)="coseMe()" routerLink="/all-gifts" [queryParams]="{price:'0-600'}">Under 600</a></li>
            <li><a (click)="coseMe()" routerLink="/all-gifts" [queryParams]="{price:'600-999'}">600 To 999</a></li>
            <li><a (click)="coseMe()" routerLink="/all-gifts" [queryParams]="{price:'1000-250000'}">Above 1000</a></li>
          </ul>
       </li>
       <li><span class="wsmenu-click02" (click)="thirdstep('giftTyp','gftByType')"><i class="wsmenu-arrow fa fa-angle-down" id="gftByType"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>By Type</a>        
          <ul class="wsmenu-submenu-sub" id="giftTyp">
            <li><a (click)="coseMe()" routerLink="/mugs">Mugs</a></li>
            <li><a (click)="coseMe()" routerLink="/3d-mugs">3D Mugs</a></li>
            <li><a (click)="coseMe()" routerLink="/cushions">Cushions</a></li>
            <li><a (click)="coseMe()" routerLink="/personalised-gifts">Personalised Gifts</a></li>
            <li><a (click)="coseMe()" routerLink="/plants">Green Plants</a></li>
            <li><a (click)="coseMe()" routerLink="/jewellery">Jewellery</a></li>
            <li><a (click)="coseMe()" routerLink="/chocolates">Chocolates</a></li>
            <li><a (click)="coseMe()" routerLink="/chocolate-bouquets">Chocolate Bouquets</a></li>
            <li><a (click)="coseMe()" routerLink="/mugs-and-cushions">Mugs N Cushions</a></li>
            <li><a (click)="coseMe()" routerLink="/perfumes">Perfumes</a></li>
            <li><a (click)="coseMe()" routerLink="/sweets">Sweets</a></li>
            <li><a (click)="coseMe()" routerLink="/soft-toys">Soft Toys</a></li>
            <li><a (click)="coseMe()" routerLink="/funky-gifts">Funky Gifts</a></li>
            <li><a (click)="coseMe()" routerLink="/god-idols">God Idols</a></li>
            <li><a (click)="coseMe()" routerLink="/send-apron-gifts">Apron</a></li>
            <li><a (click)="coseMe()" routerLink="/personalised-travel-accessories">Travel Accesories</a></li>
            <li><a (click)="coseMe()" routerLink="/gifts">All Gifts</a></li>
          </ul>
       </li>
    </ul>
 </li>
 <li><span class="wsmenu-click" id="inter" (click)="secondstep('inter','internatio')"><i class="wsmenu-arrow fa fa-angle-down"></i></span>
    
    <a href="#">International <span class="arrow"></span></a>    
    <ul class="wsmenu-submenu" id="internatio">
      <li><a (click)="coseMe()" routerLink="/usa">USA</a></li>
      <li><a (click)="coseMe()" routerLink="/uk">UK</a></li>
      <li><a (click)="coseMe()" routerLink="/uae">UAE</a></li>
      <li><a (click)="coseMe()" routerLink="/australia">Australia</a></li>
      <li><a (click)="coseMe()" routerLink="/canada">Canada</a></li>
      <li><a (click)="coseMe()" routerLink="/france">France</a></li>
      <li><a (click)="coseMe()" routerLink="/singapore">Singapore</a></li>
      <li><a (click)="coseMe()" routerLink="/flowers/malaysia">Malaysia</a></li>
      <li><a (click)="coseMe()" routerLink="/flowers/qatar">Qatar</a></li>
      <li><a (click)="coseMe()" routerLink="/flowers/south-africa">South Africa</a></li>
      <li><a (click)="coseMe()" routerLink="/flowers/sweden">Sweden</a></li>
    </ul>
 </li>
 <li><span class="wsmenu-click" id="occas" (click)="secondstep('occas','occass')"><i class="wsmenu-arrow fa fa-angle-down"></i></span>
    
    <a href="#">Occasions <span class="arrow"></span></a>    
    <ul class="wsmenu-submenu" id="occass">
       <li><span class="wsmenu-click02" (click)="thirdstep('festi','festival')"><i class="wsmenu-arrow fa fa-angle-down" id="festival"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>Festivals</a>        
          <ul class="wsmenu-submenu-sub" id="festi">

            <li><a routerLink="/holi">Holi - 19th Mar</a></li>
            <li><a routerLink="/rakhi">Rakhi - 11th Aug</a></li>
            <li><a routerLink="/janmashtami">Janmashtami - 30th Aug</a></li>
            <li><a routerLink="/dussehra">Dussehra - 15th Oct</a></li>
            <li><a routerLink="/karwa-chauth">Karwa Chauth - 24th Oct</a></li>
            <li><a routerLink="/dhanteras">Dhanteras - 2nd Nov</a></li>
            <li><a routerLink="/diwali">Diwali - 4th Nov</a></li>
            <li><a routerLink="/bhai-dooj">Bhai Dooj - 6th Nov</a></li>
            <li><a routerLink="/lohri">Lohri - 13th Jan</a></li>
          </ul>
       </li>
       <li>
          <span class="wsmenu-click02" (click)="thirdstep('specOcc','specOccasion')"><i class="wsmenu-arrow fa fa-angle-down" id="specOccasion"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>Special Occasions</a>        
          <ul class="wsmenu-submenu-sub" id="specOcc">
            
            <li><a routerLink="/womens-day">Women's Day - 08th Mar</a></li>
            <li><a routerLink="/mothers-day">Mother's Day - 08th May</a></li>
            <li><a routerLink="/fathers-day">Father's Day - 19th Jun</a></li>
            <li><a routerLink="/parents-day">Parents Day - 24th July</a></li>
            <li><a routerLink="/friendship-day-gifts">Friendship Day - 7th Aug</a></li>
            <li><a routerLink="/teachers-day-gifts">Teacher's Day - 05th Sep</a></li>
            <li><a routerLink="/grandparents-day"> Grandparents Day - 11th Sep</a></li>
            <li><a routerLink="/daughters-day">Daughter's Day - 25th Sep</a></li>
            <li><a routerLink="/boss-day">Boss Day - 16th Oct</a></li>
            <li><a routerLink="/childrens-day">Children's Day - 14th Nov</a></li>
            <li><a routerLink="/christmas">Christmas - 25th Dec</a></li>
            <li><a routerLink="/new-year">New Year - 01st Jan</a></li>
            <li><a routerLink="/valentine">Valentine's Day - 14th Feb</a></li>



          </ul>
       </li>
       <li><span class="wsmenu-click02" (click)="thirdstep('senti','sentiMent')"><i class="wsmenu-arrow fa fa-angle-down" id="sentiMent"></i></span>
          <a href="#"><i class="fa fa-angle-right"></i>Sentiments</a>        
          <ul class="wsmenu-submenu-sub" id="senti">
            <li><a (click)="coseMe()" routerLink="/congratulations">Congratulations</a></li>
            <li><a (click)="coseMe()" routerLink="/i-am-sorry">I Am Sorry</a></li>
            <li><a (click)="coseMe()" routerLink="/thank-you">Thank You</a></li>
            <li><a (click)="coseMe()" routerLink="/sympathy">Sympathy</a></li>
            <li><a (click)="coseMe()" routerLink="/love-romance">Love n Romance</a></li>
            <li><a (click)="coseMe()" routerLink="/get-well-soon">Get Well Soon</a></li>
          </ul>
       </li>
    </ul>
 </li>
</ul>
                
              </div>
            </div>
            
          </div>
          <div *ngIf="deliverylocation=='yes'" class="delivery-location">
            <a *ngIf="filter_city_name !=''" href="javascript:void(0);" (click)="deliverypopup()"><i style="padding-left:5px; font-size:20px; color:#b10f0f;" class="fa fa-map-marker" aria-hidden="true"></i> Deliver To <span style="text-decoration:underline;">{{filter_city_name}}</span> ></a>
            <a *ngIf="filter_city_name==''"  href="javascript:void(0);" (click)="deliverypopup()"><i style="padding-left:5px; font-size:20px; color:#b10f0f;" class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; <span>Select Delivery Location</span> ></a>
          </div>
          <div class="overlay" id="overlay"  style="display: none;"></div>
          <div class="account-box" style="display: none;">
             <ul>
                <li><a routerLink="/account" *ngIf="auth.isLoggedIn()">My Account<i class="fa fa-user" aria-hidden="true"></i></a> 
                <li><a routerLink="/order" *ngIf="auth.isLoggedIn()">My Orders</a> 
                <li><a routerLink="/account/address" *ngIf="auth.isLoggedIn()">My Address</a> 
                <li><a routerLink="/login" *ngIf="!auth.isLoggedIn()">My Account</a> 
                <li><a routerLink="/order" *ngIf="!auth.isLoggedIn()">My Orders</a> 
                <li><a routerLink="/login" *ngIf="!auth.isLoggedIn()">My Address</a> 
                <li><a routerLink="/track-order">Track Order <i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
                <li><a routerLink="/same-day-delivery">Same Day <i class="fa fa-truck" aria-hidden="true"></i></a></li>
                <li><a routerLink="/midnight-delivery">Midnight <i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
                <!-- <li><a (click)="opencallbackmodal()" routerLink="JavaScript:void(0);"><b>Call us</b><i class="fa fa-phone" aria-hidden="true"></i></a></li>    -->
                <li><a href="tel:098711 41000"><b>Call us</b> - 098711 41000</a></li>
                <li><a routerLink="/login" *ngIf="!auth.isLoggedIn()">Login</a>
                <li><a (click)="logOut()" *ngIf="auth.isLoggedIn()">Logout</a>   
              </ul>
                
          </div>
          <div class="search-full-box" style="display: none;">
            <div class="search-area searchval"><span class="magnifire-position"><img loading="lazy"  src="{{CDN_PATH}}images/search.png" height="15px;" width="15px;"></span>
              <input type="text" class="mobile-search-area" name="filter_search_name" id="filter_search_name" value="" placeholder="Search Products..." (focus)="onFocus()"> 
              <span class="close-search" id="close-search"><i class="fa fa-times" aria-hidden="true" height="15px;" width="15px;"></i></span><a href="javascript:void(0)" onClick="filter_search()" id="filter_search"></a></div>
          </div>
          
      </div>
      
    <div class="header desktop-header" *ngIf="deviceType=='Desktop'" >
      <div class="headtpbox">
        <div class="dropdown">
        <a class="topheaderlink" href="#">Partner With Us </a> 
        <div class="dropdown-content">
          <a routerLink="/floristlogin">Become a vendor</a>
          <a routerLink="/franchise">Become a franchisee</a>
          <a routerLink="/corporate">Corporate Gifts</a>
        </div>
        </div>
        <a class="topheaderlink" routerLink="/contact-us">Help </a> 
        <a class="topheaderlink" routerLink="/track-order">Track Order </a> 
        <a class="topheaderlink" routerLink="/special-offers">Offers </a> 
        <span>Call us - 098711 41000</span>
        </div>
    <header>
      
      <div class="header-box" >
        <div class="logo"><a routerLink="/"><img loading="lazy"  src="{{CDN_PATH}}2019/myflowertree-logo.svg" width="150" /></a></div>
        <div class="search searchval" *ngIf='searchdesktop'>
          <input type="text" name="filter_search_name" id="filter_search_name" value="" placeholder="Search..." (focus)="onFocus()">
          <a href="javascript:void(0)" onclick="filter_search()" id="filter_search">
          <div class="searchicon">GO</div>
          </a></div>
        <div class="header-right" *ngIf="deviceType=='Desktop' && header=='one'">
          <div class="delivery-location" *ngIf="deliverylocation=='yes'">
            <a *ngIf="filter_city_name !=''" href="javascript:void(0);" (click)="deliverypopup()"><i class="fa fa-map-marker" aria-hidden="true"></i> Deliver To <span style="text-decoration:underline;">{{filter_city_name}}</span> ></a>
            <a *ngIf="filter_city_name==''"  href="javascript:void(0);" (click)="deliverypopup()"><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; <span>Select Delivery Location</span> ></a>
          </div>
          <!-- <span style="margin: 0px;text-align: right;color: red;font-size: 13px;padding: 0;position: absolute;top: 3px;right: 25px;"> Call us - <a href="tel:098711 41000">098711 41000</a></span> -->

          <div class="dropdown"><a href="" class="righticon usericon dropbtn"></a>
            <div class="dropdown-content">
              <a routerLink="javascript:void(0)" *ngIf="auth.isLoggedIn()">{{auth.getUserDetails()?.firstname}}</a> 
              <a routerLink="/account" *ngIf="auth.isLoggedIn()">My Account</a> 
              <a routerLink="/order" *ngIf="auth.isLoggedIn()">My Orders</a> 
              <a routerLink="/account/address" *ngIf="auth.isLoggedIn()">My Address</a> 
                           
              <a routerLink="/login" *ngIf="!auth.isLoggedIn()">My Account</a> 
              <a routerLink="/order" *ngIf="!auth.isLoggedIn()">My Orders</a> 
              <a routerLink="/login" *ngIf="!auth.isLoggedIn()">My Address</a> 
              <a routerLink="/login" *ngIf="!auth.isLoggedIn()">Login</a>
              <a (click)="logOut()" *ngIf="auth.isLoggedIn()">Logout</a> 
            </div>
          </div>
          <a *ngIf='searchdesktop' routerLink="/cart" data-toggle="tooltip" data-placement="bottom" title="My Cart" class="righticon cart"><span class="count" *ngIf="cartCount">{{cartCount}}</span></a><a *ngIf='searchdesktop' routerLink="/track-order" data-toggle="tooltip" data-placement="bottom" title="Track My Order" class="trackorder"></a>
       </div>
      </div>
    </header>

    <!--Header MENU -->

   <div class="wsmenu clearfix" *ngIf="deviceType=='Desktop' && header=='one'" id="header">
     
    <ul class="mobile-sub wsmenu-list">
    
      <li style="position:relative;"><a href="javascript:void(0)">Same Day Delivery<span class="arrow"></span></a>      <div class="megamenu clearfix">        <ul class="des-submuenu">
        <li><a routerLink="/cakes/same-day-delivery">Cakes</a></li>
        <li><a routerLink="/chocolates/same-day-delivery">Chocolates</a></li>
        <li><a routerLink="/flowers/same-day-delivery">Flowers</a></li>
        <li><a routerLink="/same-day-delivery">Gifts</a></li>
        <li><a routerLink="/plants/same-day-delivery">Plants</a></li>
        <li><a routerLink="/personalised-gifts/same-day-delivery">Personalised Gifts</a></li>
      </ul>
    </div>
  </li>
  <li><a href="javascript:void(0)">Flowers<span class="arrow"></span></a>      <div class="megamenu clearfix" style="left:15%;">        <section>          <h3>By Price</h3>
        <ul class="link-list02">
          <li><a routerLink="/flowers" [queryParams]="{price:'0-600'}">Under 600</a></li>
          <li><a routerLink="/flowers" [queryParams]="{price:'600-999'}">600 To 999</a></li>
          <li><a routerLink="/flowers" [queryParams]="{price:'1000-1999'}">1000 To 1999</a></li>
          <li><a routerLink="/flowers" [queryParams]="{price:'2500-250000'}">Above 2000</a></li>
        </ul>
      </section>        <section>          <h3>Flowers</h3>
        <ul class="link-list02">
          <li><a routerLink="/flowers">All Flowers</a></li>
          <li><a routerLink="/roses">Roses</a></li>
          <li><a routerLink="/lilies">Lilies</a></li>
          <li><a routerLink="/orchid">Orchids</a></li>
          <li><a routerLink="/flowers-in-a-box">Flowers in Box</a></li>
          <li><a routerLink="/send-flower-bouquets-online">Flower Bouquet</a></li>
          <li><a routerLink="/carnations">Carnations</a></li>
          <li><a routerLink="/premium-designer-flowers-collection">Flower Arrangements</a></li>
          <li><a routerLink="/premium-flowers">Exotic Flowers</a></li>
          <li><a routerLink="/luxury-collection">Premium Flowers</a></li>
        </ul>
      </section>        <section>          <h3>Flower Combos</h3>
        <ul class="link-list02">
          <li><a routerLink="/combos">All Combos</a></li>
          <li><a routerLink="/flowers-and-cakes">Flower N Cake</a></li>
          <li><a routerLink="/flowers-plus-teddy">Flower N Teddy</a></li>
          <li><a routerLink="/flowers-plus-chocolate">Flower N Chocolate</a></li>
          <li><a routerLink="/send-flowers-with-sweets">Flower N Sweet</a></li>
        </ul>
      </section>        <section>          <h3>By Occasion</h3>
        <ul class="link-list02">
          <li><a routerLink="/anniversary/flowers">Anniversary</a></li>
          <li><a routerLink="/birthday/flowers">Birthday</a></li>
          <li><a routerLink="/gifts-for-appreciation">Appreciation</a></li>
          <li><a routerLink="/congratulations">Congratulations</a></li>
          <li><a routerLink="/get-well-soon">Get Well Soon</a></li>
          <li><a routerLink="/i-am-sorry">I Am Sorry</a></li>
          <li><a routerLink="/love-romance">Love &amp; Affection</a></li>
          <li><a routerLink="/thank-you">Thank You</a></li>
          <li><a routerLink="/new-baby">New Born</a></li>
        </ul>
      </section>        <section>          <h3>By City</h3>
        <ul class="link-list02">
          <li><a routerLink="/flowers/delhi">Delhi</a></li>
          <li><a routerLink="/flowers/mumbai">Mumbai</a></li>
          <li><a routerLink="/flowers/bangalore">Bangalore</a></li>
          <li><a routerLink="/flowers/chennai">Chennai</a></li>
          <li><a routerLink="/flowers/kolkata">Kolkata</a></li>
          <li><a routerLink="/flowers/hyderabad">Hyderabad</a></li>
          <li><a routerLink="/flowers/pune">Pune</a></li>
          <li><a routerLink="/flowers/gurgaon">Gurgaon</a></li>
          <li><a routerLink="/flowers/noida">Noida</a></li>
          <li><a routerLink="/flowers/ahmedabad">Ahmedabad</a></li>
          <li><a routerLink="/flowers/jalandhar">Jalandhar</a></li>
          <li><a routerLink="/flowers/kanpur">Kanpur</a></li>
          <li><a routerLink="/flowers/allahabad">Allahabad</a></li>
          <li><a routerLink="/flowers/jaipur">Jaipur</a></li>
          <li><a routerLink="/flowers/lucknow">Lucknow</a></li>
          <li><a routerLink="/delivery-cities">All Cities</a></li>
        </ul>
      </section>      </div>
  </li>
  <li><a href="javascript:void(0)">Cakes<span class="arrow"></span></a>      <div class="megamenu clearfix" style="left:20%;">        <section>          <h3>By Price</h3>
        <ul class="link-list02">
          <li><a routerLink="/cakes" [queryParams]="{price:'0-699'}">Under 699</a></li>
          <li><a routerLink="/cakes" [queryParams]="{price:'700-999'}">700 To 999</a></li>
          <li><a routerLink="/cakes" [queryParams]="{price:'1000-1999'}">1000 To 1999</a></li>
          <li><a routerLink="/cakes" [queryParams]="{price:'2500-250000'}">Above 2000</a></li>
        </ul>
      </section>        <section>          <h3>By Flavour</h3>
        <ul class="link-list02">
          <li><a routerLink="/cakes">All Cakes</a></li>
          <li><a routerLink="/chocolate-cakes">Chocolate Cakes</a></li>
          <li><a routerLink="/black-forest-cakes">Blackforest Cakes</a></li>
          <li><a routerLink="/truffle-cakes">Truffle Cakes</a></li>
          <li><a routerLink="/butterscotch-cakes">Butterscotch Cakes</a></li>
          <li><a routerLink="/vanilla-cakes">Vanilla Cakes</a></li>
          <li><a routerLink="/red-velvet-cakes">Red Velvet Cakes</a></li>
          <li><a routerLink="/pineapple-cakes">Pineapple Cakes</a></li>
          <li><a routerLink="/fruit-cakes">Fruit Cakes</a></li>
          <li><a routerLink="/coffee-cakes">Coffee Cakes</a></li>
          <li><a routerLink="/strawberry-cakes">Strawberry Cakes</a></li>
          <li><a routerLink="/cheese-cakes">Cheese Cakes</a></li>
          <li><a routerLink="/exotic-cakes">Exotic Cakes</a></li>
        </ul>
      </section>        <section>          <h3>By Type</h3>
        <ul class="link-list02">
          <li><a routerLink="/eggless-cakes">Eggless Cakes</a></li>
          <li><a routerLink="/sugarfree-cakes">Sugarfree Cakes</a></li>
          <li><a routerLink="/regular-cakes">Regular Cakes</a></li>
          <li><a routerLink="/photo-cakes">Photo Cakes</a></li>
          <li><a routerLink="/cartoon-cakes">Cartoon Cakes</a></li>
          <li><a routerLink="/exotic-cakes">Premium Cakes</a></li>
          <li><a routerLink="/heart-shape-cakes">Heart Shaped</a></li>
          <li><a routerLink="/barbie-cakes">Barbie Cakes</a></li>
          <li><a routerLink="/theme-cakes">Theme Cakes</a></li>
          <li><a routerLink="/cup-cakes">Cup Cakes</a></li>
          <li><a routerLink="/spiderman-cakes">Spider Man Cakes</a></li>
          <li><a routerLink="/mickey-mouse-cakes">Mickey Mouse Cakes</a></li>
          <li><a routerLink="/deliver-tier-cakes-online">Tier Cakes</a></li>
          <li><a routerLink="/cake-in-a-jar">Cake Jars</a></li>
          <li><a routerLink="/5-star-cakes">5 Star Cakes</a></li>
          <li><a routerLink="/tea-cakes">Tea Cakes</a></li>
          <li><a routerLink="/pinata-cakes">Pinata Cakes</a></li>
          <li><a routerLink="/pull-up-cakes">Pull Up Cakes</a></li>
        </ul>
      </section>        <section>          <h3>By Occasion</h3>
        <ul class="link-list02">
          <li><a routerLink="/anniversary/cakes">Anniversary</a></li>
          <li><a routerLink="/birthday/cakes">Birthday</a></li>
          <li><a routerLink="/gifts-for-appreciation">Appreciation</a></li>
          <li><a routerLink="/congratulations">Congratulations</a></li>
          <li><a routerLink="/get-well-soon">Get Well Soon</a></li>
          <li><a routerLink="/i-am-sorry">I Am Sorry</a></li>
          <li><a routerLink="/love-romance">Love &amp; Affection</a></li>
          <li><a routerLink="/thank-you">Thank You</a></li>
          <li><a routerLink="/new-baby">New Born</a></li>
        </ul>
      </section>        <section>          <h3>By City</h3>
        <ul class="link-list02">
          <li><a routerLink="/cakes/delhi">Delhi</a></li>
          <li><a routerLink="/cakes/mumbai">Mumbai</a></li>
          <li><a routerLink="/cakes/bangalore">Bangalore</a></li>
          <li><a routerLink="/cakes/chennai">Chennai</a></li>
          <li><a routerLink="/cakes/kolkata">Kolkata</a></li>
          <li><a routerLink="/cakes/hyderabad">Hyderabad</a></li>
          <li><a routerLink="/cakes/pune">Pune</a></li>
          <li><a routerLink="/cakes/gurgaon">Gurgaon</a></li>
          <li><a routerLink="/cakes/noida">Noida</a></li>
          <li><a routerLink="/cakes/ahmedabad">Ahmedabad</a></li>
          <li><a routerLink="/cakes/jalandhar">Jalandhar</a></li>
          <li><a routerLink="/cakes/kanpur">Kanpur</a></li>
          <li><a routerLink="/cakes/allahabad">Allahabad</a></li>
          <li><a routerLink="/cakes/jaipur">Jaipur</a></li>
          <li><a routerLink="/cakes/lucknow">Lucknow</a></li>
          <li><a routerLink="/delivery-cities">All Cities</a></li>
        </ul>
      </section>      </div>
  </li>
  <li><a href="javascript:void(0)">Personalised <span class="arrow"></span></a>      <div class="megamenu clearfix" style="left:30%;">        <section>          <h3>By Price</h3>
        <ul class="link-list02">
          <li><a routerLink="/personalised-gifts" [queryParams]="{price:'0-600'}">Under 600</a></li>
          <li><a routerLink="/personalised-gifts" [queryParams]="{price:'600-999'}">600 To 999</a></li>
          <li><a routerLink="/personalised-gifts" [queryParams]="{price:'1000-250000'}">Above 1000</a></li>
        </ul>
      </section>        <section>          <h3>By Type</h3>
        <ul class="link-list02">
          <li><a routerLink="/personalised-mugs">Mugs</a></li>
          <li><a routerLink="/personalised-cushions">Cushions</a></li>
          <li><a routerLink="/personalized-keychains">Keychains</a></li>
          <li><a routerLink="/personalised-travel-accessories">Travel Accessories</a></li>
          <li><a routerLink="/personalised-caricatures">Caricature </a></li>
          <li><a routerLink="/personalised-engraved">Wooden Engraved</a></li>
          <li><a routerLink="/personalised-photo-frames">Photo Frames</a></li>
          <li><a routerLink="/personalised-photo-lamps">Photo Lamps</a></li>
          <li><a routerLink="/chocolates">Chocolates</a></li>
          <li><a routerLink="/personalised-gifts">All Personalised Gifts</a></li>
        </ul>
      </section>      </div>
  </li>
  <li><a href="javascript:void(0)">Birthday<span class="arrow"></span></a>      <div style="left:30%;" class="megamenu clearfix">        <section>          <h3>Gift Type</h3>
        <ul class="link-list02">
          <li><a routerLink="/birthday/cakes">Cakes</a></li>
          <li><a routerLink="/chocolate-bouquets">Chocolate Bouquets</a></li>
          <li><a routerLink="/birthday/combos">Combos</a></li>
          <li><a routerLink="/birthday/flowers">Flowers</a></li>
          <li><a routerLink="/jewellery">Jewellery</a></li>
          <li><a routerLink="/perfumes">Perfumes</a></li>
          <li><a routerLink="/birthday/personalised-gifts">Personalised</a></li>
          <li><a routerLink="/birthday/photo-cakes">Photo Cakes</a></li>
          <li><a routerLink="/plants">Plants</a></li>
          <li><a routerLink="/soft-toys">Soft Toys</a></li>
          <li><a routerLink="/sweets">Sweets</a></li>
          <li><a routerLink="/birthday">All Birthday Gifts</a></li>
        </ul>
      </section>        <section>          <h3>Gifts By Relation</h3>
        <ul class="link-list02">
          <li><a routerLink="/birthday/gifts/for-boyfriend">Boyfriend</a></li>
          <li><a routerLink="/birthday/gifts/for-brother">Brother</a></li>
          <li><a routerLink="/birthday/gifts/for-father">Father</a></li>
          <li><a routerLink="/birthday/gifts/for-friend">Friend</a></li>
          <li><a routerLink="/birthday/gifts/for-girlfriend">Girlfriend</a></li>
          <li><a routerLink="/birthday/gifts/for-husband">Husband</a></li>
          <li><a routerLink="/birthday/gifts/for-mother">Mother</a></li>
          <li><a routerLink="/birthday/gifts/for-sister">Sister</a></li>
          <li><a routerLink="/birthday/gifts/for-wife">Wife</a></li>
        </ul>
      </section>        <section>          <h3>Express</h3>
        <ul class="link-list02">
          <li><a routerLink="/flowers/same-day-delivery">Same Day Flowers</a></li>
          <li><a routerLink="/cakes/same-day-delivery">Same Day Cakes</a></li>
          <li><a routerLink="/same-day-delivery">Same Day Gifts</a></li>
          <li><a routerLink="/plants/same-day-delivery">Same Day Plant</a></li>
          <li><a routerLink="/chocolates/same-day-delivery">Same Day Chocolates</a></li>
        </ul>
      </section>      </div>
  </li>
  <li><a href="javascript:void(0)">Anniversary<span class="arrow"></span></a>      <div class="megamenu clearfix" style="left:35%;">        <section>          <h3>Gift Type</h3>
        <ul class="link-list02">
          <li><a routerLink="/anniversary/flowers">Flowers</a></li>
          <li><a routerLink="/anniversary/cakes">Cakes</a></li>
          <li><a routerLink="/anniversary/photo-cakes">Photo Cakes</a></li>
          <li><a routerLink="/anniversary/personalised-gifts">Personalised Gifts</a></li>
          <li><a routerLink="/anniversary/combos">Combos</a></li>
          <li><a routerLink="/anniversary/plants">Plants</a></li>
          <li><a routerLink="/chocolate-bouquets">Chocolate Bouquets</a></li>
          <li><a routerLink="/soft-toys">Soft Toys</a></li>
          <li><a routerLink="/jewellery">Jewellery </a></li>
          <li><a routerLink="/perfumes">Perfumes</a></li>
          <li><a routerLink="/sweets">Sweets</a></li>
          <li><a routerLink="/anniversary">All Anniversary Gifts</a></li>
        </ul>
      </section>        <section>          <h3>Gifts By Relation</h3>
        <ul class="link-list02">
          <li><a routerLink="/anniversary/gifts/for-husband">Husband</a></li>
          <li><a routerLink="/anniversary/gifts/for-parents">Parents</a></li>
          <li><a routerLink="/anniversary/gifts/for-wife">Wife</a></li>
        </ul>
      </section>        <section>          <h3>Express</h3>
        <ul class="link-list02">
          <li><a routerLink="/flowers/same-day-delivery">Same Day Flowers</a></li>
          <li><a routerLink="/cakes/same-day-delivery">Same Day Cakes</a></li>
          <li><a routerLink="/same-day-delivery">Same Day Gifts</a></li>
          <li><a routerLink="/plants/same-day-delivery">Same Day Plant</a></li>
          <li><a routerLink="/chocolates/same-day-delivery">Same Day Chocolates</a></li>
        </ul>
      </section>      </div>
  </li>
  <li style="position:relative;"><a href="javascript:void(0)">Plants<span class="arrow"></span></a>      <div class="megamenu clearfix">        <ul class="des-submuenu">
      <li><a routerLink="/plants">All Plants</a></li>
      <li><a routerLink="/air-purifying-plants">Air Purifying Plants</a></li>
      <li><a routerLink="/lucky-bamboo">Lucky Bamboo</a></li>
      <li><a routerLink="/bonsai-plants">Bonsai Plants</a></li>
      <li><a routerLink="/indoor-plants">Indoor Plants</a></li>
      <li><a routerLink="/outdoor-plants">Outdoor Plants</a></li>
      <li><a routerLink="/terrarium-plants">Terrarium Plants</a></li>
      <li><a routerLink="/money-plant">Money Plants</a></li>
      <li><a routerLink="/plants-same-day-delivery">Same Day Plants</a></li>
      </ul>
    </div>
  </li>
  <li><a href="javascript:void(0)">Gifts<span class="arrow"></span></a>      <div class="megamenu clearfix" style="left:70%;">        <section>          <h3>By Price</h3>
        <ul class="link-list02">
          <li><a routerLink="/all-gifts" [queryParams]="{price:'0-600'}">Under 600</a></li>
          <li><a routerLink="/all-gifts" [queryParams]="{price:'600-999'}">600 To 999</a></li>
          <li><a routerLink="/all-gifts" [queryParams]="{price:'1000-250000'}">Above 1000</a></li>
        </ul>
      </section>        <section>          <h3>By Type</h3>
        <ul class="link-list02">
          <li><a routerLink="/mugs">Mugs</a></li>
          <li><a routerLink="/3d-mugs">3D Mugs</a></li>
          <li><a routerLink="/cushions">Cushions</a></li>
          <li><a routerLink="/personalised-gifts">Personalised Gifts</a></li>
          <li><a routerLink="/plants">Green Plants</a></li>
          <li><a routerLink="/jewellery">Jewellery</a></li>
          <li><a routerLink="/chocolates">Chocolates</a></li>
          <li><a routerLink="/chocolate-bouquets">Chocolate Bouquets</a></li>
          <li><a routerLink="/mugs-and-cushions">Mugs N Cushions</a></li>
          <li><a routerLink="/perfumes">Perfumes</a></li>
          <li><a routerLink="/sweets">Sweets</a></li>
          <li><a routerLink="/soft-toys">Soft Toys</a></li>
          <li><a routerLink="/funky-gifts">Funky Gifts</a></li>
          <li><a routerLink="/god-idols">God Idols</a></li>
          <li><a routerLink="/send-apron-gifts">Apron</a></li>
          <li><a routerLink="/personalised-travel-accessories">Travel Accesories</a></li>
          <li><a routerLink="/gifts">All Gifts</a></li>
        </ul>
      </section>      </div>
  </li>
  <li style="position:relative;"><a href="javascript:void(0)">International<span class="arrow"></span></a>      <div class="megamenu clearfix">        <ul class="des-submuenu">
        <li><a routerLink="/usa">USA</a></li>
        <li><a routerLink="/uk">UK</a></li>
        <li><a routerLink="/uae">UAE</a></li>
        <li><a routerLink="/australia">Australia</a></li>
        <li><a routerLink="/canada">Canada</a></li>
        <li><a routerLink="/france">France</a></li>
        <li><a routerLink="/singapore">Singapore</a></li>
        <li><a routerLink="/flowers/malaysia">Malaysia</a></li>
        <li><a routerLink="/flowers/qatar">Qatar</a></li>
        <li><a routerLink="/flowers/south-africa">South Africa</a></li>
        <li><a routerLink="/flowers/sweden">Sweden</a></li>
      </ul>
    </div>
  </li>
  <li><a href="javascript:void(0)">Occasions<span class="arrow"></span></a>      <div style="left:52%;" class="megamenu clearfix">        <section>          <h3>Festivals</h3>
        <ul class="link-list02">
          
          <li><a href="/holi">Holi - 19th Mar</a></li>
          <li><a href="/rakhi">Rakhi - 11th Aug</a></li>
          <li><a href="/janmashtami">Janmashtami - 30th Aug</a></li>
          <li><a href="/dussehra">Dussehra - 15th Oct</a></li>
          <li><a href="/karwa-chauth">Karwa Chauth - 24th Oct</a></li>
          <li><a href="/dhanteras">Dhanteras - 2nd Nov</a></li>
          <li><a href="/diwali">Diwali - 4th Nov</a></li>
          <li><a href="/bhai-dooj">Bhai Dooj - 6th Nov</a></li>
          <li><a href="/lohri">Lohri - 13th Jan</a></li>
        </ul>
      </section>        <section>          <h3>Special Occasions</h3>
        <ul class="link-list02">
          <li><a href="/womens-day">Women's Day - 08th Mar</a></li>
          <li><a href="/mothers-day">Mother's Day - 08th May</a></li>
          <li><a href="/fathers-day">Father's Day - 19th Jun</a></li>
          <li><a href="/parents-day">Parents Day - 24th July</a></li>
          <li><a href="/friendship-day-gifts">Friendship Day - 7th Aug</a></li>
          <li><a href="/teachers-day-gifts">Teacher's Day - 05th Sep</a></li>
          <li><a href="/grandparents-day"> Grandparents Day - 11th Sep</a></li>
          <li><a href="/daughters-day">Daughter's Day - 25th Sep</a></li>
          <li><a href="/boss-day">Boss Day - 16th Oct</a></li>
          <li><a href="/childrens-day">Children's Day - 14th Nov</a></li>
          <li><a href="/christmas">Christmas - 25th Dec</a></li>
          <li><a href="/new-year">New Year - 01st Jan</a></li>
          <li><a href="/valentine">Valentine's Day - 14th Feb</a></li>
        </ul>
      </section>        <section>          <h3>Sentiments</h3>
        <ul class="link-list02">
          <li><a routerLink="/congratulations">Congratulations</a></li>
          <li><a routerLink="/i-am-sorry">I Am Sorry</a></li>
          <li><a routerLink="/thank-you">Thank You</a></li>
          <li><a routerLink="/sympathy">Sympathy</a></li>
          <li><a routerLink="/love-romance">Love n Romance</a></li>
          <li><a routerLink="/get-well-soon">Get Well Soon</a></li>
        </ul>
      </section>      </div>
  </li>
    </ul>
 </div>
    
    <!--Header MENU -->
  </div>
  </div>
