<footer class="footer">
  <div class="hidden-xs" style="text-align:center; font-size:35px; padding:5px; border-bottom: 1px solid #ccc;">Make Someone Happy Today</div>
  <div class="footer-sections">
    <div class="col-md-4 subcribe">
      <p class="footer-txt-hedng">SIGN UP FOR EMAIL OFFERS & UPDATES</p>
      <form [formGroup]="NewsForm" (ngSubmit)="NewsletterFormSubmit()">
      <input type="text" formControlName="newsletter_email" id="newsletter-email" placeholder="Email" />
      <button class="subcribe" id="newsletter"  type="submit">SUBMIT</button>
      
      <div id="error" class="newslettermsg" >
        <span *ngIf="!NewsForm.get('newsletter_email').valid && NewsForm.get('newsletter_email').touched" class="error-message">
        <span *ngIf="NewsForm.get('newsletter_email').errors['required']">Please Enter Email</span>
        <span *ngIf="NewsForm.get('newsletter_email').errors['email']">Please Enter Valid Email</span>
        </span>
      </div>

      <div *ngIf="newsmsg!=''" class="newssucc">{{newsmsg}}</div>


      </form>
      <div class="errorNews" style="color: red;"></div>
    </div>
    <div class="col-md-4 social-icons">
      <p class="footer-txt-hedng">CONNECT WITH US</p>
      <a class="facebook" target="_blank" rel="nofollow" href="https://www.facebook.com/MyFlowerTree"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a target="_blank" class="twitter" rel="nofollow" href="https://www.twitter.com/myflowertreemft"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a target="_blank" class="youtube" rel="nofollow" href="https://www.youtube.com/user/MyFlowerTree/about"><i class="fa fa-youtube" aria-hidden="true"></i></a>
      <a target="_blank" class="pinterest" rel="nofollow" href="https://in.pinterest.com/myflowertreemft/?autologin=true"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
      <a target="_blank" class="linkedin" rel="nofollow" href="https://www.linkedin.com/company/myflowertree-com"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a target="_blank" class="Instagram" rel="nofollow" href="https://www.instagram.com/myflowertree_mft/"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
    <div class="col-md-4 hidden-xs">
      <p class="footer-txt-hedng">SECURE ORDERING & TRANSACTIONS</p>
      <div class="pull-left"><img loading="lazy"  src="{{CDN_PATH}}live-new/images/footerpayment.png" width="100%"></div>
    </div>
  </div>
  <div class="footer-items hidden-xs">
    <div id="footerLoading" style="width: 100%; height: 100%; position: fixed; z-index: 10000000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; display: none;">
      <div style="width: 250px; height: 75px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; font-size: 16px; z-index: 10; color: rgb(255, 255, 255);"><img loading="lazy"  src="{{CDN_PATH}}live-new/images/full_page_loader.gif">
        <div></div>
      </div>
      <div class="bg" style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
    </div>
    <div class="footer-items-list "><a routerLink="/about-us">About Us</a> |  <a routerLink="/contact-us">Contact Us</a> | <a routerLink="/faq">FAQS</a> | <a routerLink="/blog">Blog</a> | <a routerLink="/special-offers">Offers</a> | <a routerLink="/terms-of-use">Terms & Conditions</a> | <a routerLink="/news-room">News Room</a> | <a routerLink="/CustomizeYourBouquet">Customize Your Bouquet</a> | <a href="https://partner.myflowertree.com/" target="_blank">Become a Partner</a></div>
  </div>
  <!--<a routerLink="/sitemap.html">Sitemap</a> |-->
  <p style="padding-top:5px; font-size:12px; text-align:center; margin:0px; padding-bottom:5px;">Copyright © 2009-2022, MyFlowerTree.com, All Rights Reserved.</p>
</footer>
<div id="request-call-back-popup" class="modal modal-call">
  <!-- Modal content -->
  <div class="modal-content callBackModal">
    <span class="close" (click)="closeCallBackPopup()">&times;</span>
    <div class="call-back-popup-heading">Request Call Back</div>
    <form [formGroup]="callBackForm" (ngSubmit)="callBackFormSubmit()">

      <div id="callBackFormBox" *ngIf="callbackSucess==''">
        <div class="popup-input">
          <input class="input-call-back" type="text" placeholder="Enter full Name" formControlName="name" required="required" value="" id="input-name-call">
          <span class="focus-border"></span>
            <div class="text-danger"></div>
            <span *ngIf="!callBackForm.get('name').valid && callBackForm.get('name').touched"
            class=" error_name_call error-message" style="color: red;"> Please Enter Name </span>
        </div>
        <div class="popup-input">
          <input class="input-call-back" type="tel" formControlName="mobile" placeholder="Enter Mobile Number" required="required" maxlength="10"  value="" id="input-mobile-call">
          <span class="focus-border"></span>
          <span *ngIf="!callBackForm.get('mobile').valid && callBackForm.get('mobile').touched"
          class="error_mobile_call error-message" style="color: red;">
          <span *ngIf="callBackForm.get('mobile').errors['required']">Please Enter Mobile Number</span>
          <span *ngIf="callBackForm.get('mobile').errors['minlength']">Please Enter Correct Mobile Number</span>
          <span *ngIf="callBackForm.get('mobile').errors['maxlength']">Please Enter Correct Mobile Number</span>
      </span>
        </div>
        <div class="popup-input">
          <select [(ngModel)]="query_default_value" class="input-call-back" formControlName="query_related_to" id="query-related-to-call" (change)="queryValue()">
            <option value="">This is regarding:</option>
            <option value="Place a new order">Place a New Order</option>
            <option value="Track my order">Track My Order</option>
            <option value="Raise a complaint">Raise a Complaint</option>
            <option value="Bulk order">Bulk Order</option>
          </select>
          <span *ngIf="!callBackForm.get('query_related_to').valid && callBackForm.get('query_related_to').touched"
          class=" error_query_related_to_call error-message" style="color: red;">Please select an option</span>
        </div>
        <div class="popup-input" *ngIf="order_num_box">
          <input class="input-call-back" type="tel" formControlName="order_id" placeholder="Enter Order Number" required="required" maxlength="10"  value="" id="input-order-number-call">
          <span class="focus-border"></span>
        <span *ngIf="!callBackForm.get('order_id').valid && callBackForm.get('order_id').touched"
          class="error_order_number_call error-message" style="color: red;">Please Enter Order id</span>
            <div class="text-danger"></div>
        </div>
        <div class="popup-input">
          <div class="main-btn">
            <button type="submit" class="btn btn-primary button input-call-back" id="requestCallBack">Request a Call Back</button>
          </div>
        </div>
      </div>
      </form>
      <span *ngIf="callbackSucess !=''">{{callbackSucess}}</span>
  </div>
</div>
 <!-- <app-special-coupon-popup></app-special-coupon-popup> -->
<app-deliverypoup></app-deliverypoup>
<div id="callbackloader" style="width: 100%; height: 100%; position: fixed; z-index: 99999; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; display: none;">
  <div style="width: 250px; height: 75px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; font-size: 16px; z-index: 10; color: rgb(255, 255, 255);"><img loading="lazy"  src="{{CDN_PATH}}live-new/images/full_page_loader.gif">
    <div></div>
  </div>
  <div class="bg" style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
</div>