 body {
  background-color: #fff !important;
  }
 .social-icons a.Instagram:hover {
    background-color: #ff2f00ed;
    color: #fff;
}
 #myBtn{display:none;position:fixed;bottom:20%;left:30px;z-index:99999;font-size:18px;border:none;outline:none;background-color:#B82327;color:white;cursor:pointer;padding:7px 15px 7px 15px;text-align:center;border-radius:4px}#myBtn:hover{background-color:#555}@media only screen and (max-width:600px){.zopim{bottom:52px!important}}
/* The Modal (background) */
 .modal-call {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
 .callBackModal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
 .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

 .close:hover,
 .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
 .call-back-popup-heading {
    font-weight: bold;
    margin-bottom: 20px;
}
 .input-call-back {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}
 button#requestCallBack {
    background-color: #07a466;
}
 .newslettermsg {
  text-align: left; margin-left: 78px; color: red;
}
 .newssucc {
  text-align: left; margin-left: 78px; color: green;
}
@media screen and (max-width: 768px) {
     .callBackModal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
  }
   .newslettermsg {
    text-align: left; margin-left: 37px; color: red;
  }
   .newssucc {
    text-align: left; margin-left: 37px; color: green;
  }
}