/*slider top start*/
:host::ng-deep .testimonials{background-color: #ffeaea;position: relative;top:-5px;}
:host::ng-deep #owl-demo .item{margin: 0px 3px 0px 3px;}
:host::ng-deep #owl-demo .item img{display: block;width: 100%;height: auto;}
	

/*breadcrum start*/
:host::ng-deep .mft-bredcrumbs-container, ul.comment-list>li.pingback {background: #fff;box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);}
:host::ng-deep .mft-bredcrumbs-container {margin: 15px 15px 0px 15px;padding: 10px 20px;font-size: 14px;clear: both;}
:host::ng-deep .mft-bredcrumbs-container p {margin-bottom: 0;}

/*content section start*/
:host::ng-deep .site-content{width: 100%;display: inline-block;}
:host::ng-deep .inner-content{background:#f3f3f3;}

/*block left start*/
:host::ng-deep #primary{box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);background: white;}
:host::ng-deep .page-header {padding-bottom: 0px;margin: 20px 0 20px;border-bottom: 1px solid transparent;}
:host::ng-deep .page-title{font-size: 28px;color: #DA4453;font-weight: 700;font-family: 'Roboto Slab';box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);padding: 15px 15px 18px;text-align: center;}


:host::ng-deep .blog-item-wrap {padding: 10px 10px 15px 10px !important;border-bottom: 1px solid #eaeaea;margin-bottom: 0px !important;}
:host::ng-deep .blog-item-wrap {padding: 10px 10px 20px 10px;}
:host::ng-deep .blog-pic-box {width: 40%;height: 220px;overflow: hidden;float:left;margin-top:5px;padding-top:0px;padding-left:0px;}
:host::ng-deep .single-featured{transform: translate(0%, -5%);    -webkit-transition: opacity 0.3s linear;-moz-transition: opacity 0.3s linear;-o-transition: opacity 0.3s linear;transition: opacity 0.3s linear;display: block;margin: auto;}
:host::ng-deep .blog-content-box {font-size: 13px;color: 454545;padding-top: 0px;margin-top: 5px;line-height: 21px !important;}
:host::ng-deep .entry-title{margin-top: 0px;}
:host::ng-deep .entry-title a {color: #444;font-size: 22px;margin-top: 0px;font-weight: 500;font-family: 'Roboto Slab';}
:host::ng-deep .entry-meta .fa {font-size: 14px;margin-right: 3px;}
:host::ng-deep .entry-meta span {margin-right: 10px;}
:host::ng-deep .byline, .updated {display: none;}
:host::ng-deep .page-content, .entry-content, .entry-summary {margin: 0 0 0;}
:host::ng-deep .entry-content a {color: #0066FF;text-decoration: none;}


:host::ng-deep .post-navigation .nav-previous, .paging-navigation .nav-previous {float: left;}
:host::ng-deep .post-navigation a, .paging-navigation a {border: 1px solid #DADADA;padding: 11px 14px;font-size: 14px;border-radius: 4px;display: block;margin: 27px 0 1.5em;overflow: hidden;background: linear-gradient(#d84242, #af2d15);color: white;}
:host::ng-deep .post-navigation a:hover, .paging-navigation a:hover{background: #333333;text-decoration: none;color:white;}
:host::ng-deep .paging-navigation {text-transform: uppercase;}
:host::ng-deep .screen-reader-text {clip: rect(1px, 1px, 1px, 1px);position: absolute !important;}
:host::ng-deep #sfsi_holder{height:auto!important;}


/*block left start*/
:host::ng-deep #custom_html-5{padding-top:20px;}

:host::ng-deep .sfsi_widget{box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);}
:host::ng-deep .sfsi_widget a img {box-shadow: none!important;outline: 0;}
:host::ng-deep .sfsi_widget .sfsi_wDiv .sfsi_wicons .inerCnt a, .sfsi_widget .sfsi_wDiv .sfsi_wicons .inerCnt a.sficn {padding: 0px;margin: 0px;width: 100%;float: left;border: medium none;}

:host::ng-deep .widget-title{background: none repeat scroll 0 0 #ffffff;color: #444;font-family: "Arial";font-size: 18px;font-weight: bold;margin-bottom: 10px;padding: 15px 10px;text-align: center;}

:host::ng-deep .norm_row {float: left;min-width: 25px;}
:host::ng-deep .norm_row a {border: none;display: inline-block;position: relative;}
:host::ng-deep .sfsi_wicons {margin-bottom: 30px;position: relative;padding-top: 5px;display: inline-block;color: #000;}
:host::ng-deep .sfsi_wicons a {-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;}
:host::ng-deep .inerCnt, .inerCnt:hover, .inerCnt>a, .inerCnt>a:hover, .widget-area .widget a {outline: 0;}
:host::ng-deep .inerCnt {position: relative;z-index: inherit!important;float: left;width: 100%;float: left;}
:host::ng-deep .sfcm.sfsi_wicon {padding: 0;width: 100%;border: medium none;}

:host::ng-deep .entry-meta a {font-size: 14px;color: #a6a6a6;}
:host::ng-deep #recent-posts-3, #categories-2, #tag_cloud-2{box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);}
:host::ng-deep .widget ul li a {color: black;}
:host::ng-deep .widget ul li {list-style: none;border-bottom: 1px solid #F2F2F2;margin-bottom: 10px;padding-bottom: 10px;}
:host::ng-deep .widget ul {line-height: 18px;font-size: 14px;padding:0px 10px !important;}
:host::ng-deep .widget select, .widget ul {width: 100%;}
:host::ng-deep .widget select {line-height: normal;width: 100%;background: rgba(255, 255, 255, 0.44);border: 1px solid rgba(0,0,0,.1);
    height: 42px;padding: 0 20px 0 10px;display: inline-block !important;}
:host::ng-deep  .widget_categories select {max-width: 86%;margin: 20px;}


:host::ng-deep .gift-idea{padding-bottom:10px;}
:host::ng-deep .gift-idea a {width: 47%;margin: 4px;float: left;color: rgba(0, 0, 0, 0.6);}
:host::ng-deep .gift-idea-text-center{background:white;text-align:center;width:100%;}


:host::ng-deep .tagcloud{height: 300px;overflow-y: scroll;padding:0px 10px 20px 10px;display: block;}
:host::ng-deep .tagcloud a {padding: 6px 7px;margin-right: 0;margin-bottom: 4px;line-height: 100%;display: inline-block;color: #FFF !important;background-color: #999999;border-radius: 3px;-webkit-border-radius: 3px;font-size: 12px !important;}
:host::ng-deep .tagcloud a{background-color: #7baf7a; margin-right: 5px;}	

/*footer start*/
:host::ng-deep .footer {padding: 4rem 0 4rem;width: 100%;background-color: #252525 !important;}
:host::ng-deep .footer-text img {max-width: 220px;padding: 20px 0px 10px 0px;}
:host::ng-deep .footer-text p{color:#afafaf;}

:host::ng-deep .newsletter-widget .form-inline .form-control {height: 54px;float:left;}
:host::ng-deep .newsletter-widget .btn i {padding-left: 0.5rem;}
:host::ng-deep .footer-text .fa {font-size: 21px;margin: 0 0.3rem;}
:host::ng-deep .newsletter-widget .form-inline .form-control {background-color: rgba(255, 255, 255, 0.9);border: 1px solid #dbdde0;
 border-radius: 0;box-shadow: none;display: inline-block;font-size: 14px;height: 56px;padding-left: 1.5rem;line-height: 1;letter-spacing: 0.3px;vertical-align: middle;width: 400px;}
:host::ng-deep .copyright1{color:#afafaf;}
:host::ng-deep .newsletter-widget .form-inline {display: inline-block;}
:host::ng-deep .newsletter-widget .btn {height: 56px;border-radius: 0;border: 0;color: #ffffff !important;background-color: #74a044 !important;border-color: #74a044 !important;}
