
.row {
    display: inherit !important;
}
 .row {
    margin: 0!important;
    }
@media screen and (max-width: 1024px)
{
     .gc.gc--2-of-3 {
    width: 69%;
    margin-right: 0;
    padding-right: 0;
}
}
 .val-alert, .valtext {
    background-image: url(https://d3cif2hu95s88v.cloudfront.net/live-site-2016/2020/valentine/heart.png)!important;
    background-size: 16px!important;
    background-repeat: no-repeat!important;
}
 .valtext {
    background-color: #e5e5e5;
    font-size: 13px;
    text-align: left;
    background-position: top 10px left 5px!important;
    padding: 10px 10px 10px 30px;
}
 .val-alert {
    background-position: top 5px right 5px!important;
    opacity: 1;
}
 #pincode-info{top:0px}
@media screen and (max-width: 767px)
{
     #fc_frame, #fc_frame.fc-widget-normal {
    bottom: 71px !important;}
     .val-alert, .valtext {
    background-size: 12px!important;
	}

    :host::ng-deep .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    :host::ng-deep .fa.fa-arrow-left {
        background: url(/images/back-arrow.svg);
        padding: 11px;
        background-position: 0;
        font-size: 0;
        background-size: 70%;
        background-repeat: no-repeat;
    }
}
 .logingender label {
    vertical-align: middle;
    display: inline-block;
    padding-right: 10px !important;
  }
   input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    margin-right: 10px;
  }