<!-- <app-cartheader></app-cartheader> -->
<link rel="stylesheet" [href]="cssDy.checkoutcss">
<!--<div class="row">
  <div class="logo.jpg"></div>
</div>-->
  <div *ngIf="showcheckout" class="body-box cart-box checkout-box">
  <div class="row">
    <div class="checkout-wrap">     
	 <div class="checkout-left">
  <app-checkout-one></app-checkout-one>
  <app-checkout-two *ngIf="checkoutType=='local'"></app-checkout-two>
  <app-checkout-two-international *ngIf="checkoutType=='International'"></app-checkout-two-international>
  <app-checkout-three *ngIf="checkoutType=='local'"></app-checkout-three>
  <app-checkout-three-international *ngIf="checkoutType=='International'"></app-checkout-three-international>
  <app-checkout-four *ngIf="checkoutType=='local'"></app-checkout-four>
  <app-checkout-four-international *ngIf="checkoutType=='International'"></app-checkout-four-international>
  <app-checkout-five></app-checkout-five>
	</div>
      <div class="checkout-right">
          <app-checkout-rightbar></app-checkout-rightbar>
      </div>
    </div>
  </div>
  <!--<div class="row footer">
    <div class="footer-inner">
      Copyright © 2009-2020, MyFlowerTree.com, All Rights Reserved.
	  </div>
  </div>-->
  </div>

  <div id="callbackloader" style="width: 100%; height: 100%; position: fixed; z-index: 99999; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; display: none;">
    <div style="width: 250px; height: 75px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; font-size: 16px; z-index: 10; color: rgb(255, 255, 255);"><img src="{{CDN_PATH}}live-new/images/full_page_loader.gif">
      <div></div>
    </div>
    <div class="bg" style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
  </div>
  