
              .pricesss {
                font-size: 20px;
                padding: 5px;
                text-align: center;
                border: 1px dotted #999;
                margin-right: 20px;
                vertical-align: middle;
                position: fixed;
                z-index: 9999;
                background-color: #FF9;
                opacity: .8
            }
            
             .pricesss span {
                font-size: 20px;
                margin: 0;
                padding: 0
            }
            
             .price span.dec_updator {
                font-size: 14px;
                margin: 0;
                padding: 0
            }
            
             .pricesss span.dec_updator {
                font-size: 14px;
                margin: 0;
                padding: 0
            }
            
             .ctsm-prd-heading {
                padding: 10px;
                background-color: #CCC;
                box-shadow: 0 7px 10px -5px #666;
                text-transform: uppercase;
                color: white;
                font-size: 18px;
                font-style: italic;
                margin-top: 10px;
                margin-bottom: 10px
            }
            
             .ctsm-prd-main {
                margin-bottom: 20px;
                width: 20%;
                float: left
            }
            
             .btn-cstm {
                width: 300px;
                padding: 10px;
                margin-top: 10px;
            }
            
             .ctsm-prd-main1 {
                margin-top: 10px
            }
            
             .ctsm-prd-main1>.price {
                font-size: 40px;
                padding: 10px;
                text-align: center;
                border: 1px dotted #999;
                margin-right: 20px;
                vertical-align: middle;
                padding-top: 30px;
                padding-bottom: 30px
            }
            
             .ctsm-prd-main label {
                padding: 0;
                margin: 0;
                width: 100%
            }
            
             .ctsm-prd-main label.txt {
                padding: 5px;
                margin: 0
            }
            
             .ctsm-prd {
                margin: 5px
            }
            
             .ctsm-prd img {
                width: 100%
            }
            
             .ctsm-prd-details {
                padding: 5px;
                width: 100%;
                text-align: center
            }
            
             .ctsm-prd-details input[type="number"],
            select {
                display: block;
                width: 100%;
                height: 35px;
                padding: 8px 13px;
                font-size: 12px;
                line-height: 1.42857;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 3px;
                text-transform: uppercase;
                margin: 0;
                margin-top: 5px
            }
            
             .ctsm-prd-details input[type="checkbox"] {
                height: 20px;
                width: 20px;
                border: 1px solid #060;
                margin: 0 auto
            }
            
             .product-thumb img {
                width: 100%
            }
            
             .prddtl>.chosen-container {
                width: 100%
            }
            
             .ctsm-prd-details input[type="submit"] {
                margin: 10px;
                background-color: #F60;
                color: white;
                padding: 5px;
                border: 0;
                border-radius: 5px;
                padding-left: 10px;
                padding-right: 10px
            }
            
             .row {
                margin: 0px!important
            }
            
             .shipping-row {
                margin-top: 20px!important
            }
            
             .ctsmz-ur-bq {
                margin-top: 0px!important
            }
             
             .buttons {
                width: 100%;
                margin-top: 20px!important
            }
            
            @media only screen and (max-width:600px) {
                 .ctsmz-ur-bq {
                    margin-top: 0px!important
                }
                 .btn-cstm {
                    width: 100%
                }
                 .ctsm-prd-main {
                    width: 50%
                }
                 #content {
                    padding: 0
                }
            }
       