<!-- <app-header></app-header> -->
<div class="body-box ctsmz-ur-bq">
    <div class="row">
    <div class="pricesss">
           Total Rs. <span class="price_updator"> 399 </span>
          <span  class="dec_updator"> </span>
    </div>           
      <div id="content_custom" class="col-sm-12"> <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/images/custom-products/custom-prd-header.jpg" width="100%">
        <input type="hidden" id="deliveDate" value="" name="custom_data[delivery_date]">
        <div class="ctsm-prd-heading">⇨ Choose your flower</div>
        <div class="row" data-grid-classes="display-icon block-button">
          <div class="ctsm-prd-main" >
            <div class="ctsm-prd"> <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/images/custom-products/fl-1.jpg" /> </div>
            <div class="ctsm-prd-details">
              <input type="hidden" name="custom_data[flowers][rose][price]" value="40">
              <input type="hidden" name="custom_data[flowers][rose][vprice]" value="60">
              <input type="number" name="custom_data[flowers][rose][quantity]" class="form-control" placeholder="Select Quantity" min="1"/>
              <select name="custom_data[flowers][rose][color]">
                <option value="">Select Color</option>
                <option value="Red">Red</option>
                <option value="Pink">Pink</option>
                <option value="Yellow">Yellow</option>
                <option value="White">White</option>
                <option value="Orange">Orange</option>
                <option value="Peach">Peach</option>
              </select>
            </div> </div>
          <div class="ctsm-prd-main" >
            <div class="ctsm-prd"> <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/images/custom-products/fl-2.jpg" alt="Red Carnation Flower" title="Red Carnation Flower"/> </div>
            <div class="ctsm-prd-details">
              <input type="hidden" name="custom_data[flowers][carnations][price]" value="50">
              <input type="hidden" name="custom_data[flowers][carnations][vprice]" value="75">
              <input type="number" name="custom_data[flowers][carnations][quantity]" class="form-control" placeholder="Select Quantity" min="1"/>
              <select name="custom_data[flowers][carnations][color]">
                <option value="">Select Color</option>
                <option value="Red">Red</option>
                <option value="Pink">Pink</option>
                <option value="Yellow">Yellow</option>
                <option value="White">White</option>
                <option value="Orange">Orange</option>
              </select>             
            </div>
          </div>
          <div class="ctsm-prd-main" >
            <div class="ctsm-prd"> <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/images/custom-products/fl-3.jpg" alt="Gerbera Flowers" title="Gerbera Flowers"/> </div>
            <div class="ctsm-prd-details">
              <input type="hidden" name="custom_data[flowers][gerberas][price]" value="40">
              <input type="number" name="custom_data[flowers][gerberas][quantity]" class="form-control" placeholder="Select Quantity" min="1"/>
              <select name="custom_data[flowers][gerberas][color]">
                <option value="">Select Color</option>
                <option value="Red">Red</option>
                <option value="Pink">Pink</option>
                <option value="Yellow">Yellow</option>
                <option value="White">White</option>
                <option value="Orange">Orange</option>
              </select>              
            </div>
          </div>
          <div class="ctsm-prd-main" >
            <div class="ctsm-prd"> <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/images/custom-products/fl-4.jpg" /> </div>
            <div class="ctsm-prd-details">
              <input type="hidden" name="custom_data[flowers][orchids][price]" value="90">
              <input type="number" name="custom_data[flowers][orchids][quantity]" class="form-control" placeholder="Select Quantity" min="1"/>
              <select name="custom_data[flowers][orchids][color]">
                <option value="">Select Color</option>
                <option value="Purple">Purple</option>
                <option value="Blue">Blue</option>
                <option value="White">White</option>
              </select>            
            </div>
          </div>
          <div class="ctsm-prd-main" >
            <div class="ctsm-prd"> <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/images/custom-products/fl-5.jpg" /> </div>
            <div class="ctsm-prd-details">
              <input type="hidden" name="custom_data[flowers][lilies][price]" value="200">
              <input type="number" name="custom_data[flowers][lilies][quantity]" class="form-control" placeholder="Select Quantity" min="1"/>
              <select name="custom_data[flowers][lilies][color]">
                <option value="">Select Color</option>
                <option value="Red">Red</option>
                <option value="White">White</option>
                <option value="Yellow">Yellow</option>
              </select>
              
            </div>
          </div>
        </div>
        <div class="ctsm-prd-heading">⇨ How Shall we wrap it ?</div>
        <div class="row" data-grid-classes="display-icon block-button">
          <div class="ctsm-prd-main" >
            <label for="packing1">
            <div class="ctsm-prd"> <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/images/custom-products/packing-1.jpg" alt="Standard Roses Bouquet" title="Standard Roses Bouquet"/> </div>
            </label>
            <div class="ctsm-prd-details">
              <input type="checkbox" name="custom_data[packing][standard ]" id="packing1" class="form-control" value="0" />
            </div>
          </div>
          <div class="ctsm-prd-main" >
            <label for="packing2">
            <div class="ctsm-prd"> <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/images/custom-products/packing-2.jpg" /> </div>
            </label>
            <div class="ctsm-prd-details">
              <input type="checkbox" name="custom_data[packing][special_paper]" id="packing2" class="form-control" value="99" />
            </div>
          </div>
          <div class="ctsm-prd-main" >
            <label for="packing3">
            <div class="ctsm-prd"> <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/images/custom-products/packing-3.jpg" /> </div>
            </label>
            <div class="ctsm-prd-details">
              <input type="checkbox" name="custom_data[packing][glass_vase]" id="packing3" class="form-control" value="149" />
            </div>
          </div>
          <div class="ctsm-prd-main" >
            <label for="packing4">
            <div class="ctsm-prd"> <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/images/custom-products/packing-4.jpg" /> </div>
            </label>
            <div class="ctsm-prd-details">
              <input type="checkbox" name="custom_data[packing][premium_vase]" id="packing4" class="form-control" value="249" />
            </div>
          </div>
          <div class="ctsm-prd-main" >
            <label for="packing5">
            <div class="ctsm-prd"> <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/images/custom-products/packing-5.jpg" /> </div>
            </label>
            <div class="ctsm-prd-details">
              <input type="checkbox" name="custom_data[packing][basket]" id="packing4" class="form-control" value="99" />
            </div>
          </div>
        </div>
        <div class="ctsm-prd-heading">⇨ anything else ?</div>
        <div class="row" data-grid-classes="display-icon block-button">
          <div class="ctsm-prd-main" >
            <div class="ctsm-prd"> <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/images/custom-products/add-ons-1.jpg" /> </div>
            <div class="ctsm-prd-details">
              <select name="custom_data[cake][size]">
                <option value="" >Select Size</option>
                <option value="699" size="Half Kg">Half Kg</option>
                <option value="1099" size="1 Kg">1 Kg</option>
                <option value="1899" size="2 Kg">2 Kg</option>
                <option value="2699" size="3 Kg">3 Kg</option>
              </select>
              <select name="custom_data[cake][flavour]">
                <option value="" >Select Flavour</option>
                <option value="Black Forest">Black Forest</option>
                <option value="Vanilla">Vanilla</option>
                <option value="Chocolates">Chocolates</option>
                <option value="Pineapple">Pineapple</option>
                <option value="Butter Scotch">Butter Scotch</option>
              </select>
            </div>
          </div>
          <div class="ctsm-prd-main" >
            <div class="ctsm-prd"> <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/images/custom-products/add-ons-2.jpg" /> </div>
            <div class="ctsm-prd-details">
              <select id="chocolates" name="custom_data[chocolates]" onchange="getOptionName();">
                <option value="">Select Chocolates</option>
                <option value="895" name="16 Pcs Ferrero rocher chooclate">16 Pcs Ferrero rocher chooclate</option>
                <option value="1395" name="24 Pcs Ferrero rocher chocolate box">24 Pcs Ferrero rocher chocolate box</option>
                <option value="195" name="5 Pcs Cadbury Chocolate 14gms">5 Pcs Cadbury Chocolate 14gms</option>
                <option value="295" name="2 Cadbury Silk Chocolates">2 Cadbury Silk Chocolates</option>
                <option value="345" name="140gms Celebration Box">140gms Celebration Box</option>
                <option value="195" name="75gms Cadbury Celebration Pack">75gms Cadbury Celebration Pack</option>
                <option value="245" name="Cadbury Bournville 80 gms">Cadbury Bournville 80 gms</option>
                <option value="195" name="Cadbury Temptations 72gms">Cadbury Temptations 72gms</option>
                <option value="195" name="Toblerone 72gms">Toblerone 72gms</option>
                <option value="195" name="5 Pcs 5 Star Chocolates 21 gms">5 Pcs 5 Star Chocolates 21 gms</option>
                <option value="395" name="4 pcs ferrero rochers">4 pcs ferrero rochers</option>
                <option value="195" name="2 Pcs Cadbury Dairy Milk Fruit and Nut 38gms">2 Pcs Cadbury Dairy Milk Fruit & Nut 38gms</option>
                <option value="195" name="6 Pcs Lotte Choco Pie Box : 195">6 Pcs Lotte Choco Pie Box : 195</option>
                
              </select>
              <input type="hidden" name="chocolate_name" id="chocolate_name">
            </div>
          </div>
          <div class="ctsm-prd-main" >
            <div class="ctsm-prd"> <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/images/custom-products/add-ons-3.jpg" /> </div>
            <div class="ctsm-prd-details">
              <select name="custom_data[occasion]">
                <option value="">Select Occasion</option>
                <option value="Anniversary">Anniversary</option>
                <option value="Birthday">Birthday</option>
                <option value="Congratulations">Congratulations</option>
                <option value="Love And Romance">Love And Romance</option>
                <option value="Get Well Soon">Get Well Soon</option>
                <option value="Sorry">Sorry</option>
                <option value="Just Because">Just Because</option>
                <option value="New Baby">New Baby</option>
                <option value="Congratulations">Congratulations</option>
                <option value="Thank You">Thank You</option>
              </select>
            </div>
          </div>
        </div>
        <div class="ctsm-prd-heading">⇨ Delivery Details</div>
        <div class="row" style="margin-top:10px !important; " data-grid-classes="display-icon block-button">
          
       
            <div class="col-md-5 ctsm-prd-main1">
                <div class="price">
                Total Rs. <span class="price_updator">399</span><br/>
                <span  class="dec_updator"> </span>
                </div>
                </div>
       

        <div class="row buttons ">
        <div class="col-md-5">
          <input type="hidden" value="4002" name="product_id" id="product_id">
      
            <input type="hidden" name="deli_time" value="12.13" />
            <textarea type="hidden"  name="option[2242]" class="form-control custom_description"></textarea>
            <input type="hidden" name="custom_amount" class="custom_amount">
            <input type="hidden" name="quantity" value="1">
            <input class="btn btn-danger btn-cstm pull-right" type="submit" value="PLACE ORDER" id="button-cart">
      </div>
      </div>
    </div>
  </div>
</div>