    <div class="cat-body-box">
            <div class="container">
            <div class="main-div-bg">
    
                <div id="breadcrumb">
                <ul class="breadcrumb">
                <li><a routerLink="/account">Your Account</a></li>
                <li>Your Addresses</li>
                </ul>
                </div>
    
                <div class="your-address">
                    <h2>Your Addresses</h2>
                    <div class="a-section a-spacing-double-large">
                        <div class="a-row a-spacing-micro">
    <div class="a-column a-span4 a-spacing-none a-spacing-top-mini address-column">
    <a href="javascript:void(0);" id="add-new-address" class="a-link-normal add-new-address-button" (click)="editAddress(0)">
        <div class="a-box first-desktop-address-tile">
            <div class="a-box-inner a-padding-extra-large">
                <div class="a-section a-spacing-none address-plus-icon aok-inline-block"></div>
                <h2 class="a-color-tertiary">Add address</h2>
            </div>
        </div>
    </a>
    </div>
    
    <div class="a-column a-span4 a-spacing-none a-spacing-top-mini address-column" *ngFor="let item of useraddress">
    <div class="a-box a-spacing-none normal-desktop-address-tile">
        <div class="a-box-inner a-padding-none">
    
    
    <div class="a-section address-section-no-default">
    <div class="a-row a-spacing-small">                
        <ul class="a-unordered-list a-nostyle a-vertical">
            <li><span class="a-list-item"><h5 class="id-addr-ux-search-text  a-text-bold">{{item.firstname}}</h5></span></li>
        <li><span class="a-list-item"><span class="id-addr-ux-search-text">{{item.address_1}}</span></span></li>
        <li><span class="a-list-item"><span class="id-addr-ux-search-text">{{item.address_type}}</span></span></li>
            <li><span class="a-list-item"><span class="id-addr-ux-search-text">{{item.city}}</span></span></li>
            <li><span class="a-list-item"><span class="id-addr-ux-search-text">{{item.postcode}}</span></span></li>
            <li><span class="a-list-item"><span  class="id-addr-ux-search-text">Phone number: &#8234;+91 {{item.telephone}}&#8236;</span></span></li>    
         <li *ngIf="item.alternate_telephone !='null'"><span class="a-list-item"><span  class="id-addr-ux-search-text">Alternate Phone number: &#8234;+91 {{item.alternate_telephone}}&#8236;</span></span></li>
    </ul>
    
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="a-row edit-address-desktop-link">
    <a class="a-link-normal" href="javascript:void(0)" (click)="editAddress(item.address_id)">Edit </a> &nbsp; | &nbsp;
    <span class="a-declarative" >
        <a class="a-link-normal delete-link" href="javascript:void(0)" (click)="deleteAddress(item.address_id)">Remove</a>
    </span>
    &nbsp; | &nbsp;
    <a id="ya-myab-set-default-shipping-btn-0" *ngIf="item.default_address==0 " class="a-link-normal" href="javascript:void(0)" (click)="setDefault(item.address_id)">Set as Default</a>
    <div *ngIf="item.default_address==1">Default Address</div>
    </div>
    </div>
    
    </div>
    </div>
      </div>
    
    
       <ng-container #vc></ng-container>
       <ng-template #modal_1>
    
          <div id="add-new-address-popup" class="modal">
             
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 style="color:red;display: inline-block; float:left;" class="modal-title">Recipient Address</h4>
                        <span class="close" id="closeAddressPopup" (click)="closeDialog()">&times;</span>
                     </div>

                        <form [formGroup]="addressEditForm" (ngSubmit)="addaccountAddress()">
                           <div class="modal-body">
                              <div class="row mb-4">
                                 <div class="col-md-12">
                                    <div class="form-horizontal">
                                       <div class="alert alert-success succ" style="display:none;">
                                          <i class="fa fa-check-circle"></i>
                                          <span id="successmsg"></span>
                                          
                                       </div>

                                       <div class="form-group">
                                          <label class="col-md-3 control-label" for="input-customer">Receiver Name <i class="required">*</i></label>
                                          <div class="col-sm-8">
                                             <input class="field form-control" type="text" formControlName="fname" placeholder="Receiver Name">
                                             <span class="label">Receiver Name <i class="required">*</i></span>
                                             <span class="border"></span>
                                             <span *ngIf="!addressEditForm.get('fname').valid && addressEditForm.get('fname').touched" class="error-message"> Please Enter Name </span>
                                          </div>
                                       </div>

                                       <div class="form-group">
                                          <label class="col-md-3 control-label" for="input-customer">Delivery Pincode <i class="required">*</i></label>
                                          <div class="col-sm-8">
                                             <input class="field form-control" type="number" value="" maxlength="6" formControlName="pcode" (keyup)="searchPincodes($event.target.value)" placeholder="Pincode"/>
                                             <span class="border"></span>
                                             <span *ngIf="!addressEditForm.get('pcode').valid && addressEditForm.get('pcode').touched"
                                             class="error-message">
                                             <span *ngIf="addressEditForm.get('pcode').errors['required']">Please Enter Pincode</span>
                                             <span *ngIf="addressEditForm.get('pcode').errors['minlength']">Please Enter 6 Digit Correct
                                             Pincode</span>
                                             <span *ngIf="addressEditForm.get('pcode').errors['maxlength']">Please Enter 6 Digit Correct
                                             Pincode</span>
                                             </span>
                                             <span id="pincode-info"  class="dc-charges" style="display:none;"></span>   
                                          </div>
                                       </div>


                                       <div class="form-group">
                                          <label class="col-md-3 control-label" for="input-customer">Delivery City <i class="required">*</i></label>
                                          <div class="col-sm-8">
                                             <input class="field form-control" type="text" formControlName = "city_name" value="" readonly placeholder="City"/>
                                             <span class="border"></span>
                                             <input type="hidden" name="ccity" value="" id="city-new" readonly>   
                                          </div>
                                       </div>

                                       <div class="form-group">
                                          <label class="col-md-3 control-label" for="input-customer">Address Type (Optional) </label>
                                          <div class="col-sm-8">
                                             <select formControlName="addresstype" class="form-control" [(ngModel)]="defaultAddressType">
                                                <option value="Home">Home</option>
                                                <option value="office">Office</option>
                                                <option value="residence">Residence</option>
                                                <option value="school/college">School/College</option>
                                                <option value="hostel">Hostel</option>
                                                <option value="airport">Airport</option>
                                                <option value="hotel">Hotel</option>
                                                <option value="other">Other</option>
                                             </select>  
                                          </div>
                                       </div>
                                       

                                       <div class="form-group">
                                          <label class="col-md-3 control-label" for="input-customer">Delivery Address </label>
                                          <div class="col-sm-8">
                                             <textarea class="area onfocusfield form-control" maxlength="125" formControlName="customer_address" rows="4" placeholder=""></textarea>
                                             <div style="font-size: 10px; font-weight: normal; line-height: normal; margin-top: -9px; background-color: antiquewhite;"><b>Note:</b> Please enter complete address incl House Number and Landmark to ensure faster delivery.</div>
                                             <span class="border"></span>
                                             <span *ngIf="!addressEditForm.get('customer_address').valid && addressEditForm.get('customer_address').touched"
                                             class="error-message">Please fill Address Greater than 5 characters</span>  
                                          </div>
                                       </div>

                                       <div class="form-group">
                                          <label class="col-md-3 control-label" for="input-customer">Receiver Mobile <i class="required">*</i> </label>
                                          <div class="col-sm-8">
                                             <input maxlength="10" type="tel" class="field form-control" placeholder="Receiver Mobile"  formControlName="customer_mobile" />
                                                <span class="border"></span>
                                                <span class="example">i.e 9999XXXXXX</span>
                                                <span *ngIf="!addressEditForm.get('customer_mobile').valid && addressEditForm.get('customer_mobile').touched"
                                                class="error-message">
                                                <span *ngIf="addressEditForm.get('customer_mobile').errors['required']">Please Enter Mobile Number</span>
                                                <span *ngIf="addressEditForm.get('customer_mobile').errors['minlength']">Please Enter Correct Mobile Number</span>
                                                <span *ngIf="addressEditForm.get('customer_mobile').errors['maxlength']">Please Enter Correct Mobile Number</span>
                                                </span>
                                          </div>
                                       </div>

                                       <div class="form-group" *ngIf="!alternate_number_show">
                                          <div class="input-wrap">
                                             <a class="addrs-alt-number" (click)="alternate_number_show = !alternate_number_show">+Add Alternate Number</a>
                   
                                          </div>
                                       </div>

                                       
                                       <div class="form-group" id="almobile-new-block" *ngIf="alternate_number_show">
                                          <label class="col-md-3 control-label" for="input-customer">Alternate Mobile </label>
                                          <div class="col-sm-8">
                                             <input  maxlength="10" type="tel" class="field onfocusfield form-control" placeholder="Alternate Mobile" formControlName="customer_mobile_alternate" id="almobile-new"/>
                                                
                                                <span class="border"></span>
                                                <span class="example">i.e 9999XXXXXX</span>
                                                   <span *ngIf="!addressEditForm.get('customer_mobile_alternate').valid && addressEditForm.get('customer_mobile_alternate').touched" class="error-message">
                                                   <span *ngIf="addressEditForm.get('customer_mobile_alternate').errors['minlength']">Please Enter Correct Mobile Number</span>
                                                   <span *ngIf="addressEditForm.get('customer_mobile_alternate').errors['maxlength']">Please Enter Correct Mobile Number</span>
                                                </span>
                                               <div><a class="addrs-alt-number-cancel" (click)="alternate_number_show = !alternate_number_show">Cancel</a>
                                               </div> 
                                             </div>
                                             
                                       </div>






                                       

                                    </div>
                                 </div>
                              </div>
                           </div>

                           <div class="modal-footer">
                              <input type="hidden" formControlName="address_id">        
                              <input class="field btn btn-info add-address " type="submit" value="CONTINUE">

                            </div>

                        </form>
                     
                  </div>
               </div>


                <!-- Modal content -->
               
             
          </div>  
       </ng-template>
    </div>
    </div>
    </div>
