
     .fc-widget-small{display:none;}
    
     body {
        background-color: #f4f4f4;
    }     
     ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
    }
     ul.breadcrumb li {
        display: inline;
        font-size:14px;
        font-family:Arial;
    }
     ul.breadcrumb li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }
     ul.breadcrumb li a {
        color: #0275d8;
        text-decoration: none;
        font-size:14px;
        font-family:Arial;
    }
     ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    }
     .main-div-bg {
      margin-bottom:20px;
    }
     .your-address h2 {
      display: inline-block;
      width:100%;
      font-weight: 600;
      font-size: 30px;
    }
     .a-box {
        display: block;
        border-radius: 4px;
        border: 1px #ddd solid;
        margin-bottom:20px;
        background-color: #fff;
    }
     .a-color-tertiary {
      font-family:Arial;
      font-size: 25px !important;
      font-weight: 500 !important;
    }
     .a-box .a-box-inner {
        border-radius: 4px;
        position: relative;
        padding: 14px 18px;
    }
     .a-unordered-list, ul {
        margin: 0 0 0px 18px;
        color: #949494;
    }
     .a-unordered-list.a-nostyle, ol.a-nostyle, ul.a-nostyle {
        margin-left: 0;
        color: #111;
    }
     .a-unordered-list.a-nostyle li, ol.a-nostyle li, ul.a-nostyle li {
        list-style: none;
    }
     .a-unordered-list.a-box-list li, ul.a-box-list li {
        border-bottom: 1px solid #e7e7e7;
    }
     .a-section:last-child {
        margin-bottom: 0;
        display: inline-block;
        width: 100%;
    }
     .a-padding-none {
        padding: 0!important;
    }
     form {
        margin-bottom: 14px;
    }
     .a-ember input, .a-ember select, .a-ember textarea {
        font-family: Arial,sans-serif;
    }
     .a-fixed-right-grid {
        position: relative;
    }
     .a-fixed-right-grid .a-fixed-right-grid-inner {
        position: relative;
        padding: 0;
    }
     .a-fixed-right-grid .a-fixed-right-grid-inner:before {
        display: table;
        content: "";
        line-height: 0;
        font-size: 0;
    }
     .a-fixed-right-grid .a-col-left {
        width: 100%;
        padding-right: 3.5%;
    }
     .a-fixed-right-grid .a-fixed-right-grid-col {
        position: relative;
        overflow: visible;
        zoom: 1;
        min-height: 1px;
    }
     .address-section-no-default {
        padding: 20px;
    }
     .a-spacing-small, .a-ws .a-ws-spacing-small {
        margin-bottom: 10px!important;
    }
     .a-row {
        width: 100%;
    }
     .a-row:after, .a-row:before {
        display: table;
        content: "";
        line-height: 0;
        font-size: 0;
    }
     .normal-desktop-address-tile {
        height: 266px;
        width: 320px;
        border-width: 1px;
        box-sizing: border-box;
        border-color: #C7C7C7;
        box-shadow: 0 2px 1px 0 rgba(0,0,0,.16);
        border-style: solid;
        display: table-cell !important;
        vertical-align: middle;
    }
     .a-row {
        width: 100%;
    }
     .a-row:before {
        display: table;
        content: "";
        line-height: 0;
        font-size: 0;
    }
     .a-text-bold {
        font-weight: 700!important;
    }
     .a-text-left {
        text-align: left!important;
    }
     .a-row:after {
        clear: both;
    }
     form.set-address-default {
        margin: 0;
        display: inline;
    }
     .a-fixed-right-grid .a-fixed-right-grid-col {
        position: relative;
        overflow: visible;
        zoom: 1;
        min-height: 1px;
    }
     .a-button-span12 {
        width: 100%!important;
    }
     .a-padding-medium {
        padding: 14px 18px!important;
        display:grid;
    }
     .a-box.first-desktop-address-tile {
        border-style: dashed;
        height: 266px;
        width: 320px;
        border-width: 2px;
        box-sizing: border-box;
        border-color: #C7C7C7;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
     .a-box {
        display: block;
        border-radius: 4px;
        border: 1px #ddd solid;
        background-color: #fff;
    }
     .a-box .a-box-inner {
        border-radius: 4px;
        position: relative;
        padding: 14px 18px;
    }
     .a-padding-extra-large {
        padding: 20px 26px!important;
    }
     .address-plus-icon {
        width: 50px;
        height: 50px;
    }
     .a-inline-block, .aok-inline-block {
        display: inline-block;
    }
     .a-section {
        margin-bottom: 22px;
    }
     .a-spacing-none, .a-ws .a-ws-spacing-none {
        margin-bottom: 0!important;
    }
    
     div.a-column.address-column:not(.a-span-last) {
        margin-right: 13px;
    }
     .a-ws div.a-column, div.a-column {
        margin-right: 2%;
        float: left;
        min-height: 1px;
        overflow: visible;
    }
     .a-row .a-span4, .a-ws .a-row .a-ws-span4 {
        width: 31.948%;
    }
     .a-link-normal {
        color:#337ab7;
    }
     .address-column {
        position: relative;
    }
     .a-spacing-top-mini {
        margin-top: 6px!important;
    }
     .a-spacing-none, .a-ws .a-ws-spacing-none {
        margin-bottom: 0!important;
    }
    
     .edit-address-desktop-link {
       position: absolute;
        bottom: 20px;
        left: 22px;
    }
    @media (max-width: 768px) {
          .a-row .a-span4, .a-ws .a-row .a-ws-span4 {
        width: 100%;
    }
     div.a-column.address-column:not(.a-span-last) {
        margin-right: 13px;
        margin-bottom: 10px !important;
    }
     .breadcrumb {
        display:block !important;
    }
    /*  .cat-body-box {
        margin: 60px auto 20px !important;
    } */
    .modal{top: 46px !important;}
    }

     .modal-body ul{ margin:15px;}
     .modal-body ul li{padding-top:10px;}
     .header_margin{margin-top:80px;}
    
 .example {
    font-size: 10px;
    color: #c5c5c5;
}

 .col-md-6.country.alt {
    margin-left: 8px;
}

 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

 .col-md-6.country {
    width: 141px;
    margin-right: -50px;
}

 .col-md-6.country ~ .col-md-6 {
    width: 68%;
}

 .addr-row.row.mobile {
    display: inline-block;
    width: 55%;
}

 .addrs-alt-number-cancel {
    
    position: relative;
    /*top: -29px;
    right: -47px;*/
}

 .addr-row.row.mobile.alternate-link {
    display: inline-block;
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width:768px) {
     .addr-row.row.mobile {
        display: inline-block;
        width: 100%;
    }
     .col-md-6.country {
        width: unset;
        margin-right: unset;
    }
     .col-md-6.country ~ .col-md-6 {
        width: unset;
    }
     .col-md-6.country.alt {
        margin-left: unset;
    }
     .addr-row.row.mobile {
        width: unset;
        display: block;
    }
     .addrs-alt-number-cancel {
        position: absolute;
        top: 10px;
        right: -50px;
        z-index: 999999999999;
    }
     .addr-row.row.mobile.alternate-link {
        display: inline-block;
        float: none;
        text-align: center;
        padding-top: 10px;
        padding-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

 .breadcrumb ~ div {
    padding-top: 30px;
}

 input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: none;
}
@media only screen and (max-width: 760px) {
    .cat-body-box {
       margin-top: 60px !important;
   }
}
   .close, a.close{
      color: #000;
   }