<script type="text/javascript" src="{{CDN_PATH}}js1/jjquery-2.1.1.min.js.gz-1"></script>
<link href="{{CDN_PATH}}live-new/images/favicon.png" rel="icon" />
<style>
table.paymthtbl{width:500px;border:1px solid #ccc;padding:20px}input.paymtdbtn{width:80%;color:#FFF;padding:12px;background-color:#F90;border:none;font-size:15px;text-transform:uppercase;font-weight:700;margin-top:20px}img.fullwth{width:100px}input.pmthbtn{width:15px;height:15px}@media only screen and (min-device-width :320px) and (max-device-width :768px){table.paymthtbl{width:98%;border:1px solid #ccc;padding:20px;font-size:40px}input.paymtdbtn{width:100%;color:#FFF;padding:20px;background-color:#F90;border:none;font-size:25px;text-transform:uppercase;font-weight:700;margin-top:20px}input.pmthbtn{width:40px;height:40px}img.fullwth{width:150px}}
</style>
<form  [formGroup]="paypageForm" (ngSubmit)="submitPaypage()">
<div align="center">
	<table class="paymthtbl"  id="table1" cellspacing="0" cellpadding="0">
		<tr>
			<td>
 				<p align="center" style="margin-right: 20px">
				<img border="0" src="{{CDN_PATH}}2019/myflowertree-logo.svg" width="215" height="111"></p>
				<p align="center"><b><font face="Verdana" >Thank you for 
				Order No. {{orderid}} </font></b></p>
				<p align="center"><b><font face="Verdana" >Total Amount : Rs. 
				{{amount}}/-</font></b></p>
				<p><input type="radio" class="pmthbtn" formControlName="payment_method" value="payu" id="payu" required checked="checked">
					<label for="payu">Credit Card/Debit Card/Net Banking</label>
  				</p>


				<p><input class="pmthbtn" type="radio" formControlName="payment_method" value="mobikwik" id="mobikwik" required>
					<label for="mobikwik"><img class="fullwth" src="{{CDN_PATH}}2020/images/MobiKwik-Logo.png"></label>
  				</p>

  				<p><input class="pmthbtn" type="radio" formControlName="payment_method" value="paytm" id="paytm" required>
					<label for="paytm"><img class="fullwth" src="{{CDN_PATH}}2020/images/paytm.png"></label>
  				</p>

				<p align="center">
				<input type="submit" class="paymtdbtn" value="Proceed to Payment"  width="180" height="35">
				</p>			
				<br>
			</td>
		</tr>
	</table>
</div>
</form>
<div id="payment_gateway_code" style="display:none;"></div>