<div class="cat-body-box">
   <div class="container">
   <div class="main-div-bg">
      <div class="product-1">
         <div class="product-img-1">
            <img loading="lazy"  [src]="orders.image" data-src="{{orders.image}}">
         </div>
         <div class="product-detail-1">            
               <p>{{orders.product_name}}</p>
         </div>
      </div>


      <div class="check-box-label">
         <div class="inner-check-box">
         <div class="selectdiv sel-check">
            <a routerLink="/{{orders.trackorder}}">
            <label>Track Package</label>
            </a>
         </div>
         <div class="selectdiv sel-check">
            <a routerLink="/{{orders.feedback}}">
            <label>Leave Feedback</label>
            </a>
         </div>
         </div>
         </div>


         <div class="need-help-section">
         <div class="need-help-inner container-box-label inner-check-box">
         <p>Need help with your order?</p>
         <div class="selectdiv sel-check">
         <a routerLink="/cs">
         <label>Login a Complaint</label>
         </a>
         </div>
         </div>
         </div>



   </div>
</div>
</div>

<!-- <app-footer></app-footer> -->