 .bs-wizard {
    margin-top: 40px;
}
 .col-xs-2 {
    width: 14.285%;
    float: left;
}
 .bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}
 .bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
}
/*.bs-wizard > .bs-wizard-step + .bs-wizard-step {
}*/
 .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}
 .bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
}
 .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #fbe8aa;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}
 .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: " ";
    width: 14px;
    height: 14px;
    background: #fbbd19;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}
 .bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}
 .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: #fbe8aa;
}
 .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%;
}
 .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width: 50%;
}
 .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width: 0%;
}
 .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}
 .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
}
 .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
}
 .bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 50%;
}
 .bs-wizard > .bs-wizard-step:last-child > .progress {
    width: 50%;
}
 .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}
 #container {
    margin-top: 120px;
}
 .heading-title {
    margin-top: 0px;
}
@media only screen and (max-width: 760px) {
     #container {
        margin-top: 60px;
    }
}

:host::ng-deep .fc-widget-small{display:none}
:host::ng-deep body{background-color:#f4f4f4}
:host::ng-deep .product-img-1{width:30%;float:left;display:inline-block}
:host::ng-deep .main-div-bg{width:70%;display:inline-block;margin-bottom:20px}
:host::ng-deep .product-img-1 img{width:100%}
:host::ng-deep .product-detail-1 p{font-size:25px}
:host::ng-deep .product-1{width:100%;display:inline-block}
:host::ng-deep .main-div-bg h2{display:inline-block;width:100%;font-weight:600}
:host::ng-deep .product-detail-1{display:inline-block;vertical-align:middle;width:70%;padding:20px}
:host::ng-deep .product-detail-1 a{font-size:18px}
:host::ng-deep .order-it-again{display:inline-block;border-bottom:4px solid #ccc;width:100%}
:host::ng-deep .selectdiv{position:relative;float:left;margin:40px 8px;width:100%}
:host::ng-deep .selectdiv:after{content:'\f105';font:normal normal normal 17px/1 FontAwesome;color:#0ebeff;right:11px;top:6px;height:34px;padding:11px 0 0 8px;position:absolute;pointer-events:none;font-size:25px}
:host::ng-deep select::-ms-expand{display:none}
:host::ng-deep .selectdiv label{-webkit-appearance:none;-moz-appearance:none;appearance:none;display:block;width:100%;min-width:274px;height:50px;float:right;margin:5px 0;padding:0 24px;font-size:16px;line-height:3;color:#5f5f5f;background-color:#fff;background-image:none;border:1px solid #d0d0d0;-ms-word-break:normal;word-break:normal;font-weight:400}
:host::ng-deep .check-box-label{width:100%;display:inline-block;border-bottom:4px solid #ccc}
:host::ng-deep .inner-check-box{margin:40px 0;display:inline-block;width:100%}
:host::ng-deep .container-box-label{display:block;position:relative;padding-left:35px;margin-bottom:12px;cursor:pointer;font-size:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
:host::ng-deep .container-box-label input{position:absolute;opacity:0;cursor:pointer;height:0;width:0}
:host::ng-deep .checkmark{position:absolute;top:0;left:0;height:25px;width:25px;background-color:#eee;border-radius:0!important}
:host::ng-deep .container-box-label:hover input~.checkmark{background-color:#ccc}
:host::ng-deep .container-box-label input:checked~.checkmark{background-color:#2196f3}
:host::ng-deep .checkmark:after{content:"";position:absolute;display:none}
:host::ng-deep .container-box-label input:checked~.checkmark:after{display:block}
:host::ng-deep .container-box-label .checkmark:after{left:9px;top:5px;width:5px;height:10px;border:solid #fff;border-width:0 3px 3px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
:host::ng-deep .container-box-label span{font-size:18px;font-weight:400}
:host::ng-deep .container-box-label p{margin:0!important;font-weight:600}
:host::ng-deep .sel-check{margin:0 8px!important}
:host::ng-deep .need-help-inner{padding-left:0!important;width:100%}
:host::ng-deep .need-help-inner p{margin-bottom:10px!important}
:host::ng-deep .selectdiv label{width:100%!important}
@media (max-width:768px){
:host::ng-deep 	.cat-body-box{margin:0px auto 0px!important}
:host::ng-deep 	.product-detail-1 p{font-size:18px;margin:0}
:host::ng-deep 	.main-div-bg{width:100%}
:host::ng-deep 	.product-detail-1{width:60%}
:host::ng-deep 	.product-img-1{width:40%}
	}

