<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="disable step3" *ngIf="view==1">
    <span class="count">4</span>
    <div class="heading">Occasion &amp; Message</div>
</div>

<div class="left-inner" *ngIf="view==2">
    <form id="form-checkout" [formGroup]="shippingForm" (ngSubmit)="shippingSubmit()">
           <div class="step3 steps open">
            <span class="count active">4</span>
            <div class="heading">
                <div class="heading-small">Great, {{sendername}} tell us what's the occasion</div>
            </div>

            <input type="hidden" name="email" class="field" value="atendrasingh1511@gmail.com" placeholder="Email"
                id="input-payment-email" readonly="" required="">
            <input name="telephone" type="hidden" class="field" value="8510074200" placeholder=""
                id="input-payment-mobile" required="">
            <input name="country_code" type="hidden" class="field" value="91">
            <input type="hidden" formControlName="occasiontype" id="occasiontype" value="">
            
            <div class="occasion-wrap">
                <ul>
                    <li class="leaf occasion first occassionlelabel" [ngClass]="{selected:occassionActiveClass=='Birthday'}" (click)="occassionlelabel_click('Birthday')">
                        Birthday</li>
                    <li class="leaf occasion occassionlelabel " [ngClass]="{selected:occassionActiveClass=='Anniversary'}" (click)="occassionlelabel_click('Anniversary')">
                        Anniversary</li>
                    <li class="leaf occasion occassionlelabel " [ngClass]="{selected:occassionActiveClass=='Mothers Day'}" (click)="occassionlelabel_click('Mothers Day')">
                        Mothers Day</li>
                       
                    <li class="leaf occasion occassionlelabel" [ngClass]="{selected:occassionActiveClass=='Sorry'}" (click)="occassionlelabel_click('Sorry')">Sorry</li>    


                    
                    <li class="leaf occasion last">
                        <div class="fields-wrap occasion-drop">
                            <div class="input-wrap address-type shippingtop">
                                
                                <select id="occassionlelabel" (change)="occassionlelabel_change()">
                                    <option value="other">Other Occasion</option>                				
                                    <option value="Congratulations">Congratulations</option> 
                                    <option value="Sorry">Sorry</option> 
                                    <option value="Teachers Day">Teachers Day</option> 
                                    <option value="Mothers Day">Mothers Day</option> 
                                    
                                    <option value="Love and Romance">Love and Romance</option>
                                    <option value="Miss You">Miss You</option>
                                    <option value="Thinking Of You">Thinking Of You</option>
                                    <option value="Get Well Soon">Get Well Soon</option>
                                    <option value="Best of luck">Best of luck</option>
                                    <option value="House Warming">House Warming</option>
                                    <option value="Just Because">Just Because</option>
                                    <option value="New Baby">New Baby</option>
                                    <option value="Sympathy and Funerals">Sympathy and Funerals</option>
                                    <option value="Rakhi">Rakhi</option> 
                                    <option value="Karwa Chauth">Karwa Chauth</option> 
                                    <option value="Bhai Dooj">Bhai Dooj</option> 
                                    <option value="Diwali">Diwali</option> 
                                     
                                    <option value="Valentine">Valentine</option> 
                                    <option value="Holi">Holi</option> 
                                    <option value="Women's day">Women's day</option> 
                                    <option value="Fathers Day">Fathers Day</option> 
                                    <option value="Friendship Day">Friendship Day</option> 
                                    <option value="Daughters day">Daughters day</option> 
                                    <option value="Thank You">Thank You</option> 
                                    <option value="Christmas">Christmas</option>
                                    <option value="New Year">New Year</option>
                                  </select>



                            </div>
                            <span class="error-message" id="occassionlelabel_error"></span>

                        </div>
                    </li>
                </ul>
            </div>

            <div class="fields-wrap area-wrap suggested-msg-area">
                <div class="input-wrap">
                    <label class="inp">
                        <textarea class="area" maxlength="250" formControlName="cardMessage"
                            placeholder="Type down your own message here in 250 characters" id="cardMessage"
                            rows="4"></textarea>
                        <span class="label">Message on Card <i class="required">*</i></span>
                        <span class="border"></span>
                        <span id="msgoncardlabel_error" class="error-message"></span>

                    </label>
                </div>
            </div>

            <div class="suggested-msg" *ngIf="displayShippingPopup==1" (click)="shippingPopup()">
                Confused about what to write? <a href="javascript:void(0);">Try one of our Suggested Messages</a>
            </div>
            <div class="fields-wrap">
                <div class="input-wrap">
                    <label class="inp">
                        <input type="text" formControlName="payment_firstname" id="input-payment-firstname"
                            placeholder="Sender Name" value="{{sendername}}" class="field">
                        <span class="label">Sender Name <i class="required">*</i></span>
                        <span class="border"></span>
                        <span id="input-payment-firstname_error" class="error-message"></span>
                    </label>
                </div>
            </div>

            <div class="fields-wrap">
                <div class="input-wrap surprise-wrap">
                    <label class="surprice-label">
                        <input type="checkbox" name="surprise" id="surprise" (change)="keepMyNameSecret($event)"><span
                            class="surprise">Keep my name a Secret</span>
                    </label></div>
            </div>
            <div class="submit-btn">
                <input class="field" id="shipping-submit" type="submit" value="PROCEED">
            </div>
        </div>



    </form>
    <div id="shipping-popup" class="modal">
        <div class="modal-content">
            <span class="message-category"></span>
            <span class="close" id="shipping-close" (click)="closeShippingPopup()">×</span>
            <ul>
                <li class="Birthday shipping-suggested-message" style="display:none;">Dear (Name)
        Today is a special day for me as you were born today. So, here is sending you special wishes for your birthday. Happy, happy birthday to my special man. 
        Love, (Name)</li>
        
        <li class="Birthday shipping-suggested-message" style="display:none;">
        Happy Birthday to the coolest person I know. My life wouldn’t have been this rocking without you my dear friend. So, yeah thanks for being born. 
        Love, (Name) 
        </li>
        
        <li class="Birthday shipping-suggested-message" style="display:none;">
        Hey, Sweetheart
        It’s your birthday today and you deserve everything happy. Wishing you happiness all year long and ahead with this little token of love from me.
        Love, (Name)
        </li>
        <li class="Birthday shipping-suggested-message" style="display:none;">
        To my mom who is the most special in my life, here is your little kid wishing you a very happy birthday. Love you, maa. 
        From (Name)
        </li>
        <li class="Birthday shipping-suggested-message" style="display:none;">
        Happy birthday to the World’s Best Dad!
        </li>
        <li class="Birthday shipping-suggested-message" style="display:none;">
        Happy Birthday, Dear. Wish you all the love and laughter today and everyday.
        </li>
        
        <li class="Anniversary shipping-suggested-message" style="display:none;">
        To (Name)
        You are the smartest man I know with a taste of finer things in the world. I know this because you choose me as your wife. Happy anniversary, my smart husband. 
        From (Name)
        </li>
        <li class="Anniversary shipping-suggested-message" style="display:none;">
        Dear (name) & (name)
        Congratulations for another wonderful year of falling head over heels in love with each other. Stay blessed. Happy anniversary to you two.
        From (name) 
        </li>
        <li class="Anniversary shipping-suggested-message" style="display:none;">
        To my favourite couple, 
        Sending all my love and best wishes on your anniversary today. May your bond continue to build stronger with each passing year. Happy Anniversary, lovebirds. 
        From (Name)
        </li>
        <li class="Anniversary shipping-suggested-message" style="display:none;">
        To (Name)
        After all these years, you still make my heart skip for you. Happiest anniversary to my gorgeous other half. 
        From (Name) 
        </li>
        <li class="Anniversary shipping-suggested-message" style="display:none;">
        To (Name)
        And, they say that it’s easy to fall in love but difficult to stay in it. You guys made it to 15 years and counting. Heartiest congratulations on this milestone of love. 
        From (Name) 
        </li>
        <li class="Anniversary shipping-suggested-message" style="display:none;">
        To (Name)
        My eyes behold only your picture, Bcz it is of high value and stature!! Happy wedding anniversary my love. 
        From (Name)
        </li>
        <li class="Anniversary shipping-suggested-message" style="display:none;">
        Dear Mom and Dad,
        I feel so lucky to call you both my parents and I hope to have a love like yours someday. Happy anniversary!
        From (Name)
        </li>
        
        <li class="Sorry shipping-suggested-message" style="display:none;">Knock Knock!
        I am sorry baby for arguing with you. It’s just that I care for you a lot and want to see you always smile. Please forgive me, baby.
        From (Name)
        </li>
        
        <li class="Sorry shipping-suggested-message" style="display:none;">Hey Beautiful!
        I will not stop pampering you until I see that beautiful smile on your face again. I am really sorry. Please forgive me,baby. One last time :p
        From (Name)
        </li>
        
        <li class="Sorry shipping-suggested-message" style="display:none;">Hey, you have every single right to be mad at me. I just want you to know that I am terribly sorry and that I love you so much.
        (Name)
        </li>
        
        <li class="Sorry shipping-suggested-message" style="display:none;">Sweetheart, you know na I love you more than anything else. I don’t know what was wrong with me at that time. I am sorry for the bottom of my heart.
        From (Name)
        </li>
        <li class="Sorry shipping-suggested-message" style="display:none;">
        Please talk to me my love. I know I made a mistake and I promise you that I will never repeat that again. I am sorry, love.
        From (Name)
        </li>
        
        <li class="Mothers-Day shipping-suggested-message" style="display:none;">
        Dear Maa,
        I'm blessed to have so many great things in my life and the best among them is you. Happy Mothers Day, maa.
        From (Name)
        </li>
        <li class="Mothers-Day shipping-suggested-message" style="display:none;">
        Sorry mom if I drive you crazy sometimes. I do it because I Love You. Happy Mother’s Day, my world.
        From (Name)
        </li>
        <li class="Mothers-Day shipping-suggested-message" style="display:none;">
        I Love You, Mom. I may not say or show it but in my heart, I really do. Happy Mother’s Day.
        From (Name)
        </li>
        <li class="Mothers-Day shipping-suggested-message" style="display:none;">
        It’s your first Mother’s Day and no doubt, it will be special. Happy Mother’s Day to the most beautiful mom. 
        From (Name)  
        </li>
        <li class="Mothers-Day shipping-suggested-message" style="display:none;">
        Dear mom,
        Only if I could express even half of my love and respect for you in words, you would know how proud I am of you. I love you, mom. Thanks for everything. Happy Mother’s Day!
        
        </li>
        <li class="Christmas shipping-suggested-message" style="display:none;">
        Dear (Name)
        This Christmas, may you get gifts of endless happiness and good health from Santa. Merry Christmas to you my dear friend. 
        From (Name)
        </li>
        <li class="Christmas shipping-suggested-message" style="display:none;">Dear (Name)
        Wish you all the best things this Holiday and throughout the year. Merry Christmas!
        From (Name)
        </li>
        <li class="Christmas shipping-suggested-message" style="display:none;">
        Dear Mom & Dad,
        No matter where I am, my heart will always stay with you two this Christmas and on every Christmas. Merry Christmas, my gems.
        Love, (Name)
        </li>
        <li class="Christmas shipping-suggested-message" style="display:none;">
        Dear (Name)
        Thank you for being my Chritsmas pudding and for lighting up my world with your presence. 
        Merry Christmas my love! 
        From (Name)
        </li>
        <li class="Christmas shipping-suggested-message" style="display:none;">
        To (Name)
        May this Christmas be the best one for you filled with moments of love, laughter, and goodwill. Wishing you a merrier Christmas, buddy. 
        From (Name)
        </li>
        <li class="New-Year shipping-suggested-message" style="display:none;">
        To (Name) 
        As the New Year rings in, I wish you new things in life. May this year brings in all the happiness  for you. Happy New Year, dear. 
        From (Name) 
        </li>
        <li class="New-Year shipping-suggested-message" style="display:none;">
        Dear (Name)
        Thank you for making the last year a wonderful one for me with your love..So, I promise to make this New Year the most memorable one for you. Happy New Year, Sweety!
        From (Name)
        </li>
        <li class="New-Year shipping-suggested-message" style="display:none;">
        Dear (Name)
        May this New Year opens new chapters of life for you filled with pages of love, good health, and prosperity. Happy New Year!
        From (Name)
        </li>
        <li class="New-Year shipping-suggested-message" style="display:none;">
        Dear (Name)
        Here is wishing you a very Happy New Year full of happiness and all the great things in life you deserve. 
        From (Name)
        </li>
        <li class="New-Year shipping-suggested-message" style="display:none;">
        To (Name)
        Say hello to New year and new adventures in your life because I am here to ensure you that all. Happy New Year, love.
        From (Name)
        </li>
        
        <li class="Thank-You shipping-suggested-message" style="display:none;">To (Name)
        I know I don’t often say this to you but yeah “Thank You” for being “You”. You make my life happier and complete. I Love You.
        From (Name)
        </li>
        <li class="Thank-You shipping-suggested-message" style="display:none;">
        Dear (Name)
        Here is sending you a little token of love for making me smile always. Thank you for existing!
        Love, (Name)
        </li>
        <li class="Thank-You shipping-suggested-message" style="display:none;">
        Dear (Name)
        I wouldn’t be where I am today without you by my side. Thank you for always sticking by me through thick and thin. 
        From (Name)
        </li>
        <li class="Thank-You shipping-suggested-message" style="display:none;">
        Dear (Name)
        How can I say thanks to you in a way that will express my love for you? How about this little surprise?
        From (Name)
        </li>
        
        <li class="House-Warming shipping-suggested-message" style="display:none;">To (Name)
        May your new home be a place where friends meet, family gathers, and love grows. Congratulations on moving into a new home.
        From (Name)
        </li>
        <li class="House-Warming shipping-suggested-message" style="display:none;">Dear (Name)
        May you find the happiness and joy you were seeking in your new home. Congratulations on this new milestone. 
        From (Name)
        </li>
        <li class="House-Warming shipping-suggested-message" style="display:none;">Hey babes,
        Congratulations on your new home. Can’t wait to grace your house with my presence :p
        From (Name)
        </li>
        <li class="House-Warming shipping-suggested-message" style="display:none;">Dear (Name)
        Heartiest housewarming to you. I am so happy for your made your dream come true. May your new house brings happiness year after year.
        From (Name)
        </li>
        <li class="House-Warming shipping-suggested-message" style="display:none;">To (Name)
        May God bless your new home with love, laughter, happiness, and peace. My heartiest congratulations to you.
        From (Name)
        </li>
        
        <li class="Just-Because shipping-suggested-message" style="display:none;">To (Name)
        Here is a little something to brighten up your day just because I love you. Meet me soon.
        Love, (Name)
        </li>
        <li class="Just-Because shipping-suggested-message" style="display:none;">To (Name)
        Sending gorgeous flowers for a gorgeous lady just because I want you to smile always.
        From (Name)
        </li>
        <li class="Just-Because shipping-suggested-message" style="display:none;">Hey!
        I know it’s not a special occasion but, you are a special person. So, here is sending a special gift for you. 
        From (Name)
        </li>
        <li class="New-Baby shipping-suggested-message" style="display:none;">Dear (Name) & (Name)
        Welcome to the parent’s club. My heartiest congratulations on the arrival of your little bundle of joy. May God shower His choicest blessings on you all. 
        From (Name)
        </li>
        <li class="New-Baby shipping-suggested-message" style="display:none;">Dear (Name) & (Name)
        I am so so so happy for you two. Can’t wait to see, adore, and hold your little one in my arms.
        </li>
        <li class="New-Baby shipping-suggested-message" style="display:none;">Dear (Name)
        Motherhood is the best thing that can ever happen to a woman. It is a beautiful journey of love and challenges. So, enjoy the ride. Happy parenting!
        From (Name) 
        </li>
        <li class="New-Baby shipping-suggested-message" style="display:none;">Congratulations (Name) & (Name)
        This is such a wonderful news that your little one has arrived happy and healthy. I wish you all the best as you two look forward for this beautiful journey together. 
        From (Name
        </li>
        <li class="New-Baby shipping-suggested-message" style="display:none;">Dear (Name)
        Congrats on the newest addition to your family. God has blessed you with a beautiful life to look after now. So, my best wishes are with you, and I know you will excel in it too.
        From (Name)
        </li>
        <li class="Sympathy-and-Funerals shipping-suggested-message" style="display:none;">To (Name)
        I know you are growing through a low phase but I also know that you are a strong person.
        My thoughts and prayers are with you. 
        From (Name)
        </li>
        <li class="Sympathy-and-Funerals shipping-suggested-message" style="display:none;">To (Name)
        It is hard to imagine what you must be going through. Just know that I am there for you always. 
        From (Name)
        </li>
        <li class="Sympathy-and-Funerals shipping-suggested-message" style="display:none;">To (Name)
        Wishing you peace and strength during this difficult time. I know you will face it with strength and courage. I am with you.
        From (Name)
        </li>
        <li class="Sympathy-and-Funerals shipping-suggested-message" style="display:none;">To (Name)
        I am at a loss for words during this unfortunate time. Please know that I am praying for your peace and comfort.
        From (Name)
        </li>
        <li class="Sympathy-and-Funerals shipping-suggested-message" style="display:none;">To (Name)
        I’ve never come across a person who is as strong as you. I know you will overcome your sorrows and take up all the responsibilities head-on. Know that you are not alone in this journey.
        From (Name)
        </li>
        <li class="Best-of-luck shipping-suggested-message" style="display:none;">Dear (Name)
        Go get’em just like you always do. Here is sending you good-luck hugs today!
        From (Name)
        </li>
        <li class="Best-of-luck shipping-suggested-message" style="display:none;">Dear (Name)
        I know you are going to rock it today. My best wishes and love are always with you.
        Love, (Name)
        </li>
        <li class="Best-of-luck shipping-suggested-message" style="display:none;">Dear (Name)
        As we move towards the next chapter that life brings your way, I wish you Good luck, buddy.
        From (Name)
        </li>
        <li class="Best-of-luck shipping-suggested-message" style="display:none;">Dear (Name)
        Keep moving forward with the determination you have because the future has so many good things in store for you. Good luck!
        From (Name)
        </li>
        <li class="Best-of-luck shipping-suggested-message" style="display:none;">Dear (Name)
        Your performance always sets a benchmark. It’s time to set it once again. Best of Luck!
        From (Name)
        </li>
        <li class="Congratulations shipping-suggested-message" style="display:none;">Dear (Name) generic
        A very Hearty Congratulations to you! I wish you get everything you want just like this special day. My best wishes are always with you. Loads of Love!
        </li>
        <li class="Congratulations shipping-suggested-message" style="display:none;">Dear Love (Couple)
        Congratulations on your success. I am proud of you on your achievements and wish you get more and more. Keep going! 
        Your Love
        Xyz
        </li>
        <li class="Congratulations shipping-suggested-message" style="display:none;">Hey Buddy (Friend)
        A very warm and hearty congratulation to you! You rock and keep rocking to achieve such success in your life. My Wishes are with you!
        Yours
        Xyz
        </li>
        <li class="Congratulations shipping-suggested-message" style="display:none;">Hey Gurl (For her)
        Congo on your achievement! You made it, I am proud of you. May you always get the best with your hard work and determination, so proud of you and love you a lot!
        
        Yours 
        Xyz
        </li>
        <li class="Congratulations shipping-suggested-message" style="display:none;">Dear (For Him)
        Sweetheart, I am sending my best heartiest congratulations on your achievement.  I want you to enjoy all that life brings to you in the future. May you always kiss the ladder of success. 
        Yours
        XYZ
        </li>
        <li class="Miss-You shipping-suggested-message" style="display:none;">
        Dear ( Name) For him,
        I am remembering all those moments we spent together, wish to see you soon my Love. I miss you!
        
        Yours 
        XYZ
        </li>
        <li class="Miss-You shipping-suggested-message" style="display:none;">Dear (Name) For her,
        Words can’t define how much I miss you baby. Sending something special wrapped in love for you.
        Yours only
        XYZ
        </li>
        <li class="Miss-You shipping-suggested-message" style="display:none;">Hey (Name) for friend,
        It’s been too long since you are gone; I miss the fun moments we spent together. I miss you so much!
        Yours
        Xyz
        </li>
        <li class="Thinking-Of-You shipping-suggested-message" style="display:none;">Dear (Name) for him
        I want you to know that I have been thinking of you since days, I wish you were here! 
        Yours 
        Xyz
        </li>
        <li class="Thinking-Of-You shipping-suggested-message" style="display:none;">Dear (Name) for her
        You are always on my mind sweetheart!  I am always Thinking of you every time. Wish you were here with me!
        Yours only
        Xyz
        </li>
        <li class="Thinking-Of-You shipping-suggested-message" style="display:none;"> Dear (Name) Generic
        I have been continuously thinking of you all day, as you mean special to me! I wish to see you soon
        
        Yours 
        Xyz
        </li>
        <li class="Get-Well-Soon shipping-suggested-message" style="display:none;">
         Hey (Name)
        I got to know you are unwell and I wish you to Get Well Soon and smile one again beautifully. God bless you dear.
        From
        Name
        </li>
        <li class="Get-Well-Soon shipping-suggested-message" style="display:none;">Dear (Name) for couple
        You are stronger than you know and you are special than everyone else, I just wish you Get Well Soon so that we can have fun once again together my love.
        Yours only
        Xyz
        </li>
        <li class="Get-Well-Soon shipping-suggested-message" style="display:none;"> Dear (Name) for friend
        Hey, you don’t look good like this…Get well soon buddy, there are loads to do together my crime partner. Love you…
        Your crazy friend
        Xyz
        </li>
        <li class="Get-Well-Soon shipping-suggested-message" style="display:none;">
        Hey (Name) for him
        Get well soon Man, I know you are going through tuff times but you hold the power to come out of this. God bless you always!
        Yours only
        Xyz
        </li>
        <li class="Get-Well-Soon shipping-suggested-message" style="display:none;">
        Hey (Name) for her
        I wish you get well soon girl, you are much stronger than you even know… take care of yourself. Love you a lot.
        Yours 
        xyz
        </li>
        
        
        <li class="Love-and-Romance shipping-suggested-message" style="display:none;">Dearest wifey,
        What would I do without you? Thanks for lighting up my world with your cute smile, unconditional love, and undivided attention.
        From a happy husband.
        </li>
        <li class="Love-and-Romance shipping-suggested-message" style="display:none;">Sweety,
        Your smile is the most beautiful thing I have ever seen and I wish to be the reason for your smile always my love. 
        From (Name)
        </li>
        <li class="Love-and-Romance shipping-suggested-message" style="display:none;">Hey!
        Do you know my permanent relationship status? It’s taken. Yes, by the best man in this universe. Love you.
        From (Name)
        </li>
        <li class="Love-and-Romance shipping-suggested-message" style="display:none;">Dear boyfriend,
        How can you look so handsome all the time? You know what I fall in love with you a little more every day. Be mine forever.
        From,
        Your not-so-romantic girlfriend
        </li>
        <li class="Love-and-Romance shipping-suggested-message" style="display:none;">Dear girlfriend,
        I’m not kidding when I tell you that you are the woman I want to be my wife and the mother of my children. I really want to be with you forever.
        From (Name)
        </li>
        <li class="Love-and-Romance shipping-suggested-message" style="display:none;">Dear hubby,
        I can’t stop loving you enough no matter for how long we’ve been together in this beautiful marriage. My love just grows deeper for you. You are gem
        From,
        </li>
        
        <li class="Fathers-Day shipping-suggested-message" style="display:none;">Dear Dad,
        I can never thank you enough for the guidance and support you have given me always. So, sending my love to you on this father’s day with something special.
        Love you,
        (Name)
        </li>
        
        <li class="Fathers-Day shipping-suggested-message" style="display:none;">Dear Dad,
        Wishing you a happy Father’s Day. Words are not enough to express my love for you, so here is sending you a special gift.
        With Love,
        (Name)
        </li>
        
        <li class="Fathers-Day shipping-suggested-message" style="display:none;">To My Hero,
        You are the best dad, and I am lucky to be your child. You have always supported me and pampered me, and I am thankful for everything you have given me.
        Your loving kid,
        (Name)
        </li>
        
        <li class="Fathers-Day shipping-suggested-message" style="display:none;">Dear Papa,
        Being always under your guidance has led me to become a better person. I feel lucky to have a father like you. I wish you a happy Father’s Day with this token of love.
        Love you Paa,
        (Name)
        </li>
        <li class="Friendship-Day shipping-suggested-message" style="display:none;">Dear (Name),
        Your true friend is always there, not just for a day or two, but forever.
        </li>
        <li class="Rakhi shipping-suggested-message" style="display:none;">From fighting over the TV remote as kids to missing each other as we grew up, we both have come a long way. Love you, bhai. Happy Raksha Bandhan!. 
        From (Name) 
        </li>
        <li class="Rakhi shipping-suggested-message" style="display:none;">Dear Bhai,
        Thank you for giving me so many sweet memories of childhood that I'll forever hold close to my heart. Happy Rakhi, bhai. 
        From,
        The No. 1 Sis
        </li>
        <li class="Rakhi shipping-suggested-message" style="display:none;">Hi Bhai,
        Even though I have taken you for granted many times, I want you to know that a brother like you is what I've always wanted. 
        From,
        Your Sweet Sister
        </li>
        <li class="Rakhi shipping-suggested-message" style="display:none;">Today, I just want to thank you for being the best sister in this world. Happy Raksha Bandhan to my sweet sister!
        </li>
        <li class="Rakhi shipping-suggested-message" style="display:none;"> Dear sister, 
        Thanks for spoiling me with your love and pamper, and most importantly for always taking care of me.  I love you!
        Wish you a happy Rakhi!
        </li>
        
        
        <li class="Rakhi shipping-suggested-message" style="display:none;"> Dear sister, 
        Thanks for spoiling me with your love and pamper, and most importantly for always taking care of me.  I love you!
        Wish you a happy Rakhi!
        </li>
        
        <li class="Teachers-Day shipping-suggested-message" style="display:none;"> Dear Teacher, 
        To me you are my role model. To me you are the best teacher.
        </li>
        
        <li class="Karwa-Chauth shipping-suggested-message" style="display:none;">Dear Wife,
        I started living the day you came in my life so if you are fasting for me then I just want to let you know that I want two live as long as you are there with me. Happy Karwa Chauth!
        </li>
        <li class="Diwali shipping-suggested-message" style="display:none;">
        As you perform the Puja rituals of Diwali, I silently pray to Lord Ganesha to shower happiness and prosperity upon you. Happy Diwali!
        </li>
        <li class="Diwali shipping-suggested-message" style="display:none;">
        May Goddess Lakshmi enter your house this Diwali evening and fill it with wealth, good luck and prosperity. Happy Diwali
        </li>
        <li class="Diwali shipping-suggested-message" style="display:none;">
        Diwali is the best time to create special memories with your loved ones. May you create the best of the best memories this Diwali. Happy Diwali
        </li>
        <li class="Diwali shipping-suggested-message" style="display:none;">
        May this Diwali bring endless moments of joy and love to your life. Happy Diwali
        </li>
        <li class="Diwali shipping-suggested-message" style="display:none;">
        May the festivities of Diwali over-whelm your heart with joy and happiness. Happy Diwali
        </li>
        <li class="Diwali shipping-suggested-message" style="display:none;">
        I hope this Diwali brings lots of luck to you life and fulfill all your dreams and desires. Happy Diwali
        </li>
        <li class="Bhai-Dooj shipping-suggested-message" style="display:none;">
        Thanks for spreading smiles everywhere and making life so beautiful, meaningful and happy.
        Happy Bhai Dooj</li>
        <li class="Bhai-Dooj shipping-suggested-message" style="display:none;">
        My brother, you are my best friend.
        You stand by me when I am alone you make feel happy when I am low.
        Thanks for being for me always .
        Happy Bhaidooj.</li>
        <li class="Bhai-Dooj shipping-suggested-message" style="display:none;">Dear Bhai,
        Wish you the days that bring you happiness infinite and a life that's prosperous and bright...
        Happy Bhai Dooj</li>
        <li class="Bhai-Dooj shipping-suggested-message" style="display:none;">
        I feel so blessed to have a brother like you in my life.
        You like an Angel are always there when I need you.
        Thanks Brother and have a happy Bhaidooj.</li>
        
        
        
        <li class="Valentine shipping-suggested-message" style="display:none;">Dearest wifey,
        What would I do without you? Thanks for lighting up my world with your cute smile, unconditional love, and undivided attention.
        From a happy husband.
        </li>
        <li class="Valentine shipping-suggested-message" style="display:none;">Sweety,
        Your smile is the most beautiful thing I have ever seen and I wish to be the reason for your smile always my love. 
        From (Name)
        </li>
        <li class="Valentine shipping-suggested-message" style="display:none;">Hey!
        Do you know my permanent relationship status? It’s taken. Yes, by the best man in this universe. Love you.
        From (Name)
        </li>
        <li class="Valentine shipping-suggested-message" style="display:none;">Dear boyfriend,
        How can you look so handsome all the time? You know what I fall in love with you a little more every day. Be mine forever.
        From,
        Your not-so-romantic girlfriend
        </li>
        <li class="Valentine shipping-suggested-message" style="display:none;">Dear girlfriend,
        I’m not kidding when I tell you that you are the woman I want to be my wife and the mother of my children. I really want to be with you forever.
        From (Name)
        </li>
        <li class="Valentine shipping-suggested-message" style="display:none;">Dear hubby,
        I can’t stop loving you enough no matter for how long we’ve been together in this beautiful marriage. My love just grows deeper for you. You are gem
        From,
        </li>
        <li class="Womens-day shipping-suggested-message" style="display:none;">Everything we see in the world is the creative work of women</li>
        
        <li class="Holi shipping-suggested-message" style="display:none;">
        May the colors of Holi make your life as colorful and happy as they are.
        </li>
        
        <li class="Daughters-day shipping-suggested-message" style="display:none;">A Daughter is the Happy Memories of the Past, the Joyful Moments of the Present, and the Hope & Promise of the Future. 
        Happy Daughter’s Day
        </li>
        <li class="Daughters-day shipping-suggested-message" style="display:none;">My Daughter, you are so loving, with a Heart of Gold. You will Always remain my baby Girl, even when I’m old Your love Shines through, for all to see. I feel so Proud, you’re a Part of Me. 
        Happy Daughter’s Day!
        </li>
        <li class="Daughters-day shipping-suggested-message" style="display:none;">I Hope for your brightest Future that is full of Blessings for a New Tomorrow. May your Life be a Wonderland filled with Roses. May there be no pain or sorrow but Everlasting Happiness......
        Happy Daughter’s Day my Love.
        </li>
        
            </ul>
        </div>

    </div>
</div>

<div class="filled wrap mft-shipping-detail" *ngIf="view==3" (click)="openShippingSection()"><span class="count filled">4</span><span
        class="filled-head">Occasion &amp; Message</span>
    <ul>
        <li class="leaf name first"><span class="filled-heading">Occasion</span><span
                class="filled-data mft-shipping-detail-occasion">{{occasion}}</span></li>
        <li class="leaf number"><span class="filled-heading">To</span><span
                class="filled-data mft-shipping-detail-to">{{to}}</span></li>
        <li class="leaf email last"><span class="filled-heading">Message</span><span
                class="filled-data mft-shipping-detail-message">{{message}}</span></li>
    </ul><span class="edit"><img loading="lazy" 
            src="{{CDN_PATH}}2019/newcheckout/images/edit.svg"></span>
</div>