<link  [href]="cssDy.bootstrapcss" rel="stylesheet"> 
  <div class="wsmenucontainer clearfix">
<div *ngIf="deviceType=='Mobile'" class="mobile hidden-md hidden-lg">
      <div class="overlapblackbg"></div>
      <div class="wsmobileheader clearfix"><a class="smallogo" routerLink="/"><img loading="lazy"  src="{{CDN_PATH}}2019/myflowertree-logo.svg" width="90" alt=""></a><span class="phone-mobile"><a href="tel:08068248269"><i style="font-size: 26px;" class="fa fa-phone" aria-hidden="true"></i><!--<img loading="lazy"  src="{{CDN_PATH}}2019/newcheckout/images/call.svg">--></a></span></div>
      <div class="header"></div>
    </div>
    <div *ngIf="deviceType=='Desktop'" class="header hidden-xs desktop-header">
      <header>
        <div class="header-box">
          <div class="logo"><a routerLink="/"><img loading="lazy"  src="{{CDN_PATH}}2019/myflowertree-logo.svg" width="120"></a></div>
          <div class="header-right">
            <div class="need-help"><span class="call-text">Need Help?</span><span class="phone">Call Us : <a href="javascript:void(0)">+91 98711 41000</a></span></div>
          </div>
        </div>
      </header>
    </div>
  </div>