 body {
    background-color: #f4f4f4 !important;
    }

    
     .wsmenu-list li:hover>.megamenu{    box-shadow: 0 1px 10px 0 rgba(136, 136, 136, 0.5);}
     ul.link-list02 {
      max-height: none;}
       ul.des-submuenu li {
      list-style: none;
      border-bottom: none;
  }
   ul.des-submuenu li a {
      color: #333;
      padding-top: 4px;
      padding-bottom: 4px;
      display: table;
      font-size: 14px;
  }
   p.price {
      margin: 0;
      font-size: 18px;
      color: black;
      font-weight: bold;
  }
   .dropdown-menu{width:100%;left:0!important}.close,a.close{color:black}.megamenu section{padding:0 1vw}
   .logo {
      padding-top: 4px;
      width:22%;
  }
   .search {
      width: 25%;
      }
      
       .delivery-location{display:inline-block; padding-top:5px;}
       .delivery-location a{background-color: #b10f0f;    color: white;    padding: 8px;    border-radius: 5px; display:inline-block; text-align:center; padding-left:15px; padding-right:15px; text-decoration:none;}
       .delivery-location a:hover{text-decoration:none; color:white;}



 .mobile-search img {
    width: 22px;
    opacity: 1;
}
 .mobile-cart img {
    width: 22px;
    opacity: 1;
}
 .mobile-acc img {
    width: 22px;
    opacity: 1;
}
 .animated-arrow span{height:2.5px; background:#000;}
 animated-arrow span, .animated-arrow span::after, .animated-arrow span::before {
    cursor: pointer;
    height: 2.5px;
    width: 23px;
    background: #000;
    position: absolute;
    display: block;
    content: '';
    
}

 .mobile-acc {
    width: auto;
    float: right;
    text-align: right;
    padding-top: 12px;
    padding-right: 20px;
}

 .mobile-cart {
    width: auto;
    float: left;
    padding-top: 12px;
    text-align: center;
    position: relative;
    right: -15px;
}
 .mobile-logo {padding-top:2px;}

@media only screen and (max-width:600px){
     p.price{margin:0;color:black;font-size:15px;font-weight:bold;} 
     .swiper-button-next, .swiper-button-prev {    background-size: 10px 10px;    padding: 10px;    background-color: #ffffffed;    height: 26px;    width: 18px;}
     .swiper-container{margin-top:49px !important;}
     .dropdown-menu{width:100%;left:0!important}
     .dropdown-menu>li{border-bottom:.1px solid #f4f4f4}
     .dropdown-menu>li>a{padding:10px 20px}
     .delivery-location{    margin-top: 49px;
        width: 100%;
        padding: 6px;
        background-color:white;
        font-size: 17px;}
     .delivery-location a{
            background-color: white;
            color: black;
            padding: 2px;
            border-radius: 5px;
            display: inline-block;
            text-align: center;
            padding-left: 1px;
            padding-right: 15px;
            text-decoration: none;
        }
         ul.link-list02 {
            max-height: none;
            }
    /* #searchModal{display: none;}*/
    
}
