:host ::ng-deep .modal {display: none;position: fixed;z-index: 9999;padding-top:5%;left: 0;width: 100%;height: 100%;overflow: auto;background-color: rgba(0, 0, 0, 0.66);}
:host ::ng-deep .modal-pops-content {position: relative;background-color: #fefefe;margin: auto;padding: 0;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);-webkit-animation-name: animatetop;-webkit-animation-duration: 0.4s;animation-name: animatetop;animation-duration: 0.4s;}
@-webkit-keyframes animatetop {from {top:-300px; opacity:0} to {top:0; opacity:1}}
@keyframes animatetop {from {top:-300px; opacity:0}to {top:0; opacity:1}}
:host ::ng-deep .close {color: black;float: right;font-size: 29px;font-weight: 800;}
:host ::ng-deep .close:hover,.close:focus {color: #000;text-decoration: none;cursor: pointer;}
:host ::ng-deep .modal-pops-header {padding: 0px;}
:host ::ng-deep .modal-pops-body {padding: 2px 16px;}
:host ::ng-deep .modal-pops-footer {padding: 0px 0px 25px 0px;background-color: white;color: white;border: 0;}
:host ::ng-deep .but-1 {background: rgb(245, 111, 35);border-width: 0px;cursor: pointer;display: inline-block;padding: 7px 17px;text-align: center;text-decoration: none!important;vertical-align: middle;font-family:Arial;margin: 10px auto 0;color:white;font-size: 16px;}
:host ::ng-deep .a-button1-pop {width: 100%;margin: 0px auto;text-align: center;}
:host ::ng-deep .a-button-text {border: 0;display: block;font-family: Arial,sans-serif;font-size: 17px;line-height: 33px;outline: 0;padding: 2px 20px 2px 20px;text-align: center;white-space: nowrap;}
:host ::ng-deep .add-address-pop {width: 70%;margin: 0px auto;padding: 20px 30px 10px 30px;border-radius: 4px;display: grid;}
:host ::ng-deep #myForm {margin-bottom: 0px !important;}
:host ::ng-deep .inputdiv-pop label {width: 100%;font-size:16px;margin-bottom:0;font-family: Arial;font-weight: 600;}
:host ::ng-deep .inputdiv-pop input {-webkit-appearance: none;-moz-appearance: none;appearance: none;display: block;width: 100%;height: 43px;float: left;margin: 5px 0px;padding: 0px 11px;font-size: 14px;line-height: 3;color: #5f5f5f;background-color: #ffffff;background-image: none;
    border: 1px solid #d0d0d0;-ms-word-break: normal;word-break: normal;font-weight: normal;font-family:Arial;}
::placeholder {color: #9b9b9b;opacity: 1;}
@media (max-width: 768px) {
    :host ::ng-deep .modal-pops-content{width:80%;}
    :host ::ng-deep .modal {z-index: 9999; padding-top:20%;}
    :host ::ng-deep .add-address-pop {width: 100%;padding:20px 10px 10px 10px;}
}
:host ::ng-deep .error-message {
    color: red;
    font-size: 12px;
    font-weight: 400;
}