<div id="loginsubmit" class="modal">
    <div class="modal-dialog">       
      <!-- Modal content-->
      <div class="modal-content modal-pops-content">
        <div class="modal-header modal-pops-header">
          <button type="button" class="close" (click)="closemyModal_offer()">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body modal-pops-body">
          <div class="row">
           
              <div class="col-sm-12">
                
                <div class="loginbox" id="checkout-login" *ngIf="view==1">
         <div class="loginheading">Login to MyFlowerTree</div>
         <div id="resendotp_message" class="alert alert-success"  style="display:none;"><i class="fa fa-check-circle"></i> OTP sent to your registered email id & mobile. <button type="button" class="close" data-dismiss="alert">×</button>
         </div>
        
         <div class="row">
            <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
              <div class="col-md-12">
              <div class="loginborder">
                <input type="email" formControlName="login_email" class="loginemail testemail" value="" placeholder="Your Email Address" />
                <div id="error">
                    <span *ngIf="!loginForm.get('login_email').valid && loginForm.get('login_email').touched" class="error-message">
                    <span *ngIf="loginForm.get('login_email').errors['required']">Please Enter Email</span>
                    <span *ngIf="loginForm.get('login_email').errors['email']">Please Enter Valid Email</span>
                    </span>
                 </div>
                </div>
                <div class="loginborder" *ngIf="step==2">
                    <input type="password" formControlName="login_password" class="loginpass" id="loginpassword" placeholder="Your Password"/>
                </div>
                <span class="error1" id="login_pass_error"></span>
                <button *ngIf="step==1" [disabled]="!loginForm.valid" id="checklogin" type="submit" class="btn btn-danger btn-checkot margintop20">Continue</button>           
                <button *ngIf="step==2" id="checkloginsubmit" type="submit" class="btn btn-danger btn-checkot margintop20">Login</button>
                <button *ngIf="step==2" id="checkloginotp" type="button" class="btn btn-default btn-checkot margintop20" (click)="checkloginotp()">Login Without Password</button>
            </div>
            <span *ngIf="error!=''" class="error-message">{{error}}</span>
            </form>
              </div>  
      </div>
        <section id="checkoutregister" *ngIf="view==2">
        <div class="container-fluid containerhwlogin">
        <div class="row ">
        <div class="col-md-12">
            <div class="loginbox">
                <div class="loginheading">Signup For MyFlowerTree</div>
                
                <div class="row margintop20">
                    <form [formGroup]="signupForm" (ngSubmit)="submitSignupForm()">
                    <div class="col-md-12">
                    <div class="loginborder">
                        <input type="email" class="loginemail" formControlName="register_email" placeholder="Your Email Address" />
                    <span *ngIf="!signupForm.get('register_email').valid && signupForm.get('register_email').touched"
                        class="error-message">
                        <span *ngIf="signupForm.get('register_email').errors['required']">Please Enter Email</span>
                        <span *ngIf="signupForm.get('register_email').errors['email']">Please Enter Valid Email</span>
                    </span>
                        <input type="text" class="rloginpass" formControlName="register_name" placeholder="Your Name" />
                    <span *ngIf="!signupForm.get('register_name').valid && signupForm.get('register_name').touched"
                        class="error-message">
                        <span *ngIf="signupForm.get('register_name').errors['required']">Please Enter Name</span>          
                    </span>
                        <input type="password" class="rloginpass" formControlName="register_password" pattern="[789][0-9]{9}" placeholder="Choose Your Password">
                    <span *ngIf="!signupForm.get('register_password').valid && signupForm.get('register_password').touched"
                        class="error-message">
                        <span *ngIf="signupForm.get('register_password').errors['required']">Please Enter Password</span>          
                    </span>
                        <input type="number" class="mobileno" formControlName="register_telephone" placeholder="Mobile Number (For order status updates)" />
                    <span *ngIf="!signupForm.get('register_telephone').valid && signupForm.get('register_telephone').touched"
                        class="error-message">
                        <span *ngIf="signupForm.get('register_telephone').errors['required']">Please Enter phone number</span>
                    </span>
                        <div class="logingender">
                        <label class="register-gender-label">I'm a</label>
                        <input type="radio" class="register-gender-radio" id="male" formControlName="gender" value="Male" checked>
                        <label class="register-gender-label" for="male">Male</label>
                        <input type="radio" class="register-gender-radio" id="female" formControlName="gender" value="Female">
                        <label class="register-gender-label" for="female">Female</label>
                        </div>
                        </div>
                        
                        <button type="submit" id="checkout-user-register" class="btn btn-danger btn-checkot margintop20">Continue</button>           
                        <div class="loginbtmtxtctnr">
                        <div class="small center"> <span class="gray">Already have an account?</span><a class="glogin" (click) = "alreadyAUser()" id="loginregister"> login </a> </div>
                        </div>
                    </div>
                    </form>
                    </div>
            </div>
        </div>
        </div>
        </div>
        </section>
         
        

        <section id="checkout-login" *ngIf="view==3">
            <div class="container-fluid containerhwlogin">
              <div class="row">
              <div class="col-md-12">
                <div class="loginbox">
                  <div class="loginheading">Login to MyFlowerTree</div>
                  <div id="resendotp_message" class="alert alert-success"  style="display:none;"><i class="fa fa-check-circle"></i> OTP sent to your registered email id & mobile. <button type="button" class="close" data-dismiss="alert">×</button>
              </div>
                  
                  <div class="row">
                  <form [formGroup]="loginOTPForm" (ngSubmit)="submitLoginwithOTPForm()">
                    <div class="col-md-12">
                    <div class="loginborder" style="display:none;">
                      <input type="email" formControlName="login_OTP_email" class="loginemail testemail" value="" placeholder="Your Email Address" />
                      <div id="error">
                          <span *ngIf="!loginOTPForm.get('login_OTP_email').valid && loginOTPForm.get('login_OTP_email').touched" class="error-message">
                          <span *ngIf="loginOTPForm.get('login_OTP_email').errors['required']">Please Enter Email</span>
                          <span *ngIf="loginOTPForm.get('login_OTP_email').errors['email']">Please Enter Valid Email</span>
                          </span>
                       </div>
                      </div>
                    <div id="login-otp-block-msg-2"><div style="font-size: 13px;margin-bottom: 11px;">OTP sent on <span style="color:green;font-weight: bold;">{{telephone}}</span> and your <span style="color: green; font-weight: bold;"> email id</span></div></div>
                    <div class="loginborder">
                        <input type="password" maxlength="6" formControlName="login_otp_password" class="loginotp otpclass"
                        placeholder="Your Password" />          
                    </div>
                    <span *ngIf="!loginOTPForm.get('login_otp_password').valid && loginOTPForm.get('login_otp_password').touched"
                    class="error-message">Please Enter OTP</span>
                      <span class="error1" id="login_pass_error"></span>
                      <button [disabled]="!loginOTPForm.valid" id="submitloginotp" type="submit" class="btn btn-danger btn-checkot margintop20">Continue</button>
                      <div class="loginbtmtxtctnr"> <a href="javascript:void(0)" (click)="resendcheckloginotp()" id="resendcheckloginotp">Resend OTP </a> 
                    </div>
                  <span *ngIf="error!=''" class="error-message">{{error}}</span>
                
                    </div> 
          </form>			
                  </div>
                </div>
                </div>
              </div>
              </div>
          </section>
                
              </div>
            
          </div>
        </div>
        <div class="modal-footer modal-pops-footer">

        </div>
      </div>
    </div>
</div> 