#container {
    margin-top: 0px;
}
.col-sm-6 {
    width: 50%;
}
 .border-box {
    text-align: left;
    border-bottom-width: 1px;
    border-radius: 3px;
    border-style: dashed;
    border-color: #e4e4e4;
    line-height: 40px;
}
.col-xs-2 {
    width: 14.285%;
    float: left;
}
.bs-wizard {
    margin-top: 40px;
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px;
}
.bs-wizard >  .bs-wizard-step {
    padding: 0;
    position: relative;
}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #fbe8aa;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: " ";
    width: 14px;
    height: 14px;
    background: #fbbd19;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0;
    box-shadow: none;
    background: #fbe8aa;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width: 50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width: 0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 50%;
}
.bs-wizard > .bs-wizard-step:last-child > .progress {
    width: 50%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}
@media only screen and (max-width: 760px) {
    #container {
        margin-top: 80px;
    }
    .col-sm-6 {
        width: 100%;
    }
    .col-xs-2 {
        width: 50%;
        float: left;
    }
    .login-content > div {
        width: 100%;
    }
}
.track-form .input-wrap input {
    width: 271px;
    height: 45px;
    padding-left: 20px;
    margin: 3px;
}
.express-pro .express-data .delivery-notice{margin-left:10px !important;margin-right:10px !important;}


.canceled, .not-paid {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  color: red;
  padding-right: 5px;
}
.highlight-text {
    text-align: center;
    font-size: 18px;
}
.link {
    text-decoration: underline;
}

.btn-paynow {
    border: 1px solid;
    padding: 10px;
    font-size: 15px;
    margin-left: 5px;
}
.error-message {
    color: red;
    font-size: 12px;
    font-weight: 400;
}
@media screen and (max-width: 1024px)
{
    .mobile {
    
    padding:0px !important;
   
}
}



@media screen and (max-width: 768px){
    .track-form {padding: 20px !important;width:80%;}
    .track-form .input-wrap input{margin-bottom:0 !important;}
    .track-form .btn-pry{margin:0px 0px 20px 0px !important;}
    .input-wrap {padding-left: 0;}
    .input-group {margin: 0 !important;width: 100% !important;}
}
