<!-- <app-header></app-header> -->

 
      <link [href]="cssDy.trackcss" rel="stylesheet">
      <div id="container" class="container j-container">
         <div class="row">
            <div id="content" class="">
               <!-- your order tracking -->

               <div class="body-box cart-box track-box" *ngIf="formSubmitted">
                  <div class="row">
                        <div class="track-heading">Track Your Order. It's Easy.</div>
                        <div class="track-result">
                              <div class="order-no">
                                 <span class="title">Order Type :</span>
                                 <span class="order-id"> {{order_id}}</span>
                              </div>
                     
                              <div class="track-btn">
                                 <a routerLink="/track-order">Track again</a>
                              </div>
                        </div>
                        <div class="express-pro" *ngIf="express!=''">
                           <div class="title">Express Products :</div>
    
                           <div class="express-data">
                              <div [innerHTML]="trackhtml" ></div>
                           </div>
                        </div>

                        <div class="express-pro" *ngIf="courier!=''">
                           <div class="title">Courier Products :
                                  <!--  <div class="del-date">Delivery Date : <span class="date">20/jan/2019</span></div> -->
                           </div>
                   
                           <div class="express-data">
                              <div [innerHTML]="trackcourhtml" ></div>
                           </div>
                        </div>


                  </div>
               </div>

               
                  <div class="col-sm-12" style="width:100% !important; min-height:150px;" *ngIf="formSubmitted">                 
                   
                <div class="row seocontant" style="padding-bottom:100px;">          
                      <div class="col-md-12">
          <h2>Tracking FAQs</h2>
          <p><br></p>
          <p></p>
          <ul>
          <li><span style="font-weight: bold;">How will I know if my order is delivered?</span><br>You will get a delivery confirmation email and SMS, typically within 30 minutes of delivery. <br><br></li>
          <li><b>I opted for standard delivery, my order is not delivered within time bracket.</b><br>All efforts are made to deliver your order within preferred time, however, for some unavoidable reasons it may get delayed. <br><br></li>
          <li><span style="font-weight: bold;">What if my order is running delayed?</span><br>Early Morning, Fixed Time and Midnight orders are guaranteed to be delivered within the specific time slot.<br>The standard slots may experience rare delays.<br><br></li>
          <li><span style="font-weight: bold;">I ordered for midnight, it still shows out for delivery</span><span style="font-weight: 700;"><br></span>Midnight orders are updated next morning at 9 am. Your delivery may have been completed in the meanwhile.<br><br></li>
          <li><span style="font-weight: bold;">Can I get delivery boy's contact number?</span><span style="font-weight: 700;"><br></span>Unfortunately not, our riders are driving throughout the day and we prefer connecting to them by system paging. <br><br></li>
          <li><span style="font-weight: bold;">Can I know exactly where my order is?</span><span style="font-weight: 700;"><br></span>We don't offer live tracking of orders.</li>
          </ul>
                      </div>
                </div>   
                   
                   
                  </div>

               
                <div *ngIf="!formSubmitted">                   
                  <form [formGroup]="trackorderForm" (ngSubmit)="submittrackForm()">
                     <div class="body-box cart-box track-box">
                        <div class="row">
                           <div class="track-heading">Track Your Order. It's Easy.</div>
                           <div class="track-form">
                              <p class="red small">{{errormsg}}</p>
                              <div class="input-wrap">
                                 <p></p>
                                 <div class="input-group" style="margin: 0 20px 10px;width: 200px; float: left;">
                                    <input type="number" formControlName="orderid" placeholder="Order Number" />
                                   <div class="error-message" style=" text-align: left; width: 100%; color: #cc0033;display: inline-block;font-size: 12px;line-height: 15px;margin: 5px 0 0;">
                                    <span *ngIf="!trackorderForm.get('orderid').valid && trackorderForm.get('orderid').touched" class="error-message">
                                       <span *ngIf="trackorderForm.get('orderid').errors['required']">Please Enter Order Id</span>
                                    </span>
                                   </div>
                                   </div>

                                   <div class="input-group" style="margin: 0 20px 10px;width: 200px;">
                                    <input type="text" formControlName="email" placeholder="Email Address" />
                                    <div class="error-message" style=" text-align: left; width: 100%; color: #cc0033;display: inline-block;font-size: 12px;line-height: 15px;margin: 5px 0 0;">
                                    <span *ngIf="!trackorderForm.get('email').valid && trackorderForm.get('email').touched" class="error-message">
                                       <span *ngIf="trackorderForm.get('email').errors['required']">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Please Enter Email</span>
                                       <span *ngIf="trackorderForm.get('email').errors['email']">Please Enter Valid Email</span>
                                   </span>
                                   </div>
                                   </div>
                                   
<!--                                    
                                 <input type="number" formControlName="orderid" placeholder="Order Number" />
                                 <input type="text" formControlName="email" placeholder="Email Address" /> -->
                                 
                              </div>
                                 
                                 
                              <input style="margin-top:15px;" type="submit" value="Track My Order" class="btn-pry btn-pp btn-danger" />
                           </div>
                        </div>
                     </div>
                  </form>
               </div>


<div class="row" style="margin-top:20px;" *ngIf="bannerlink !=''">
   <div class="track-heading">Upcoming Occasion</div>
  <div class="col-md-12">
     <a target="_blank" routerLink="{{bannerlink}}" [queryParams]="{utm_source:'trackorder',utm_medium:'Banner'}"><img alt="{{bannerTitle}}"  [src]="bannerImage" width="100%"></a>
  </div>
  </div>
  <div class="row" style="margin-top:20px;" *ngIf="bannerlink ==''">
	<div class="col-md-12">
		<a target="_blank" routerLink="/" [queryParams]="{utm_source:'trackorder',utm_medium:'Banner'}"><img src="{{CDN_PATH}}product-image/banners-2019/1550310973flowers-n-cakes-1440x400.jpg" width="100%"></a>
	</div>
	</div>




            </div>
         </div>

      </div>
      <!-- <app-footer></app-footer> -->