:host ::ng-deep #container {
    margin-top: 120px;
}
:host ::ng-deep .heading-title {
    margin-top: 0px;
}
@media only screen and (max-width: 760px) {
    :host ::ng-deep #container {
        margin-top: 40px;
    }
}


:host ::ng-deep .fc-widget-small{display:none;}
:host ::ng-deep body {
 background-color: #ffffff;
}
:host ::ng-deep .main-div-bg {
   width:100%;
   display:inline-block;
}
:host ::ng-deep .order-box {
   width:80% !important;
   display:inline-block;
}
:host ::ng-deep ul.breadcrumb {
 padding: 10px 16px;
 list-style: none;
}
:host ::ng-deep ul.breadcrumb li {
 display: inline;
 font-size:14px;
 font-family:Arial;
}
:host ::ng-deep ul.breadcrumb li+li:before {
 padding: 8px;
 color: black;
 content: "/\00a0";
}
:host ::ng-deep ul.breadcrumb li a {
 color: #0275d8;
 text-decoration: none;
 font-size:14px;
 font-family:Arial;
}
:host ::ng-deep ul.breadcrumb li a:hover {
 color: #01447e;
 text-decoration: underline;
}
:host ::ng-deep .tabs {
 width: 100%;
 float: left;
 list-style: none;
 padding: 0;
 margin: 10px auto;
}
:host ::ng-deep .search-filter {
 float: right;
}
:host ::ng-deep .tabs:after {
 content: '';
 display: table;
 clear: both;
}
:host ::ng-deep .tabs input[type=radio] {
 display:none;
}
:host ::ng-deep .product-1 {
background: #f1f1f1;
 width: 100%;
 display:inline-block;
 border-bottom: 1px solid #dedede;
}
:host ::ng-deep .product-12 {
background: #f7f7f7;
 width: 100%;
 display:inline-block;
}
:host ::ng-deep .product-img {
width:20%;
float:left;
display:inline-block;
}
:host ::ng-deep .product-img img {
width:100%;
}
:host ::ng-deep .product-detail {

 width: 80%;
 padding: 20px;
 float: left;
 margin: auto;
 display: table;

}
:host ::ng-deep .product-detail a {
display: table-cell;
 vertical-align: middle;
}
:host ::ng-deep .product-detail a p {
font-size:18px;
color: #3a3a3a;
}
:host ::ng-deep .product-detail a p:hover{
text-decoration: none;
}
:host ::ng-deep .product-detail a:hover {
 text-decoration: none;
}
:host ::ng-deep .tabs label {
 display: block;
 float: left;
 width: 21.3333%;
 color: #878787;
 font-size: 21px;
 font-weight: normal;
 text-decoration: none;
 text-align: center;
 line-height: 2;
 cursor: pointer;
 -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
 transition: all 0.5s;
 font-family: sans-serif;
 margin-bottom: 0px !important;
}

:host ::ng-deep .tabs label i {
 padding: 5px;
 margin-right: 0;
}
:host ::ng-deep .tabs label:hover {
 color: #3498db;
 
}
:host ::ng-deep .tab-content h3 {
text-align:center;
}
:host ::ng-deep .tab-content {
 display: none;
 width: 100%;
 float: left;
 padding: 15px;
 box-sizing: border-box;
 border-top: 1px solid #eaeaea;
 background:#ffffff;
}


:host ::ng-deep .tab-content * {
 -webkit-animation: scale 0.7s ease-in-out;
 -moz-animation: scale 0.7s ease-in-out;
 animation: scale 0.7s ease-in-out;
}
:host ::ng-deep .search-filter input[type=text] {
width: 260px;
box-sizing: border-box;
font-size: 16px;
/*background: url(images/searchicon.png);*/
background-position: 10px 10px; 
background-repeat: no-repeat;
padding: 10px 20px 10px 40px;
-webkit-transition: width 0.4s ease-in-out;
transition: width 0.4s ease-in-out;
}


:host ::ng-deep .search-filter a span {
padding: 10px 11px;
 border-left: 1px solid lightgrey;
 font-size:17px;
}
:host ::ng-deep .fa-angle-right:before {
 content: "\f105";
 font-size:17px;
}
:host ::ng-deep .main-div-bg h2 {
display: inline-block;
width:100%;
width:100%;
font-weight: 600;
font-size: 30px;
}
@keyframes scale {
0% {
 transform: scale(0.9);
 opacity: 0;
 }
50% {
 transform: scale(1.01);
 opacity: 0.5;
 }
100% {
 transform: scale(1);
 opacity: 1;
}
}
:host ::ng-deep .tabs [id^="tab"]:checked + label {
 border-bottom: 3px solid #db3439;
 color: #333333;
}
:host ::ng-deep #tab1:checked ~ #tab-content1,
:host ::ng-deep #tab2:checked ~ #tab-content2,
:host ::ng-deep #tab3:checked ~ #tab-content3 {
 display: block;
}
@media (max-width: 768px) {
    :host ::ng-deep .main-div-bg {
 width: 100%;}
 :host ::ng-deep .order-box {
   width:100% !important;
}
:host ::ng-deep .tabs i {
   padding: 5px;
   margin-right: 10px;
   }
   :host ::ng-deep .tabs label span {
   display: inline-block;
   }
   :host ::ng-deep .tabs {
   max-width: 1180px;
   margin: 10px auto;
   }

   :host ::ng-deep .tabs label {
   font-size: 18px;
   width: 33%;}
   :host ::ng-deep .tabs label span {
   font-size: 16px;
   }
   :host ::ng-deep .product-detail {
   padding: 8px 20px;
   width:70%;}
   :host ::ng-deep .product-img {
   width: 30%;}
   :host ::ng-deep .search-filter {
   margin-top: 20px;
    width:100%;}
    :host ::ng-deep .search-filter input[type=text] {
 width: 214px;}
 :host ::ng-deep .product-detail a p {
 margin: 0;
}
:host ::ng-deep .cat-body-box {
 margin: 60px auto 20px !important;
}
:host ::ng-deep .breadcrumb {
display:block !important;
}
}


