   <body>
      <div class="cat-body-box">
      <div class="container">
         <div id="breadcrumb">
            <ul class="breadcrumb">
            <li><a routerLink="/account">Your Account</a></li>
            <li>Your Orders</li>
            </ul>
            </div>
      <div class="main-div-bg">
       <h2>Your Order</h2>
       </div>
      <div class="tabs order-box">
           <input type="radio" name="tabs" id="tab1" [checked]="url=='order'">
          <label for="tab1">
              <span>Your Orders</span>
          </label>   
          <input type="radio" name="tabs" id="tab2" [checked]="url=='buy-again'">
          <label for="tab2">
              <span>Buy Again</span>
          </label>
          <div id="tab-content1" class="tab-content">
            <div *ngFor="let sub of orders">
            <div class="product-1" >
                 <div class="product-detail">
                    Order ID: #{{sub.order_id}}
                 </div>
              </div>
            <div class="product-1" *ngFor="let suborder of sub.suborders">
                 <div class="product-img">
                    <img loading="lazy"  [src]="suborder.image" data-src="{{suborder.image}}">
                 </div>
                 <div class="product-detail">
               <a routerLink="/orders/info/{{sub.order_id}}/{{suborder.sub_order_id}}">
                  <p>{{suborder.product_name}}<i style="float:right;" class="fa fa-angle-right"></i></p>
                  
	        			<!--<span *ngIf="(suborder.order_status_message=='1')">Delivery Attempted </span>-->
               </a>               
                 </div>
              </div>  
            </div>  
          </div>
          <div id="tab-content2" class="tab-content">
              
            <div *ngFor="let sub of orders">
               <div class="product-1" *ngFor="let suborder of sub.suborders">
                    <div class="product-img">
                       <img loading="lazy"  [src]="suborder.image" data-src="{{suborder.image}}">
                    </div>
                    <div class="product-detail">
                  <a href = "/{{suborder.phref}}" target="_blank">
                  <p>{{suborder.product_name}}<i style="float:right;" class="fa fa-angle-right"></i></p>
                  <span>Buy Again</span>
                  </a>				
                    </div>
                    </div>
                 </div>             
             </div>
       </div>  
   </div>
   </div>
   </body> 
   <!-- <app-footer></app-footer> -->
