 .sitemap-box{margin-top:0px;}
 ul{margin-top:15px; color:black;}
 ul li{margin-top:2px; color:black; list-style:none;}
 ul li a{text-decoration:none; color:#333333; font-weight:bold;}
 ul li ul{margin-top:2px; color:black; margin-left:20px;  list-style:none;}
 ul li ul li a{text-decoration:none; color:#666; font-weight:normal;}
@media only screen and (max-width: 767px) {
     .sitemap-box{margin-top:80px;}
     ul li ul{margin-top:5px; color:black; margin-left:20px;  list-style:none;}
     .sitemap-info{padding:10px;}
}