
 <!-- <app-header></app-header>    -->
    
    <div class="body-box sitemap-box">
    
    <div id="content" >
          <h1 class="heading-title">Site Map</h1>
          
          <div class="row sitemap-info">
            <div class="col-sm-6 left">
              <ul>
                
                <li *ngFor="let cate of categories">
                    <a routerLink="/category/{{cate.href}}">{{cate.name}}</a>
                    <ul *ngIf="cate.children">
                        <li *ngFor="let cate1 of cate.children">
                            <a routerLink="/category/{{cate1.href}}">{{cate1.name}}</a>
                            <ul *ngIf="cate1.children">
                                <li *ngFor="let cate2 of cate1.children">
                                    <a routerLink="/category/{{cate2.href}}">{{cate2.name}}</a>
                                    <ul *ngIf="cate2.children">
                                        <li *ngFor="let cate3 of cate2.children">
                                            <a routerLink="/category/{{cate3.href}}">{{cate3.name}}</a>
                                            <ul *ngIf="cate3.children">
                                                <li *ngFor="let cate4 of cate3.children">
                                                    <a routerLink="/category/{{cate4.href}}">{{cate4.name}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                
              </ul>
            </div>
            <div class="col-sm-6 right">
                <ul>
                  <li><a href="#">Special Offers</a></li>
                  <li><a href="#">My Account</a>
                    <ul>
                      <li><a href="#">Account Information</a></li>
                      <li><a href="#">Password</a></li>
                      <li><a href="#">Address Book</a></li>
                      <li><a href="#">Order History</a></li>
                      <li><a href="#">Downloads</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Shopping Cart</a></li>
                  <li><a href="#">Checkout</a></li>
                  <li><a href="#">Search</a></li>
                  <li>Information
                    <ul>
                      
                        <li *ngFor="let infor of information">
                            <a routerLink="{{infor.href}}">
                               {{infor.title}}
                            </a>
                        </li>
                      
                      <li><a href="#">Contact Us</a></li>
                    </ul>
                  </li>
                  
                </ul>
              </div>
          </div>
          </div>
          </div>
          <!-- <app-footer></app-footer> -->
        