    <div class="body-box not-found-box">
    <ul class="breadcrumb">
        <li itemscope="" itemtype="https://data-vocabulary.org/Breadcrumb"> <a routerLink="/" itemprop="url"> <span itemprop="title"> Home</span> </a> </li>
        <li> <span> 404 </span> </li>
      </ul>
    <h2 style="margin-top:20px;">We're sorry, we couldn't find an exact match to your search query.</h2>
          <h3 style="margin-top:10px;">But we have, awesome products to make your loved ones happy.</h3>
          <div class="row">
          <div class="col-md-3"><a routerLink="/flowers"> <img loading="lazy"  src="{{CDN_PATH}}2020/404/bannerbot-1.jpg" alt="Flowers"></a></div>
          <div class="col-md-3"><a routerLink="/cakes"> <img loading="lazy"  src="{{CDN_PATH}}2020/404/bannerbot-2.jpg" alt="Cakes"></a></div>
          <div class="col-md-3"> <a routerLink="/gifting"><img loading="lazy"  src="{{CDN_PATH}}2020/404/bannerbot-3.jpg" alt="Gifts"></a></div>
          <div class="col-md-3"><a routerLink="/"> <img loading="lazy"  src="{{CDN_PATH}}2020/404/bannerbot-4.jpg" alt="Go To Home"></a><strong></strong></div>
          
          </div>