<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>

<link [href]="cssDy.faviconpng" rel="icon" />
<link [href]="cssDy.bootstrapMin" rel="stylesheet">
<link [href]="cssDy.customCss" rel="stylesheet">
<link [href]="cssDy.responsiveCss" rel="stylesheet">
<link rel="stylesheet" [href]="cssDy.fontAwsCss" media="all" />
</head>
<body>

<header>
  <div class="row">
    <nav class="navbar navbar-default navbar-fixed-top padding10 headertopshadow">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3  col-xs-4"><a routerLink="/"> <img src="{{CDN_PATH}}live-new/images/logolive.png" width="100" /></a> </div>
            <div class="col-md-6 col-xs-8" id="msform">
              
            </div>
            <div class="col-md-3 pull-right hidden-xs"> <img class="pull-right" src="{{CDN_PATH}}live-new/images/secure-payment.png" width="150" /> </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>


<section id="checkout-login" *ngIf="view==1">
  <div class="container-fluid containerhwlogin">
    <div class="row">
    <div class="col-md-12">
      <div class="loginbox">
        <div class="loginheading">Login to MyFlowerTree</div>
        <div id="resendotp_message" class="alert alert-success"  style="display:none;"><i class="fa fa-check-circle"></i> OTP sent to your registered email id & mobile. <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
        <div class="logintext">EASILY USING</div>
        <div class="row margintop20">
          <div class="col-md-6 col-xs-6">            
            <a href="javascript:void(0)" (click)="socialSignIn('facebook')" class="btn btn-fb col-xs-12 col-md-12" ><span class="fb"><i class="fa fa-facebook"></i></span> <span class="fmToggleSocialText">Facebook</span></a>
          </div>
          <div class="col-md-6 col-xs-6">
		  <a href="javascript:void(0)" (click)="socialSignIn('google')" class="btn btn-google-plus-auth col-xs-12 col-md-12"><span class="gp"><i class="fa fa-google-plus"></i></span> <span class="fmToggleSocialText"> Google</span></a>
        </div>
        </div>
        <div class="logintext1">- OR USING EMAIL -</div>
        <div class="row">
        <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
          <div class="col-md-12">
          <div class="loginborder">
            <input type="email" formControlName="login_email" class="loginemail testemail" value="" placeholder="Your Email Address" />
            <div id="error">
                <span *ngIf="!loginForm.get('login_email').valid && loginForm.get('login_email').touched" class="error-message">
                <span *ngIf="loginForm.get('login_email').errors['required']">Please Enter Email</span>
                <span *ngIf="loginForm.get('login_email').errors['email']">Please Enter Valid Email</span>
                </span>
             </div>
            </div>
            <div class="loginborder" *ngIf="step==2">
                <input type="password" formControlName="login_password" class="loginpass" id="loginpassword" placeholder="Your Password"/>
            </div>
			<span class="error1" id="login_pass_error"></span>
            <button *ngIf="step==1" [disabled]="!loginForm.valid" id="checklogin" type="submit" class="btn btn-danger btn-checkot margintop20">Continue</button>           
            <button *ngIf="step==2" id="checkloginsubmit" type="submit" class="btn btn-danger btn-checkot margintop20">Login</button>
            <button *ngIf="step==2" id="checkloginotp" type="button" class="btn btn-default btn-checkot margintop20" (click)="checkloginotp()">Login Without Password</button>
        </div>
        <span *ngIf="error!=''" class="error-message">{{error}}</span>
        </form>
          </div>          
        </div>
      </div>
      </div>
    </div>
</section>

<section id="checkoutregister" *ngIf="view==2">
  <div class="container-fluid containerhwlogin">
    <div class="row ">
    <div class="col-md-12">
      <div class="loginbox">
        <div class="loginheading">Signup For MyFlowerTree</div>
        <div class="logintext">EASILY USING</div>
        <div class="row margintop20">
          <div class="col-md-6 col-xs-6">
            <button style="padding-top:5px;" class="btn btn-fb col-xs-12 col-md-12" ><span class="fb"><i class="fa fa-facebook"></i></span> <span class="fmToggleSocialText">Facebook</span></button>
          </div>
          <div class="col-md-6 col-xs-6">
            <button style="padding-top:5px;" class="btn btn-google-plus-auth col-xs-12 col-md-12" ><span class="gp"><i class="fa fa-google-plus"></i></span> <span class="fmToggleSocialText"> Google</span></button>
          </div>
        </div>
        <div class="logintext1">- OR USING EMAIL -</div>
        <div class="row margintop20">
        <form [formGroup]="signupForm" (ngSubmit)="submitSignupForm()">
          <div class="col-md-12">
          <div class="loginborder">
            <input type="email" class="loginemail" formControlName="register_email" placeholder="Your Email Address" />
        <span *ngIf="!signupForm.get('register_email').valid && signupForm.get('register_email').touched"
            class="error-message">
            <span *ngIf="signupForm.get('register_email').errors['required']">Please Enter Email</span>
            <span *ngIf="signupForm.get('register_email').errors['email']">Please Enter Valid Email</span>
        </span>
			<input type="text" class="rloginpass" formControlName="register_name" placeholder="Your Name" />
        <span *ngIf="!signupForm.get('register_name').valid && signupForm.get('register_name').touched"
            class="error-message">
            <span *ngIf="signupForm.get('register_name').errors['required']">Please Enter Name</span>          
        </span>
            <input type="password" class="rloginpass" formControlName="register_password" pattern="[789][0-9]{9}" placeholder="Choose Your Password">
        <span *ngIf="!signupForm.get('register_password').valid && signupForm.get('register_password').touched"
            class="error-message">
            <span *ngIf="signupForm.get('register_password').errors['required']">Please Enter Password</span>          
        </span>
            <input type="number" class="mobileno" formControlName="register_telephone" placeholder="Mobile Number (For order status updates)" />
        <span *ngIf="!signupForm.get('register_telephone').valid && signupForm.get('register_telephone').touched"
            class="error-message">
            <span *ngIf="signupForm.get('register_telephone').errors['required']">Please Enter phone number</span>
        </span>
            <div class="logingender">
              <label class="register-gender-label">I'm a</label>
              <input type="radio" class="register-gender-radio" id="male" formControlName="gender" value="Male" checked>
              <label class="register-gender-label" for="male">Male</label>
              <input type="radio" class="register-gender-radio" id="female" formControlName="gender" value="Female">
              <label class="register-gender-label" for="female">Female</label>
            </div>
            </div>
            
            <button type="submit" id="checkout-user-register" class="btn btn-danger btn-checkot margintop20">Continue</button>           
            <div class="loginbtmtxtctnr">
              <div class="small center"> <span class="gray">Already have an account?</span><a class="glogin" (click) = "alreadyAUser()" id="loginregister"> login </a> </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>



<section id="checkout-login" *ngIf="view==3">
    <div class="container-fluid containerhwlogin">
      <div class="row">
      <div class="col-md-12">
        <div class="loginbox">
          <div class="loginheading">Login to MyFlowerTree</div>
          <div id="resendotp_message" class="alert alert-success"  style="display:none;"><i class="fa fa-check-circle"></i> OTP sent to your registered email id & mobile. <button type="button" class="close" data-dismiss="alert">×</button>
      </div>
          <div class="logintext">EASILY USING</div>
          <div class="row margintop20">
            <div class="col-md-6 col-xs-6">            
              <a href="javascript:void(0)"  class="btn btn-fb col-xs-12 col-md-12" ><span class="fb"><i class="fa fa-facebook"></i></span> <span class="fmToggleSocialText">Facebook</span></a>
            </div>
            <div class="col-md-6 col-xs-6">
            <a href="javascript:void(0)" class="btn btn-google-plus-auth col-xs-12 col-md-12"><span class="gp"><i class="fa fa-google-plus"></i></span> <span class="fmToggleSocialText"> Google</span></a>
          </div>
          </div>
          <div class="logintext1">- OR USING EMAIL -</div>
          <div class="row">
          <form [formGroup]="loginOTPForm" (ngSubmit)="submitLoginwithOTPForm()">
            <div class="col-md-12">
            <div class="loginborder" style="display:none;">
              <input type="email" formControlName="login_OTP_email" class="loginemail testemail" value="" placeholder="Your Email Address" />
              <div id="error">
                  <span *ngIf="!loginOTPForm.get('login_OTP_email').valid && loginOTPForm.get('login_OTP_email').touched" class="error-message">
                  <span *ngIf="loginOTPForm.get('login_OTP_email').errors['required']">Please Enter Email</span>
                  <span *ngIf="loginOTPForm.get('login_OTP_email').errors['email']">Please Enter Valid Email</span>
                  </span>
               </div>
              </div>
            <div id="login-otp-block-msg-2"><div style="font-size: 13px;margin-bottom: 11px;">OTP sent on <span style="color:green;font-weight: bold;">{{telephone}}</span> and your <span style="color: green; font-weight: bold;"> email id</span></div></div>
            <div class="loginborder">
                <input type="password" maxlength="6" formControlName="login_otp_password" class="loginotp otpclass"
                placeholder="Your OTP" />          
            </div>
            <span *ngIf="!loginOTPForm.get('login_otp_password').valid && loginOTPForm.get('login_otp_password').touched"
            class="error-message">Please Enter OTP</span>
              <span class="error1" id="login_pass_error"></span>
              <button [disabled]="!loginOTPForm.valid" id="submitloginotp" type="submit" class="btn btn-danger btn-checkot margintop20">Continue</button>
              <div class="loginbtmtxtctnr"> <a href="javascript:void(0)" (click)="resendcheckloginotp()" id="resendcheckloginotp">Resend OTP </a> 
            </div>
          <span *ngIf="error!=''" class="error-message">{{error}}</span>
        
            </div> 
  </form>			
          </div>
        </div>
        </div>
      </div>
	  </div>
  </section>
<div id="resultLoading" style="width: 100%; height: 100%; position: fixed; z-index: 10000000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; display:none;"><div style="width: 250px; height: 75px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; font-size: 16px; z-index: 10; color: rgb(255, 255, 255);">
<img src="{{CDN_PATH}}live-new/images/full_page_loader.gif"><div></div></div><div class="bg" style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div></div>
<footer class="footer">
  <div class="navbar-fixed-bottom navbar navbar-default padding10">
    <div class="container">
      <div class="pull-left hidden-xs"><img src="{{CDN_PATH}}live-new/images/footerpayment.png" width="450" /> </div>
      <div class="pull-right footerhelp">Need Help? <a routerLink="/cs">CLICK HERE</a></div>
    </div>
  </div>
</footer>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  -->
<!-- <script [src]="cssDy.bootMin"></script> -->