:host::ng-deep .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    display: inline-table;
}

:host::ng-deep .regpas-error-icon {
    border: 2px solid #ee5f73;
    top: 114px;
    border-radius: 55%;
}
:host::ng-deep  #login-captcha-div{margin-top:15px;}
:host::ng-deep #login-captcha-div input {
    margin-top: 6px;
    margin-left: 10px;
    border: 1px solid #ccc;
    height: 34px;
    border-radius: 3px;
    width: 100;
}
:host::ng-deep #login_captcha_error{display:table;color:red;margin-top:10px;}
:host::ng-deep #login_pass_error{color:red;}



:host::ng-deep #signup-captcha-div{margin-top:15px;}
:host::ng-deep #signup-captcha-div input {
    margin-top: 6px;
    margin-left: 10px;
    border: 1px solid #ccc;
    height: 34px;
    border-radius: 3px;
    width: 100;
}
:host::ng-deep #signup_captcha_error{display:table;color:red;margin-top:10px;}
:host::ng-deep input[type=radio] {
    margin: 2px 2px 0;
    float: left;
}
:host::ng-deep .logingender label {
    float: left;
}
