<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>

<link [href]="cssDy.faviconpng" rel="icon" />
<link [href]="cssDy.bootstrapMin" rel="stylesheet">
<link [href]="cssDy.customCss" rel="stylesheet">
<link [href]="cssDy.responsiveCss" rel="stylesheet">
<link [href]="cssDy.fontAwsCss" rel="stylesheet" media="all" />
</head>
<body>
<header>
  <div class="row">
    <nav class="navbar navbar-default navbar-fixed-top padding10 headertopshadow">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3  col-xs-4"><a routerLink="/"> <img loading="lazy"  src="{{CDN_PATH}}live-new/images/logolive.png" width="100" /></a> </div>
            <div class="col-md-6 col-xs-8" id="msform">
              
            </div>
            <div class="col-md-3 pull-right hidden-xs"> <img loading="lazy"  class="pull-right" src="{{CDN_PATH}}live-new/images/secure-payment.png" width="150" /> </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<section id="checkoutregister">
  <div class="container-fluid containerhwlogin">
    <div class="row ">
    <div class="col-md-12">
      <div class="loginbox">
        <div class="loginheading">Signup For MyFlowerTree</div>
        <div class="logintext">EASILY USING</div>

        <div class="row margintop20 flodiv">
        <form [formGroup]="floristsignupForm" (ngSubmit)="submitSignupForm()">
          <div class="col-md-12">
          <div class="loginborder">
            <input type="email" class="loginemail" formControlName="register_email" placeholder="Your Email Address" />
        <span *ngIf="!floristsignupForm.get('register_email').valid && floristsignupForm.get('register_email').touched"
            class="error-message">
            <span *ngIf="floristsignupForm.get('register_email').errors['required']">Please Enter Email</span>
            <span *ngIf="floristsignupForm.get('register_email').errors['email']">Please Enter Valid Email</span>
        </span>
        <!-- <span *ngIf="alreadymsg">

        </span> -->
			<input type="text" class="rloginpass" formControlName="register_name" placeholder="Your Name" />
        <span *ngIf="!floristsignupForm.get('register_name').valid && floristsignupForm.get('register_name').touched"
            class="error-message">
            <span *ngIf="floristsignupForm.get('register_name').errors['required']">Please Enter Name</span>          
        </span>
            <input type="password" class="rloginpass" formControlName="register_password" placeholder="Choose Your Password">
        <span *ngIf="!floristsignupForm.get('register_password').valid && floristsignupForm.get('register_password').touched"
            class="error-message">
            <span *ngIf="floristsignupForm.get('register_password').errors['required']">Please Enter Password</span>          
        </span>
        <input type="text" class="rloginpass" formControlName="company_name" placeholder="Enter Company Name">
        <span *ngIf="!floristsignupForm.get('company_name').valid && floristsignupForm.get('company_name').touched"
            class="error-message">
            <span *ngIf="floristsignupForm.get('company_name').errors['required']">Please Enter Company Name</span>          
        </span>
        <textarea class="rloginpass" formControlName="full_address" placeholder="Please Enter Address" style=" width: 100%; border: 0; border-top: 1px solid #ccc; padding: 5px; font-size: 13px; padding-left:10px"></textarea>
        <span *ngIf="!floristsignupForm.get('full_address').valid && floristsignupForm.get('full_address').touched"
            class="error-message">
            <span *ngIf="floristsignupForm.get('full_address').errors['required']">Please Enter Your Address</span>          
        </span>

        <input type="text" class="rloginpass" formControlName="pin_code" placeholder="Enter Pin code">
        <span *ngIf="!floristsignupForm.get('pin_code').valid && floristsignupForm.get('pin_code').touched"
            class="error-message">
            <span *ngIf="floristsignupForm.get('pin_code').errors['required']">Please Enter Pincode</span>          
        </span>

        <input type="text" class="rloginpass" formControlName="gst_number" placeholder="Enter GST Number">
        <span *ngIf="!floristsignupForm.get('gst_number').valid && floristsignupForm.get('gst_number').touched"
            class="error-message">
            <span *ngIf="floristsignupForm.get('gst_number').errors['required']">Please Enter GST Number</span>          
        </span>

        <input type="text" class="rloginpass" formControlName="bank_detail" placeholder="Enter Bank Details (Including IFSC Code)">
        <span *ngIf="!floristsignupForm.get('bank_detail').valid && floristsignupForm.get('bank_detail').touched"
            class="error-message">
            <span *ngIf="floristsignupForm.get('bank_detail').errors['required']">Please Enter Bank Detail</span>          
        </span>


            <input type="number" class="mobileno" formControlName="register_telephone" placeholder="Mobile Number (For order status updates)" />
        <span *ngIf="!floristsignupForm.get('register_telephone').valid && floristsignupForm.get('register_telephone').touched"
            class="error-message">
            <span *ngIf="floristsignupForm.get('register_telephone').errors['required']">Please Enter phone number</span>
        </span>

        <input type="text" class="rloginpass" formControlName="contact_person" placeholder="Enter Contact Person">
        <span *ngIf="!floristsignupForm.get('contact_person').valid && floristsignupForm.get('contact_person').touched"
            class="error-message">
            <span *ngIf="floristsignupForm.get('contact_person').errors['required']">Please Enter Contact Person</span>          
        </span>

        
            <div class="logingender" style="height:80px; padding-left:15px;">
              <label class="register-gender-label"></label>
              <input type="radio" class="register-gender-radio" id="male" formControlName="service_speciality" value="Baker" checked>
              <label class="register-gender-label" for="male">We have a cake kitchen and bake our self</label>
              <br>
              <input type="radio" class="register-gender-radio" id="female" formControlName="service_speciality" value="Default">
              <label class="register-gender-label" for="female">We source from Bakeries</label>
            </div>
            </div>
            
            <button type="submit" id="checkout-user-register" class="btn btn-danger btn-checkot margintop20">Continue</button>           
            <!-- <div class="loginbtmtxtctnr">
              <div class="small center"> <span class="gray">Already have an account?</span><a class="glogin" (click) = "alreadyAUser()" id="loginregister"> login </a> </div>
            </div> -->
          </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>


<div id="resultLoading" style="width: 100%; height: 100%; position: fixed; z-index: 10000000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; display:none;"><div style="width: 250px; height: 75px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; font-size: 16px; z-index: 10; color: rgb(255, 255, 255);">
<img loading="lazy"  src="{{CDN_PATH}}live-new/images/full_page_loader.gif"><div></div></div><div class="bg" style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div></div>
<footer class="footer">
  <div class="navbar-fixed-bottom navbar navbar-default padding10">
    <div class="container">
      <div class="pull-left hidden-xs"><img loading="lazy"  src="{{CDN_PATH}}live-new/images/footerpayment.png" width="450" /> </div>
      <div class="pull-right footerhelp">Need Help? <a routerLink="/cs">CLICK HERE</a></div>
    </div>
  </div>
</footer>