/* You can add global styles to this file, and also import other style files */
:host ::ng-deep  .datepicker-inline {
    width: 100% !important;
 }
 :host ::ng-deep  .datepicker table {width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
 }
 :host ::ng-deep  .delivertimebox1 .modal-content {
    width: 50%;
    max-width: 600px;
 }
 :host ::ng-deep .table-condensed>tbody>tr>td.disabled{
   color: #cccccc !important;
 }
 
 :host ::ng-deep  .table-condensed>tbody>tr>td.day
 {border: 1px solid #cccccc;
    background: white;
    font-weight: bold;
    color: #333;
    line-height: 58px;}
 
    :host ::ng-deep  .table-condensed>tbody>tr>td.active{
 border: 1px solid #1e905b!important;
    background: #1e905b!important;
    font-weight: 700;
    color: #fff;
    border-radius: 0px;
 }
 :host ::ng-deep .close.calendarClose {
    position: absolute;
    right: 10px;
    font-size: 3em;
    font-weight: lighter;
    color: #868686;
    opacity: 1;
    top: 5px;
 }

 :host ::ng-deep #deliverydatemodal .modal-content {
   margin: auto;
}

:host ::ng-deep .datepicker table tr td.new { height: 0; line-height: 0; visibility: hidden; }
:host ::ng-deep .datepicker table tr td.old { height: 0; line-height: 0; visibility: hidden; border-top: 0px; }

:host ::ng-deep .modal {
   display: none;
   position: fixed;
   padding-top: 100px;
   left: 0;
   top: 0 !important;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
}
:host ::ng-deep .modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 50%;
   }


   :host ::ng-deep #deliverydatemodal_Courier .modal-content {
      margin: auto;
      max-width: 600px;
      
  }
 :host ::ng-deep #delivertimebox_courier .modal-content {
   width: 50%;
   max-width: 600px;
      
  }
  
  :host ::ng-deep .delivertimebox_courier .modal-header h4{
   text-align: center;
   font-size: 24px;
}
:host ::ng-deep #delivertimebox_courier {
   padding-top: 10px;
}
  




@media (max-width: 767px)
{
   :host ::ng-deep #deliverydatemodal_Courier .modal-content {
      height: 100%;
      z-index: 9999;
      padding: 0;
  }
   :host ::ng-deep .delivertimebox_courier .modal-header h4{
      margin-bottom: 0;
   }
}
@media screen and (max-width: 1024px)
{
   :host ::ng-deep #deliverydatemodal_Courier .modal-content {
      width: 100%;
      max-width: 600px;
      border-radius: 0;
      border: none;
      padding: 0px !important;
   }
   :host ::ng-deep .delivertimebox_courier .modal-header h4{
      text-align: center;
      font-size: 20px;
      margin-top: 0;
   }
   :host ::ng-deep #delivertimebox_courier {
      padding-top: 0;
   }
}

