<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="disable step2" *ngIf="view==1">
    <span class="count">3</span><div class="heading">Delivery Date &amp; Time</div>
</div>


<div class="left-inner" *ngIf="view==4">
<link rel="stylesheet" [href]="cssDy.datetimepickercss" media="all" />
 
     <link [href]="cssDy.jqueryuicss" rel="stylesheet">
     <div class="step2 steps open">
     <span class="count active">3</span>
      <div class="heading">Delivery Date &amp; Time</div>                
     
                 
      <div class="grey express-wrap" *ngIf="international_products.length !=0">
        <div class="heading">When would you like your order to be delivered?</div>
        <div class="sub-heading">Select Delivery Date <span class="required">*</span></div>
        <div class="date-wrap">
        <ul>
        <li class="date-li" (click)="editProduct('international')" [ngClass]="{selected:if_international_selected_date_other!=''}">
        <div class="date-inner {{international_other_date}}">
        <p class="dat" *ngIf="international_other_date==''"><img loading="lazy"  src="{{CDN_PATH}}2019/newcheckout/images/cal.svg" alt="Calendar"></p>
      <p class="dat" *ngIf="international_other_date!=''">{{international_other_date | date:'d'}}</p>
        <p class="mnth" *ngIf="international_other_date!=''">{{international_other_date | date:'MMM'}}</p>
       </div>
        <p class="day">Other Dates</p>
        </li>
        </ul>
  <div class="date-result" *ngIf="international_products[0]['delivery_date'] !='00-00-0000'">
          <div class="slot-result result"><span class="slot">Time Slot</span> 
  <span *ngIf="international_products[0]['shipping_time_slot']=='23:30 - 00:30 hrs'">23:30 - 00:30 hrs</span>
    <span *ngIf="international_products[0]['shipping_time_slot']!='23:30 - 00:30 hrs'">{{international_products[0]['shipping_time_slot']}}</span>
        </div>
  
  <div class="slot-result result">
  <span class="slot">Delivery Type</span> 
  <span>{{international_delivery_text}} Delivery 
  <em class="hike" *ngIf="international_products[0]['deliveryCharge'] !=''">+ {{international_products[0]['deliveryCharge']}}  INR added for delivery</em>
  <em class="hike" *ngIf="international_products[0]['deliveryCharge'] ==''">Free</em>
  </span></div>
      </div>
  
        </div>
       
        <div class="cart-pro-img">
        <div class="title">Products In Your Cart</div>
         <ul>
             <li *ngFor="let product of international_products">
             <img loading="lazy"  [src]="product.thumb" alt="{{product.name}}" title="{{product.name}}">
             </li>
        </ul>  
        <div class="product-might" *ngIf="international_not_available.length !=0">
          <div class="might-wrap">
          <div class="might-pro-img" *ngFor="let product of international_not_available">
            <img loading="lazy"  [src]="product.thumb" alt="{{product.name}}" title="{{product.name}}" />
          </div>
            <div class="might-error" *ngIf="international_not_available.length > 1">Sorry, these products cannot be delivered at {{international_not_available[0].postcode}} Pin Code<a href="{{international_not_available[0].link}}" target="_blank"> View available gifts.</a></div>
            <div class="might-error" *ngIf="international_not_available.length == 1">Sorry, this product cannot be delivered at {{international_not_available[0].postcode}} Pin Code<a href="{{international_not_available[0].link}}" target="_blank"> View available gifts.</a></div>
          </div>
        </div>
        <div class="product-might" *ngIf="(cutoff_products.length !=0) && (cutoff_count !=cutoff_product_count)">
          <div class="might-wrap">
            <div class="might-pro-img"  *ngFor="let product of cutoff_products"><img loading="lazy"  [src]="product.thumb" alt="{{product.name}}" title="{{product.name}}" /></div>
            <div class="might-error"> Product/s may not be deliver today</div>
          </div>
        </div>
  
  
                
        </div>
        </div>         
 
           <app-calendar-international *ngIf="international_products.length !=0"></app-calendar-international>      
           <div class="submit-btn">
             <span id="express-date-not-selected-error" class="error-message" *ngIf="international_date_not_selected_error!=''">{{international_date_not_selected_error}}</span>
          <input *ngIf="international_products.length !=0"  class="field" type="button" value="Continue" (click)="getInternationalShipping()"> 
        </div>
     </div>
 </div>
 <div class="filled wrap" *ngIf="view==3" (click)="openDeliverySection()">
  <span class="count filled">3</span>
    <span class="filled-head">Delivery Date & Time</span>
    <ul *ngIf="international_products.length!=0">
    <li class="leaf name first">
    <span class="filled-heading">Delivery Date</span>
    <span class="filled-data">{{delivery_date | date:'EEE,d MMM,yy'}}</span><br/>
    </li>
    <li class="leaf number first">
    <span class="filled-heading">Delivery Type</span>
    <span class="filled-data">{{international_delivery_text}}</span><br/>
    </li>
    <li class="leaf number first">
    <span class="filled-heading">Delivery Slot</span>
    <span class="filled-data">
    {{international_products[0]['shipping_time_slot']}}</span>
    <br/>
    </li>
  </ul>
  <span class="edit"><img loading="lazy"  src="{{CDN_PATH}}2019/newcheckout/images/edit.svg" alt="Edit"></span>
  </div>