<!-- <app-header></app-header> -->

<div class="body-box">
    <div class="product-section">
      <div class="container">
      <div id="breadcrumb">
              <ul class="breadcrumb">
              <li><a routerLink="/account">Your Account</a></li>
              <li>Your recently viewed items</li>
              </ul>
              </div>
              <div class="recently_viewed">
        <h2>Your recently viewed items</h2>
      </div>
        <div class="product-list-box">
            <div class="product-item-box ga-product" itemprop="itemListElement" itemscope
            itemtype="https://schema.org/ListItem" *ngFor="let product of products;let pindex=index;">
            <div class="product-item ">
                <meta itemprop="position" content="{{pindex}}" />
            <a routerLink="/{{product.keyw}}" data-id="{{ product.product_id }}-{{ product.category_id }}"
                    itemprop="url" [className]="product.thumb2 !='' ? 'has-second-image lazy' : ''">
                    <div class="product-image">
                        
                        <span *ngIf="product.tag_class !=''" class="tag {{product.tag_class}}">{{ product.product_tag }}</span>
                        


    <img loading="lazy"  class="lazy first-image"  [src]="product.thumb"  data-src="{{product.thumb}}" title="{{product.name}}" alt="{{product.alt_tag}}"
                            /></div>
                    <div class="product-details" *ngIf="product.product_type !='category promo banner'">
                        <div class="product-list-name">{{product.name}}</div>
                        <div class="product-list-price">
                            <div class="price" *ngIf="product.price !=0">
                                <div *ngIf="product.special==0;else priceBlock;">
                                    <span class="price-new"> Rs. {{product.price}} </span>
                                </div>
                                <ng-template #priceBlock>
                                    <span class="price-new">Rs. {{product.special}}</span>
                                        <span class="price-old">Rs. {{product.price}}</span>
                                        <span class="price-percentage">
                                        {{product.percentage_offer}}
                                        </span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="product-list-time" *ngIf="(product.product_type=='Gifts' || product.manufacturer =='IS');else deliveryBlock">
                            <div *ngIf="(product.current_hour < '17');then timeblockOne else timeblockTwo">here is ignored</div>    
                            <ng-template #timeblockOne>Will be dispatched by <span class='green-text'>21-04-2020</span></ng-template>
                            <ng-template #timeblockTwo>Will be dispatched by <span class='green-text'>21-04-2020</span></ng-template>
                        </div>
                    
                        <ng-template #deliveryBlock>
                            <div class="product-list-time">Can be delivered <span class="green-text">{{product.expected_delivery}}</span>.</div>
                        </ng-template>
                    </div>
                </a></div>
        </div>

                  </div>
    </div>
  
  </div>
</div>

<!-- <app-footer></app-footer> -->