<div class="wsmenu clearfix">
    <ul class="mobile-sub wsmenu-list">
        <li style="position:relative;"><span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><a
                href="javascript:void(0)">Same Day Delivery<span class="arrow"></span></a>
            <div class="megamenu clearfix">
                <ul class="des-submuenu">
                    <li><a routerLink="/category/cakes/same-day-delivery">Cakes</a></li>
                    <li><a routerLink="/category/chocolates/same-day-delivery">Chocolates</a></li>
                    <li><a routerLink="/category/flowers/same-day-delivery">Flowers</a></li>
                    <li><a routerLink="/category/same-day-delivery">Gifts</a></li>
                    <li><a routerLink="/category/plants/same-day-delivery">Plants</a></li>
                    <li><a routerLink="/category/personalised-gifts/same-day-delivery">Personalised Gifts</a></li>
                </ul>
            </div>
        </li>
        <li><span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><a href="javascript:void(0)"
                style="color:red;">Mother's Day<span class="arrow"></span></a>
            <div class="megamenu clearfix" style="left:15%;">
                <section>
                    <h3>Gifts</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/mothers-day/personalised-gifts">Personalised</a></li>
                        <li><a routerLink="/category/mothers-day/chocolates">Chocolates</a></li>
                        <li><a routerLink="/category/personalised-caricatures">Caricature</a></li>
                        <li><a routerLink="/category/personalised-travel-accessories">Travel Accessories</a></li>
                        <li><a routerLink="/category/perfumes">Perfumes</a></li>
                        <li><a routerLink="/category/mothers-day/personalised-gifts/mugs">Mugs</a></li>
                        <li><a routerLink="/category/mothers-day/personalised-gifts/cushions">Cushion</a></li>
                        <li><a routerLink="/category/mothers-day/plants">Plants</a></li>
                        <li><a routerLink="/category/jewellery">Jewellery</a></li>
                        <li><a routerLink="/category/gifts/teddy-bouquet">Teddy Bouquet</a></li>
                        <li><a routerLink="/category/photo-frames">Photo Frames</a></li>
                        <li><a routerLink="/category/mothers-day">All Gifts</a></li>
                    </ul>
                </section>
                <section>
                    <h3>Express Gifts</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/mothers-day/cakes">Cakes</a></li>
                        <li><a routerLink="/category/chocolate-bouquets">Chocolate Bouquet</a></li>
                        <li><a routerLink="/category/photo-cakes">Photo Cakes</a></li>
                        <li><a routerLink="/category/mothers-day/cakes/sugarfree">Sugarfree Cakes</a></li>
                        <li><a routerLink="/category/mothers-day/cakes/eggless">Eggless Cakes</a></li>
                        <li><a routerLink="/category/mothers-day/greeting-cards">Greeting Cards</a></li>
                        <li><a routerLink="/category/mothers-day/combos">Combos</a></li>
                        <li><a routerLink="/category/green-plants">Green Plants</a></li>
                        <li><a routerLink="/category/mothers-day/same-day-delivery">All Gifts</a></li>
                        <li><a routerLink="/category/mothers-day/flowers">Flowers</a></li>
                        <li><a routerLink="/category/mothers-day/offers">Offers</a></li>
                    </ul>
                </section>
                <section>
                    <h3>Gifts For</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/send-gifts-for-boyfriends-mom">Boyfriend Mom</a></li>
                        <li><a routerLink="/category/send-gifts-for-girlfriends-mom">Girlfriend Mom</a></li>
                        <li><a routerLink="/category/send-gifts-to-homemaker-mom">Homemaker Mom</a></li>
                        <li><a routerLink="/category/send-gifts-to-working-mom">Working Mom</a></li>
                        <li><a routerLink="/category/send-gifts-for-mom-to-be">Mom To Be</a></li>
                        <li><a routerLink="/category/send-gifts-to-fashionista-mom">Fashionista Mom</a></li>
                    </ul>
                </section>
                <section>
                    <h3>Gifts From</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/mothers-day/gifts/from-son">Son</a></li>
                        <li><a routerLink="/category/mothers-day/gifts/from-daughter">Daughter</a></li>
                    </ul>
                </section>
            </div>
        </li>
        <li><span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><a
                href="javascript:void(0)">Flowers<span class="arrow"></span></a>
            <div class="megamenu clearfix" style="left:15%;">
                <section>
                    <h3>By Price</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/flowers?price=0-600">Under 600</a></li>
                        <li><a routerLink="/category/flowers?price=600-999">600 To 999</a></li>
                        <li><a routerLink="/category/flowers?price=1000-1999">1000 To 1999</a></li>
                        <li><a routerLink="/category/flowers?price=2500-250000">Above 2000</a></li>
                    </ul>
                </section>
                <section>
                    <h3>Flowers</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/flowers">All Flowers</a></li>
                        <li><a routerLink="/category/roses">Roses</a></li>
                        <li><a routerLink="/category/lilies">Lilies</a></li>
                        <li><a routerLink="/category/orchid">Orchids</a></li>
                        <li><a routerLink="/category/send-flower-bouquets-online">Flower Bouquet</a></li>
                        <li><a routerLink="/category/carnations">Carnations</a></li>
                        <li><a routerLink="/category/premium-designer-flowers-collection">Flower Arrangements</a></li>
                        <li><a routerLink="/category/premium-flowers">Exotic Flowers</a></li>
                        <li><a routerLink="/category/luxury-collection">Premium Flowers</a></li>
                    </ul>
                </section>
                <section>
                    <h3>Flower Combos</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/combos">All Combos</a></li>
                        <li><a routerLink="/category/flowers-plus-cake">Flower N Cake</a></li>
                        <li><a routerLink="/category/flowers-plus-teddy">Flower N Teddy</a></li>
                        <li><a routerLink="/category/flowers-plus-chocolate">Flower N Chocolate</a></li>
                        <li><a routerLink="/category/send-flowers-with-sweets">Flower N Sweet</a></li>
                    </ul>
                </section>
                <section>
                    <h3>By Occasion</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/anniversary/cakes">Anniversary</a></li>
                        <li><a routerLink="/category/birthday/cakes">Birthday</a></li>
                        <li><a routerLink="/category/gifts-for-appreciation">Appreciation</a></li>
                        <li><a routerLink="/category/congratulations">Congratulations</a></li>
                        <li><a routerLink="/category/get-well-soon">Get Well Soon</a></li>
                        <li><a routerLink="/category/i-am-sorry">I Am Sorry</a></li>
                        <li><a routerLink="/category/love-romance">Love &amp; Affection</a></li>
                        <li><a routerLink="/category/thank-you">Thank You</a></li>
                        <li><a routerLink="/category/new-baby">New Born</a></li>
                    </ul>
                </section>
                <section>
                    <h3>By City</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/flowers/delhi">Delhi</a></li>
                        <li><a routerLink="/category/flowers/mumbai">Mumbai</a></li>
                        <li><a routerLink="/category/flowers/bangalore">Bengalore</a></li>
                        <li><a routerLink="/category/flowers/chennai">Chennai</a></li>
                        <li><a routerLink="/category/flowers/kolkata">Kolkata</a></li>
                        <li><a routerLink="/category/flowers/hyderabad">Hyderabad</a></li>
                        <li><a routerLink="/category/flowers/pune">Pune</a></li>
                        <li><a routerLink="/category/flowers/gurgaon">Gurgaon</a></li>
                        <li><a routerLink="/category/flowers/noida">Noida</a></li>
                        <li><a routerLink="/category/flowers/ahmedabad">Ahmedabad</a></li>
                        <li><a routerLink="/category/flowers/jalandhar">Jalandhar</a></li>
                        <li><a routerLink="/category/flowers/kanpur">Kanpur</a></li>
                        <li><a routerLink="/category/flowers/allahabad">Allahabad</a></li>
                        <li><a routerLink="/category/flowers/jaipur">Jaipur</a></li>
                        <li><a routerLink="/category/flowers/lucknow">Lucknow</a></li>
                        <li><a routerLink="/category/delivery-cities">All Cities</a></li>
                    </ul>
                </section>
            </div>
        </li>
        <li><span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><a
                href="javascript:void(0)">Cakes<span class="arrow"></span></a>
            <div class="megamenu clearfix" style="left:20%;">
                <section>
                    <h3>By Price</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/cakes?price=0-600">Under 600</a></li>
                        <li><a routerLink="/category/cakes?price=600-999">600 To 999</a></li>
                        <li><a routerLink="/category/cakes?price=1000-1999">1000 To 1999</a></li>
                        <li><a routerLink="/category/cakes?price=2500-250000">Above 2000</a></li>
                    </ul>
                </section>
                <section>
                    <h3>By Flavour</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/cakes">All Cakes</a></li>
                        <li><a routerLink="/category/chocolate-cake">Chocolate Cakes</a></li>
                        <li><a routerLink="/category/black-forest">Blackforest Cakes</a></li>
                        <li><a routerLink="/category/truffle-cakes">Truffle Cakes</a></li>
                        <li><a routerLink="/category/butterscotch-cake">Butterscotch Cakes</a></li>
                        <li><a routerLink="/category/vanilla-cakes">Vanilla Cakes</a></li>
                        <li><a routerLink="/category/red-velvet-cake">Red Velvet Cakes</a></li>
                        <li><a routerLink="/category/pineapple-cakes">Pineapple Cakes</a></li>
                        <li><a routerLink="/category/fruit-cakes">Fruit Cakes</a></li>
                        <li><a routerLink="/category/coffee-cakes">Coffee Cakes</a></li>
                        <li><a routerLink="/category/strawberry-cakes">Strawberry Cakes</a></li>
                        <li><a routerLink="/category/cheese-cakes">Cheese Cakes</a></li>
                        <li><a routerLink="/category/exotic-cakes">Exotic Cakes</a></li>
                    </ul>
                </section>
                <section>
                    <h3>By Type</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/egg-less-cakes">Eggless Cakes</a></li>
                        <li><a routerLink="/category/sugarfree-cakes">Sugarfree Cakes</a></li>
                        <li><a routerLink="/category/regular-cakes">Regular Cakes</a></li>
                        <li><a routerLink="/category/deliver-photo-cakes-online">Photo Cakes</a></li>
                        <li><a routerLink="/category/cartoon-cakes">Cartoon Cakes</a></li>
                        <li><a routerLink="/category/exotic-cakes">Premium Cakes</a></li>
                        <li><a routerLink="/category/heart-shape-cakes">Heart Shaped</a></li>
                        <li><a routerLink="/category/barbie-cakes">Barbie Cakes</a></li>
                        <li><a routerLink="/category/theme-cakes">Theme Cakes</a></li>
                        <li><a routerLink="/category/cup-cakes">Cup Cakes</a></li>
                        <li><a routerLink="/category/spiderman-cakes">Spider Man Cakes</a></li>
                        <li><a routerLink="/category/mickey-mouse-cakes">Mickey Mouse Cakes</a></li>
                        <li><a routerLink="/category/deliver-tier-cakes-online">Tier Cakes</a></li>
                        <li><a routerLink="/category/cake-in-a-jar">Cake Jars</a></li>
                        <li><a routerLink="/category/5-star-cakes">5 Star Cakes</a></li>
                        <li><a routerLink="/category/tea-cakes">Tea Cakes</a></li>
                    </ul>
                </section>
                <section>
                    <h3>By Occasion</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/anniversary/cakes">Anniversary</a></li>
                        <li><a routerLink="/category/birthday/cakes">Birthday</a></li>
                        <li><a routerLink="/category/gifts-for-appreciation">Appreciation</a></li>
                        <li><a routerLink="/category/congratulations">Congratulations</a></li>
                        <li><a routerLink="/category/get-well-soon">Get Well Soon</a></li>
                        <li><a routerLink="/category/i-am-sorry">I Am Sorry</a></li>
                        <li><a routerLink="/category/love-romance">Love &amp; Affection</a></li>
                        <li><a routerLink="/category/thank-you">Thank You</a></li>
                        <li><a routerLink="/category/new-baby">New Born</a></li>
                    </ul>
                </section>
                <section>
                    <h3>By City</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/cakes/delhi">Delhi</a></li>
                        <li><a routerLink="/category/cakes/mumbai">Mumbai</a></li>
                        <li><a routerLink="/category/cakes/bangalore">Bengaluru</a></li>
                        <li><a routerLink="/category/cakes/chennai">Chennai</a></li>
                        <li><a routerLink="/category/cakes/kolkata">Kolkata</a></li>
                        <li><a routerLink="/category/cakes/hyderabad">Hyderabad</a></li>
                        <li><a routerLink="/category/cakes/pune">Pune</a></li>
                        <li><a routerLink="/category/cakes/gurgaon">Gurgaon</a></li>
                        <li><a routerLink="/category/cakes/noida">Noida</a></li>
                        <li><a routerLink="/category/cakes/ahmedabad">Ahmedabad</a></li>
                        <li><a routerLink="/category/cakes/jalandhar">Jalandhar</a></li>
                        <li><a routerLink="/category/cakes/kanpur">Kanpur</a></li>
                        <li><a routerLink="/category/cakes/allahabad">Allahabad</a></li>
                        <li><a routerLink="/category/cakes/jaipur">Jaipur</a></li>
                        <li><a routerLink="/category/cakes/lucknow">Lucknow</a></li>
                        <li><a routerLink="/category/delivery-cities">All Cities</a></li>
                    </ul>
                </section>
            </div>
        </li>
        <li><span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><a
                href="javascript:void(0)">Personalised <span class="arrow"></span></a>
            <div class="megamenu clearfix" style="left:30%;">
                <section>
                    <h3>By Price</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/all-personalised-gifts?price=0-600">Under 600</a></li>
                        <li><a routerLink="/category/all-personalised-gifts?price=600-999">600 To 999</a></li>
                        <li><a routerLink="/category/all-personalised-gifts?price=1000-250000">Above 1000</a></li>
                    </ul>
                </section>
                <section>
                    <h3>By Type</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/personalised-mugs">Mugs</a></li>
                        <li><a routerLink="/category/personalised-cushions">Cushions</a></li>
                        <li><a routerLink="/category/personalized-keychains">Keychains</a></li>
                        <li><a routerLink="/category/personalised-travel-accessories">Travel Accessories</a></li>
                        <li><a routerLink="/category/personalised-caricatures">Caricature </a></li>
                        <li><a routerLink="/category/personalised-engraved">Wooden Engraved</a></li>
                        <li><a routerLink="/category/personalised-photo-frames">Photo Frames</a></li>
                        <li><a routerLink="/category/personalised-photo-lamps">Photo Lamps</a></li>
                        <li><a routerLink="/category/chocolates">Chocolates</a></li>
                        <li><a routerLink="/category/all-personalised-gifts">All Personalised Gifts</a></li>
                    </ul>
                </section>
            </div>
        </li>
        <li><span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><a
                href="javascript:void(0)">Birthday<span class="arrow"></span></a>
            <div style="left:30%;" class="megamenu clearfix">
                <section>
                    <h3>Gift Type</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/birthday/cakes">Cakes</a></li>
                        <li><a routerLink="/category/chocolate-bouquets">Chocolate Bouquets</a></li>
                        <li><a routerLink="/category/birthday/combos">Combos</a></li>
                        <li><a routerLink="/category/birthday/flowers">Flowers</a></li>
                        <li><a routerLink="/category/jewellery">Jewellery</a></li>
                        <li><a routerLink="/category/perfumes">Perfumes</a></li>
                        <li><a routerLink="/category/birthday/personalised-gifts">Personalised</a></li>
                        <li><a routerLink="/category/birthday/photo-cakes">Photo Cakes</a></li>
                        <li><a routerLink="/category/green-plants">Plants</a></li>
                        <li><a routerLink="/category/soft-toys">Soft Toys</a></li>
                        <li><a routerLink="/category/sweets">Sweets</a></li>
                        <li><a routerLink="/category/birthday">All Birthday Gifts</a></li>
                    </ul>
                </section>
                <section>
                    <h3>Gifts By Relation</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/birthday/gifts/for-boyfriend">Boyfriend</a></li>
                        <li><a routerLink="/category/birthday/gifts/for-brother">Brother</a></li>
                        <li><a routerLink="/category/birthday/gifts/for-father">Father</a></li>
                        <li><a routerLink="/category/birthday/gifts/for-friend">Friend</a></li>
                        <li><a routerLink="/category/birthday/gifts/for-girlfriend">Girlfriend</a></li>
                        <li><a routerLink="/category/birthday/gifts/for-husband">Husband</a></li>
                        <li><a routerLink="/category/birthday/gifts/for-mother">Mother</a></li>
                        <li><a routerLink="/category/birthday/gifts/for-sister">Sister</a></li>
                        <li><a routerLink="/category/birthday/gifts/for-wife">Wife</a></li>
                    </ul>
                </section>
                <section>
                    <h3>Express</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/flowers/same-day-delivery">Same Day Flowers</a></li>
                        <li><a routerLink="/category/cakes/same-day-delivery">Same Day Cakes</a></li>
                        <li><a routerLink="/category/same-day-delivery">Same Day Gifts</a></li>
                        <li><a routerLink="/category/plants/same-day-delivery">Same Day Plant</a></li>
                        <li><a routerLink="/category/chocolates/same-day-delivery">Same Day Chocolates</a></li>
                    </ul>
                </section>
            </div>
        </li>
        <li><span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><a
                href="javascript:void(0)">Anniversary<span class="arrow"></span></a>
            <div class="megamenu clearfix" style="left:35%;">
                <section>
                    <h3>Gift Type</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/anniversary/flowers">Flowers</a></li>
                        <li><a routerLink="/category/anniversary/cakes">Cakes</a></li>
                        <li><a routerLink="/category/anniversary/photo-cakes">Photo Cakes</a></li>
                        <li><a routerLink="/category/anniversary/personalised-gifts">Personalised Gifts</a></li>
                        <li><a routerLink="/category/anniversary/combos">Combos</a></li>
                        <li><a routerLink="/category/anniversary/plants">Plants</a></li>
                        <li><a routerLink="/category/chocolate-bouquets">Chocolate Bouquets</a></li>
                        <li><a routerLink="/category/soft-toys">Soft Toys</a></li>
                        <li><a routerLink="/category/jewellery">Jewellery </a></li>
                        <li><a routerLink="/category/perfumes">Perfumes</a></li>
                        <li><a routerLink="/category/sweets">Sweets</a></li>
                        <li><a routerLink="/category/anniversary">All Anniversary Gifts</a></li>
                    </ul>
                </section>
                <section>
                    <h3>Gifts By Relation</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/anniversary/gifts/for-husband">Husband</a></li>
                        <li><a routerLink="/category/anniversary/gifts/for-parents">Parents</a></li>
                        <li><a routerLink="/category/anniversary/gifts/for-wife">Wife</a></li>
                    </ul>
                </section>
                <section>
                    <h3>Express</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/flowers/same-day-delivery">Same Day Flowers</a></li>
                        <li><a routerLink="/category/cakes/same-day-delivery">Same Day Cakes</a></li>
                        <li><a routerLink="/category/same-day-delivery">Same Day Gifts</a></li>
                        <li><a routerLink="/category/plants/same-day-delivery">Same Day Plant</a></li>
                        <li><a routerLink="/category/chocolates/same-day-delivery">Same Day Chocolates</a></li>
                    </ul>
                </section>
            </div>
        </li>
        <li style="position:relative;"><span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><a
                href="javascript:void(0)">Plants<span class="arrow"></span></a>
            <div class="megamenu clearfix">
                <ul class="des-submuenu">
                    <li><a routerLink="/category/green-plants">All Plants</a></li>
                    <li><a routerLink="/category/air-purifying-plants">Air Purifying Plants</a></li>
                    <li><a routerLink="/category/lucky-bamboo">Lucky Bamboo</a></li>
                    <li><a routerLink="/category/bonsai-plants">Bonsai Plants</a></li>
                    <li><a routerLink="/category/indoor-plants">Indoor Plants</a></li>
                    <li><a routerLink="/category/outdoor-plants">Outdoor Plants</a></li>
                    <li><a routerLink="/category/terrarium-plants">Terrarium Plants</a></li>
                    <li><a routerLink="/category/money-plant">Money Plants</a></li>
                    <li><a routerLink="/category/plants-same-day-delivery">Same Day Plants</a></li>
                </ul>
            </div>
        </li>
        <li><span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><a
                href="javascript:void(0)">Gifts<span class="arrow"></span></a>
            <div class="megamenu clearfix" style="left:70%;">
                <section>
                    <h3>By Price</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/all-gifts?price=0-600">Under 600</a></li>
                        <li><a routerLink="/category/all-gifts?price=600-999">600 To 999</a></li>
                        <li><a routerLink="/category/all-gifts?price=1000-250000">Above 1000</a></li>
                    </ul>
                </section>
                <section>
                    <h3>By Type</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/mugs">Mugs</a></li>
                        <li><a routerLink="/category/cushions">Cushions</a></li>
                        <li><a routerLink="/category/personalised-gifts">Personalised Gifts</a></li>
                        <li><a routerLink="/category/green-plants">Green Plants</a></li>
                        <li><a routerLink="/category/jewellery">Jewellery</a></li>
                        <li><a routerLink="/category/chocolates">Chocolates</a></li>
                        <li><a routerLink="/category/chocolate-bouquets">Chocolate Bouquets</a></li>
                        <li><a routerLink="/category/mugs-and-cushions">Mugs N Cushions</a></li>
                        <li><a routerLink="/category/perfumes">Perfumes</a></li>
                        <li><a routerLink="/category/sweets">Sweets</a></li>
                        <li><a routerLink="/category/soft-toys">Soft Toys</a></li>
                        <li><a routerLink="/category/funky-gifts">Funky Gifts</a></li>
                        <li><a routerLink="/category/god-idols">God Idols</a></li>
                        <li><a routerLink="/category/send-apron-gifts">Apron</a></li>
                        <li><a routerLink="/category/personalised-travel-accessories">Travel Accesories</a></li>
                        <li><a routerLink="/category/all-gifts">All Gifts</a></li>
                    </ul>
                </section>
            </div>
        </li>
        <li style="position:relative;"><span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><a
                href="javascript:void(0)">International<span class="arrow"></span></a>
            <div class="megamenu clearfix">
                <ul class="des-submuenu">
                    <li><a routerLink="/category/send-flowers-to-usa">USA</a></li>
                    <li><a routerLink="/category/send-flowers-to-uk">UK</a></li>
                    <li><a routerLink="/category/send-flowers-to-uae">UAE</a></li>
                    <li><a routerLink="/category/australia">Australia</a></li>
                    <li><a routerLink="/category/send-flowers-to-canada">Canada</a></li>
                    <li><a routerLink="/category/send-flowers-to-france">France</a></li>
                    <li><a routerLink="/category/send-flowers-to-malaysia">Malaysia</a></li>
                    <li><a routerLink="/category/send-flowers-to-qatar">Qatar</a></li>
                    <li><a routerLink="/category/send-flowers-to-south-africa">South Africa</a></li>
                    <li><a routerLink="/category/send-flowers-to-sweden">Sweden</a></li>
                </ul>
            </div>
        </li>
        <li><span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span><a
                href="javascript:void(0)">Occasions<span class="arrow"></span></a>
            <div style="left:52%;" class="megamenu clearfix">
                <section>
                    <h3>Festivals</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/rakhi">Rakhi - 03rd Aug</a></li>
                        <li><a routerLink="/category/janmashtami">Janmashtami - 11th Aug</a></li>
                        <li><a routerLink="/category/dussehra">Dussehra - 25th Oct</a></li>
                        <li><a routerLink="/category/karwa-chauth">Karwa Chauth - 4th Nov</a></li>
                        <li><a routerLink="/category/dhanteras">Dhanteras - 13th Nov</a></li>
                        <li><a routerLink="/category/diwali">Diwali - 14th Nov</a></li>
                        <li><a routerLink="/category/bhaidooj">Bhai Dooj - 16th Nov</a></li>
                        <li><a routerLink="/category/lohri">Lohri - 13th Jan</a></li>
                        <li><a routerLink="/category/holi">Holi - 09th Mar</a></li>
                    </ul>
                </section>
                <section>
                    <h3>Special Occasions</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/mothers-day-gifts">Mother's Day - 10th May</a></li>
                        <li><a routerLink="/category/fathers-day">Father's Day - 21st Jun</a></li>
                        <li><a routerLink="/category/parents-day">Parents Day - 26th July</a></li>
                        <li><a routerLink="/category/friendship-day-gifts">Friendship Day - 30th July</a></li>
                        <li><a routerLink="/category/teachers-day-gifts">Teacher's Day - 05th Sep</a></li>
                        <li><a routerLink="/category/grandparents-day"> Grandparents Day - 13th Sep</a></li>
                        <li><a routerLink="/category/daughters-day">Daughter's Day - 27th Sep</a></li>
                        <li><a routerLink="/category/boss-day">Boss Day - 16th Oct</a></li>
                        <li><a routerLink="/category/childrens-day">Children's Day - 14th Nov</a></li>
                        <li><a routerLink="/category/christmas">Christmas - 25th Dec</a></li>
                        <li><a routerLink="/category/new-year">New Year - 01st Jan</a></li>
                        <li><a routerLink="/category/valentine">Valentine's Day - 14th Feb</a></li>
                        <li><a routerLink="/category/womens-day">Women's Day - 08th Mar</a></li>
                    </ul>
                </section>
                <section>
                    <h3>Sentiments</h3>
                    <ul class="link-list02">
                        <li><a routerLink="/category/congratulations">Congratulations</a></li>
                        <li><a routerLink="/category/i-am-sorry">I Am Sorry</a></li>
                        <li><a routerLink="/category/thank-you">Thank You</a></li>
                        <li><a routerLink="/category/sympathy">Sympathy</a></li>
                        <li><a routerLink="/category/love-romance">Love n Romance</a></li>
                        <li><a routerLink="/category/get-well-soon">Get Well Soon</a></li>
                    </ul>
                </section>
            </div>
        </li>
    </ul>
</div>