 img.payu {
	width: 260px;
	padding-left: 10px;
}

 img.gpay {
	width: 90px;
	padding-left: 10px;
}

 img.mobikwik {
	width: 240px;
	padding-left: 10px;
}

 img.paytm {
	width: 240px;
	padding-left: 10px;
}

 .other {
	font-size: 25px;
	padding-left: 10px;
}

 .logopmt {
	border-bottom: 1px solid #ccc;
	background-color: #fff9d2;
	margin-bottom: 20px;
	padding: 10px;
}

 .sbmtbtn {
	margin-top: 20px;
}

 .pymtoptn {
	margin-top: 15px;
}

 .odramt {
	font-size: 45px;
	text-align: center;
	color: black;
}

 .odrid {
	font-size: 20px;
	text-align: center;
	color: #999
}

 img.pymtlogo {
	width: 170px;
}

 .pmtbx {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
}

 table.paymthtbl {
	width: 500px;
	border: 1px solid #ccc;
}

 input.paymtdbtn {
	width: 90%;
	color: #FFF;
	padding: 16px;
	background: linear-gradient(to right, #2cd791 0, #2deed4 100%);
	border: none;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 20px
}

 img.fullwth {
	width: 100px
}

 input.pmthbtn {
	width: 25px;
	height: 25px
}

@media only screen and (min-device-width :320px) and (max-device-width :768px) {
	 table.paymthtbl {
		width: 98%;
		border: 1px solid #ccc;
		font-size: 16px
	}
	 input.paymtdbtn {
		width: 100%;
		color: #FFF;
		padding: 15px;
		background: linear-gradient(to right, #2cd791 0, #2deed4 100%);
		border: none;
		font-size: 22px;
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 20px
	}
	 input.pmthbtn {
		width: 25px;
		height: 25px
	}
	 img.fullwth {
		width: 150px
	}
	 img.pymtlogo {
		width: 170px;
	}
	 .pymtoptn {
		margin-top: 20px;
		margin-left: 0px;
	}
	 .pmtbx {
		margin-top: 0px;
		padding: 20px;
	}
	 img.payu {
        width: 277px;
        padding-left: 10px;
	}
	 img.mobikwik {
		width: 123px;
        padding-left: 10px;
	}
	 img.paytm {
	    width: 116px;
        padding-left: 10px;
	}
	 .odramt {
		font-size: 50px;
		text-align: center;
		color: black;
		font-weight: bold;
		margin-top: 15px;
	}
	 .odrid {
		font-size: 25px;
		text-align: center;
		color: #999
	}
	 .sbmtbtn {
		margin-top: 20px;
	}
	 .other {
		font-size: 25px;
        padding-left: 10px;
	}
	 img.gpay {
		width: 93px;
        padding-left: 10px;

	}
}

 label {
	display: inline-block;
	font-weight: 700;
}