<!-- <link [href]="cssDy.cartCss" rel="stylesheet" type="text/css" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<div align="center" *ngIf="order_data.payment_status_id!=1">
		<table class="paymthtbl"  id="table1" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<div align="center" style="margin:0px">
					<img border="0" src="{{CDN_PATH}}2019/myflowertree-logo.svg" class="pymtlogo"></div>
					<div align="center"><b><font face="Verdana" >Already Paid  </font></b></div>
					<div align="center"><b><font face="Verdana" >Total Amount : Rs. {{total}}/-</font></b></div>
					<br>
				</td>
			</tr>
		</table>
	</div>

<form  [formGroup]="paypageForm" (ngSubmit)="submitPaypage()" *ngIf="order_data.payment_status_id==1">
<div align="center">
	<table class="paymthtbl"  id="table1" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<div align="center"  class="logopmt">
				<img border="0" src="{{CDN_PATH}}2019/myflowertree-logo.svg"  class="pymtlogo"></div>
				<div class="odramt">Rs. {{total}}</div>
				<div class="odrid">Order ID: {{orderid}}</div>
				<div class="pmtbx">
  				<div class="pymtoptn">
				<span><input type="radio" class="pmthbtn" formControlName="payment_method" value="ebs" id="ebs" required [(ngModel)]="default_pay"></span>
					<label for="ebs" style="margin-left: 10px;">Credit Card/Debit Card/Net Banking</label>
                  </div>
                  <div class="pymtoptn">
                    <span><input class="pmthbtn" type="radio" formControlName="payment_method" value="net" required ></span>
                        <label for="payu"><img  class="payu" src="{{CDN_PATH}}2020/images/payment.png"></label>
                      </div>
				<div class="pymtoptn">
				<span><input class="pmthbtn" type="radio" formControlName="payment_method" value="gpay" id="gpay" required /></span>
					<label for="gpay"><img  class="gpay" src="{{CDN_PATH}}2020/images/gpay.png" /></label>
  				</div>

				<div class="pymtoptn"><input class="pmthbtn" type="radio" formControlName="payment_method" value="mobikwik" id="mobikwik" required>
					<label for="mobikwik"><img class="fullwth mobikwik" src="{{CDN_PATH}}2020/images/MobiKwik-Logo.png"></label>
  				</div>

  				<div class="pymtoptn"><input class="pmthbtn" type="radio" formControlName="payment_method" value="paytm" id="paytm" required>
					<label for="paytm"><img class="fullwth paytm" src="{{CDN_PATH}}2020/images/paytm.png"></label>
  				</div>
				
				<div class="pymtoptn"><input class="pmthbtn" type="radio" formControlName="payment_method" value="paypal" id="paypal" required>
					<label for="paypal"><img class="fullwth paytm" src="{{CDN_PATH}}2020/images/PayPal.png"></label>
  				</div>
				
				<div class="pymtoptn"><input class="pmthbtn" type="radio" formControlName="payment_method" value="other" id="other" required>
					<label for="other" class="other">Other</label>
  				</div>
				
				<div align="center" class="sbmtbtn">
				<input type="submit" class="paymtdbtn" value="Proceed to Payment"  width="180" height="35">
				</div>	
	</div>
						
				<br>
			</td>
		</tr>
	</table>
</div>
</form>

<div id="payment_gateway_code" style="display:none;"></div>