<app-blogheader></app-blogheader>

<!--content section start-->
<div id="content" class="site-content">
  <div class="col-lg-12 col-md-12 col-sm-12 inner-content">
    <div class="row">

        <!--breadcrum-start-->
<div id="mft-breadcrumbs" class="container-fluid mft-bredcrumbs-container"><p id="breadcrumbs"><span><span><a routerLink="/blog">Blog</a> » <span class="breadcrumb_last">{{cat_name}}</span></span></span></p></div>
<!--breadcrum-end-->

      <!--block left start-->
      <div class="col-lg-9 col-md-9 col-sm-9">
<section id="primary" class="content-area">
<main id="main" class="site-main" role="main">

<header class="page-header">
<h1 class="page-title">
Category - {{cat_name}}</h1>
</header>

<div class="taxonomy-description" *ngIf="cat_description!=''">
  <div [innerHTML]="cat_description | safeHtml"> </div>
</div>


<article *ngFor="let post of posts">
<div class="blog-item-wrap">
<div class="row">
<div class="col-md-12">
<div class="col-lg-5 col-md-5 col-sm-5 blog-pic-box ">
<a routerLink="/blog/{{post.post_name}}" title="{{post.post_title}}">
<img loading="lazy"  width="600" height="410" [src]="post.image" class="single-featured wp-post-image" alt="{{post.image_title}}" /> </a>
</div>
<div class="col-lg-7 col-md-7 col-sm-7  blog-content-box">
  <h1 class="entry-title"><a routerLink="/blog/{{post.post_name}}" rel="bookmark">{{post.post_title}}</a></h1>
<div class="entry-meta">
<span class="posted-on"><i class="fa fa-calendar"></i> <a routerLink="/blog/{{post.post_name}}" rel="bookmark"><time class="entry-date published" datetime="2021-01-15T04:30:40+00:00">{{post.post_date}}</time></a></span>
</div>
<div class="entry-content">
<p [innerHtml]="post.post_excerpt"></p>
</div>
</div>
</div>
</div>


</div>
</article>

   
<nav class="navigation paging-navigation" role="navigation">
<div class="screen-reader-text">Posts navigation</div>
<div class="nav-links">
<div class="nav-previous" *ngIf="showOld"> <a routerLink="{{oldUrl}}"><i class="fa fa-chevron-left"></i> Older posts</a></div>
<div class="nav-next" *ngIf="showNew"> <a routerLink="{{newUrl}}"><i class="fa fa-chevron-right"></i> Newer posts</a></div>
</div>
</nav>
</main>
</section>
 </div>
 <!--block left end-->

<!--block right start-->

<div class="blog-right-block col-lg-3 col-md-3 col-sm-3">


<aside id="sfsi-widget-2" class="widget sfsi"> 

<div id="custom_html-5"><div class="textwidget"><a routerLink="" target="_blank">
<img loading="lazy"  src="{{CDN_DOMAIN}}blog/aside-banner.jpg" alt="Gifts online" class="lazyloaded"><noscript><img loading="lazy"  src="{{CDN_DOMAIN}}blog/aside-banner.jpg" alt="Gifts online"></noscript>
</a></div></div>

<div class="sfsi_widget" data-position="widget">
<div id='sfsi_wDiv'></div>
<h3 class="widget-title">Follow us :)</h3>

<div class="norm_row sfsi_wDiv" style="width:100%;text-align:center;position:relative;margin:10px auto;">
  <div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px;' class='sfsi_wicons shuffeldiv '>
     <div class='inerCnt'>
        <a class='sficn' effect='scale' rel="nofollow" href='https://www.facebook.com/MyFlowerTree' id='sfsiid_facebook' alt='Facebook' style='opacity:1'><img loading="lazy"  alt='Facebook' title='Facebook' src='{{CDN_DOMAIN}}blog/default_facebook.png' width='40'  class='sfcm sfsi_wicon' effect='scale' /></a>
     </div>
  </div>
  <div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px;' class='sfsi_wicons shuffeldiv '>
     <div class='inerCnt'>
        <a class=' sficn' effect='scale' rel="nofollow" href='javascript:void(0)' id='sfsiid_google' alt='Google+' style='opacity:1'><img loading="lazy"  alt='Google+' title='Google+' src='{{CDN_DOMAIN}}blog/default_google.png' width='40'  class='sfcm sfsi_wicon' effect='scale' /></a>
     
     </div>
  </div>
  <div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px;' class='sfsi_wicons shuffeldiv '>
     <div class='inerCnt'>
        <a class=' sficn' effect='scale' rel="nofollow" href='https://twitter.com/myflowertreemft' id='sfsiid_twitter' alt='Twitter' style='opacity:1'><img loading="lazy"  alt='Twitter' title='Twitter' src='{{CDN_DOMAIN}}blog/default_twitter.png' width='40'  class='sfcm sfsi_wicon' effect='scale' /></a>

     </div>
  </div>
  <div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px;' class='sfsi_wicons shuffeldiv '>
     <div class='inerCnt'><a class=' sficn' rel="nofollow" effect='scale' target='_blank' href='https://www.linkedin.com/company/myflowertree-com' id='sfsiid_linkedin' alt='Linkedin' style='opacity:1'><img loading="lazy"  alt='Linkedin' title='Linkedin' src='{{CDN_DOMAIN}}blog/default_linkedin.png' width='40'  class='sfcm sfsi_wicon' effect='scale' /></a></div>
  </div>
</div >
<div id="sfsi_holder" class="sfsi_holders" style="position: relative; float: left;width:100%;z-index:-1;"></div >
<div style="clear: both;"></div>
</div>
</aside>

 <aside id="recent-posts-3" class="widget widget_recent_entries"> 
 <h3 class="widget-title">Recent Posts</h3> 
 <ul>
 <li *ngFor="let rec of recentpost">
			  <a routerLink="/blog/{{rec.post_name}}/">{{rec.post_title}}</a>
</li>
</ul>
</aside>

<aside id="categories-2" class="widget widget_categories">
  <h3 class="widget-title">Categories</h3>
 

<select name="cat" id="cat" class="postform" (change)="selectedoptions($event.target.value)" >
    <option value="-1">Select Category</option>
    <option class="level-0" *ngFor="let cat of detailcat" value="{{cat.slug}}">{{cat.name}}&nbsp;&nbsp;({{cat.count}})</option>
    
    
</select>

</aside>


<aside id="tag_cloud-2" class="widget widget_tag_cloud"><h3 class="widget-title">Gift Ideas</h3>
    <div class="gift-idea clearfix">
        <a routerLink="/flowers">
           <img loading="lazy"  src="{{CDN_DOMAIN}}blog/flowers.jpg" title="Flowers" alt="Flowers" class="img-fluid">
           <div class="gift-idea-text-center"><span>Flowers</span></div>
        </a>
        <a routerLink="/cakes">
           <img loading="lazy"  src="{{CDN_DOMAIN}}blog/cakes.jpg" title="Cakes" alt="Cakes" class="img-fluid">
           <div class="gift-idea-text-center"><span>Cakes</span></div>
        </a>
        <a routerLink="/plants">
           <img loading="lazy"  src="{{CDN_DOMAIN}}blog/plants.jpg" title="Plants" alt="Plants" class="img-fluid">
           <div class="gift-idea-text-center"><span>Plants</span></div>
        </a>
        <a routerLink="/personalised-gifts">
           <img loading="lazy"  src="{{CDN_DOMAIN}}blog/personalised.jpg" title="Personalised" alt="Personalised" class="img-fluid">
           <div class="gift-idea-text-center"><span>Personalised</span></div>
        </a>
        <a routerLink="/birthday">
           <img loading="lazy"  src="{{CDN_DOMAIN}}blog/birthday-cake.jpg" alt="Birthday" title="Birthday" class="img-fluid">
           <div class="gift-idea-text-center"><span>Birthday</span></div>
        </a>
        <a routerLink="/anniversary">
           <img loading="lazy"  src="{{CDN_DOMAIN}}blog/anniversary.jpg" alt="Anniversary" title="Anniversary" class="img-fluid">
           <div class="gift-idea-text-center"><span>Anniversary</span></div>
        </a>
        <a routerLink="/combos">
           <img loading="lazy"  src="{{CDN_DOMAIN}}blog/combos.jpg" alt="Combos" title="Combos" class="img-fluid">
           <div class="gift-idea-text-center"><span>Combos</span></div>
        </a>
        <a routerLink="/gifts">
           <img loading="lazy"  src="{{CDN_DOMAIN}}blog/gifts.jpg" alt="Gifts" title="Gifts" class="img-fluid">
           <div class="gift-idea-text-center"><span>Gifts</span></div>
        </a>
     </div>
</aside>


<aside id="tag_cloud-2" class="widget widget_tag_cloud">
<h3 class="widget-title">Tags</h3>
<div class="tagcloud">
	<a *ngFor="let tg of detailtags" routerLink='/blog/tag/{{tg.slug}}' class='tag-link-{{tg.slug}}' title='4 topics' style='font-size: 8pt;'>{{tg.name}}</a>
</div>
</aside> 

 </div>
 <!--block right end-->
</div>
</div>
</div>
<!--content section end-->

<!--footer start-->
<footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="widget">
                            <div class="footer-text text-center">
                                <a routerLink="/"><img loading="lazy"  src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/2019/myflowertree-logo.svg" alt="" class="img-fluid"></a>
                                <p>If you’re on this page, you have come to the right place to find some useful gifts.</p>
                            
                                <hr class="invis">

                                <div class="newsletter-widget text-center">
                                    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="form-inline">
                                        <input type="text" formControlName="email" class="form-control" placeholder="Enter your email address">
                                        
                                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Subscribe</button>
                                        <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
                                            class="error-message">
                                            <span *ngIf="loginForm.get('email').errors['required']" style="color: red;">Please Enter Email</span>
                                            <span *ngIf="loginForm.get('email').errors['email']" style="color: red;">Please Enter Valid Email</span>
                                        </span>
                                        <span style="color: green;">{{successmsg}}</span>
                                    </form>
                                </div><!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <br>
                        <div class="copyright1">Copyright&copy; MyFlowerTree</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer>