@font-face {
  font-family: mft-font;
  src: url("https://d3cif2hu95s88v.cloudfront.net/live-site-2016/live-new/css/fonts/Lato-Regular.ttf"); }
a {
  color: #131313; }

a:active, a:hover {
  outline: 0;
  text-decoration: none; }

body {
  padding: 0px;
  margin: 0;
  background: #F3F3F3;
  font-family: mft-font; }

header {
  background: #f3d565;
  box-shadow: 0px 1px 5px 0px #ccc;
  padding: 0;
  margin: 0 0 0 0; }
  header .header-box {
    max-width: 1440px;
    width: 90%; }
  header .logo {
    display: inline-block; }
  header .header-right {
    text-align: right;
    width: auto;
    display: inline-block;
    float: right; }

.row {
  margin-right: 0;
  margin-left: 0; }

.thankyou-box {
  max-width: none; }

.thankyou-box h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  font-family: mft-font;
  color: #bd2828; }

.header-right {
  text-align: right;
  width: auto; }
  .header-right .need-help {
    width: 152px; }
    .header-right .need-help span.phone a {
      color: #337ab7; }
    .header-right .need-help span.call-text {
      display: block;
      text-align: left;
      font-size: 18px; }

.thankyou-heading {
  margin-top: 30px;
  text-align: center;
  display: block;
  font-size: 30px;
  position: relative;
  font-weight: bold; }
  .thankyou-heading span.item-count {
    background: #8c273c;
    border-radius: 50px;
    display: inline-block;
    width: 33px;
    height: 33px;
    line-height: 33px;
    color: #ffffff;
    font-size: 28px; }

.order-id {
  text-align: center;
  background: #f6f6f6;
  max-width: 190px;
  font-size: 20px;
  margin: 25px auto auto auto;
  border-radius: 50px;
  padding: 3px 15px 3px 15px; }
  .order-id .order-no {
    color: #B41656;
    font-weight: bold; }

.trnx-wrap {
  background: #f6f6f6;
  line-height: 45px;
  text-align: center;
  margin: 30px auto auto auto;
  font-size: 18px; }

.note {
  text-align: center;
  margin: 10px auto; }

.trnx-id:after {
  content: "|";
  margin: 0 15px 0 15px; }

.offer-wrap {
  text-align: center;
  background: #f6f6f6;
  font-size: 24px;
  padding: 35px 0; }

.highlight {
  color: #b41656; }

.cta {
  background: #77b43f;
  line-height: 40px;
  display: inline-block;
  padding: 0 20px 0 20px;
  color: #fff;
  font-size: 20px; }
  .cta:hover {
    color: #fff;
    background: #46983e; }

.thankyou-box {
  background: #fff; }

.delivery-notice {
  max-width: 1169px;
  background-color: #fff9ea;
  border: 1px solid #d6893f;
  margin: auto;
  padding: 10px 0px 10px 15px; }

.status-wrap {
  max-width: 1150px;
  margin: 40px auto;
  text-align: center; }
  .status-wrap .status {
    display: inline-block;
    text-align: center;
    margin: 15px 0px 15px 0px;
    width: 22%;
    vertical-align: top; }
    .status-wrap .status span {
      display: block; }
    .status-wrap .status .title {
      font-size: 18px; }
    .status-wrap .status .round-icon {
      padding: 10px;
      background: #ccc;
      display: inline-block !important;
      border-radius: 50px;
      margin: 10px auto;
      text-align: center;
      vertical-align: middle;
      position: relative; }
      .status-wrap .status .round-icon.completed {
        background: #77b43f; }
        .status-wrap .status .round-icon.completed::after {
          content: "";
          background: #ccc;
          position: absolute;
          left: 33px;
          border-top: 3px solid #77b43f;
          width: 65px;
          z-index: 1; }
      .status-wrap .status .round-icon.grey::before {
        content: "";
        background: #ccc;
        position: absolute;
        left: -223px;
        border-top: 3px solid #c8c8c8;
        width: 210px;
        z-index: 0; }

.pro-items {
  text-align: center;
  margin-top: 25px; }
  .pro-items ul {
    padding: 0; }
    .pro-items ul li {
      display: inline-block;
      width: 40%;
      border: 1px solid #ccc;
      padding: 15px;
      margin: 0 20px 0 20px;
      text-align: left; }
      .pro-items ul li .pro-img {
        display: inline-block; }
        .pro-items ul li .pro-img img {
          max-width: 100px; }
      .pro-items ul li .pro-desc {
        display: inline-block;
        vertical-align: top;
        margin-left: 20px; }
        .pro-items ul li .pro-desc .pro-name {
          font-size: 18px;
          margin: 0px auto 5px; }
        .pro-items ul li .pro-desc .qty {
          font-size: 18px; }
        .pro-items ul li .pro-desc .price {
          font-weight: bold;
          font-size: 20px; }

.delivery-details {
  text-align: center;
  margin-top: 20px; }
  .delivery-details .del-date, .delivery-details .del-slot {
    display: inline-block;
    font-size: 18px;
    margin: 0 15px 0 15px; }
    .delivery-details .del-date .date, .delivery-details .del-date .slot, .delivery-details .del-slot .date, .delivery-details .del-slot .slot {
      font-weight: bold; }

.courier-details {
  padding: 20px 0 10px 0;
  border: 1px solid #ccc;
  max-width: 1035px;
  margin: 0 auto; }
  .courier-details ul li {
    display: inline-block;
    width: 33%;
    text-align: center;
    font-size: 20px; }
    .courier-details ul li span {
      font-weight: bold; }
    .courier-details ul li a {
      color: #2569c5; }

.thankyou-white {
  width: 100%;
  background: #f6f6f6;
  height: 50px;
  margin-top: 25px;
  font-size: 20px; }
  .thankyou-white ul {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0; }
    .thankyou-white ul li {
      display: inline-block;
      line-height: 50px; }
      .thankyou-white ul li.img-thankyou {
        width: 15%;
        max-width: 100px;
        text-align: left; }
      .thankyou-white ul li.desc-thankyou {
        width: 34%;
        text-align: left;
        padding-left: 1.7em; }
      .thankyou-white ul li.qty-thankyou {
        width: 15%;
        text-align: center; }
      .thankyou-white ul li.dlt-thankyou {
        width: 15%;
        text-align: center; }
      .thankyou-white ul li.price-thankyou {
        width: 20%;
        text-align: right; }

.heading {
  font-size: 24px;
  max-width: 1240px;
  margin: 30px auto auto auto; }

.select-qty, .dlt-thankyou {
  font-size: 20px; }

.thankyou-data {
  margin: 30px auto;
  max-width: 1240px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px; }
  .thankyou-data ul {
    padding: 0; }
    .thankyou-data ul li {
      display: inline-block;
      vertical-align: top; }
      .thankyou-data ul li.img-thankyou {
        width: 15%;
        max-width: 100px;
        text-align: center;
        border: 8px solid #fff;
        box-shadow: 0 2px 6px 0 rgba(180, 180, 180, 0.5); }
        .thankyou-data ul li.img-thankyou img {
          max-width: 85px;
          width: 100%; }
      .thankyou-data ul li.desc-thankyou {
        width: 35%;
        text-align: left;
        padding-left: 2.5em; }
        .thankyou-data ul li.desc-thankyou .pro-name-thankyou {
          display: block;
          font-family: Cambria;
          font-size: 24px;
          color: #b41656; }
        .thankyou-data ul li.desc-thankyou .upgrades {
          font-size: 16px;
          color: #373737; }
          .thankyou-data ul li.desc-thankyou .upgrades .heading-upgrade {
            padding-bottom: 5px;
            display: block;
            padding-top: 15px; }
          .thankyou-data ul li.desc-thankyou .upgrades ul {
            padding: 0; }
            .thankyou-data ul li.desc-thankyou .upgrades ul li.leaf {
              margin: 0 20px 0 10px;
              font-size: 15px;
              position: relative; }
              .thankyou-data ul li.desc-thankyou .upgrades ul li.leaf:before {
                content: "";
                background: #373737;
                padding: 3px;
                display: inline-block;
                border-radius: 50px;
                position: relative;
                top: -2px;
                left: -2px;
                margin: 0 5px 0 0; }
              .thankyou-data ul li.desc-thankyou .upgrades ul li.leaf:after {
                content: "|";
                position: absolute;
                right: -18px;
                margin: 0 auto;
                text-align: right; }
              .thankyou-data ul li.desc-thankyou .upgrades ul li.leaf.last:after {
                display: none; }
        .thankyou-data ul li.desc-thankyou .attach-image {
          display: block;
          margin: 15px 0 0 0; }
          .thankyou-data ul li.desc-thankyou .attach-image a {
            color: #337ab7;
            margin-left: 10px; }
      .thankyou-data ul li.qty-thankyou {
        width: 15%;
        text-align: center;
        margin-top: 55px; }
        .thankyou-data ul li.qty-thankyou select {
          border-radius: 0 !important;
          width: 58px;
          outline: none;
          border: 1px solid #000;
          line-height: 33px;
          height: 33px;
          -webkit-appearance: none;
          padding-left: 15px;
          -moz-appearance: none;
          appearance: none;
          -ms-appearance: none;
          font-size: 20px;
          background: url(../images/down-arrow.svg);
          background-repeat: no-repeat;
          background-size: 12px;
          background-position: 38px 10px; }
      .thankyou-data ul li.dlt-thankyou {
        width: 15%;
        text-align: center;
        margin-top: 55px; }
        .thankyou-data ul li.dlt-thankyou a {
          background: url(../images/bin.svg);
          background-repeat: no-repeat;
          background-size: 18px;
          font-size: 0;
          padding: 9px 9px 9px 9px;
          width: 35px;
          background-position: 0 0;
          opacity: 0.5;
          height: 35px; }
      .thankyou-data ul li.price-thankyou {
        width: 20%;
        text-align: right;
        margin-top: 55px;
        font-size: 20px; }
  .thankyou-data:last-child {
    border-bottom: none;
    padding-bottom: 0; }

.hightlight {
  color: #b41656; }

.thankyou-bottom {
  max-width: 1440px;
  margin: 60px auto auto auto;
  width: 90%; }
  .thankyou-bottom .coupon-wrap {
    display: inline-block;
    margin-left: 30px; }
    .thankyou-bottom .coupon-wrap .coupon-clk {
      color: #0a7bbc;
      cursor: pointer;
      text-decoration: underline; }
  .thankyou-bottom .thankyou-billing {
    background: #ececec;
    display: inline-block;
    margin-right: 60px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    float: right;
    min-width: 438px; }
    .thankyou-bottom .thankyou-billing .sub {
      display: block;
      font-size: 24px; }
      .thankyou-bottom .thankyou-billing .sub .sub-price {
        float: right; }
    .thankyou-bottom .thankyou-billing .g-ttl {
      font-size: 26px;
      width: 100%;
      display: block;
      border-top: 1px dashed #ccc;
      margin-top: 20px;
      padding: 15px 0 10px 0; }
      .thankyou-bottom .thankyou-billing .g-ttl .Grand-price {
        float: right; }
    .thankyou-bottom .thankyou-billing .thankyou-btn input.primary {
      display: block;
      width: 100%;
      line-height: 40px;
      font-size: 20px;
      background: #8c273c;
      outline: none;
      color: #ffffff;
      margin: 15px 0;
      border: none;
      text-transform: uppercase; }
    .thankyou-bottom .thankyou-billing .thankyou-btn a {
      margin: 0 auto;
      text-align: center;
      display: block;
      background: transparent;
      color: #337ab7;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: underline;
      padding-bottom: 10px; }

.m-thankyou-data {
  display: none; }

#panel {
  display: none;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(180, 180, 180, 0.5);
  margin: 10px 0 0 0;
  padding: 15px 15px;
  position: relative; }
  #panel .input-wrap {
    display: block; }
    #panel .input-wrap input {
      width: 350px;
      height: 45px;
      line-height: 45px; }
  #panel .btn-grey {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 20px; }
    #panel .btn-grey a {
      background: #666;
      color: #ffffff;
      padding: 15px 25px 15px 25px;
      line-height: 35px;
      height: 35px; }

.icon-success {
  text-align: center;
  margin: 0 0 10px 0; }
  .icon-success img {
    width: 240px;
    margin: -30px 0 -50px 0; }

@media screen and (max-width: 1024px) {
  .trns {
    display: block; }

  .icon-success img {
    width: 240px;
    margin: -10px 0 -50px 0; }

  .trnx-id::after {
    content: "|";
    margin: 0 15px 0 15px;
    display: none; }

  .status-wrap .status .title {
    font-size: 14px;
    width: 78px;
  }

  .status-wrap .status {
      display: inline-block;
      text-align: center;
      margin: 15px 0px 15px 0px;
      width: auto;
      vertical-align: top;
  }

  .status-wrap .status .round-icon.completed::after {
    content: "";
    background: #ccc;
    position: absolute;
    left: 0;
    border-top: 3px solid #77b43f;
    width: 45px;
    z-index: 1; }

  .status-wrap .status .round-icon.grey::before {
    content: "";
    background: #ccc;
    position: absolute;
    left: -65px;
    border-top: 3px solid #c8c8c8;
    width: 80px;
    z-index: 0; }

  .delivered {
    margin-top: 35px !important; }

  .offer-wrap {
    text-align: center;
    background: #f6f6f6;
    font-size: 18px;
    padding: 35px 15px; }

  span.phone-mobile {
    display: inline-block;
    vertical-align: sub;
    float: right;
    position: absolute;
    right: 8%;
    top: 20px; }

  .hidden-xs {
    display: none !important; }

  span.phone-mobile img {
    width: 22px; }


  .thankyou-bottom .thankyou-billing .sub {
    display: block;
    font-size: 18px; }

  .thankyou-bottom .thankyou-billing .g-ttl {
    font-size: 20px;
    width: 100%;
    display: block;
    border-top: 1px dashed #ccc;
    margin-top: 8px;
    padding: 10px 0 0px 0; }

  .thankyou-wrap {
    margin-bottom: 230px; }

  .thankyou-bottom {
    max-width: 1440px;
    width: 95%;
    position: fixed;
    border: 1px solid #e0e0e0;
    bottom: 0;
    display: block;
    background: #efefef;
    padding-top: 20px;
    z-index: 99; }

  #panel .input-wrap input {
    width: 100%;
    height: 45px;
    line-height: 45px; }

  .m-thankyou-data {
    display: block;
    margin-bottom: 17px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(180, 180, 180, 0.5);
    padding: 15px 0px; }

  .left-side {
    display: inline-block;
    margin-right: 3%;
    vertical-align: top;
    width: 23%; }
    .left-side img {
      width: 100%;
      border: 5px solid #fff;
      margin-left: 10px; }

  .right-side {
    display: inline-block;
    width: 73%;
    position: relative; }
    .right-side .pro-name-thankyou {
      display: block;
      font-size: 20px;
      margin-bottom: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 90%;
      overflow: hidden;
      color: #8c273c; }
    .right-side .dlt-icon {
      position: absolute;
      right: 12px;
      top: -8px;
      z-index: 99; }
      .right-side .dlt-icon a {
        background: url(../images/bin.svg);
        background-repeat: no-repeat;
        background-size: 18px;
        font-size: 0;
        padding: 9px 9px 9px 9px;
        width: 35px;
        background-position: 0 0;
        opacity: 0.5;
        height: 35px; }
    .right-side .upgrades {
      margin: 0;
      padding: 0;
      display: block; }
      .right-side .upgrades ul {
        padding: 0;
        margin: 5px 0 0 0px; }
        .right-side .upgrades ul .leaf {
          line-height: 20px;
          display: inline-block;
          margin-right: 10px;
          font-size: 12px; }
          .right-side .upgrades ul .leaf:before {
            content: "";
            background: #373737;
            padding: 3px;
            display: inline-block;
            border-radius: 50px;
            position: relative;
            top: -1px;
            left: 0;
            margin: 0 5px 0 0; }
    .right-side .qty-thankyou {
      width: 15%;
      text-align: center;
      margin-top: 55px; }
      .right-side .qty-thankyou select {
        border-radius: 0 !important;
        width: 58px;
        outline: none;
        border: 1px solid #000;
        line-height: 33px;
        height: 33px;
        -webkit-appearance: none;
        padding-left: 15px;
        -moz-appearance: none;
        appearance: none;
        -ms-appearance: none;
        font-size: 20px;
        background: url(../images/down-arrow.svg);
        background-repeat: no-repeat;
        background-size: 12px;
        background-position: 38px 10px; }
    .right-side .attach-image {
      display: block;
      margin: 10px 0 10px 0; }
      .right-side .attach-image a {
        color: #337ab7; }
    .right-side .price {
      font-size: 20px;
      float: right;
      margin-right: 20px; }

  .thankyou-white {
    display: none; }

  .thankyou-heading {
    margin-top: 15px;
    margin-bottom: 15px; }

  .thankyou-data {
    display: none; }

  .body-box, .cat-body-box {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px; }

  .thankyou-bottom .coupon-wrap {
    display: block;
    margin-left: 0;
    text-align: center;
    margin: 0 0 5px 0; }

  .thankyou-bottom .thankyou-billing {
    background: #ececec;
    display: block;
    padding: 12px;
    border: none;
    float: none;
    margin: 0 0 0 0 !important;
    min-width: auto;
    width: 100%; }

.thankyou-bottom .thankyou-billing .thankyou-btn input.primary {
  display: block;
  width: 100%;
  line-height: 35px;
  font-size: 16px;
  background: #8c273c;
  outline: none;
  color: #ffffff;
  margin: 10px 0;
  border: none;
  text-transform: uppercase; }

.thankyou-bottom .thankyou-billing .thankyou-btn a {
  margin: 0 auto;
  text-align: center;
  display: block;
  background: transparent;
  color: #337ab7;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: underline;
  padding-bottom: 0; }



}

@media screen and (max-width: 365px) {
  .left-side {
    display: inline-block;
    margin-right: 2%;
    vertical-align: top;
    width: 23%; }

  .right-side .upgrades ul .leaf {
    line-height: 20px;
    display: inline-block;
    margin-right: 2px;
    font-size: 11px; }
  
    .status-wrap .status .title {
      font-size: 14px;
      width: 70px;
  }

  .left-side img {
    width: 100%;
    border: 5px solid #fff;
    margin-left: 5px; }

    .status-wrap .status .round-icon.grey::before {
      content: "";
      background: #ccc;
      position: absolute;
      left: -70px;
      border-top: 3px solid #c8c8c8;
      width: 88px;
      z-index: 0;
  } }
