<div class="swiper-container header-margin">
  <div class="swiper-wrapper">
    <div *ngFor="let item of banner">
      <div class="swiper-slide"><a routerLink="{{item.link}}"><img loading="lazy"  alt="Online Flowers Delivery" src="{{CDN_PATH}}product-image/{{item.image}}"> </a></div>
    </div> 
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
