<link  [href]="getSafeCDNUrl('2019/newcheckout/new/cart.css.gz')" rel="stylesheet" type="text/css" />

        <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
        <div class="body-box cart-box valentine-box">
            <div class="row">

                <div class="cart-heading">My Cart <span class="item-count" *ngIf="cart_data.length==1;else moreItems">(1 Item)</span>
                    <ng-template #moreItems><span class="item-count">({{cart_data.length}} Items)</span></ng-template>
                        <div class="awesome-gifts">You’ve picked an amazing gift</div>
                    </div>
                <div class="alert alert-danger warning" id="warni" style="display:none;"><i
                        class="fa fa-exclamation-circle"></i><span id="warn"></span></div>
            <div *ngIf="international_error" class="alert alert-danger warning" id="warni"><i
                            class="fa fa-exclamation-circle"></i><span id="warn"></span>&nbsp;{{international_error}}</div>        
                <div class="cart-wrap">
                    <div class="m-cart-data" *ngFor="let product of cart_data">
                        <div class="left-side"><a routerLink="/{{product.product_url}}?cate={{product.queryParams}}"><img loading="lazy"  [src]="product.thumb" alt="{{product.name}}" width="100" title="{{product.name}}" class="img-thumbnail" /></a></div>
                        <div class="right-side"><span class="pro-name-cart"><a routerLink="/{{product.product_url}}?cate={{product.queryParams}}" target="_blank">{{product.name}}</a></span>
                          <div class="price-wrap"><span class="price">Rs. {{product.price}}</span><span class="cross">X</span><span class="qty-cart"><span>Qty:</span>
                            <select class="updateQuantity" (change)="update_cart(product.cart_id, $event.target.value)">
                                <option value="1" [selected]="product.quantity==1">1</option>
                                <option value="2" [selected]="product.quantity==2">2</option>
                                <option value="3" [selected]="product.quantity==3">3</option>
                                <option value="4" [selected]="product.quantity==4">4</option>
                                <option value="5" [selected]="product.quantity==5">5</option>
                                <option value="6" [selected]="product.quantity==6">6</option>
                                <option value="7" [selected]="product.quantity==7">7</option>
                                <option value="8" [selected]="product.quantity==8">8</option>
                                <option value="9" [selected]="product.quantity==9">9</option>
                                <option value="10" [selected]="product.quantity==10">10</option>
                            </select>
                            </span></div>
                            <span class="upgrades" *ngIf="product['option'].length">
                                <span class="heading-upgrade">- Upgrade</span>
                                <ul>
                                    <li *ngFor="let option of product['option']">
                                        <div *ngIf="option['type'] != 'file' then bl1; else bl2;"></div>
                                        <ng-template #bl1>{{option['value']}}</ng-template>
                                        <ng-template #bl2>
                                            <a href="javascript:void(0);" (click)="optionImagePopup(option['filename'])">Uploaded Image</a>
                                        </ng-template>
                                    </li>
                                </ul>
                            </span>
                            <span class="dlt-cart"><span class="dlt-icon"><a href="javascript:void(0)" title="Remove"
                                (click)="cart_delete(product.cart_id, product.key)">Remove</a></span></span>
                        </div>
                      </div>
                      <div class="cart-bottom mobile">
                        <div class="cart-btm-inner">
                          <div class="" style="margin-bottom:0px;"></div>
                          <div class="cart-billing"><span class="g-ttl"><span class="Grand-text"> Grand Total </span><span class="Grand-price" *ngIf="totals['0']">Rs. {{totals['0']['value']}}</span></span>
                            <div class="cart-btn mobiles">
                              <div class="continue-shopping-mobile"><a routerLink="/">Continue Shopping</a></div>
                              <input class="primary" type="button" value="Place Order" (click)="goToCheckout()" />
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="coupon-text coupon-wrap hidden-md hidden-lg"> Have a Coupon Code? <span
                            class="coupon-info">You can apply the discount coupon in the Checkout Process.</span></div>
                    <div class="cart-white">
                        <ul>
                            <li class="img-cart">Image</li>
                            <li class="desc-cart">Description</li>
                            <li class="qty-cart">Quantity</li>
                            <li class="dlt-cart">Delete</li>
                            <li class="price-cart">Price</li>
                        </ul>
                    </div>
                    <div class="cart-data" *ngFor="let product of cart_data">
                        <ul>
                            <li class="img-cart"><a [routerLink]="createUrl(product.product_url)" [queryParams]="{cate:product.queryParams}">
                                <img loading="lazy" 
                                        [src]="product.thumb"
                                        alt="{{product.name}}" width="100" title="{{product.name}}" class="img-thumbnail" /></a>
                            </li>
                            <li class="desc-cart"><span class="pro-name-cart"><a
                                [routerLink]="createUrl(product.product_url)" [queryParams]="{cate:product.queryParams}">{{product.name}}</a></span>
                                <span class="upgrades" *ngIf="product['option'].length">
                                    <span class="heading-upgrade">- Upgrade</span>
                                    <ul>
                                        <li *ngFor="let option of product['option']">
                                            <div *ngIf="option['type'] != 'file' then bl1; else bl2;"></div>
                                            <ng-template #bl1>{{option['value']}}</ng-template>
                                            <ng-template #bl2>
                                                <a href="javascript:void(0);" (click)="optionImagePopup(option['filename'])">Uploaded Image</a>
                                            </ng-template>
                                        </li>
                                    </ul>
                                </span>
                            
                            </li>
                            <li class="qty-cart"><span class="select-qty"><select (change)="update_cart(product.cart_id, $event.target.value)" class="updateQuantity">
                                        <option value="1" [selected]="product.quantity==1">1</option>
                                        <option value="2" [selected]="product.quantity==2">2</option>
                                        <option value="3" [selected]="product.quantity==3">3</option>
                                        <option value="4" [selected]="product.quantity==4">4</option>
                                        <option value="5" [selected]="product.quantity==5">5</option>
                                        <option value="6" [selected]="product.quantity==6">6</option>
                                        <option value="7" [selected]="product.quantity==7">7</option>
                                        <option value="8" [selected]="product.quantity==8">8</option>
                                        <option value="9" [selected]="product.quantity==9">9</option>
                                        <option value="10" [selected]="product.quantity==10">10</option>
                                    </select></span></li>
                            <li class="dlt-cart"><span class="dlt-icon"><a href="javascript:void(0)" title="Remove"
                                 (click)="cart_delete(product.cart_id, product.key)">Remove</a></span></li>
                            <li class="price-cart"> Rs. {{product.price}}</li>
                        </ul>
                    </div>
 
                </div>
                <div class="cart-bottom">
                    <div class="cart-btm-inner">
                        <div class="coupon-wrap">
                            <div class="coupon-text"> Have a Coupon Code? <span class="coupon-info">You can apply the
                                    discount coupon in the Checkout Process.</span></div>
                        </div>
                        <div class="cart-billing"><span class="g-ttl"><span class="Grand-text"> Grand Total </span><span
                                    class="Grand-price" *ngIf="totals['0']"> Rs. {{totals['0']['value']}}</span></span>
                            <div class="cart-btn"><input class="primary" type="button" (click)="goToCheckout()" value="Place Order"
                               /><a routerLink="/">Continue Shopping</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <script language="JavaScript" type="text/javascript"
            [src]="getSafeCDNUrl('live-new/js/bootstrap.min.js.gz')"></script> -->
<div id="optionImage" class="modal">
    <div class="modal-content">
        <span id="closeoptionImage" (click)="closeoptionImage()">&times;</span>
        <img loading="lazy"  [src]="optionImage" id="srcOptionImage"/>
    </div>
    </div>