 .cart-bottom .cart-billing .cart-btn a {
    margin: 0 auto;
    text-align: center;
    display: block;
    background: transparent;
    color: #6b6b6b;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 0;
}
 .row {
    display: inherit !important;
}
 .row {
    margin: 0!important;
    }

@media only screen and (max-width:767px) {

     #fc_frame,
     #fc_frame.fc-widget-normal {
        bottom: 90px !important;
    }

     body {
        background: #f7f7f7;
    }

     .zopim {
        bottom: 115px !important
    }

     .mobile {
        background: #f3d565;
        padding: 4px 0 4px 0;
        text-align: center;
        box-shadow: 0 1px 5px 0 #ccc;
    }

     span.phone-mobile {
        top: 11px;
    }

     .awesome-gifts {
        font-size: 13px;
    }

     .body-box,
     .cat-body-box {
        background-color: #f7f7f7;
    }

     .cart-heading {
        margin-top: 8px;
        margin-bottom: 8px;
        border-bottom: 3px solid #efefef;
        padding-bottom: 5px;
        padding-top: 5px;
        font-size: 16px;
    }

     .left-side {
        margin-right: 4px;
        margin-left: 5px;
        width: 110px !important;
        height: auto;
    }

     .right-side {
        width: 57%;
    }

     .left-side img {
        width: 100px;
        border: 0;
        margin-left: 0;
    }

     .m-cart-data {
        padding: 5px 0px 6px 0px;
        margin-bottom: 10px;
        margin-right: 8px;
        margin-left: 8px;
    }

     .dlt-icon {
        right: 10px;
        left: auto;
    }

     .right-side .pro-name-cart {
        margin-bottom: 0px;
    }

     .qty-cart {
        vertical-align: middle;
        font-size: 14px;
    }

     .price-wrap {
        padding: 2px 5px 5px 0px;
    }

     .right-side .price {
        font-size: 14px;
    }

     .cross {
        font-size: 12px;
    }

     .right-side .upgrades {
        margin-bottom: 18px;
        margin-top: 0px;
    }

     .coupon-text {
        font-size: 13px;
    }

     .coupon-wrap {
        padding: 2px !important;
    }

     .coupon-info {
        margin-top: 0px;
    }

     .continue-shopping-mobile {
        width: 45%;
        float: left;
    }

     .cart-bottom .cart-billing .cart-btn input.primary {
        width: 55% !important;
    }

     .cart-bottom .cart-billing .cart-btn a {
        border: 0px;
        line-height: 45px;
        color: #27a2ff;
        text-transform: capitalize;
    }

     .g-ttl {
        width: 100% !important;
        font-size: 18px !important;
        padding: 4px 24px 7px 16px !important;
        margin: 0px !important;
        margin-bottom: 9px !important;
    }

     .Grand-price {
        float: right !important;
    }

     .cart-bottom.mobile {
        padding-top: 10px;
    }

     .coupon-wrap {
        display: block;
        margin-left: 0;
        text-align: center;
        margin: 0 auto 2px auto;
        width: 96%;
        border: 1px solid #dbcec1;
        color: #c5a97a;
        padding: 8px;
        background: #f5f0eb;
    }

     .pro-name-cart a {
        color: #7a7a7a;
    }
}