<link rel="stylesheet" [href]="cssDy.birthdaycss" />
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<script async [src]="cssDy.popperminjs"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>


<div *ngIf="custom_layout!=''; else elseBlock">
    
    <div [innerHTML]="custom_layout | safeHtml" id="container"> </div>

    <div class="category-products-box">

        <div class="row" *ngFor="let custom_product of custom_layout_product; let pindex=index;">
            <div class="catgory_heading">
                <h2>{{custom_product.block_name}}</h2>
                <div class="viewall"><a routerLink="/{{custom_product.url}}">View All </a></div>
            </div>
            <div class="product-list-box">

                <div class="product-item-box ga-product"
                    *ngFor="let product of custom_product.products; let pindex=index;">
                    <div class="product-item ">
                        <a target="_blank" data-id="{{product.product_id}}_{{product.category_id}}"                             routerLink="/{{product.href}}" class="has-second-image lazy" (click)="productClick(product.product_id)">
                            <div class="product-image">
                                <span *ngIf="product.tag_class !=''" class="tag {{product.tag_class}}">{{
                                    product.product_tag }}</span>
                                <img class="lazy first-image" [defaultImage]="defaultImage" [lazyLoad]="product.image"
                                    data-src="{{product.image}}" title="{{product.name}}" alt="{{product.alt_tag}}" />
                            </div>
                            <div class="product-details">
                                <div class="product-list-name">{{product.product_name}}</div>
                                <div class="product-list-price">
                                    <div class="price" *ngIf="product.price !=0">
                                        <div *ngIf="product.special==0;else priceBlock;">
                                            <span class="price-new"> Rs. {{product.price}} </span>
                                        </div>
                                        <ng-template #priceBlock>
                                            <span class="price-new"> Rs. {{product.special}}</span>
                                            <span class="price-old"> Rs. {{product.price}}</span>
                                            <span class="price-percentage">
                                                {{product.percentage_offer}}
                                            </span>
                                        </ng-template>
                                    </div>
                                </div>

                                <div class="product-list-time"
                                    *ngIf="(product.product_type=='Gifts' || product.manufacturer =='IS');else deliveryBlock">
                                  
                                    <div *ngIf="(product.tattime != '' && product.tattime!='undefined');else deliveryBlockss">
                                    <div *ngIf="(product.tattime == '24');else deliveryBlocktat">
                                        Earliest Delivery: <span class='green-text'>Tomorrow.</span>
                                    </div>
                                    <ng-template #deliveryBlocktat>
                                        Earliest Delivery: <span class='orange-text'>2-3 days.</span>
                                    </ng-template>
                                    </div>
                            <ng-template #deliveryBlockss>
                                    <div *ngIf="(product.current_hour < '17');then timeblockOne else timeblockTwo">here is ignored</div>
                                    <ng-template #timeblockOne>Earliest Delivery: <span class='orange-text'>2-3 days.</span></ng-template>
                                    <ng-template #timeblockTwo>Earliest Delivery: <span class='orange-text'>2-3 days.</span></ng-template>

                            </ng-template>        



                                </div>

                                <ng-template #deliveryBlock>
                                    <div class="product-list-time">Earliest Delivery: <span
                                            class="green-text">{{product.expected_delivery}}</span>.</div>
                                </ng-template>


                            </div>


                        </a>
                    </div>

                </div>

            </div>



        </div>

    </div>


</div>
<ng-template #elseBlock>
    <!-- {{isDataFetched}} -->
    <div *ngIf="!isDataFetched">
        <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
            width: '100%',
            height: '300px',
            'border-radius': '10px'
          }">
        </ngx-skeleton-loader>
    </div>
    <app-categorybanner [bannerData]="category_data" *ngIf="queryParams['page']==1 && isDataFetched">
    </app-categorybanner>
    <div class="body-box">
        <div class="cat-filter-box">

            <ul class="breadcrumb" *ngIf="queryParams['page']==1">
                <li *ngFor="let breadcrumb of category_data.breadcrumbs;let i = index;">
                    <a routerLink="{{ breadcrumb.href }}#" *ngIf="(category_data.breadcrumbs.length) == i+1">
                        <span>{{ breadcrumb.text }}</span>
                    </a>
                    <a routerLink="{{ breadcrumb.href }}" *ngIf="(category_data.breadcrumbs.length) != i+1">
                        <span>{{ breadcrumb.text }}</span>
                    </a>
                </li>
            </ul>
            <div class="cat-filter"><span class="cat-filter-text">({{category_data.product_total}} items) Sort By:
                </span>
                <div class="cat-filter-item " [ngClass]="{'fil-active':!queryParams['type']}"><i
                        style="margin-right:5px;" class="fa fa-star" aria-hidden="true"></i><a
                        (click)="getCategoryData(null,null,null,null,0)">Popularity</a></div>
                <div class="cat-filter-item " [ngClass]="{'fil-active':queryParams['type'] === 'Low'}"><i
                        style="margin-right:5px;" class="fa fa-long-arrow-down" aria-hidden="true"></i><a
                        (click)="getCategoryData('p.price','ASC','Low',null,0)">Low To High</a>
                    <!-- routerLink="/{{category_url}}" [queryParams]="{sort:'p.price',order:'ASC',type:'Low'}" -->
                </div>
                <div class="cat-filter-item " [ngClass]="{'fil-active':queryParams['type'] === 'High'}"><i
                        style="margin-right:5px;" class="fa fa-long-arrow-up" aria-hidden="true"></i><a
                        (click)="getCategoryData('p.price','DESC','High',null,0)">High To Low</a>
                </div>
            </div>
        </div>



    </div>
</ng-template>



<div class="body-box">
    <div id="category_content" id="all" class="product-section-cat main-products"
        data-grid-classes="xs-50 sm-33 md-25 lg-25 xl-25 display-icon block-button">
        <div>
            <div *ngIf="!isDataFetched">
                <ngx-skeleton-loader [count]="totalCount" appearance="circle" [theme]="{
                    width: '25%',
                    height: '398px',
                    'border-radius': '10px'
                  }">
                </ngx-skeleton-loader>
            </div>
            <div class="product-list-box" *ngIf="isDataFetched"><input type="hidden" id="pro_count"
                    value="{{products.length}}">
                <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                    (scrolled)="onScroll()">
                    <div class="product-item-box ga-product" *ngFor="let product of products;let pindex=index;">
                        <div class="product-item ">
                            <a [routerLink]="createUrl(product?.keyw)" [queryParams]="{cate:product.queryParams}"
                                data-id="{{ product?.product_id }}-{{ product?.category_id }}"
                                [className]="product.thumb2 !='' ? 'has-second-image lazy' : ''" (click)="productClick(product.product_id)">
                                <div class="product-image">

                                    <span *ngIf="product.tag_class !=''" class="tag {{product.tag_class}}">{{
                                        product.product_tag }}</span>



                                    <img class="first-image" [defaultImage]="defaultImage" [lazyLoad]="product.thumb"
                                        title="{{product.name}}" [alt]="product.alt_tag" />
                                </div>
                                <div class="product-details" *ngIf="product.product_type !='category promo banner'">
                                    <div class="product-list-name">{{product.name}}</div>
                                    <div class="product-list-price">
                                        <div class="price" *ngIf="product.price !=0">
                                            <div *ngIf="product.special==0;else priceBlock;">
                                                <span class="price-new"> Rs. {{product.price}} </span>
                                            </div>
                                            <ng-template #priceBlock>
                                                <span class="price-new"> Rs. {{product.special}}</span>
                                                <span class="price-old"> Rs. {{product.price}}</span>
                                                <span class="price-percentage">
                                                    {{product.percentage_offer}}
                                                </span>
                                            </ng-template>
                                        </div>
                                    </div>
                                    <div class="product-list-time" *ngIf="(product.product_type=='Gifts' || product.manufacturer =='IS');else deliveryBlock">
                                        <!-- <div *ngIf="(product.current_hour < '17');then timeblockOne else timeblockTwo">
                                            here is ignored</div>
                                        <ng-template #timeblockOne>Will be dispatched by <span
                                                class='green-text'>Today.</span></ng-template>
                                        <ng-template #timeblockTwo>Will be dispatched by <span
                                                class='green-text'>Tomorrow.</span></ng-template> -->

                                    <div *ngIf="(product.tattime != '' && product.tattime!='undefined');else deliveryBlockss">
                                        <div *ngIf="(product.tattime == '24');else deliveryBlocktat">
                                            Earliest Delivery: <span class='green-text'>Tomorrow.</span>
                                        </div>
                                        <ng-template #deliveryBlocktat>
                                            Earliest Delivery: <span class='orange-text'>2-3 days.</span>
                                        </ng-template>
                                    </div>
                                    <ng-template #deliveryBlockss>
                                            <div *ngIf="(product.current_hour < '17');then timeblockOne else timeblockTwo">here is ignored</div>
                                            <ng-template #timeblockOne>Earliest Delivery: <span class='orange-text'>2-3 days.</span></ng-template>
                                            <ng-template #timeblockTwo>Earliest Delivery: <span class='orange-text'>2-3 days.</span></ng-template>

                                    </ng-template>         



                                    </div>

                                    <ng-template #deliveryBlock>
                                        <div class="product-list-time">Earliest Delivery: <span
                                                class="green-text">{{product.expected_delivery}}</span>.</div>
                                    </ng-template>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- sinner -->
        <div class="row pb-5">
            <div class="col-md-12 p-5">
                <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                    [fullScreen]="false">
                </ngx-spinner>
            </div>
        </div>
    </div>
</div>
<div class="body-box content-wrap" style="clear:both;">
    <button type="button"  (click)="showBottomContent()" class="collapsible btn hidden-md hidden-lg" [ngClass]="{active1:showContent}">More Information</button>
            <div class="editor-content content" id = "showBottomContent" style="text-align: left">
                <div class="row seocontant" *ngIf="category_data.bottom_description !=''">
                    <div class="col-md-12" [innerHTML]="category_data.bottom_description">
                    </div>
                </div>
                <div class="faq" *ngIf="faqs.length !=0">
                    <h2>{{category_data.faq_heading}} Frequently Asked Questions (FAQ)</h2>
                    <div *ngFor="let faq of faqs">
                    <h3 [innerHTML]="faq.question"></h3>
                    <p></p>
                    <div>
                    <div [innerHTML]="toHTML(faq.answer)"></div>
                    <p></p>
                    </div>
                    </div>
                </div>
        <div *ngIf="category_data.custom_rating!=''"style="margin-bottom:15px; margin-top:15px;"><div class="category-description std"><h3><span itemprop="name">{{category_data.heading_title}}</span></h3></div>
                <div style="
            line-height: 1.4 !important;
            margin-top: 0.7rem;
            text-align: justify;
            padding: 0px;
            margin-bottom: 0px;">Products in this category have been rated <span itemprop="ratingValue">{{category_data.custom_rating}}</span> out of <span itemprop="bestRating">5</span> based on <span itemprop="ratingCount">{{category_data.custom_review}}</span> reviews.</div>
                <div style="
            line-height: 1.4 !important;
            margin-top: 0.7rem;
            text-align: justify;
            padding: 0px;
            margin-bottom: 0px;"> We have a collection of <span itemprop="offerCount">{{category_data.product_total}}</span> Products<!--fresh flowers design--><span itemprop="category"> </span> on sale, ranging from INR <span itemprop="lowPrice">{{category_data.minrange}}</span><!-- <meta content="INR" itemprop="priceCurrency"> --> to INR <span itemprop="highPrice">{{category_data.maxrange}}</span> <meta content="INR" itemprop="priceCurrency"></div>
          </div>
                  
            </div>

    <div class="row" *ngIf="blogposts?.length !=0">
        <div class="col-md-12">
            <div class="blog-box">
                <h3>Fresh & Juicy Read from our Blogs<span class="pull-right small"><a target="_blank"
                            routerLink="/blog">View all Blogs</a></span></h3>
                <ul>
                    <li class="blog-items" *ngFor="let item of blogposts">
                        <h4><a target="_blank" routerLink="/blog/{{item.post_name}}">{{item.post_title}}</a></h4>
                        <p>{{item.post_excerpt |slice:0:300}} <a target="_blank"
                                routerLink="/blog/{{item.post_name}}">Read More</a></p>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div >

        <div class="btm-more-content" *ngIf="quick_links?.length !=0 || nearby_locations?.length !=0">
            <div class="quck-links">QUICK LINKS</div>

            <div *ngIf="quick_links?.length !=0">
                <div *ngFor="let quick_link of quick_links" [innerHTML]="quick_link.text_data" id='links'></div>
            </div>

            <div *ngIf="nearby_locations.length !=0">
                <ul>
                    NEAR BY CITIES:
                    <li *ngFor="let nearby_location of nearby_locations;let i=index;">
                        <a routerLink="{{nearby_location.href}}" [innerHTML]="nearby_location.name"></a>
                        <span *ngIf="nearby_locations.length != i"> | </span>
                    </li>
                </ul>
            </div>
        </div>


    </div>

</div>


<ngx-json-ld [json]="breadcrumbSchema"></ngx-json-ld>
<ngx-json-ld [json]="itemListSchema"></ngx-json-ld>
<ngx-json-ld [json]="productSchema"></ngx-json-ld>
<ngx-json-ld [json]="faqSchema"></ngx-json-ld>