:host ::ng-deep .accordion > input[name="collapse"] {
  display: none;
  
  /*position: absolute;
  left: -100vw;*/
}

:host ::ng-deep .accordion label,
:host ::ng-deep .accordion .content1{
 max-width: 620px;
  margin: 0 auto;
 }


 :host ::ng-deep .accordion .content1 {
  background: #fff;
  overflow: hidden;
  height: 0;
  transition: 0.5s;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}



:host ::ng-deep .accordion label {
  display: block;
 
}


/* For Desktop */
@media only screen and (min-width: 720px){


  :host ::ng-deep .accordion > input[name="collapse"]:checked ~ .content1 {
  height: 550px;
  overflow-y: scroll;
   transition: 0.3s;
}

}



:host ::ng-deep .accordion {
  margin-bottom: 1em;
}

:host ::ng-deep .accordion > input[name="collapse"]:checked ~ .content1 {
  border-top: 0;
  transition: 0.3s;
}

:host ::ng-deep .accordion .handle {
  margin: 0;
  font-size: 16px;
  
}

:host ::ng-deep .accordion label {
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  padding: 10px;
  background: #da6721;
  user-select: none;
  border-radius: 5px;
}

:host ::ng-deep .accordion label:hover,
:host ::ng-deep .accordion label:focus {
  background: #252525;
}

:host ::ng-deep .accordion .handle label:before {
  font-family: FontAwesome;
  content: "\f107";
  display: inline-block;
  margin-right: 10px;
  font-size: 1em;
  line-height: 1.556em;
  vertical-align: middle;
  transition: 0.4s;
  
}

:host ::ng-deep .accordion > input[name="collapse"]:checked ~ .handle label:before {
    transform: rotate(180deg);
    transform-origin: center;
    transition: 0.4s;
}