.modal {display: none;position: fixed;z-index: 9999;padding-top:5%;left: 0;width: 100%;height: 100%;overflow: auto;background-color: rgba(0, 0, 0, 0.66);}
.modal-loc-content {position: relative;background-color: #fefefe;margin: auto;padding: 0;width: 450px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);-webkit-animation-name: animatetop;-webkit-animation-duration: 0.4s;animation-name: animatetop;animation-duration: 0.4s;}
@-webkit-keyframes animatetop {from {top:-300px; opacity:0} to {top:0; opacity:1}}
@keyframes animatetop {from {top:-300px; opacity:0}to {top:0; opacity:1}}
.close {color: black;float: right;font-size: 29px;font-weight: 800;}
.close:hover,.close:focus {color: #000;text-decoration: none;cursor: pointer;}
.modal-loc-header {padding: 10px; border:0px;}
.delivery-pop h2{text-align:center; font-size:18px; margin:0px; padding:0px; font-weight:bold;}
.delivery-pop h3{text-align:center; font-size:15px; margin:0px; padding:0px; padding-top:5px;}
.modal-loc-body {padding: 2px 16px;}
.modal-loc-footer {padding: 0px 0px 25px 0px;background-color: white;color: white;border: 0;}
.but-1 {background: rgb(245, 111, 35);border-width: 0px;cursor: pointer;display: inline-block;padding: 7px 17px;text-align: center;text-decoration: none!important;vertical-align: middle;font-family:Arial;margin: 10px auto 0;color:white;font-size: 16px;}
.a-button1-pop {width: 100%;margin: 0px auto;text-align: center;}
.a-button-text {border: 0;display: block;font-family: Arial,sans-serif;font-size: 17px;line-height: 33px;outline: 0;padding: 2px 20px 2px 20px;text-align: center;white-space: nowrap;}
.delivery-pop {width: 100%;margin: 0px auto;padding:0px;border-radius: 4px;display: grid; padding-bottom:25px;}
#myForm {margin-bottom: 0px !important;}
.inputdiv-loc{width:75%; text-align:center; margin:0 auto; margin-top:20px;}
.inputdiv-loc label {width: 100%;font-size:16px;margin-bottom:0;font-family: Arial;font-weight: 600;}
.inputdiv-loc input {-webkit-appearance: none;-moz-appearance: none;appearance: none;display: block;width: 100%;height: 38px; border-radius:2px;float: left;margin: 0px 0px;padding: 0px 11px;font-size: 14px;line-height: 3;color: #5f5f5f;background-color: #ffffff;background-image: none;
    border: 1px solid #d0d0d0;-ms-word-break: normal;word-break: normal;font-weight: normal;font-family:Arial;}
::placeholder {color: #9b9b9b;opacity: 1;}
.dropdown-menu {margin:0px;}
.top-cities{margin-top:20px; text-align:center;}
.top-cities p{margin-top: 5px;    text-align: center;    font-size: 17px;    font-weight: bold;    text-decoration: underline;}
.top-cities ul{margin-top:5px;}
.top-cities li{margin-top:5px; list-style:none; display:inline-block; width:33%;}
.top-cities li a{color:#337ab7;}
@media (max-width: 768px) {
.modal-loc-content{width:80%;}
.modal {z-index: 9999; padding-top:20%;}
.delivery-pop {width: 100%;padding-bottom:20px}
.inputdiv-loc {    width: 100%;	}
.top-cities li{margin-top:8px;}
}