    <!-- The Modal -->
    <div id="myModal_delivery" class="modal">    
      <!-- Modal content -->
      <div class="modal-content modal-loc-content">
        <div class="modal-header modal-loc-header">
          <span class="close closeDelivery" (click)="closeDeliverypopup()">&times;</span>
      </div>
        <div class="modal-body modal-loc-body">
         <div class="delivery-pop">
         <h2>Choose your Delivery Location</h2>
         <h3>Where would you like to get the product delivered?</h3>            
               <div class="inputdiv-loc">
                <input type="text" (keyup)="getPopUpCity($event)" (change)="citySelected($event)" placeholder="Enter City Name" id="userTypedCity" list="dynmicCitites" />
                <datalist id="dynmicCitites">
                   <option *ngFor="let item of cities" [value]="item.city_name">{{item.city_name}}</option>
                </datalist>
              </div>          
            <div class="top-cities">
            <p>Top Cities</p>
                <ul>
               	<li *ngFor="let city of staticCities"><a href="javascript:void(0)"  (click)="setDeliveryPopCity(city.city_id,city.city_name)">{{city.city_name}}</a></li>	
                </ul>
            </div>
           </div>
        </div>
      </div>
    </div>