<app-header *ngIf="!isCartHeader && !isBlogPage"></app-header>
<app-cartheader *ngIf="isCartHeader && !isBlogPage"></app-cartheader>
<router-outlet></router-outlet>
<app-footer *ngIf="!isCartHeader && !isBlogPage"></app-footer> 