<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="disable" *ngIf="view==1">
    <span class="count">2</span>
    <div class="heading">Delivery Address</div>
</div>
<div class="left-inner mft-delivery-form" *ngIf="view==2">
    <div class="steps open">
        <span class="count active">2</span>
        <div class="heading">Delivery Address</div>
        <div class="input-wrap mft-delivery-form-data">
            <a href="javascript:void(0);" (click)="editAddress(0)"> + Add New Recipient Address</a>
        </div>
        <div class="address-book mft-delivery-form-data">
            <ul>
                <li class="address-list leaf" *ngFor="let addr of addinfo" >
                    <span class="address-wrap" >
                        <label for="address-select639002" (click)="deliverHere(addr.address_id,addr.postcode,addr.city_id)">
                            <input type="radio" name="addresses" value="{{addr.address_id}}">
                            <span class="name">{{addr.firstname}}</span>
                            <span class="add-1">{{addr.address_1}}</span>
                            <span class="pincode">Pincode : {{addr.postcode}} ({{addr.city}})</span>
                            <span class="mobile">Mobile : {{addr.telephone}}</span>
                            <span class="deliver-btn">Deliver Here</span>
                        </label>
                        <span class="edit-address"><img loading="lazy"  alt="Edit"
                                src="{{CDN_PATH}}2019/newcheckout/images/edit.svg" (click)="editAddress(addr.address_id)"></span>
                        <span class="delete-add"><img loading="lazy"  alt="Delete"
                                src="{{CDN_PATH}}2019/newcheckout/images/bin.svg"
                                (click)="deleteAddress(addr.address_id)"></span>
                                <span style="color: red;" *ngIf="not_deliverable !=0 && selected_address_id == addr.address_id">Product Delivery is not available on this pincode</span>        
                    </span>
                    
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="left-inner mft-delivery-form" *ngIf="view==3">
    <div class="steps open"><span class="count active">2</span>
        <div class="heading">Delivery Address</div>
        <form [formGroup]="addressForm" id="addnewaddr" (ngSubmit)="addAddress()" class="addr-form adnewform mft-delivery-form-data">
            <div id="address-form">
                <div class="fields-wrap">
                    <div class="input-wrap"><label class="inp"><input class="field onfocusfield" id="usr-new" type="text" formControlName="fname"
                                placeholder="Receiver Name">
                            <span class="label">Receiver Name <i class="required">*</i></span><span
                                class="border"></span>
                            <span *ngIf="!addressForm.get('fname').valid && addressForm.get('fname').touched"
                                class="error-message"> Please Enter Name </span>
                            
                        </label>
                    </div>
                </div>
           
                <div class="fields-wrap">
                    <div class="input-wrap">
                        <label class="inp">
                            <input class="field" list="dynmicCities" type="text" [(ngModel)]='selected' (change)="selectCityName(selected)" formControlName="filter_inter_city" placeholder="City"/>
                            <span class="label">Delivery City <i class="required">*</i></span>
                            <span class="border"></span>
                            <datalist id="dynmicCities">
                                <option *ngFor="let cy of inter_cities" [value]="cy.city"></option>
                        </datalist> 
                            <span *ngIf="!addressForm.get('filter_inter_city').valid && addressForm.get('filter_inter_city').touched"
                                class="error-message">Please Select City Name</span>
                        </label>
                    </div>
               </div> 
               
                <div class="fields-wrap">
                    <div class="input-wrap"><label class="inp"><input class="field" id="pincode-new" type="text" formControlName="pcode"
                        placeholder="Pincode">
                            <span class="label">Delivery Pincode <i class="required">*</i></span><span
                                class="border"></span>
                            <span *ngIf="!addressForm.get('pcode').valid && addressForm.get('pcode').touched"
                                class="error-message">
                                <span *ngIf="addressForm.get('pcode').errors['required']">Please Enter Pincode</span>
                            </span>
                        </label>
                    </div>
                </div>
               
                <div class="fields-wrap">
                    <div class="input-wrap address-type"><select id="addresstypelelabel-new" [(ngModel)]="defaultAddressType" formControlName="addresstype">
                            <option value="Home">Home</option>
                            <option value="office">Office</option>
                            <option value="residence">Residence</option>
                            <option value="school/college">School/College</option>
                            <option value="hostel">Hostel</option>
                            <option value="airport">Airport</option>
                            <option value="hotel">Hotel</option>
                            <option value="other">Other</option>
                        </select><label>Address Type (Optional)</label></div>
            <span  class="error-message"></span>
                </div>
                <div class="fields-wrap area-wrap">
                    <div class="input-wrap"><label class="inp"><textarea class="area onfocusfield" maxlength="125"
                                formControlName="customer_address" rows="4" id="textareaChars-new" placeholder=""></textarea><span
                                class="label">Delivery Address <i class="required">*</i></span>
                                <span class="border"></span>
                        <span *ngIf="!addressForm.get('customer_address').valid && addressForm.get('customer_address').touched"
                                class="error-message">Please fill Address Greater than 5 characters</span>
                            </label></div>
                </div>
                <div class="fields-wrap">
                    <div class="input-wrap"><label class="inp country-code-block fixed">
                    <span class="error-message"></span></label><label class="inp">
                    <input type="text" class="onfocusfield field" placeholder="Receiver Mobile" id="mobile-new" formControlName="customer_mobile">
                    <span class="label">Receiver Mobile <i class="required">*</i></span><span class="border"></span><span class="example">i.e
                                9999XXXXXX</span>
                    <span *ngIf="!addressForm.get('customer_mobile').valid && addressForm.get('customer_mobile').touched"
                        class="error-message">
                        <span *ngIf="addressForm.get('customer_mobile').errors['required']">Please Enter Mobile Number</span>
                        <span *ngIf="addressForm.get('customer_mobile').errors['minlength']">Please Enter Correct Mobile Number</span>
                        <span *ngIf="addressForm.get('customer_mobile').errors['maxlength']">Please Enter Correct Mobile Number</span>
                    </span>
                </label></div>
                </div>


                <div class="fields-wrap alt-no" *ngIf="!alternate_number_show">
                    <div class="input-wrap"><a class="addrs-alt-number" (click)="alternate_number_show = !alternate_number_show">+Add Alternate Number</a></div>
                </div>
                <div class="fields-wrap alt-no-visible" id="almobile-new-block" *ngIf="alternate_number_show">
                    <div class="input-wrap"><label class="inp country-code-block fixed"><span
                                class="error-message" ></span></label><label
                            class="inp"><input type="tel"
                                class="field onfocusfield" placeholder="Alternate Mobile"
                                formControlName="customer_mobile_alternate" id="almobile-new" ><span class="label">Alternate
                                Mobile</span><span class="border"></span><span class="example">i.e
                                9999XXXXXX</span>
                <span *ngIf="!addressForm.get('customer_mobile_alternate').valid && addressForm.get('customer_mobile_alternate').touched"
                    class="error-message">
                    <span *ngIf="addressForm.get('customer_mobile_alternate').errors['minlength']">Please Enter Correct Mobile Number</span>
                    <span *ngIf="addressForm.get('customer_mobile_alternate').errors['maxlength']">Please Enter Correct Mobile Number</span>
                </span>
                    <a class="addrs-alt-number-cancel" (click)="alternate_number_show = !alternate_number_show">Cancel</a></label></div>
                </div>
            </div>
            <div class="seprator mft-delivery-form-data"></div>
            <div class="submit-btn mft-delivery-form-data">
                <input class="field add-address" id="direct" type="submit" value="CONTINUE">
                </div>
        </form>
    </div>
</div>

<div class="filled wrap" *ngIf="view==4" (click)="addressList()">
	<span class="count filled">2</span>
	<span class="filled-head">Delivery Address</span>
	<ul>
		<li class="leaf name first">
			<span class="filled-heading">Receiver Name</span>
			<span class="filled-data">{{select_addinfo['firstname']}}</span>
		</li>
		<li class="leaf number">
			<span class="filled-heading">Reciever Mobile</span>
			<span class="filled-data">+91 {{select_addinfo['telephone']}}</span>
		</li>
		<li class="leaf email last">
			<span class="filled-heading">Receiver Address</span>
			<span class="filled-data">{{select_addinfo['address_1']}}</span>
		</li>
	</ul>
	<span class="edit"><img loading="lazy"  src="{{CDN_PATH}}2019/newcheckout/images/edit.svg" alt="Edit"></span>
</div>

        <ng-container #vc></ng-container>
        <ng-template #modal_1>
            <div id="add-new-address-popup" class="modal">
                <form [formGroup]="addressEditForm" (ngSubmit)="addAddress()">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close" id="closeAddressPopup" (click)="closeDialog()">&times;</span>
                          <div class="address-popup-heading">Recipient Address</div>
                      <div id="address-form">
                          <div class="fields-wrap">
                              <div class="input-wrap">
                                  <label class="inp">
                                     <input class="field" type="text" formControlName="fname" placeholder="Receiver Name">
                                      <span class="label">Receiver Name <i class="required">*</i></span>
                                      <span class="border"></span>
                    <span *ngIf="!addressEditForm.get('fname').valid && addressEditForm.get('fname').touched"
                                class="error-message"> Please Enter Name </span>
                                  </label>
                              </div>			
                          </div>
                          <div class="fields-wrap">
                            <div class="input-wrap">
                                <label class="inp">
                                    <input class="field" list="dynmicCities" (keyup)="searchCity($event.target.value)" type="text" [(ngModel)]='selected' (change)="selectCityName1(selected)" formControlName="filter_inter_city" placeholder="City"/>
                                    <span class="label">Delivery City <i class="required">*</i></span>
                                    <span class="border"></span>
                                    <datalist id="dynmicCities">
                                        <option *ngFor="let cy of inter_cities" [value]="cy.city"></option>
                            </datalist> 
                                    <span *ngIf="!addressEditForm.get('filter_inter_city').valid && addressEditForm.get('filter_inter_city').touched"
                                        class="error-message">Please Select City Name</span>
                                </label>
                            </div>
                       </div> 
                       
                        <div class="fields-wrap">
                            <div class="input-wrap"><label class="inp"><input class="field" id="pincode-new" type="text" formControlName="pcode"
                                placeholder="Pincode">
                                    <span class="label">Delivery Pincode <i class="required">*</i></span><span
                                        class="border"></span>
                                    <span *ngIf="!addressEditForm.get('pcode').valid && addressEditForm.get('pcode').touched"
                                        class="error-message">
                                        <span *ngIf="addressEditForm.get('pcode').errors['required']">Please Enter Pincode</span>
                                    </span>
                                </label>
                            </div>
                        </div>       
              
                          <div class="fields-wrap">
                                  <div class="input-wrap address-type">
                                      <select formControlName="addresstype" [(ngModel)]="defaultAddressType">
                              <option value="Home">Home</option>
                              <option value="office">Office</option>
                              <option value="residence">Residence</option>
                              <option value="school/college">School/College</option>
                              <option value="hostel">Hostel</option>
                              <option value="airport">Airport</option>
                              <option value="hotel">Hotel</option>
                              <option value="other">Other</option>
                                        </select>
                                                            <label>Address Type (Optional)</label>
              
                                  </div>
                                 <span id="addresstypelelabel-new_error"  class="error-message"></span>
                          </div>
                          <div class="fields-wrap area-wrap">
                              <div class="input-wrap">
                                  <label class="inp">
                                      <textarea class="area onfocusfield" maxlength="125" formControlName="customer_address" rows="4" placeholder=""></textarea>
                                      <div style="font-size: 10px; font-weight: normal; line-height: normal; margin-top: -9px; background-color: antiquewhite;"><b>Note:</b> Please enter complete address incl House Number and Landmark to ensure faster delivery.</div>
                                      <span class="label">Delivery Address <i class="required">*</i></span>
                                      <span class="border"></span>
                                      <span *ngIf="!addressEditForm.get('customer_address').valid && addressEditForm.get('customer_address').touched"
                                      class="error-message">Please fill Address Greater than 5 characters</span>
                                  </label>
                              </div>
                         </div>
              
              
                          <div class="fields-wrap">
                              <div class="input-wrap">
                  <label class="inp country-code-block fixed">
                  <span class="error-message" id="country_code_error"></span>
                  </label>	
                                  <label class="inp">
                                      <input type="tel" class="field" placeholder="Receiver Mobile"  formControlName="customer_mobile" />
                                      <span class="label">Receiver Mobile <i class="required">*</i></span>
                                      <span class="border"></span>
                                      <span class="example">i.e 9999XXXXXX</span>
                                      <span *ngIf="!addressEditForm.get('customer_mobile').valid && addressEditForm.get('customer_mobile').touched"
                                      class="error-message">
                                      <span *ngIf="addressEditForm.get('customer_mobile').errors['required']">Please Enter Mobile Number</span>
                                      <span *ngIf="addressEditForm.get('customer_mobile').errors['minlength']">Please Enter Correct Mobile Number</span>
                                      <span *ngIf="addressEditForm.get('customer_mobile').errors['maxlength']">Please Enter Correct Mobile Number</span>
                                  </span>
                                  </label>
                              </div>
                          </div>
                          
                    <div class="fields-wrap" *ngIf="!alternate_number_show">
                                  <div class="input-wrap">
                                  <a class="addrs-alt-number" (click)="alternate_number_show = !alternate_number_show">+Add Alternate Number</a>
                          </div>
                    </div>
                          <div class="fields-wrap" id="almobile-new-block" *ngIf="alternate_number_show">           
                              <div class="input-wrap">
                  <label class="inp country-code-block fixed">
                  <span class="error-message" id="alt_country_code_error"></span>
                  </label>
                                  <label class="inp">
                                      <input  type="tel" class="field onfocusfield" placeholder="Alternate Mobile" formControlName="customer_mobile_alternate" id="almobile-new"/>
                                      <span class="label">Alternate Mobile</span>
                                      <span class="border"></span>
                                      <span class="example">i.e 9999XXXXXX</span>
                                      <span *ngIf="!addressEditForm.get('customer_mobile_alternate').valid && addressEditForm.get('customer_mobile_alternate').touched"
                                      class="error-message">
                                      <span *ngIf="addressEditForm.get('customer_mobile_alternate').errors['minlength']">Please Enter Correct Mobile Number</span>
                                      <span *ngIf="addressEditForm.get('customer_mobile_alternate').errors['maxlength']">Please Enter Correct Mobile Number</span>
                                  </span>
                                      <a class="addrs-alt-number-cancel" (click)="alternate_number_show = !alternate_number_show">Cancel</a>
                                  </label>
                              </div>			
                          </div>
                      </div>
            <div class="submit-btn ">      
                <input type="hidden" formControlName="address_id">        
                            <input class="field add-address" type="submit" value="CONTINUE">
                        </div>
                </div>
            </form>
              </div>           
        </ng-template>