 :host ::ng-deep .error-message{color: red;}
 :host ::ng-deep .panel-default:nth-child(n+5) {
    display:none;     
  }
  :host ::ng-deep .addmore{float:right; font-size:12px; color: blue ; margin-right:3%;}
   :host ::ng-deep .removeadd{float:right; font-size:12px; color:red;}
    
  :host ::ng-deep .body-box {margin: 0 auto;max-width: 100% !important;padding: 0px !important;}
 :host ::ng-deep      .cat_wrapper {display: table;width: 100%;}
 :host ::ng-deep      .contact-heading img {
          width: 100%;
      }
    :host ::ng-deep   .contact-form {
          text-align: center;
      }
    :host ::ng-deep   .contact-wrap {
          max-width: 1366px;
          margin: 0 auto 5pc auto;
      }
    :host ::ng-deep   .main-btn{width: 100%;
          margin: 0px auto;
          display: inline-block;}
          :host ::ng-deep .main-btn .btn{line-height: 35px;
          border-radius: 3px;
          background: linear-gradient(242deg, #2deed4, #2cd791);
          color: #fff;
          border: transparent;
          max-width: 375px;
          width: 100%;
          margin-bottom: 25px;}
      :host ::ng-deep .contact-form .form {
          border: 1px solid #ccc;
          display: inline-block;
          width: 100%;
          max-width: 900px;
          margin: 50px auto auto auto;
          padding: 20px;
          background:white;
      }
      :host ::ng-deep .input-effect input {
          width: 100%;
          display: inline-block;
      }
      :host ::ng-deep input.effect {
          font: 15px/24px "Lato", Arial, sans-serif;
          color: #333;
          width: 100%;
          box-sizing: border-box;
          letter-spacing: 1px;
      }
      :host ::ng-deep .input-effect > input[type=text],input[type=file], select, textarea {
        width: 100%;
        background: transparent;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      :host ::ng-deep textarea.effect-16.effect {
          width: 100%;
          height: 82px;
              text-align: left;
          padding: 10px;
          direction: ltr;
      }
      
      :host ::ng-deep .error-message {
          position: absolute;
          font-size: 12px;
          bottom: -20px;
          width: 100%;
          left: 0;
      }
      :host ::ng-deep .effect-16 {
          padding: 4px 0;
          border-bottom: 1px solid #ccc;
          background-color: transparent;
      }
      :host ::ng-deep .input-notes{width:98% !important;
      margin:20px auto;}
      :host ::ng-deep .col-3 {
          float: left;
          width: 47.33%;
          position: relative;
          text-align: left;
          margin: 20px 11px;
      }
      :host ::ng-deep .addmore {
          float: right;
          font-size: 12px;
          color: blue;
          margin-right: 3%;
      }
      :host ::ng-deep body {background: #f3f5f5 !important;}
      @media screen and (max-width: 768px){
      :host ::ng-deep .contact-box{margin-top:0px !important;}
      
        :host ::ng-deep .col-3 {
          width: 100%;
          margin: 0px auto;
      }
      :host ::ng-deep .input-effect > input[type=text], input[type=file], select, textarea {
          padding: 10px;
      }
      :host ::ng-deep #complaint_reason{padding:15px 10px !important;}
      :host ::ng-deep label {
          margin-top: 10px;
          margin-bottom:0px;
      }
      :host ::ng-deep .main-btn .btn{margin:20px 0px !important;}
      :host ::ng-deep .contact-form .form {
          margin: 10px auto auto auto;
      width:90%;}
      }