<!-- <app-header></app-header> -->
<div class="contact-box" *ngIf="showForm">
   <div class="row">
      <div class="contact-heading">
        <img loading="lazy"  class="hidden-xs" src="{{CDN_DOMAIN}}live-site-2016/2021/contact-banner.jpg">
        <img loading="lazy"  class="hidden-lg hidden-md hidden-sm" src="{{CDN_DOMAIN}}live-site-2016/2021/contact-banner-mobile.jpg">
      </div>
      <div class="contact-wrap">
         <form [formGroup]="cs" class="form-horizontal" (ngSubmit)="submitCsForm()"> 
            <div class="contact-form">
            <div class="form">
    <div class="col-3 input-effect">
      <label>Order ID</label>
      <input class="effect-16 effect" type="text" formControlName="order_id" placeholder="Order Id.." required="required" maxlength="10" value="" id="input-order-id">
                    
                    <span class="focus-border"></span>

                    <span *ngIf="!cs.get('order_id').valid && cs.get('order_id').touched"
                    class="error-message">
                      <span *ngIf="cs.get('order_id').errors['required']">Please Enter Order Id</span>          
                    </span>
                    <span class="error_order_id error-message" style="color: red;"></span>
    </div>
    <div class="col-3 input-effect">
      <label>Category of Complaint</label>
      <select formControlName="complaint_reason" id="complaint_reason" data-placeholder="Complaint Reason">
        <option value="" selected>Category of Complaint</option>
        <option value="Quality Issues">Quality Issues</option>
        <option value="Arrived Late">Arrived Late</option>
        <option value="Different Product Received">Different Product Received</option>
        <option value="Item Missing">Item Missing</option>
        <option value="Quantity is not as Ordered">Quantity is not as Ordered</option>
        <option value="Wrong Message">Wrong Message</option>
        <option value="Not Delivered">Not Delivered</option>
        <option value="Other">Other</option>
            </select>
            <span class="focus-border"></span>
            <span *ngIf="!cs.get('complaint_reason').valid && cs.get('complaint_reason').touched"
            class="error-message">
               <span *ngIf="cs.get('complaint_reason').errors['required']">Please Select Complaint Reason</span>          
            </span>
            <span class="error_name error-message" style="color: red;"></span>
        </div>

        <div class="col-3 input-effect area input-notes">
          
          <textarea onkeyup="if(this.value !='') $('.error_enquiry').html('');" class="effect-16 effect" formControlName="notes" rows="10" required="required" id="input-notes" placeholder="Notes.."></textarea>
         <label>Notes</label>
         <span class="focus-border"></span>
         <span class="error_enquiry error-message" style="color: red;"></span>
        </div>
       
        <div class="col-3 input-effect">
         <label>Image</label>
         <input class="effect-16 effect cfile" type="file" placeholder="Image.." (change)="onUploadFile($event)" id="input-file-1">
         
         <span class="focus-border"></span>
         <span class="error_image error-message" style="color: red;"></span>
         <span style="color:red" class="error_image" id="input-file-1-error"></span>

         <a href="javascript:void" (click)="addMore()" class="addmore">Add More</a>
        </div>
        
        
         <div class="col-3 input-effect" style="display:none;" id="file_block_2"><label>Image</label><input class="effect-16 effect cfile" type="file" (change)="onUploadFile($event)" id="input-file-2"><span class="focus-border"></span><span class="error_image error-message" style="color: red;"></span><span style="color:red" class="error_image" id="input-file-2-error"></span><a href="javascript:void" (click)="remove(2)" class="removeadd">Remove</a></div>
         <div class="col-3 input-effect" style="display:none;" id="file_block_3"><label>Image</label><input class="effect-16 effect cfile" type="file" (change)="onUploadFile($event)"  id="input-file-3"><span class="focus-border"></span><span class="error_image error-message" style="color: red;"></span><span style="color:red" class="error_image" id="input-file-3-error"></span><a href="javascript:void" (click)="remove(3)" class="removeadd">Remove</a></div>
                

          <div class="col-3 input-effect area">
            <label>What is {{a}} + {{b}}?</label>
            <input id="BotBootInput" formControlName="whatis" type="text" maxlength="2" size="2" class="filled">

            <span *ngIf="!cs.get('whatis').valid && cs.get('whatis').touched"
                class="error-message">
                  <span *ngIf="cs.get('whatis').errors['required']">Please Enter Number</span>          
                </span>
            <span *ngIf="errormsgwhat!=''" class="error_captcha error-message" style="color: red;">{{errormsgwhat}}</span>
            

            <span  class="error_captcha error-message" style="color: red;"></span>
          </div>

          <div class="main-btn">
            <input class="btn btn-primary button" id="consub" type="submit" value="Submit">
         </div>
          <span *ngIf="errormsg!=''" class="error_captcha " style="color: red;">{{errormsg}}</span>
    </div>
   </div> 
</form>
  </div>
  </div>
 </div>
 <div id="resultLoading" style="width: 100%; height: 100%; position: fixed; z-index: 10000000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; display:none;"><div style="width: 250px; height: 75px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; font-size: 16px; z-index: 10; color: rgb(255, 255, 255);">
    <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/live-new/images/full_page_loader.gif"><div></div></div><div class="bg" style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div></div>
