.reviews ul li{height:200px; font-family:mft-font;vertical-align: top;} .review-note{text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;} 

@media screen and (max-width:760px) {
    .margintop30 {
        margin-top: 0px;
    }
}
 
