
    <div class="reviews">
      <ul>
        <li class="first leaf" *ngFor="let item of review">
          <div class="star">
            <a *ngFor="let items of reviewcount let i=index ">  
              
              
              <i><img loading="lazy"  src="{{CDN_PATH}}2019/new_home_page/images/star.png" alt="star" /></i> 
            </a>
            <span class="based-on"><span class="score">{{item.rating}}/5</span></span></div>
          <div class="review-name">{{item.author}}</div>
          <div class="date-time">{{item.date_added | date :'medium'}} </div>
          <div class="review-note">{{item.text}} </div>
          <div class="recomend"><img loading="lazy"  src="{{CDN_PATH}}2019/new_home_page/images/thumb-icon.svg" alt="thumb"> Recommended Our Service</div>
        </li>
        
      </ul>
    </div>
 