<!-- <app-header></app-header> -->
<div id="container" class="container j-container">
    <ul class="breadcrumb">
        <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb"><a routerLink="https://www.myflowertree.com" itemprop="url"><span itemprop="title">Home</span></a></li>
        <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb"><a routerLink="https://www.myflowertree.com/privacy-policy" itemprop="url"><span itemprop="title">Privacy Policy</span></a></li>
    </ul>
    <div class="row">
        <div style="margin-top:80px;" id="content" class="col-sm-12">
            <h1 class="heading-title">Privacy Policy</h1>
           <div [innerHTML]="termsdata[0]?.description"></div>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->