<app-blogheader></app-blogheader>
<section class="testimonials">
	<div id="demo">
        <div class="container-fluid">
          <div class="row">
            <div class="span12">
              <div id="owl-demo" class="owl-carousel">
                <div class="item"><a routerLink="/blog/8-tricks-to-get-your-partner-attention-easily"><img loading="lazy"  src="{{CDN_DOMAIN}}blog/wp-content/uploads/2021/03/12151032/8-Tricks-to-Get-Your-Partner-Attention-Easily.jpg" alt="Owl Image"></a></div>
                <div class="item"><a routerLink="/blog/what-are-the-fabulous-indian-jewellery-online"><img loading="lazy"  src="{{CDN_DOMAIN}}blog/wp-content/uploads/2021/03/11075153/feATURE-IMAGE2.jpg" alt="Owl Image"></a></div>
                <div class="item"><a routerLink="/blog/7-most-interesting-wedding-anniversary-gift-ideas-for-wife"><img loading="lazy"  src="{{CDN_DOMAIN}}blog/wp-content/uploads/2021/03/09063949/7-Most-Interesting-Wedding-Anniversary-.jpg" alt="Owl Image"></a></div>
                <div class="item"><a routerLink="/blog/what-are-the-most-surprising-birthday-gifts-for-wife"><img loading="lazy"  src="{{CDN_DOMAIN}}blog/wp-content/uploads/2021/03/06110639/feature-image1.jpg" alt="Owl Image"></a></div>
                <div class="item"><a routerLink="/blog/6-most-impressive-womens-day-gifts-ideas-2021"><img loading="lazy"  src="{{CDN_DOMAIN}}blog/wp-content/uploads/2021/03/04154420/Gifts-Ideas-2020.jpg" alt="Owl Image"></a></div>
                <div class="item"><a routerLink="/blog/5-marvelous-gifts-ideas-can-tempt-your-mind"><img loading="lazy"  src="{{CDN_DOMAIN}}blog/wp-content/uploads/2021/03/03083230/feature-image.jpg" alt="Owl Image"></a></div>
                <div class="item"><a routerLink="/blog/7-advantages-of-waking-up-early-in-the-morning"><img loading="lazy"  src="{{CDN_DOMAIN}}blog/wp-content/uploads/2021/03/01053809/of-Waking-Up-Early-in-the-Morning.jpg" alt="Owl Image"></a></div>
                <div class="item"><a routerLink="/blog/top-10-presents-for-18th-birthday"><img loading="lazy"  src="{{CDN_DOMAIN}}blog/wp-content/uploads/2021/02/27081653/Top-10-Presents-for-18th-Birthday.jpg" alt="Owl Image"></a></div>
                    <div class="item"><a routerLink="/blog/8-brilliant-ideas-to-make-this-womens-day-special"><img loading="lazy"  src="{{CDN_DOMAIN}}blog/wp-content/uploads/2021/02/24120018/8-Brilliant-Ideas-to-Make-This-Womens-Day-Special.jpg" alt="Owl Image"></a></div>
                <div class="item"><a routerLink="/blog/10-tips-to-celebrate-birthday-like-a-pro"><img loading="lazy"  src="{{CDN_DOMAIN}}blog/wp-content/uploads/2021/02/01052309/10-Tips-to-Celebrate-Birthday-Like-A-Pro1.jpg" alt="Owl Image"></a></div>
              </div>                        
            </div>
          </div>
        </div>
    </div>
    </section>
<div id="content" class="site-content">
  <div class="col-lg-12 col-md-12 col-sm-12 inner-content">
    <div class="row">

      <!--block left start-->
      <div class="col-lg-9 col-md-9 col-sm-9">
<section id="primary" class="content-area">
<main id="main" class="site-main" role="main">

<header class="page-header">
<h1 class="page-title">
Latest - Post </h1>
</header>

<article *ngFor="let post of posts">
<div class="blog-item-wrap">
<div class="row">
<div class="col-md-12">
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 blog-pic-box ">
<a routerLink="/blog/{{post.post_name}}" title="{{post.post_title}}">
<img loading="lazy"  width="600" height="410" [src]="post.image" class="single-featured wp-post-image" alt="{{post.image_title}}" /> </a>
</div>
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 blog-content-box">
  <h1 class="entry-title"><a routerLink="/blog/{{post.post_name}}" rel="bookmark">{{post.post_title}}</a></h1>
<div class="entry-meta">
<span class="posted-on"><i class="fa fa-calendar"></i> <a routerLink="/blog/{{post.post_name}}" rel="bookmark"><time class="entry-date published" datetime="2021-01-15T04:30:40+00:00">{{post.post_date}}</time></a></span><span class="byline"> <i class="fa fa-user"></i> <span class="author vcard"><a class="" routerLink="/">MyFlowerTree</a></span></span>
</div>
<div class="entry-content">
<p [innerHtml]="post.post_excerpt"></p>
</div>
</div>
</div>
</div>


</div>
</article>

<nav class="navigation paging-navigation" role="navigation">
<div class="screen-reader-text">Posts navigation</div>
<div class="nav-links">
<div class="nav-previous" *ngIf="showOld"> <a routerLink="{{oldUrl}}"><i class="fa fa-chevron-left"></i> Older posts</a></div>
<div class="nav-next" *ngIf="showNew"> <a routerLink="{{newUrl}}"><i class="fa fa-chevron-right"></i> Newer posts</a></div>
</div>
</nav>
</main>
</section>
 </div>
 
<!--block right start-->

<div class="blog-right-block col-lg-3 col-md-3 col-sm-3">


<aside id="sfsi-widget-2" class="widget sfsi"> 

  <div id="custom_html-5"><div class="textwidget"><a href="" target="_blank">
    <img loading="lazy"  src="{{CDN_DOMAIN}}blog/aside-banner.jpg" alt="Gifts online" class="lazyloaded"><noscript><img loading="lazy"  src="{{CDN_DOMAIN}}blog/aside-banner.jpg" alt="Gifts online"></noscript>
    </a></div></div>

<div class="sfsi_widget" data-position="widget">
<div id='sfsi_wDiv'></div>
<h3 class="widget-title">Follow us :)</h3>
<div class="norm_row sfsi_wDiv" style="width:100%;text-align:center;position:relative;margin:10px auto;">
  <div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px;' class='sfsi_wicons shuffeldiv '>
     <div class='inerCnt'>
        <a class='sficn' rel="nofollow" effect='scale' href='https://www.facebook.com/MyFlowerTree' id='sfsiid_facebook' alt='Facebook' style='opacity:1'><img loading="lazy"  alt='Facebook' title='Facebook' src='{{CDN_DOMAIN}}blog/default_facebook.png' width='40' class='sfcm sfsi_wicon' effect='scale' /></a>
     </div>
  </div>
  <div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px;' class='sfsi_wicons shuffeldiv '>
     <div class='inerCnt'>
        <a class=' sficn' rel="nofollow" effect='scale' href='javascript:void(0)' id='sfsiid_google' alt='Google+' style='opacity:1'><img loading="lazy"  alt='Google+' title='Google+' src='{{CDN_DOMAIN}}blog/default_google.png' width='40' class='sfcm sfsi_wicon' effect='scale' /></a>
     
     </div>
  </div>
  <div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px;' class='sfsi_wicons shuffeldiv '>
     <div class='inerCnt'>
        <a class=' sficn' rel="nofollow" effect='scale' href='https://twitter.com/myflowertreemft' id='sfsiid_twitter' alt='Twitter' style='opacity:1'><img loading="lazy"  alt='Twitter' title='Twitter' src='{{CDN_DOMAIN}}blog/default_twitter.png' width='40' class='sfcm sfsi_wicon' effect='scale' /></a>

     </div>
  </div>
  <div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px;' class='sfsi_wicons shuffeldiv '>
     <div class='inerCnt'><a class=' sficn' rel="nofollow" effect='scale' target='_blank' href='https://www.linkedin.com/company/myflowertree-com' id='sfsiid_linkedin' alt='Linkedin' style='opacity:1'><img loading="lazy"  alt='Linkedin' title='Linkedin' src='{{CDN_DOMAIN}}blog/default_linkedin.png' width='40' class='sfcm sfsi_wicon' effect='scale' /></a></div>
  </div>
</div >
<div id="sfsi_holder" class="sfsi_holders" style="position: relative; float: left;width:100%;z-index:-1;"></div >
<div style="clear: both;"></div>
</div>
</aside>

 <aside id="recent-posts-3" class="widget widget_recent_entries"> 
 <h3 class="widget-title">Recent Posts</h3> 
 <ul>
 <li *ngFor="let rec of recentpost">
			  <a routerLink="/blog/{{rec.post_name}}/">{{rec.post_title}}</a>
</li>
</ul>
</aside>

<aside id="categories-2" class="widget widget_categories">
  <h3 class="widget-title">Categories</h3>
  <select name="cat" id="cat" class="postform" (change)="selectedoptions($event.target.value)" >
    <option value="-1">Select Category</option>
    <option class="level-0" *ngFor="let cat of detailcat" value="{{cat.slug}}">{{cat.name}}&nbsp;&nbsp;({{cat.count}})</option>
    
    
</select>
</aside>

<aside id="tag_cloud-2" class="widget widget_tag_cloud"><h3 class="widget-title">Tags</h3><div class="tagcloud"><a routerLink='https://www.myflowertree.com/blog/tag/anniversary-gift/' class='tag-link-302' title='4 topics' style='font-size: 8pt;'>anniversary gift</a>
	<a *ngFor="let tg of detailtags" routerLink='/blog/tag/{{tg.slug}}' class='tag-link-{{tg.slug}}' title='4 topics' style='font-size: 8pt;'>{{tg.name}}</a>
</div>
</aside> 



 </div>
</div>
</div>
</div>

<footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="widget">
                            <div class="footer-text text-center">
                                <a routerLink="/"><img loading="lazy"  src="images/blog/myflowertree-logo.png" alt="" class="img-fluid"></a>
                                <p>If you’re on this page, you have come to the right place to find some useful gifts.</p>
                            
                                <hr class="invis">

                                <div class="newsletter-widget text-center">
                                  <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="form-inline">
                                    <input type="text" formControlName="email" class="form-control" placeholder="Enter your email address">
                                    
                                    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Subscribe</button>
                                    <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
                                        class="error-message">
                                        <span *ngIf="loginForm.get('email').errors['required']" style="color: red;">Please Enter Email</span>
                                        <span *ngIf="loginForm.get('email').errors['email']" style="color: red;">Please Enter Valid Email</span>
                                    </span>
                                    <span style="color: green;">{{successmsg}}</span>
                                </form>
                                </div><!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <br>
                        <div class="copyright1">Copyright&copy; MyFlowerTree</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer>