   :host::ng-deep body{background-color: #f3f3f3;font-family: 'Open Sans';}
   :host::ng-deep a {color: #B40404;text-decoration: none;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
   :host::ng-deep img {height: auto;max-width: 100%;}
   :host::ng-deep .body-box {margin: 0 auto;max-width: 100% !important;padding: 0px !important;}
   :host::ng-deep .cat_wrapper {display: table;width: 100%;}
   
   
   /*section header start*/
   :host::ng-deep #page{margin: 0 auto;background: #fff;overflow: inherit;}
   :host::ng-deep .top-header-blog{display: inline-block;width: 100%;}
   
   /*top header search*/
   :host::ng-deep .newsletter1-widget .top-search .btn:hover, .top-search .btn:focus, .top-search .btn {position: absolute;right: 4%;border: 0 !important;border-left: 1px solid #555555 !important;color: #555555 !important;font-size: 24px;background-color: transparent !important;height: 54px;padding-left: 1rem;padding-right: 1rem;}
   :host::ng-deep .card-block {-moz-box-flex: 1;background: #202020 none repeat scroll 0 0;padding: 1.25rem 3rem;border-radius: 0 !important;}
   :host::ng-deep .newsletter1-widget .form-inline {display: block;}
   :host::ng-deep .top-search .newsletter1-widget .form-inline .form-control {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border:0 none;color: #555555;font-size: 24px;width: 100%;}
   :host::ng-deep .newsletter1-widget .form-inline .form-control {background-color: rgba(255, 255, 255, 0.9);border: 1px solid #dbdde0;border-radius: 0;box-shadow: none;display: inline-block;font-size: 14px;height: 56px;padding-left: 1.5rem;line-height: 1;letter-spacing: 0.3px;vertical-align: middle;width: 400px;}
   :host::ng-deep .newsletter1-widget .form-inline {display: block;}
   :host::ng-deep .newsletter1-widget .btn {height: 54px;border-radius: 0;border: 0;top: 14px;}
   
   /*header start*/
   :host::ng-deep header {background-color: #ffffff;margin: 20px 0 0px;border-bottom: 0;padding-bottom: 0;}
   :host::ng-deep #header{display: inline-block;width: 100%;}
   :host::ng-deep .header-wrap{display: inline-block;width: 100%;}
   
   /*header top start*/
   :host::ng-deep .topbar-section {color: #fff!important;background-color: #74a044!important;border-color: #74a044!important;}
   :host::ng-deep .topbar-section a, .topbar-section i {color: #fff!important;}
   :host::ng-deep .topsocial .fa {margin-right: 0.5rem;font-size: 15px;}
   :host::ng-deep .topbar-section {border: 0;display: block;position: relative;background-color: #fff;padding: 1rem 2rem;font-size: 14px;border-bottom: 1px dashed #e2e2e2;}
   
   /*header logo start*/
   :host::ng-deep #logo{width: 100%;margin: 20px auto;text-align: center;}
   :host::ng-deep #header-main-blog .header-wrap>div {height: auto;}
   
   /*navigation start*/
   :host::ng-deep .blog-menu-container {float: left;margin-top: 0px;width: 100%;}
   :host::ng-deep .nav {margin: 0px;padding: 0px;font-size: 14px;color: #333;font-family: 'Nunito', sans-serif;text-transform: uppercase;
       font-weight: 500;box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.28);}
   :host::ng-deep .nav ul li ul.dropdown::-webkit-scrollbar, .tagcloud::-webkit-scrollbar {width: 1em;} 
   :host::ng-deep .nav ul li ul.dropdown::-webkit-scrollbar-track, .tagcloud::-webkit-scrollbar-track {box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);}
   :host::ng-deep .nav ul li ul.dropdown::-webkit-scrollbar-thumb,  .tagcloud::-webkit-scrollbar-thumb{background-color: darkgrey;outline: 1px solid slategrey;}
   :host::ng-deep .nav ul li:first-child a {border-bottom: 4px solid #db4d53;padding-left: 10px;}
   :host::ng-deep .nav ul {margin: 0px;padding: 0px !important;list-style: none;background:#ffffff;text-align: center;}
   :host::ng-deep .nav ul li {margin: 0px;display:inline-block;position:relative;line-height:21px;text-align:left;padding:0}
   :host::ng-deep .nav ul li a{display:block;padding:8px 25px;color:#333;text-decoration:none;}
   :host::ng-deep .nav ul li a:hover{color:#fff;background:#939393;}
   :host::ng-deep .nav ul li ul.dropdown{background:#ffffff;display:none;position:absolute;z-index:999;left:0;min-width:200px;height: 168px;overflow-y: scroll;}
   :host::ng-deep .nav ul li ul.dropdown li,.nav ul li:hover ul.dropdown{display:block;}
   :host::ng-deep .nav ul li ul.dropdown li a{border-bottom:1px solid #efecec;text-transform:none;font-weight:400;font-size:13px;padding:9px 10px;}
   
   /*slider top start*/
   :host::ng-deep .testimonials{background-color: #ffeaea;position: relative;top:-5px;}
   :host::ng-deep #owl-demo .item{margin: 0px 3px 0px 3px;}
   :host::ng-deep #owl-demo .item img{display: block;width: 100%;height: auto;}
   
   
   /*content section start*/
   :host::ng-deep .site-content{width: 100%;display: inline-block;}
   :host::ng-deep .inner-content{background:#f3f3f3;}
   
   /*block left start*/
   :host::ng-deep #primary{box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);background: white;}
   :host::ng-deep .page-header {padding-bottom: 0px;margin: 20px 0 20px;border-bottom: 1px solid transparent;}
   :host::ng-deep .page-title{font-size: 28px;color: #DA4453;font-weight: 700;font-family: 'Roboto Slab';box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);padding: 15px 15px 18px;text-align: center;}
   
   
   :host::ng-deep .blog-item-wrap {padding: 10px 10px 15px 10px !important;border-bottom: 1px solid #eaeaea;margin-bottom: 0px !important;}
   :host::ng-deep .blog-item-wrap {padding: 10px 10px 20px 10px;}
   :host::ng-deep .blog-pic-box {width: 40%;height: 220px;overflow: hidden;float:left;margin-top:5px;padding-top:0px;padding-left:0px;}
   :host::ng-deep .single-featured{transform: translate(0%, -5%);    -webkit-transition: opacity 0.3s linear;-moz-transition: opacity 0.3s linear;-o-transition: opacity 0.3s linear;transition: opacity 0.3s linear;display: block;margin: auto;}
   :host::ng-deep .blog-content-box {font-size: 13px;color: 454545;padding-top: 0px;margin-top: 5px;line-height: 21px !important;}
   :host::ng-deep .entry-title{margin-top: 0px;}
   :host::ng-deep .entry-title a {color: #444;font-size: 22px;margin-top: 0px;font-weight: 500;font-family: 'Roboto Slab';}
   :host::ng-deep .entry-meta .fa {font-size: 14px;margin-right: 3px;}
   :host::ng-deep .entry-meta span {margin-right: 10px;}
   :host::ng-deep .byline, .updated {display: none;}
   :host::ng-deep .page-content, .entry-content, .entry-summary {margin: 0 0 0;}
   :host::ng-deep .entry-content a {color: #0066FF;text-decoration: none;}
   
   
   :host::ng-deep .post-navigation .nav-previous, .paging-navigation .nav-previous {float: left;}
   :host::ng-deep .post-navigation a, .paging-navigation a {border: 1px solid #DADADA;padding: 11px 14px;font-size: 14px;border-radius: 4px;display: block;margin: 27px 0 1.5em;overflow: hidden;background: linear-gradient(#d84242, #af2d15);color: white;}
   :host::ng-deep .post-navigation a:hover, .paging-navigation a:hover{background: #333333;text-decoration: none;color:white;}
   :host::ng-deep .paging-navigation {text-transform: uppercase;}
   :host::ng-deep .screen-reader-text {clip: rect(1px, 1px, 1px, 1px);position: absolute !important;}
   :host::ng-deep #sfsi_holder{height:auto!important;}
   
   
   /*block left start*/
   :host::ng-deep #custom_html-5{padding-top:20px;}
   
   :host::ng-deep .sfsi_widget{box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);}
   :host::ng-deep .sfsi_widget a img {box-shadow: none!important;outline: 0;}
   :host::ng-deep .sfsi_widget .sfsi_wDiv .sfsi_wicons .inerCnt a, .sfsi_widget .sfsi_wDiv .sfsi_wicons .inerCnt a.sficn {padding: 0px;margin: 0px;width: 100%;float: left;border: medium none;}
   
   :host::ng-deep .widget-title{background: none repeat scroll 0 0 #ffffff;color: #444;font-family: "Arial";font-size: 18px;font-weight: bold;margin-bottom: 10px;padding: 15px 10px;text-align: center;}
   
   :host::ng-deep .norm_row {float: left;min-width: 25px;}
   :host::ng-deep .norm_row a {border: none;display: inline-block;position: relative;}
   :host::ng-deep .sfsi_wicons {margin-bottom: 30px;position: relative;padding-top: 5px;display: inline-block;color: #000;}
   :host::ng-deep .sfsi_wicons a {-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;}
   :host::ng-deep .inerCnt, .inerCnt:hover, .inerCnt>a, .inerCnt>a:hover, .widget-area .widget a {outline: 0;}
   :host::ng-deep .inerCnt {position: relative;z-index: inherit!important;float: left;width: 100%;float: left;}
   :host::ng-deep .sfcm.sfsi_wicon {padding: 0;width: 100%;border: medium none;}
   
   :host::ng-deep .entry-meta a {font-size: 14px;color: #a6a6a6;}
   :host::ng-deep #recent-posts-3, #categories-2, #tag_cloud-2{box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);}
   :host::ng-deep .widget ul li a {color: black;}
   :host::ng-deep .widget ul li {list-style: none;border-bottom: 1px solid #F2F2F2;margin-bottom: 10px;padding-bottom: 10px;}
   :host::ng-deep .widget ul {line-height: 18px;font-size: 14px;padding:0px 10px !important;}
   :host::ng-deep .widget select, .widget ul {width: 100%;}
   :host::ng-deep .widget select {line-height: normal;width: 100%;background: rgba(255, 255, 255, 0.44);border: 1px solid rgba(0,0,0,.1);
       height: 42px;padding: 0 20px 0 10px;display: inline-block !important;}
   :host::ng-deep  .widget_categories select {max-width: 86%;margin: 20px;}
   
   
   :host::ng-deep .tagcloud{height: 300px;overflow-y: scroll;padding:0px 10px 20px 10px;}
   :host::ng-deep .tagcloud a {padding: 6px 7px;margin-right: 0;margin-bottom: 4px;line-height: 100%;display: inline-block;color: #FFF !important;background-color: #999999;border-radius: 3px;-webkit-border-radius: 3px;font-size: 12px !important;}
   :host::ng-deep .tagcloud a{background-color: #7baf7a;}
   
   
   /*footer start*/
   :host::ng-deep .footer {padding: 4rem 0 4rem;width: 100%;background-color: #252525 !important;}
   :host::ng-deep .footer-text img {max-width: 220px;padding: 20px 0px 10px 0px;}
   :host::ng-deep .footer-text p{color:#afafaf;}
   
   :host::ng-deep .newsletter-widget .form-inline .form-control {height: 54px;float:left;}
   :host::ng-deep .newsletter-widget .btn i {padding-left: 0.5rem;}
   :host::ng-deep .footer-text .fa {font-size: 21px;margin: 0 0.3rem;}
   :host::ng-deep .newsletter-widget .form-inline .form-control {background-color: rgba(255, 255, 255, 0.9);border: 1px solid #dbdde0;
    border-radius: 0;box-shadow: none;display: inline-block;font-size: 14px;height: 56px;padding-left: 1.5rem;line-height: 1;letter-spacing: 0.3px;vertical-align: middle;width: 400px;}
   :host::ng-deep .copyright1{color:#afafaf;}
   :host::ng-deep .newsletter-widget .form-inline {display: inline-block;}
   :host::ng-deep .newsletter-widget .btn {height: 56px;border-radius: 0;border: 0;color: #ffffff !important;background-color: #74a044 !important;border-color: #74a044 !important;}
   
   
   /*Extra css*/
   :host::ng-deep .input-group-btn:last-child>.btn {margin-left: 0;}
   :host::ng-deep .input-group-btn:last-child>.btn {margin-left: 0;}
   :host::ng-deep .input-group {display: inline-flex;}
   :host::ng-deep .btn.btn-default {color: #FFF;text-transform: uppercase;}
   :host::ng-deep .btn-default, .label-default {background-color: #DA4453;border-color: #DA4453;-webkit-transition: background-color 0.3s linear;-moz-transition: background-color 0.3s linear;-o-transition: background-color 0.3s linear;transition: background-color 0.3s linear;}
   :host::ng-deep .header-wrap{display: inline;width: 100%;}
   :host::ng-deep .btn-default:hover, .label-default:hover{background-color: #333333;color:white;}
   :host::ng-deep .carousel-control.left,.carousel-control.right{background:0 0;}.carousel-control{width:10%;}    
       
       
    @media only screen and (max-width:760px){
    :host::ng-deep .carousel-control{width:15%}}
       
    @media screen and (max-width: 768px){
   /*section header start*/
   :host::ng-deep #page {overflow: inherit;}
   /*footer start*/
   :host::ng-deep .newsletter-widget .form-inline .form-control{width:100%;}
   :host::ng-deep .footer-text img {max-width: 143px;}
   :host::ng-deep .newsletter-widget .btn {height: 43px;margin: 20px auto;display: inline-block;}
   /*block left start*/
   :host::ng-deep .blog-pic-box {width: 100%;height: 136px;padding-left:15px;}
   :host::ng-deep .entry-title a {color: #444;font-size: 19px;}
   :host::ng-deep .blog-item-wrap{padding:0;}
   :host::ng-deep .page-title {font-size: 23px;}
   :host::ng-deep .tagcloud{height: 150px;}
   :host::ng-deep .page-header {margin: 20px 0 0px;}
   /*header logo start*/
   :host::ng-deep #logo img{width:100px;margin: 0px 20px;}
   /*navigation start*/
   :host::ng-deep .blog-menu-container {float: right;margin-top: 20px;}
   :host::ng-deep .nav ul {margin: 0px;padding: 0px !important;list-style: none;text-align: left;}
   :host::ng-deep .nav ul li:first-child a {padding-left: 25px;}
   :host::ng-deep .nav ul li {margin: 0px;padding: 0px;float: none;display: inherit;width: 100%;border-bottom: 1px solid #cfcfcf;}
   :host::ng-deep .nav ul li a {padding: 10px 0 10px 25px;margin: 0px;display: block;float: none;}
   :host::ng-deep .nav {margin: 0px;padding: 0px;width: 250px;background: #e4e4e4;position: absolute;right: 32%;box-shadow: 2px 3px 5px #000;z-index: 100;}
   :host::ng-deep .nav {left: 50%;margin-left: -127px;z-index: 99;top: 56px;display:none;}
   :host::ng-deep .responsive_popup {display: block;width: 40px;height: 33px;margin: 0px auto;margin-bottom: 9px;background: #333333;float: right;margin-right: 15px;}
   :host::ng-deep .responsive_popup a {display: block;width: 40px;height: 33px;background: url(https://d3cif2hu95s88v.cloudfront.net/blog/pop_z_icon.jpg);}
   /*block right start*/
   :host::ng-deep .textwidget{display: inline-block;height: 172px;overflow: hidden;}
   /*extra css*/
   :host::ng-deep .carousel-inner>.item>a>img, .carousel-inner>.item>img {height: 109px;}
   /*top header search*/
   :host::ng-deep .top-search .newsletter1-widget .form-inline .form-control{font-size: 15px;}
    }
   