<link rel='stylesheet' id='sparkling-fonts-css' href='//fonts.googleapis.com/css?family=Open+Sans%3A400italic%2C400%2C600%2C700%7CRoboto+Slab%3A400%2C300%2C700&#038;ver=4.2.22' type='text/css' media='all' />
<link rel="stylesheet" [href]="cssDy.blog_style" type='text/css' media='all' /> 
<link rel="stylesheet" [href]="cssDy.owlcarousel" type='text/css' media='all' /> 
<link rel="stylesheet" [href]="cssDy.owltheme" type='text/css' media='all' /> 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div id="page" class="hfeed site container-fluid">
    <div class="row">
       <section id="header">
          <section id="header-main-blog">
             <div class="top-header-blog">
                <div class="">
                   <div class="">
                      <div class="collapse top-search" id="collapseExample">
                         <div class="card card-block">
                            <div class="newsletter1-widget text-center">
                              <div class="form-inline">
                                  <input type="text" #blogsearchquery class="form-control" placeholder="What you are looking for?">
                                  <button (click)="searchBlog()" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                               </div>
                            </div>
                            <!-- end newsletter -->
                         </div>
                      </div>
                      <!-- end top-search -->
                      <div class="header-wrap">
                         <div class="topbar-section">
                            <div class="container-fluid">
                               <div class="row">
                                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 hidden-xs-down">
                                     <div class="row">
                                        <div class="topsocial">
                                           <a href="https://www.facebook.com/MyFlowerTree" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                           <a href="https://www.linkedin.com/company/myflowertree-com" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                           <a href="https://twitter.com/myflowertreemft" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                           <a href="https://www.instagram.com/myflowertree_mft/" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                        </div>
                                        <!-- end social -->
                                     </div>
                                  </div>
                                  <!-- end col -->
                                  <div class="col-lg-4 hidden-md-down">
                                  </div>
                                  <!-- end col -->
                                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                     <div class="row">
                                        <div class="topsearch text-right">
                                           <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search"></i> Search</a>
                                        </div>
                                        <!-- end search -->
                                     </div>
                                  </div>
                                  <!-- end col -->
                               </div>
                               <!-- end row -->
                            </div>
                            <!-- end header-logo -->
                         </div>
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-3 inner">
                            <div class="row">
                               <div id="logo"><a routerLink="/blog"><img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/2019/myflowertree-logo.svg" title="MyFlowerTree" alt="MyFlowerTree" height="90" width="215"></a>
                               </div>
                            </div>
                         </div>
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-9">
                            <div class="row">
                               <div class="blog-menu-container">
                                  <span class="responsive_popup"><a href="#"></a></span>
                                  <div class="nav">
                                     <ul>
                                        <li>
                                           <a href="javascript:void(0);">Occasions</a>
                                           <ul class="dropdown">
                                              <li><a routerLink="/blog/category/birthday/">Birthday</a></li>
                                              <li><a routerLink="/blog/category/anniversary/">Anniversary</a></li>
                                              <li><a routerLink="/blog/category/mothers-day/">Mother's Day</a></li>
                                              <li><a routerLink="/blog/category/new-year/">New Year</a></li>
                                              <li><a routerLink="/blog/category/rakhi/">Raksha Bandhan</a></li>
                                              <li><a routerLink="/blog/category/valentine-day/">Valentine's Day</a></li>
                                              <li><a routerLink="/blog/category/fathers-day/">Father's Day</a></li>
                                              <li><a routerLink="/blog/category/holi/">Holi</a></li>
                                              <li><a routerLink="/blog/category/karva-chauth/">Karva Chauth</a></li>
                                              <li><a routerLink="/blog/category/republic-day/">Republic Day</a></li>
                                              <li><a routerLink="/blog/category/christmas/">Christmas</a></li>
                                              <li><a routerLink="/blog/category/daughter-day/">Daughter's Day</a></li>
                                              <li><a routerLink="/blog/category/diwali/">Diwali</a></li>
                                              <li><a routerLink="/blog/category/womens-day/">Women's Day</a></li>
                                           </ul>
                                        </li>
                                        <li>
                                           <a href="javascript:void(0);">Flowers</a>
                                           <ul class="dropdown">
                                              <li><a routerLink="/blog/category/roses/">Roses</a></li>
                                              <li><a routerLink="/blog/category/carnations/">Carnations</a></li>
                                              <li><a routerLink="/blog/category/orchids/">Orchids</a></li>
                                              <li><a routerLink="/blog/category/gerbares/">Gerbares</a></li>
                                              <li><a routerLink="/blog/category/lillies/">Lillies</a></li>
                                              <li><a routerLink="/blog/category/mixed-flowers/">Mixed Flowers</a></li>
                                           </ul>
                                        </li>
                                        <li>
                                           <a href="javascript:void(0);" target="_blank">Gifts</a>
                                           <ul class="dropdown">
                                              <li><a routerLink="/blog/category/flower/">Flowers</a></li>
                                              <li><a routerLink="/blog/category/cakes/">Cakes</a></li>
                                              <li><a routerLink="/blog/category/personalized-gifts/">Personalized Gifts</a></li>
                                              <li><a routerLink="/blog/category/chocolates/">Chocolates</a></li>
                                              <li><a routerLink="/blog/category/gift/">All Gifts</a></li>
                                           </ul>
                                        </li>
                                        <li>
                                           <a href="javascript:void(0);" target="_blank">Relationships</a>
                                           <ul class="dropdown">
                                              <li><a routerLink="/blog/category/husband/">Husband</a></li>
                                              <li><a routerLink="/blog/category/send-gifts-for-your-wife/">Wife</a></li>
                                              <li><a routerLink="/blog/category/girlfriend/">Girlfriend</a></li>
                                              <li><a routerLink="/blog/category/boyfriend/">Boyfriend</a></li>
                                              <li><a routerLink="/blog/category/brother/">Brother</a></li>
                                              <li><a routerLink="/blog/category/sisters/">Sister</a></li>
                                              <li><a routerLink="/blog/category/mother/">Mother</a></li>
                                              <li><a routerLink="/blog/category/father/">Father</a></li>
                                              <li><a routerLink="/blog/category/fiencee/">Fiencee</a></li>
                                              <li><a routerLink="/blog/category/son/">Son</a></li>
                                              <li><a routerLink="/blog/category/daughter/">Daughter</a></li>
                                              <li><a routerLink="/blog/category/parents/">Parents</a></li>
                                              <li><a routerLink="/blog/category/boss/">Boss</a></li>
                                              <li><a routerLink="/blog/category/employee/">Employee</a></li>
                                           </ul>
                                        </li>
                                        <li>
                                           <a href="javascript:void(0);" target="_blank">Others</a>
                                           <ul class="dropdown">
                                              <li><a routerLink="/blog/category/zodiac/">Zodiac</a></li>
                                              <li><a routerLink="/blog/category/diy/">DIY</a></li>
                                              <li><a routerLink="/blog/category/interesting-facts/">Interesting Facts</a></li>
                                              <li><a routerLink="/blog/category/tips-tricks">Tips & Tricks</a></li>
                                              <li><a routerLink="/blog/category/travel">Travel</a></li>
                                              <li><a routerLink="/blog/category/event/">Event</a></li>
                                              <li><a routerLink="/blog/category/leap-year/">Leap Year</a></li>
                                              <li><a routerLink="/blog/category/interesting/">Interesting</a></li>
                                              <li><a routerLink="/blog/category/quotes/">Quotes</a></li>
                                              <li><a routerLink="/blog/category/send-gifts-online-to-india/">Send Gifts To online India</a></li>
                                              <li><a routerLink="/blog/category/world-cup/">World Cup</a></li>
                                              <li><a routerLink="/blog/category/wishes/">Wishes</a></li>
                                              <li><a routerLink="/blog/category/valiant-soldier/">Valiant Soldier</a></li>
                                              <li><a routerLink="/blog/category/top-5-ways-to-say-i-love-u/">Top 5 Way to say i love you</a></li>
                                           </ul>
                                        </li>
                                     </ul>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </section>
       </section>
    </div>
 </div>
