<div class="cat_wrapper">
            <div class="container-fluid" *ngIf="category_header_banners && category_header_banners.length > 0">
                <div class="row">
                <div class="mft-page-type">
                <div class="mft-view-header">


                <div class="fa-header-main">
                <h1 class="glow">{{ category_data.heading_title }}</h1>

                    <div class="row">
                        <div class="products-wrap">
                            <div class="products-inner" id="cat_headerbanner">
                            <ul>
                                <li class="leaf1" *ngFor="let category_header_banner of category_header_banners">
                                    <a href="/{{category_header_banner.url}}">
                                        <div class="pro-img">
                                            <img loading="lazy"  style="width:100%; display:block;" [src]="category_header_banner.image" alt="{{category_header_banner.anchor}}" title="{{category_header_banner.anchor}}">
                                        </div>
                                        <div class="pro-desc">
                                            <div class="pro-name">{{category_header_banner.name}}</div>
                                        </div>
                                </a>
                                </li>
                            </ul>
                    </div>
                </div>
                </div>
                </div>

                    <div>			<div class="fa-header-main">				<div class="mft-header-content-part">
                    <span class="header-desc close hidden-xs" *ngIf="category_data.description !='<p><br></p>'" [innerHTML]="category_data.description" id="cat_headerbanner1"></span>
                <div class="readmore">Read More</div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>


            <div *ngIf="category_header_banners && category_header_banners.length == 0 && category_data.banner !=''">
                <img loading="lazy" 
                    [src]="category_data.banner"
                    width="100%" alt="{{ category_data.heading_title }}" title="{{ category_data.heading_title }}">
                <meta name="twitter:image"
                    [content]="category_data.banner">
            </div>
            <div *ngIf="category_header_banners && category_header_banners.length == 0 && category_data.banner =='' && category_data.category_id !='57'">
                <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/mftcommonimages/live-site-2016/image/cache/Banners/event-banners/2017/nov/nov-flowers-1.jpg" />
                <img loading="lazy"  src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/header-banners/Flowers.jpg" width="100%" alt="{{ category_data.heading_title }}" title="{{ category_data.heading_title }}">
                <meta name="twitter:image" content="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/flowers-1-default.jpg" />
            </div>

            <div class="cat_des" *ngIf="category_header_banners && category_header_banners.length == 0">
                <h1 >{{category_data.heading_title}}</h1>
                <div *ngIf="category_data.description !='<p><br></p>'" [innerHTML]="category_data.description" id = 'container'> </div>
            </div>
        </div>




