
<!-- <app-header></app-header> -->
   <div class="cat-body-box">
      <div class="container">
      <div class="main-div-bg">
         <h2>Your Account</h2>
       </div>
         <div class="order-box">
            <h3>Orders</h3>
            <div class="selectdiv sel-check">
               <a routerLink="/order">
            <label>Your Orders
            </label>
         </a>
            </div>
   
            <div class="selectdiv sel-check">
               <a routerLink="/buy-again">
            <label>Buy it again
            </label>
         </a>
            </div>
   
            <div class="selectdiv sel-check">
               <a routerLink="/recently-viewed">
            <label>Recently Viewed
            </label>
         </a>
            </div>
            
         </div>
   
         <div class="order-box">
            <h3>Account Settings</h3>
            <div class="selectdiv sel-check">
               <a routerLink="/account/edit">
            <label>Login & Security</label>
                 </a>
            </div>
   
            <div class="selectdiv sel-check">
               <a routerLink="/account/address">
            <label>Your Addresses</label>
                </a>
            </div>
   
            <div class="selectdiv sel-check">
               <a routerLink="/account/wallet">
            <label>Your Wallet</label>
                </a>
            </div>
   
            <div class="selectdiv sel-check">
               <a routerLink="/account/reward">
            <label>
             Your Reward Points
            </label>
         </a>
            </div>
            
         </div>
   
   </div>
   </div>
  