    <div class="container">
    <div class="thanku-box">
    <img loading="lazy"  class="hidden-xs" src="{{CDN_PATH}}2020/franchise/thankyou.png" width="100%" alt="custom" title="custom">
    <img loading="lazy"  class="w-100 hidden-lg hidden-sm hidden-md" alt="custom" src="{{CDN_PATH}}2020/franchise/thanku-mobile.png">
    <span>One of our associate will be in touch with you shortly.</span>
    <div class="button-ride"> <a routerLink="/" class="btn btn-sm animated-button thar-three">FREE RIDE TO HOME PAGE</a> </div>
    </div>
    </div>