:host::ng-deep body{background:#ededed}
:host::ng-deep .thanku-box{display:grid;vertical-align:middle;width:100%;height:100%;align-items:center;align-content:center;margin:0 auto;text-align:center}
:host::ng-deep .thanku-box img{width:100%}
:host::ng-deep .thanku-box span{font-size:15px;color:#565656;font-family:arial}
:host::ng-deep a.animated-button.thar-three{color:#505050;cursor:pointer;display:block;position:relative;border:2px solid #b9f718;transition:all .4s cubic-bezier(.42,0,.58,1);width:263px;margin:0 auto;font-family:arial;font-size:16px;padding:9px}
:host::ng-deep a.animated-button.thar-three:hover{color:#000!important;background-color:transparent;text-shadow:nthree}
:host::ng-deep a.animated-button.thar-three:hover:before{left:0;right:auto;width:100%}
:host::ng-deep a.animated-button.thar-three:before{display:block;position:absolute;top:0;right:0;height:100%;width:0;z-index:-1;content:'';color:#000!important;background:#b4e149;transition:all .4s cubic-bezier(.42,0,.58,1)}
:host::ng-deep .button-ride{width:100%;margin:17px auto;text-align:center}
@media (max-width:500px){
	:host::ng-deep .thanku-box span{font-size:11px}
:host::ng-deep 	.button-ride{margin:11px auto}
:host::ng-deep 	a.animated-button.thar-three{width:auto;font-size:15px;padding:6px;width:85%}
	}
