<!DOCTYPE html>
			<html dir="ltr" lang="en">
				<head>
					<meta charset="UTF-8" />
					<title>Invoice</title>
				</head>
				<body style="margin:10px; padding:10px;" id="htmlData">
					
					<table style="margin:10px; padding:10px; width:95%;" cellpadding="0" cellspacing="0" >
						<tr style="font-size:12px; font-weight:400;">
							<td colspan="2"><img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/live-new/images/logolive.png" /></td>
							<td colspan="2">&nbsp;
							</td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
							<td style="font-size:15px; font-weight:600;">
								Progressive Commerce
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
								109 DLF Towers, Shivaji Marg, Moti Nagar
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
								New Delhi - 110015
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
								Ph. +91 11 4595 1000,
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
								Fax +91 11 4248 1710
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
								www.MyFlowerTree.com
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
								email us at support@myflowertree.com
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
								Invoice : MFT{{orders[0]['order_id']}}
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;"><td colspan="5"><hr></td></tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
								Issue date : {{orders[0]['currDate']}}
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;"><td colspan="4"><hr></td></tr>
						<tr style="font-size:12px; font-weight:400;">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr style="font-size:12px; font-weight:600; text-align:left; text-decoration: underline;">
							<td colspan="4">Billing Contact</td>
						</tr>

						<tr style="font-size:12px; font-weight:400;">
							<td>
								{{orders[0]['payment_firstname']}} {{orders[0]['payment_lastname']}}
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
								{{orders[0]['company']}}
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
								{{orders[0]['payment_address_1']}}
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
								{{orders[0]['payment_address_2']}}
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
							{{orders[0]['payment_city']}}, {{orders[0]['payment_country']}} {{orders[0]['payment_postcode']}}
							</td>
							<td colspan="3"></td>
						</tr>

						<tr style="font-size:12px; font-weight:400;">
							<td>
							{{orders[0]['telephone']}}
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
								{{orders[0]['email']}}
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
                        <td colspan="3">
                        <table width="100%">
                        <tr style="font-size:14px; font-weight:600; background-color: #848484 !important;" bgcolor="#848484">
							<td border="" style=" padding:5px;">Description</td>
							<td style="padding:5px;">Quantity</td>
							<td style="padding:5px;">Price</td>
							<td style="padding:5px;">Total</td>
						</tr>
						<tr style="font-size:12px; font-weight:400;" *ngFor="let order of orders">
								<td id="{{order.order_id}}" style="padding:5px; width:350px">{{order.name}}</td>
								<td style="padding:5px; width:60px;">{{order.quantity}}</td>
								<td style="padding:5px; width:70px;">{{order.price}}</td>
								<td style="padding:5px; width:80px;">{{order.total}}</td>
							</tr>
						<tr style="font-size:12px; font-weight:400;"><td colspan="4"><hr></td></tr>
						<tr style="font-size:12px; font-weight:400;" *ngFor="let total of orders[0].orderTotals">
								<td id="total.order_total_id" style="padding:5px;">&nbsp;</td>
								<td colspan="2">{{total.title}}</td>
								<td style="padding:5px;">{{total.value}}</td>
							</tr>
						<tr style="font-size:12px; font-weight:400;"><td colspan="5"><hr></td></tr>
						<tr style="font-size:12px; font-weight:400;"><td colspan="4"><hr></td></tr>
						<tr style="font-size:12px; font-weight:400;">
							<td colspan="4">&nbsp;</td>
						</tr>
                        </table>
                        </td>
                        </tr>
						<tr style="font-size:12px; font-weight:400;">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr style="font-size:12px; font-weight:600; text-align:left; text-decoration: underline;">
							<td colspan="4">Shipping Information</td>
						</tr>

						<tr style="font-size:12px; font-weight:400;">
							<td style="width:300px;">
								{{orders[0]['shipping_firstname']}}, {{orders[0]['shipping_lastname']}} 
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
								{{orders[0]['company']}}
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
								{{orders[0]['shipping_address_1']}}
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
								{{orders[0]['shipping_address_2']}} {{orders[0]['shipping_postcode']}}
							</td>
							<td colspan="3"></td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td>
							{{orders[0]['shipping_city']}}, {{orders[0]['shipping_country']}} 
							</td>
							<td colspan="3"></td>
						</tr>						<tr style="font-size:12px; font-weight:400;">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr style="font-size:12px; font-weight:400;">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr style="font-size:12px; font-weight:500;">
							<td colspan="4">myFlowerTree.com @ 2015 All Rights Reserved.</td>
						</tr>
					</table>
				</body>
			</html>

        