:host ::ng-deep .bs-wizard {
    margin-top: 40px;
}
:host ::ng-deep .col-xs-2 {
    width: 14.285%;
    float: left;
}
:host ::ng-deep .bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}
:host ::ng-deep .bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
}
/*.bs-wizard > .bs-wizard-step + .bs-wizard-step {
}*/
:host ::ng-deep .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}
:host ::ng-deep .bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
}
:host ::ng-deep .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #fbe8aa;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}
:host ::ng-deep .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: " ";
    width: 14px;
    height: 14px;
    background: #fbbd19;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}
:host ::ng-deep .bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}
:host ::ng-deep .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: #fbe8aa;
}
:host ::ng-deep .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%;
}
:host ::ng-deep .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width: 50%;
}
:host ::ng-deep .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width: 0%;
}
:host ::ng-deep .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}
:host ::ng-deep .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
}
:host ::ng-deep .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
}
:host ::ng-deep .bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 50%;
}
:host ::ng-deep .bs-wizard > .bs-wizard-step:last-child > .progress {
    width: 50%;
}
:host ::ng-deep .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}
:host ::ng-deep #container {
    margin-top: 120px;
}
:host ::ng-deep .heading-title {
    margin-top: 0px;
}
@media only screen and (max-width: 760px) {
    :host ::ng-deep #container {
        margin-top: 40px;
    }
}
