<!-- <app-header></app-header> -->

 <link [href]="cssDy.mftcss" rel="stylesheet">
 <link href="/assets/css/thankyou.css" rel="stylesheet" type="text/css" />
 <div id="container" class="container j-container success-page">
    <ul class="breadcrumb"></ul>
    <div class="body-box thankyou-box valentine-box">
       <div class="row">
          <div class="thankyou-heading">
             <div class="icon-success"><img src="{{CDN_PATH}}images/checkmark.gif"/></div>
             You’re All Set!
          </div>
          <div class="order-id">Order no: <span class="order-no">{{order_data.order_id}}</span></div>
          <div class="trnx-wrap"><span class="trnx-id trns">Txn id : <span>{{order_data.order_id}}</span></span><span class="amt-paid trns">Amount Paid : Rs. <span>{{order_data.total | number}}</span></span></div>
          <div class="note">Your order has been placed and is being processed. You will receive an order confirmation email shortly.</div>
          <div class="status-wrap"><span class="payment-done status"><span class="title">Payment Received</span><span class="completed round-icon"></span><span class="date">{{order_data.date}}</span><span class="time">{{order_data.curenttime}}</span></span><span class="preparation status"><span class="title">In Preparation</span><span class="half grey round-icon"></span></span><span class="ofd status"><span class="title">Out For Delivery</span><span class="grey round-icon"></span></span><span class="delivered status"><span class="title">Delivered</span><span class="grey round-icon"></span></span></div>
         
          <div class="row" style="margin-bottom:10px;">
            <div class="col-md-12">
            <a target="_blank" alt="MyFlowerTree" href="https://www.instagram.com/myflowertree_mft/">
            <img src="{{CDN_PATH}}2021/instagram-banner2.jpg" width="100%" class="hidden-xs hidden-sm">
            <img src="{{CDN_PATH}}2021/instagram-banner2-mobile.jpg" width="100%" class="hidden-md hidden-lg">
            </a>
            </div>
            </div>
          <div class="row">
             <div class="col-md-12"><a target="_blank" routerLink="{{occbaner.link}}" [queryParams]="{utm_source:'thankyoupage',utm_medium:'Banner'}"><img src="{{occbaner.image}}" width="100%"></a></div>
          </div>
          <div class="thankyou-wrap">
             <div class="heading">Shopping <span class="hightlight">Cart</span></div>
             <div class="m-thankyou-data" *ngFor="let item of orderproduct">
                <div class="left-side"><img src="{{item.product_image}}" alt="{{item.name}}" title="{{item.name}}"></div>
                <div class="right-side"><span class="pro-name-thankyou">{{item.name}}</span><span class="upgrades"></span><span class="qty-thankyou">
                  {{item.quantity}} </span><span class="price"> Rs. {{item.price | number}}</span><span class="price"> Rs. {{item.total | number}}</span>
                </div>
             </div>
             <div class="thankyou-white">
                <ul>
                   <li class="img-thankyou"></li>
                   <li class="desc-thankyou">Product Name</li>
                   <li class="qty-thankyou">Quantity</li>
                   <li class="dlt-thankyou">Unit Price</li>
                   <li class="price-thankyou">Total</li>
                </ul>
             </div>
             <div class="thankyou-data" *ngFor="let item of orderproduct">
                <ul>
                   <li class="img-thankyou"><img src="{{item.product_image}}" alt="{{item.name}}" title="{{item.name}}"></li>
                   <li class="desc-thankyou"><span class="pro-name-thankyou">{{item.name}}</span><span class="upgrades"></span></li>
                   <li class="qty-thankyou"><span class="select-qty">
                     {{item.quantity}} </span>
                   </li>
                   <li class="dlt-thankyou">
                      Rs. {{item.price | number}} 
                   </li>
                   <li class="price-thankyou"> Rs. {{item.total | number}}</li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </div>

 <!-- <app-footer></app-footer> -->