
<div class="disable step4 mft-payment-default" *ngIf="view==1">
    <span class="count">5</span><div class="heading">Payment</div>
</div>
<div id="payment_gateway_code"> </div>
<div id="checkout-payment" (click)="checkoutPayment()"> </div>

<div class="left-inner mft-payment-form" *ngIf="view==2">
<div class="step5 steps open">
  <span class="count active">5</span>
  <div class="heading pymt-heading">
  <div class="payment-method-text">Payment Method </div>
  
  <div class="grand-total">Total Amount : <span class="highlight mft-payment-form-total">Rs. {{total}}</span></div>
  
</div>
  
  <!-- Shipping Bag Modal Start -->
  <div id="shopping-bag-modal-popup" class="modal">
    <div class="modal-content">
      <span id="shopping-bag-modal-close" (click)= "closeShoppingBag()">&times;</span>
      <div class="body-box cart-box shopping-bag-modal-html">
        <app-shopping-bag></app-shopping-bag>
      </div>
    </div>
  </div>

  <!-- Shipping Bag Modal End -->
  <div id="price-summary_payement-section" *ngIf="deviceType=='Mobile'">
    <app-checkout-rightbar></app-checkout-rightbar>
  </div>
  
    <a id="shopping-bag-modal" (click)="viewShoppingBag()" style="display:none;">View Shopping Bag</a>
  <div class="seprator"></div>
  <label class="cash-wallet" style="display:none">
    <input type="checkbox" name="payByWalletCash" value="1"> <span style="vertical-align:text-bottom;">Use MFT Wallet - </span>
    <span  style="vertical-align:text-bottom; font-weight:bold;"> Rs.<span id="w-balance"></span></span>
  </label>
  <div class="submit-btn w-btn" style="display:none">
    <input class="field pay-now" data-pg="CW" type="button" value="PAY NOW">
    <div class="tnc">
      By Clicking "Proceed to payment" you are agreeing to the <a target="_blank" routerLink="/terms-of-use">Terms and Conditions</a>
    </div>
  </div>
  <div class="tabs-wrap" *ngIf="deviceType=='Desktop'">
    <div class="naccs">
      <div class="grid">
        <div class="gc gc--1-of-3">
          <div class="menu">
            <div class="active">
              <span class="light"></span>
              <span class="present icn card">Credit Card</span>
            </div>
            <div>
              <span class="light icn card"></span>
              <span>Debit Card</span>
            </div>
            <div class="paytm-outer">
              <span light paytm card><img loading="lazy"  src="{{CDN_PATH}}logos/paytm.png" alt="paytm logo" style="max-width: 60px;"></span>
            </div>
            <div class="paypal-outer">
              <span light paypal card><img loading="lazy"  src="{{CDN_PATH}}logos/paypal.png" alt="paypal logo" style="max-width: 98px;"></span>
            </div>
            <div>
              <span class="light icn netbanking "></span>
              <span>Net Banking</span>
            </div>
            <div>
              <span class="light icn wallet"></span>
              <span>Wallets</span>
            </div>
            <div class="gpay-outer">
              <span light gpay card><img loading="lazy"  src="{{CDN_PATH}}logos/gpay.png" alt="gpay logo" style="max-width: 75px;"></span>
            </div>
            <div>
              <span class="light icn upi"></span>
              <span>UPI</span>
            </div>
            <!-- <div>
              <span class="light icn paypal"></span>
              <span>Paypal</span>
            </div> -->
          </div>
        </div>
        <div class="gc gc--2-of-3">
          <ul class="nacc">
            <li class="active">
              <div class="payment-wrap">
                <div class="heading">
                  <span class="heading">Enter Your Credit Card Details</span>
                  <span class="payment-icons">
                    <img loading="lazy"  src="{{CDN_PATH}}logos/Visa.svg"> 
                    <img loading="lazy"  src="{{CDN_PATH}}logos/Master.svg"> 
                    <img loading="lazy"  src="{{CDN_PATH}}logos/Maestro.svg">
                  </span>
                </div>
                <div class="fields-wrap">
                  <div class="input-wrap">
                    <label>Card Number</label>
                    <input class="field rupay" id="ccNumber" type="text" placeholder="Card Number" />
                    <i id="ccIco" class="card-visa"></i>
                  </div>
                  <span style="display:none" class="error-message" id="ccNumberError">Please select bank</span>
                </div>
                <div class="fields-wrap">
                    <div class="input-wrap">
                      <label>Cardholder Name</label>
                      <input class="field" type="text" id="ccName" placeholder="Cardholder Name" />
                      <input class="field" type="hidden" value="MAST" id="ccBankcode"/>
                    </div>
                    <span style="display:none" class="error-message" id="ccNameError">Please select bank</span>
                  </div>
                <div class="expiry-date ">
                  <div class="input-wrap">
                    <label>Expiry MM/YY</label>
                    <input class="field" type="tel" id="ccMM" placeholder="MM" maxlength="2" />
                    <span class="gap">/</span>
                    <!-- <label>MM/YY</label> -->
                    <input class="field" type="tel" id="ccYY" placeholder="YY" maxlength="2" />
                  </div>
                  <span style="display:none" class="error-message" id="ccMMError">Please enter valid month</span>
                  <span style="display:none" class="error-message" id="ccYYError">Please enter valid year</span>
                </div>
                <div class="cvv">
                  <div class="input-wrap">
                    <label>CVV</label>
                    <input class="field password-mask" type="tel" id="ccCVV" placeholder="CVV" maxlength="4" />
                  </div>
                  <span style="display:none" class="error-message" id="ccCVVError">Please enter valid CVV</span>
                </div>
                <div class="submit-btn">
                  <input class="field pay-now" data-pg="CC" type="button" value="PAY NOW" />
                  <div class="tnc">
                      By Clicking "Proceed to payment" you are agreeing to the <a target="_blank" routerLink="/terms-of-use">Terms and Conditions</a>
                  </div>
                </div>
                <div class="note">
                  Your transaction is 100% safe & processed through a secure https internet connection based on secure socket layer technology.
                </div>
              </div>
            </li>
            <li>
              <div class="payment-wrap">
                <div class="heading">
                  <span class="heading">Enter Your Debit Card Details</span>
                  <span class="payment-icons">
                    <img loading="lazy"  src="{{CDN_PATH}}logos/Visa.svg"> 
                    <img loading="lazy"  src="{{CDN_PATH}}logos/Master.svg"> 
                    <img loading="lazy"  src="{{CDN_PATH}}logos/Maestro.svg">
                  </span>
                </div>
                <div class="fields-wrap">
                    <div class="input-wrap">
                      <label>Card Number</label>
                      <input class="field visa" type="text" id="dcNumber" placeholder="Card Number" />
                      <i id="dcIco" class="card-visa"></i>
                    </div>
                    <span style="display:none" class="error-message" id="dcNumberError">Please select bank</span>
                  </div>
                <div class="fields-wrap">
                  <div class="input-wrap">
                    <label>Cardholder Name</label>
                    <input class="field" type="text" id="dcName" placeholder="Cardholder Name" />
                    <input class="field" type="hidden" id="dcBankcode" value="MAST"/>
                  </div>
                  <span style="display:none" class="error-message" id="dcNameError">Please select bank</span>
                </div>
                <div class="expiry-date ">
                  <div class="input-wrap">
                    <label>Expiry MM/YY</label>
                    <input class="field" type="tel" id="dcMM" placeholder="MM" maxlength="2" />
                    <span class="gap">/</span>
                    <!-- <label>MM/YY</label> -->
                    <input class="field" type="tel" id="dcYY" placeholder="YY" maxlength="2" />
                  </div>
                  <span style="display:none" class="error-message" id="dcMMError">Please enter valid month</span>
                  <span style="display:none" class="error-message" id="dcYYError">Please enter valid year</span>
                </div>
                <div class="cvv">
                  <div class="input-wrap">
                    <label>CVV</label>
                    <input class="field password-mask" type="tel" pattern="[0-9]*" id="dcCVV" placeholder="CVV" maxlength="4" />
                  </div>
                  <span style="display:none" class="error-message" id="dcCVVError">please enter valid CVV</span>
                </div>
                <div class="submit-btn">
                  <input class="field pay-now" type="button" data-pg="DC" value="PAY NOW" />
                  <div class="tnc">
                      By Clicking "Proceed to payment" you are agreeing to the <a target="_blank" routerLink="/terms-of-use">Terms and Conditions</a>
                  </div>
                </div>
                <div class="note">
                  Your transaction is 100% safe & processed through a secure https internet connection based on secure socket layer technology.
                </div>
              </div>
            </li>
            <li>
              <div class="payment-wrap netbank">
                <div class="heading">
                  <span class="title-gpay">Pay with</span>
                  <img loading="lazy"  src="{{CDN_PATH}}logos/paytm.png" alt="paytm logo">
                </div>
                <span style="display:none" class="error-message" id="paytmError">Please select Wallet</span>
                <span class="submit-btn">
                  <input class="field pay-now" type="button" data-pg="PAYTM" value="PAY NOW" />
                  <span class="tnc">
                    By Clicking "Proceed to payment" you are agreeing to the <a target="_blank" routerLink="/terms-of-use">Terms and Conditions</a>
                  </span>
                </span>
                <b class="note">
                  Your transaction is 100% safe & processed through a secure https internet connection based on secure socket layer technology.
                </b>
              </div>
            </li>
            <li>
              <div class="payment-wrap netbank">
                <div class="heading">
                  <span class="title-gpay">Pay with</span>
                  <img loading="lazy"  src="{{CDN_PATH}}logos/paypal.png" alt="paypal logo">
                </div>
                <span style="display:none" class="error-message" id="paypalError">Please select Wallet</span>
                <span class="submit-btn">
                  <input class="field pay-now" type="button" data-pg="PAYPAL" value="PAY NOW" />
                  <span class="tnc">
                    By Clicking "Proceed to payment" you are agreeing to the <a target="_blank" routerLink="/terms-of-use">Terms and Conditions</a>
                  </span>
                </span>
                <b class="note">
                  Your transaction is 100% safe & processed through a secure https internet connection based on secure socket layer technology.
                </b>
              </div>
            </li>
            <li>
              <div class="payment-wrap netbank">
                <div class="heading">
                  <span class="heading">Select Your Bank </span>
                  <!-- <span class="sub">Most Frequent Banks :</span> -->
                </div>
                <div class="popular-banks">
                  <span class="bank bank-hdfc bank-hide">
                    <label class="bank-label">
                      <span class="bank-icon">
                        <img loading="lazy"  src="{{CDN_PATH}}logos/hdfc.png" />
                      </span>
                      <span class="bank-title">Hdfc Bank</span> 
                      <span class="radio-bank">
                        <input type="radio" name="nbradio" class="bankcose-radio" value="HDFB">
                      </span>
                    </label>
                  </span>
                  <span class="bank bank-sbi bank-hide">
                    <label class="bank-label">
                      <span class="bank-icon">
                        <img loading="lazy"  src="{{CDN_PATH}}logos/sbi.png" />
                      </span>
                      <span class="bank-title">Sbi Bank</span> 
                      <span class="radio-bank">
                        <input type="radio" name="nbradio" class="bankcose-radio" value="SBIB">
                      </span>
                     </label>
                   </span>
                  <span class="bank bank-icici bank-hide">
                    <label class="bank-label">
                      <span class="bank-icon">
                        <img loading="lazy"  src="{{CDN_PATH}}logos/icici.png" />
                      </span>
                      <span class="bank-title">Icici Bank</span> 
                      <span class="radio-bank">
                        <input type="radio" name="nbradio" class="bankcose-radio" value="ICIB">
                      </span>
                    </label>
                  </span>
                  <span class="bank bank-kotak bank-hide">
                    <label class="bank-label">
                      <span class="bank-icon">
                        <img loading="lazy"  src="{{CDN_PATH}}logos/kotak.png" />
                      </span>
                      <span class="bank-title">Kotak Bank</span> 
                      <span class="radio-bank">
                        <input type="radio" name="nbradio" class="bankcose-radio" value="162B">
                      </span>
                    </label>
                  </span>
                  <span class="bank bank-axis bank-hide">
                    <label class="bank-label">
                      <span class="bank-icon">
                        <img loading="lazy"  src="{{CDN_PATH}}logos/axis.png" />
                      </span>
                      <span class="bank-title">Axis Bank</span> 
                      <span class="radio-bank">
                        <input type="radio" name="nbradio" class="bankcose-radio" value="AXIB">
                      </span>
                    </label>
                  </span>
                  <span class="bank bank-pnb bank-hide">
                    <label class="bank-label">
                      <span class="bank-icon">
                        <img loading="lazy"  src="{{CDN_PATH}}logos/pnb.png" />
                      </span>
                      <span class="bank-title">PNB Bank</span> 
                      <span class="radio-bank">
                        <input type="radio" name="nbradio" class="bankcose-radio" value="PNBB">
                      </span>
                    </label>
                  </span>
                </div>
                <div class="fields-wrap bank-wrap">
                  <div class="input-wrap">
                    <span class="sub">Select Other Bank</span>
                    <span class="banks-list">
                      <span class="dropdn">
                        <select name="bankcode" id="nbBankcode" class="payment_methods form-select">
                            <option value="0">Other Banks</option>
                            <option value="AXIB">AXIS Bank Net Banking</option>
                            <option value="AXNBTPV">Axis NB TPV</option>
                            <option value="BOIB">Bank of India</option>
                            <option value="CABB">Canara Bank</option>
                            <option value="CBIB">Central Bank of India</option>
                            <option value="DSHB">Deutsche Bank</option>
                            <option value="HDFB">HDFC Bank</option>
                            <option value="ICIB">ICICI Net banking</option>
                            <option value="IDFCNB">IDFC Net banking</option>
                            <option value="INIB">IndusInd Bank</option>
                            <option value="JAKB">Jammu and Kashmir Bank</option>
                            <option value="KRKB">Karnataka Bank</option>
                            <option value="KRVB">Karur Vysya </option>
                            <option value="162B">Kotak Mahindra Bank</option>
                            <option value="LVCB">Laxmi Vilas Bank-Corporate</option>
                            <option value="LVRB">Laxmi Vilas Bank-Retail</option>
                            <option value="PNBB">Punjab National Bank - Retail Banking</option>
                            <option value="SOIB">South Indian Bank</option>
                            <option value="SBBJB">State Bank of Bikaner and Jaipur</option>
                            <option value="SBIB">State Bank of India</option>
                            <option value="SBTB">State Bank of Travancore</option>
                            <option value="UBIB">Union Bank of India</option>
                            <option value="UNIB">United Bank Of India</option>
                            <option value="VJYB">Vijaya Bank</option>
                            <option value="YESB">Yes Bank</option>
                          </select>
                      </span>
                    </span>
                  </div>
                  <span style="display:none" class="error-message" id="nbBankError">Please select bank</span>
                </div>
                <div class="submit-btn">
                  <input class="field pay-now" data-pg="NB" type="button" value="PROCEED TO PAY" />
                  <div class="tnc">
                      By Clicking "Proceed to payment" you are agreeing to the <a target="_blank" routerLink="/terms-of-use">Terms and Conditions</a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="payment-wrap netbank">
                <div class="heading">
                  <span class="heading">Select Wallet </span>
                  <!-- <span class="sub">Most Frequent Wallets :</span> -->
                </div>
                <div class="popular-banks wallets">
                  <span class="bank w-bank">
                    <label class="bank-label"><span class="bank-icon"><img loading="lazy"  src="{{CDN_PATH}}logos/airtel.png" /></span><span class="bank-title">Airtel Money</span> <span class="radio-bank"><input type="radio" name="wallet" class="bankcose-radio" value="AMON"></span></label>
                  </span>
                  <span class="bank w-bank">
                    <label class="bank-label"><span class="bank-icon"><img loading="lazy"  src="{{CDN_PATH}}logos/amazon.png" /></span><span class="bank-title">Amazon Pay</span> <span class="radio-bank"><input type="radio" name="wallet" class="bankcose-radio" value="AMZPAY"></span></label>
                  </span>
                  <span class="bank w-bank">
                    <label class="bank-label"><span class="bank-icon"><img loading="lazy"  src="{{CDN_PATH}}logos/freecharge.png" /></span><span class="bank-title">FreeCharge</span> <span class="radio-bank"><input type="radio" name="wallet" class="bankcose-radio" value="FREC"></span></label>
                  </span>
                  <span class="bank w-bank">
                    <label class="bank-label"><span class="bank-icon"><img loading="lazy"  src="{{CDN_PATH}}logos/itz.png" /></span><span class="bank-title">ItzCash</span> <span class="radio-bank"><input type="radio" name="wallet" class="bankcose-radio" value="ITZC"></span></label>
                  </span>
                  <span class="bank w-bank">
                    <label class="bank-label"><span class="bank-icon"><img loading="lazy"  src="{{CDN_PATH}}logos/phonepe.png" /></span><span class="bank-title">PhonePe</span> <span class="radio-bank"><input type="radio" name="wallet" class="bankcose-radio" value="PHONEPE"></span></label>
                  </span>
                </div>
                <span style="display:none;position:initial" class="error-message" id="walletError">Please select wallet</span>
                <div class="submit-btn">
                  <input class="field pay-now" data-pg="CASH" type="button" value="PROCEED TO PAY" />
                  <div class="tnc">
                      By Clicking "Proceed to payment" you are agreeing to the <a target="_blank" routerLink="/terms-of-use">Terms and Conditions</a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="gpay-wrap">
                <p class="gpay-wrap-title">
                  Enter your Google Pay UPI
                </p>
                <p class="field-gpay">
                  <input type="text" name="TEZvpa">&nbsp;@&nbsp;
                  <select id="tez_bank" name="tezBank">
                    <option value="">Select Bank</option>
                    <option value="@Okaxis">Okaxis</option>
                    <option value="@Okhdfcbank">Okhdfcbank</option>
                    <option value="@Okicici">Okicici</option>
                    <option value="@Oksbi">Oksbi</option>
                  </select><br>
                  <span id="TEZvpa-error" class="error-message" style="display:none">Please enter valid VPA</span>
                </p>
                <div class="submit-btn">
                  <input class="field pay-now" data-pg="TEZ" type="button" value="PROCEED TO PAY" />
                  <div class="tnc">
                      By Clicking "Proceed to payment" you are agreeing to the <a target="_blank" routerLink="/terms-of-use">Terms and Conditions</a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="upi-wrap">
                <p class="gpay-wrap-title">
                  Enter your UPI Address
                </p>
                <p>
                  <input class="upi-input" type="text" name="vpa"><br>
                  <span id="vpa-error" class="error-message" style="display:none">Please enter valid VPA</span>
                </p>
                <div class="submit-btn">
                  <input class="field pay-now" data-pg="UPI" type="button" value="PROCEED TO PAY" />
                  <div class="tnc">
                      By Clicking "Proceed to payment" you are agreeing to the <a target="_blank" routerLink="/terms-of-use">Terms and Conditions</a>
                      <p>You will receive a collect request from myflowertree.payu@axisbank in the UPI/PSP app you used to create your VPA</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<!-- Mobile Start -->
<span class="payment-wrap mobile" *ngIf="deviceType=='Mobile'">
    <ul>
      <li>
        <input type="checkbox" checked class="colaps" data-pg="CC" id="cc-h">
        <i class="arrow-icon"></i>
        <h2 class="payment-title">Credit Card</h2>
        <p class="payment-mobile-wrap">
          <span class="detail-wrap">
            <span class="heading">
              <span class="heading">Enter Your Credit Card Details</span>
              <span class="payment-icons">
                <img loading="lazy"  src="{{CDN_PATH}}logos/Visa.svg"> 
                <img loading="lazy"  src="{{CDN_PATH}}logos/Master.svg"> 
                <img loading="lazy"  src="{{CDN_PATH}}logos/Maestro.svg">
              </span>
            </span>
            <span class="fields-wrap">
              <span class="input-wrap">
                <label>Card Number</label>
                  <input class="field rupay" id="m_ccNumber" type="tel" placeholder="Card Number" />
                  <i id="m_ccIco" class="card-visa"></i>
              </span>
              <span style="display:none" class="error-message" id="m_ccNumberError">Please select bank</span>
            </span>
            <span class="fields-wrap">
              <span class="input-wrap">
                <label>Cardholder Name</label>
                <input class="field" type="text" pattern="[a-zA-Z]*" id="m_ccName" placeholder="Cardholder Name" />
                <input class="field" type="hidden" value="MAST" id="ccBankcode"/>
              </span>
              <span style="display:none" class="error-message" id="m_ccNameError">Please select bank</span>
            </span>
            <span class="expiry-date ">
              <span class="input-wrap">
                <label>Expiry MM/YY</label>
                <input class="field" type="tel" id="m_ccMM" placeholder="MM" maxlength="2" />
                <span class="gap">/</span>
                <!-- <label>MM/YY</label> -->
                <input class="field" type="tel" id="m_ccYY" placeholder="YY" maxlength="2" />
              </span>
              <span style="display:none" class="error-message" id="m_ccMMError">Please enter valid month</span>
              <span style="display:none" class="error-message" id="m_ccYYError">Please enter valid year</span>
            </span>
            <span class="cvv">
              <span class="input-wrap">
                <label>CVV</label>
                <input class="field password-mask" type="tel" id="m_ccCVV" placeholder="CVV" maxlength="4" />
              </span>
              <span style="display:none" class="error-message" id="m_ccCVVError"> Please enter valid CVV</span>
            </span>
            <span class="submit-btn">
              <!-- <input class="field m-pay-now" data-pg="CC" type="button" value="PAY NOW" /> -->
              <span class="tnc">
                  By Clicking "Proceed to payment" you are agreeing to the <a target="_blank" routerLink="/terms-of-use">Terms and Conditions</a>
              </span>
            </span>
            <b class="note">
              Your transaction is 100% safe & processed through a secure https internet connection based on secure socket layer technology.
            </b>
          </span></p>
      </li>
      <li>
        <input type="checkbox" checked class="colaps" data-pg="DC" id="dc-h">
        <i class="arrow-icon"></i>
        <h2 class="payment-title">Debit Card</h2>
        <p class="payment-mobile-wrap">
            <span class="detail-wrap">
              <span class="heading">
                <span class="heading">Enter Your Debit Card Details</span>
                <span class="payment-icons">
                  <img loading="lazy"  src="{{CDN_PATH}}logos/Visa.svg"> 
                  <img loading="lazy"  src="{{CDN_PATH}}logos/Master.svg"> 
                  <img loading="lazy"  src="{{CDN_PATH}}logos/Maestro.svg">
                </span>
              </span>
              <span class="fields-wrap">
                <span class="input-wrap">
                  <label>Card Number</label>
                  <input class="field visa" type="tel" id="m_dcNumber" placeholder="Card Number" />
                  <i id="m_dcIco" class="card-visa"></i>
                </span>
                <span style="display:none" class="error-message" id="m_dcNumberError">Please select bank</span>
              </span>
              <span class="fields-wrap">
                <span class="input-wrap">
                  <label>Cardholder Name</label>
                  <input class="field" type="text" pattern="^[a-zA-Z]*$d" id="m_dcName" placeholder="Cardholder Name" />
                  <input class="field" type="hidden" id="m_dcBankcode" value="MAST"/>
                </span>
                <span style="display:none" class="error-message" id="m_dcNameError">Please select bank</span>
              </span>
              <span class="expiry-date ">
                <span class="input-wrap">
                  <label>Expiry MM/YY</label>
                  <input class="field" type="tel" id="m_dcMM" placeholder="MM" maxlength="2" />
                  <span class="gap">/</span>
                  <!-- <label>MM/YY</label> -->
                  <input class="field" type="tel" id="m_dcYY" placeholder="YY" maxlength="2" />
                </span>
                <span style="display:none" class="error-message" id="m_dcMMError">Please enter valid month</span>
                <span style="display:none" class="error-message" id="m_dcYYError">Please enter valid year</span>
              </span>
              <span class="cvv">
                <span class="input-wrap">
                  <label>CVV</label>
                  <input class="field password-mask" type="tel" id="m_dcCVV" placeholder="CVV" maxlength="4" />
                </span>
                <span style="display:none" class="error-message" id="m_dcCVVError">Please enter valid CVV</span>
              </span>
              <span class="submit-btn">
                <!-- <input class="field m-pay-now" type="button" data-pg="DC" value="PAY NOW" /> -->
                <span class="tnc">
                    By Clicking "Proceed to payment" you are agreeing to the <a target="_blank" routerLink="/terms-of-use">Terms and Conditions</a>
                    <br>You will receive a collect request on GooglePay app from myflowertree.payu@axisbank.
                </span>
              </span>
              <b class="note">
                Your transaction is 100% safe & processed through a secure https internet connection based on secure socket layer technology.
              </b>
            </span></p>
      </li>
      <li>
        <input type="checkbox" checked class="colaps" data-pg="PAYTM" id="paytm-h">
        <i class="arrow-icon"></i>
        <h2 class="payment-title paytm"><img loading="lazy"  src="{{CDN_PATH}}logos/paytm.png" alt="paytm logo"></h2>
        <p class="payment-mobile-wrap gpay">
          <span class="Gpay-top">
            <span class="title-gpay">Pay with</span>
            <img loading="lazy"  src="{{CDN_PATH}}logos/paytm.png" alt="paytm logo">
          </span>
  
          <span class="submit-btn">
            <!-- <input class="field m-pay-now" type="button" data-pg="PAYTM" value="PAY NOW" /> -->
            <span class="tnc">
              By Clicking "Proceed to payment" you are agreeing to the <a target="_blank" routerLink="/terms-of-use">Terms and Conditions</a>
            </span>
          </span>
          <b class="note">
            Your transaction is 100% safe & processed through a secure https internet connection based on secure socket layer technology.
          </b>
        </p>
      </li>
      <li>
        <input type="checkbox" checked class="colaps" data-pg="PAYPAL" id="paypal-h">
        <i class="arrow-icon"></i>
        <h2 class="payment-title paypal"><img loading="lazy"  src="{{CDN_PATH}}logos/paypal.png" alt="paypal logo"></h2>
        <p class="payment-mobile-wrap gpay">
          <span class="Gpay-top">
            <span class="title-gpay">Pay with</span>
            <img loading="lazy"  src="{{CDN_PATH}}logos/paypal.png" alt="paypal logo">
          </span>
  
          <span class="submit-btn">
            <!-- <input class="field m-pay-now" type="button" data-pg="PAYTM" value="PAY NOW" /> -->
            <span class="tnc">
              By Clicking "Proceed to payment" you are agreeing to the <a target="_blank" routerLink="/terms-of-use">Terms and Conditions</a>
            </span>
          </span>
          <b class="note">
            Your transaction is 100% safe & processed through a secure https internet connection based on secure socket layer technology.
          </b>
        </p>
      </li>
      <li>
        <input type="checkbox" checked class="colaps" data-pg="NB" id="nb-h">
        <i class="arrow-icon"></i>
        <h2 class="payment-title">Net banking</h2>
        <p class="payment-mobile-wrap netbank">
          <span class="heading">
            <span class="heading">Select Your Bank </span>
            <!-- <span class="sub">Most Frequent Banks :</span> -->
          </span>
          <span class="popular-banks m-netbanking">
            <span class="bank m-bank-hdfc">
              <label class="bank-label">
                <span class="bank-icon">
                  <img loading="lazy"  src="{{CDN_PATH}}logos/hdfc.png" />
                </span>
                <span class="bank-title">Hdfc</span> 
                <span class="radio-bank">
                  <input type="radio" name="m_nbradio" class="bankcose-radio" value="HDFB">
                </span>
              </label>
            </span>
            <span class="bank m-bank-sbi bank-hide">
              <label class="bank-label">
                <span class="bank-icon">
                  <img loading="lazy"  src="{{CDN_PATH}}logos/sbi.png" />
                </span>
                <span class="bank-title">Sbi</span> 
                <span class="radio-bank">
                  <input type="radio" name="m_nbradio" class="bankcose-radio" value="SBIB">
                </span>
               </label>
             </span>
            <span class="bank m-bank-icici bank-hide">
              <label class="bank-label">
                <span class="bank-icon">
                  <img loading="lazy"  src="{{CDN_PATH}}logos/icici.png" />
                </span>
                <span class="bank-title">Icici</span> 
                <span class="radio-bank">
                  <input type="radio" name="m_nbradio" class="bankcose-radio" value="ICIB">
                </span>
              </label>
            </span>
            <span class="bank m-bank-kotak bank-hide">
              <label class="bank-label">
                <span class="bank-icon">
                  <img loading="lazy"  src="{{CDN_PATH}}logos/kotak.png" />
                </span>
                <span class="bank-title">Kotak</span> 
                <span class="radio-bank">
                  <input type="radio" name="m_nbradio" class="bankcose-radio" value="162B">
                </span>
              </label>
            </span>
          </span>
          <span class="bank m-bank-axis bank-hide">
              <label class="bank-label">
                <span class="bank-icon">
                  <img loading="lazy"  src="{{CDN_PATH}}logos/axis.png" />
                </span>
                <span class="bank-title">Axis</span> 
                <span class="radio-bank">
                  <input type="radio" name="m_nbradio" class="bankcose-radio" value="AXIB">
                </span>
              </label>
            </span>
          <span class="bank m-bank-pnb bank-hide">
              <label class="bank-label">
                <span class="bank-icon">
                  <img loading="lazy"  src="{{CDN_PATH}}logos/pnb.png" />
                </span>
                <span class="bank-title">pnb</span> 
                <span class="radio-bank">
                  <input type="radio" name="m_nbradio" class="bankcose-radio" value="PNBB">
                </span>
              </label>
            </span>
          <span class="fields-wrap bank-wrap">
            <span class="input-wrap">
              <span class="sub">Select Other Bank</span>
              <span class="banks-list">
                <span class="dropdn">
                  <select name="bankcode" id="m_nbBankcode" class="payment_methods form-select">
                    <option value="0">Other Banks</option>
                    <option value="AXIB">AXIS Bank Net Banking</option>
                    <option value="AXNBTPV">Axis NB TPV</option>
                    <option value="BOIB">Bank of India</option>
                    <option value="CABB">Canara Bank</option>
                    <option value="CBIB">Central Bank of India</option>
                    <option value="DSHB">Deutsche Bank</option>
                    <option value="HDFB">HDFC Bank</option>
                    <option value="ICIB">ICICI Net banking</option>
                    <option value="IDFCNB">IDFC Net banking</option>
                    <option value="INIB">IndusInd Bank</option>
                    <option value="JAKB">Jammu and Kashmir Bank</option>
                    <option value="KRKB">Karnataka Bank</option>
                    <option value="KRVB">Karur Vysya </option>
                    <option value="162B">Kotak Mahindra Bank</option>
                    <option value="LVCB">Laxmi Vilas Bank-Corporate</option>
                    <option value="LVRB">Laxmi Vilas Bank-Retail</option>
                    <option value="PNBB">Punjab National Bank - Retail Banking</option>
                    <option value="SOIB">South Indian Bank</option>
                    <option value="SBBJB">State Bank of Bikaner and Jaipur</option>
                    <option value="SBIB">State Bank of India</option>
                    <option value="SBTB">State Bank of Travancore</option>
                    <option value="UBIB">Union Bank of India</option>
                    <option value="UNIB">United Bank Of India</option>
                    <option value="VJYB">Vijaya Bank</option>
                    <option value="YESB">Yes Bank</option>
                  </select>
                </span>
              </span>
            </span>
            <span style="display:none" class="error-message" id="m_nbBankError">Please select bank</span>
          </span>
          <span class="submit-btn">
            <!-- <input class="field m-pay-now" data-pg="NB" type="button" value="PROCEED TO PAY" /> -->
            <span class="tnc">
              By Clicking "Proceed to payment" you are agreeing to the <a target="_blank" routerLink="/terms-of-use">Terms and Conditions</a>
            </span>
          </span>
          <b class="note">
            Your transaction is 100% safe & processed through a secure https internet connection based on secure socket layer technology.
          </b>
        </p>
      </li>
      <li>
        <input type="checkbox" checked class="colaps" data-pg="CASH" id="wallet-h">
        <i class="arrow-icon"></i>
        <h2 class="payment-title">Wallet</h2>
        <p class="payment-mobile-wrap netbank">
          <span class="heading">
            <span class="heading">Select Wallet </span>
            <!-- <span class="sub">Most Frequent Wallets :</span> -->
          </span>
          <span class="popular-banks m-wallets">
            <span class="bank">
              <label class="bank-label"><span class="bank-icon"><img loading="lazy"  src="{{CDN_PATH}}logos/airtel.png" /></span><span class="bank-title">Airtel Money</span> <span class="radio-bank"><input type="radio" name="m_wallet" class="bankcose-radio" value="AMON"></span></label>
            </span>
            <span class="bank">
              <label class="bank-label"><span class="bank-icon"><img loading="lazy"  src="{{CDN_PATH}}logos/amazon.png" /></span><span class="bank-title">Amazon Pay</span> <span class="radio-bank"><input type="radio" name="m_wallet" class="bankcose-radio" value="AMZPAY"></span></label>
            </span>
            <span class="bank">
              <label class="bank-label"><span class="bank-icon"><img loading="lazy"  src="{{CDN_PATH}}logos/freecharge.png" /></span><span class="bank-title">FreeCharge</span> <span class="radio-bank"><input type="radio" name="m_wallet" class="bankcose-radio" value="FREC"></span></label>
            </span>
            <span class="bank">
              <label class="bank-label"><span class="bank-icon"><img loading="lazy"  src="{{CDN_PATH}}logos/itz.png" /></span><span class="bank-title">ItzCash</span> <span class="radio-bank"><input type="radio" name="m_wallet" class="bankcose-radio" value="ITZC"></span></label>
            </span>
            <span class="bank">
              <label class="bank-label"><span class="bank-icon"><img loading="lazy"  src="{{CDN_PATH}}logos/paytm.png" style="max-width: 53px;" /></span><span class="bank-title">Paytm</span> <span class="radio-bank"><input type="radio" name="m_wallet" class="bankcose-radio" value="PAYTM"></span></label>
            </span>
            <span class="bank">
              <label class="bank-label"><span class="bank-icon"><img loading="lazy"  src="{{CDN_PATH}}logos/phonepe.png" /></span><span class="bank-title">PhonePe</span> <span class="radio-bank"><input type="radio" name="m_wallet" class="bankcose-radio" value="PHONEPE"></span></label>
            </span>
          </span>
          <span style="display:none;position:initial" class="error-message" id="m_walletError">Please select wallet</span>
          <span class="submit-btn">
            <!-- <input class="field m-pay-now" data-pg="CASH" type="button" value="PROCEED TO PAY" /> -->
            <span class="tnc">
              By Clicking "Proceed to payment" you are agreeing to the <a target="_blank" routerLink="/terms-of-use">Terms and Conditions</a>
            </span>
          </span>
          <b class="note">
            Your transaction is 100% safe & processed through a secure https internet connection based on secure socket layer technology.
          </b>
        </p>
      </li>
      <li>
        <input type="checkbox" checked class="colaps" data-pg="TEZ"  id="gpay-h">
        <i class="arrow-icon"></i>
        <h2 class="payment-title gpay-logo"><img loading="lazy"  src="{{CDN_PATH}}logos/gpay.png" alt="gpay logo"></h2>
        <p class="payment-mobile-wrap gpay">
          <span class="Gpay-top">
            <span class="title-gpay">Pay with</span>
            <img loading="lazy"  src="{{CDN_PATH}}logos/gpay.png" alt="gpay logo">
          </span>
          <span class="input-gpay">
            <span class="gpay-field">
              <input type="text" name="m_TEZvpa" placeholder="GPay UPI ID">
            </span>
            <span class="sepr">@</span>
            <span class="select-gpay">
              <select id="m_tez_bank" name="tezBank">
                <option value="">Select Bank</option>
                <option value="@Okaxis">Okaxis</option>
                <option value="@Okhdfcbank">Okhdfcbank</option>
                <option value="@Okicici">Okicici</option>
                <option value="@Oksbi">Oksbi</option>
              </select>
            </span>
            <span id="m_TEZvpa-error" class="error-message" style="display:none">Please enter valid VPA</span>
          </span>
          <span class="submit-btn">
            <!-- <input class="field m-pay-now" data-pg="TEZ" type="button" value="PROCEED TO PAY" /> -->
            <span class="tnc">
                You will receive a collect request on GooglePay app from myflowertree.payu@axisbank.
            </span>
          </span>
          <b class="note">
            Your transaction is 100% safe & processed through a secure https internet connection based on secure socket layer technology.
          </b>
        </p>
      </li>
      <li style="padding-bottom: 60px">
        <input type="checkbox" checked class="colaps" data-pg="UPI" id="upi-h">
        <i class="arrow-icon"></i>
        <h2 class="payment-title">UPI</h2>
        <p class="payment-mobile-wrap">
          <span class="Gpay-top upi-wrap">
            <span class="upi-heading">Enter your UPI address</span>
            <input class="upi-input" type="text" name="m_vpa" placeholder="yourupi@bank"><br>
            <span id="m_vpa-error" class="error-message" style="display:none">Please enter valid VPA</span>
          </span>
          <span class="submit-btn">
            <!-- <input class="field m-pay-now" data-pg="UPI" type="button" value="PROCEED TO PAY" /> -->
            <span class="tnc">
                You will receive a collect request from myflowertree.payu@axisbank in the UPI/PSP app you used to create your VPA
            </span>
          </span>
        </p>
      </li>
      
    </ul>
  <p>
    <span class="submit-btn submit-btm-pn">
      <input class="field m-pay-now" data-pg="none" type="button" value="PAY NOW" />
    </span>
  </p>
</span>
<!-- Mobile Ends -->

</div>
</div>