@media only screen and (max-width: 760px) {
    :host::ng-deep .cat-body-box {
       margin-top: 60px !important;
   }
}

 :host::ng-deep .fc-widget-small{display:none;}
   
    :host::ng-deep   body {
       background-color: #ffffff;
   }
    :host::ng-deep   .main-div-bg {
       width: 70%;}
     :host::ng-deep    ul.breadcrumb {
       padding: 10px 16px;
       list-style: none;
   }
:host::ng-deep    ul.breadcrumb li {
       display: inline;
       font-size:14px;
       font-family:Arial;
   }
:host::ng-deep    ul.breadcrumb li+li:before {
       padding: 8px;
       color: black;
       content: "/\00a0";
   }
:host::ng-deep    ul.breadcrumb li a {
       color: #0275d8;
       text-decoration: none;
       font-size:14px;
       font-family:Arial;
   }
:host::ng-deep    ul.breadcrumb li a:hover {
       color: #01447e;
       text-decoration: underline;
   }
:host::ng-deep    .login-and-security h2 {
      display: inline-block;
      width:100%;
      font-weight: 600;
      font-size: 30px;
   }
:host::ng-deep    .a-box {
       display: block;
       border-radius: 4px;
       border: 1px #ddd solid;
       margin-bottom:20px;
       background-color: #fff;
   }
:host::ng-deep    .a-box .a-box-inner {
       border-radius: 4px;
       position: relative;
       padding: 14px 18px;
   }
:host::ng-deep    .a-unordered-list, ul {
       margin: 0 0 0px 18px;
       color: #949494;
   }
:host::ng-deep    .a-unordered-list.a-nostyle, ol.a-nostyle, ul.a-nostyle {
       margin-left: 0;
       color: #111;
   }
:host::ng-deep    .a-unordered-list.a-nostyle li, ol.a-nostyle li, ul.a-nostyle li {
       list-style: none;
   }
:host::ng-deep    .a-unordered-list.a-box-list li, ul.a-box-list li {
       border-bottom: 1px solid #e7e7e7;
   }
:host::ng-deep    .a-section:last-child {
       margin: 20px 0px;
       display: inline-block;
       width: 100%;
   }
:host::ng-deep    .a-padding-none {
       padding: 0!important;
   }
:host::ng-deep    form {
       margin-bottom: 14px;
   }
:host::ng-deep    .a-ember input, .a-ember select, .a-ember textarea {
       font-family: "Amazon Ember",Arial,sans-serif;
   }
:host::ng-deep    .a-fixed-right-grid {
       position: relative;
   }
:host::ng-deep    .a-fixed-right-grid .a-fixed-right-grid-inner {
       position: relative;
       padding: 0;
   }
:host::ng-deep    .a-fixed-right-grid .a-fixed-right-grid-inner:before {
       display: table;
       content: "";
       line-height: 0;
       font-size: 0;
   }
:host::ng-deep    .a-fixed-right-grid .a-col-left {
       width: 100%;
       padding-right: 3.5%;
   }
:host::ng-deep    .a-fixed-right-grid .a-fixed-right-grid-col {
       position: relative;
       overflow: visible;
       zoom: 1;
       min-height: 1px;
   }
:host::ng-deep    .a-row {
       width: 100%;
   }
:host::ng-deep    .a-row:before {
       display: table;
       content: "";
       line-height: 0;
       font-size: 0;
   }
:host::ng-deep    .a-text-bold {
       font-weight: 700!important;
       font-size:17px;
   }
:host::ng-deep    .a-row:after {
       clear: both;
   }
:host::ng-deep    .a-fixed-right-grid .a-fixed-right-grid-col {
       position: relative;
       overflow: visible;
       zoom: 1;
       min-height: 1px;
   }
:host::ng-deep    .a-button-span12 {
       width: 100%!important;
   }
:host::ng-deep    .a-padding-medium {
       padding: 14px 18px!important;
       display:grid;
   }
:host::ng-deep    .a-button {
       background: #e7e9ec;
       cursor: pointer;
       display: inline-block;
       padding: 0;
       text-align: center;
       text-decoration: none!important;
       vertical-align: middle;
   }
:host::ng-deep    .a-button-inner {
       display: block;
       position: relative;
       overflow: hidden;
       height: 33px;
       box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
       border-radius: 2px;
   }
:host::ng-deep    input[type=submit] {
       cursor: pointer;
       -webkit-appearance: button;
   }
:host::ng-deep    .a-button-input {
       position: absolute;
       background-color: transparent;
       color: transparent;
       border: 0;
       cursor: pointer;
       height: 100%;
       width: 100%;
       left: 0;
       top: 0;
       opacity: .01;
       outline: 0;
       overflow: visible;
       z-index: 20;
   }
:host::ng-deep    .a-button-text {
       color: #111;
   }
:host::ng-deep    .a-button-text {
       background-color: transparent;
       border: 0;
       display: block;
       font-family: Arial,sans-serif;
       font-size: 13px;
       line-height: 33px;
       margin: 0;
       outline: 0;
       padding: 0 20px 0 20px;
       text-align: center;
       white-space: nowrap;
   }
:host::ng-deep    .a-button-inner {
       display: block;
       position: relative;
       overflow: hidden;
       height: 33px;
       box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
       border-radius: 2px;
   }
:host::ng-deep    .a-button1 {
      background-color: rgb(245, 111, 35);
       border-width: 1px;
       cursor: pointer;
       display: inline-block;
       padding: 0;
       text-align: center;
       text-decoration: none!important;
       vertical-align: middle;
   }
:host::ng-deep    .but-1 {
      color:white !important;
   }
   @media (max-width: 768px) {
    :host::ng-deep   .a-section:last-child {
       width: 100%;
   }
:host::ng-deep    .main-div-bg {
       width: 100%;}
:host::ng-deep    .breadcrumb {
      display:block !important;
   }
   /* .cat-body-box {
       margin: 60px auto 20px !important;
   } */
   }