<div class="cat-body-box">
	<div class="container">
		<div class="main-div-bg">

			<div id="breadcrumb">
			<ul class="breadcrumb">
			<li><a routerLink="/account">Your Account</a></li>
			<li>Login & Security</li>
			</ul>
			</div>

		    <div class="login-and-security">
		    	<h2>Login & Security</h2>
             <div *ngIf="successmsg" style="color:red">{{successmsg}}</div>
		    	<div class="a-section">
                    <div class="a-box a-vertical">
                    	<div class="a-box-inner a-padding-none">
                    <form [formGroup]="editprofileForm" (ngSubmit)="submitProfileForm()">
                     <ul class="a-unordered-list a-nostyle a-box-list">
                        <li id="edit_name" *ngIf="!name_field" class="normal_block">
                                                 <span class="a-list-item">
                                          <div class="a-padding-medium">
                                 
               
                        <div class="a-fixed-right-grid">
                        <div class="a-fixed-right-grid-inner" style="padding-right:70px">
               
                           <div class="a-fixed-right-grid-col a-col-left" style="padding-right:5%;float:left;">
                           <div class="a-row">
                           <span class="a-text-bold">
                           Name:
                           </span>
                           </div>
               
                           <div class="a-row">
                              {{customer_data[0].firstname}}
                           </div>
                           </div>
               
               
                           <div class="a-fixed-right-grid-col a-col-right" style="width:70px;margin-right:-70px;float:left;">
                           <div class="a-row">
                           <span class="a-button a-button-span12 a-button-base" id="a-autoid-0">
                              <span class="a-button-inner">
                                 <input (click)="profileEdit('name')" id="edit-name-button" class="a-button-input" type="button">
                                 <span class="a-button-text">Edit</span>
                              </span>
                           </span>
                           </div>
                           </div>
                     
                         </div>
                         </div>
               </div>
               </span>
               </li>
               <li id="update_name" *ngIf="name_field && edit_div" class="edit_block">
                  <span class="a-list-item">
                                    <div class="a-padding-medium">
                                    
         
                  <div class="a-fixed-right-grid">
                  <div class="a-fixed-right-grid-inner" style="padding-right:70px">
         
                     <div class="a-fixed-right-grid-col a-col-left" style="padding-right:5%;float:left;">
                     <div class="a-row">
                     <span class="a-text-bold">
                        <input type="text" formControlName="firstname" value="" placeholder="First Name" class="form-control" />                   
                       </span>

                     <span *ngIf="!editprofileForm.get('firstname').valid && editprofileForm.get('firstname').touched" class="error-message">
                        <span *ngIf="editprofileForm.get('firstname').errors['required']">Please Enter Firstname</span>
                       </span>
                     </div>
                     </div>
         
         
                     <div class="a-fixed-right-grid-col a-col-right" style="width:70px;margin-right:-70px;float:left;">
                     <div class="a-row">
                     <span class="a-button a-button-span12 a-button-base" id="a-autoid-0">
                        <span class="a-button-inner">
                           <input class="a-button-input" id="save-name" type="submit">
                           <span class="a-button-text" >SAVE</span>
                        </span>
                     </span>
                     </div>
                     </div>
               
                   </div>
                   </div>
         </div>
         </span>
         </li> 
         <li id="edit_email"  *ngIf="!email_field" class="normal_block"><span class="a-list-item">
            <div class="a-padding-medium">
                  
                <div class="a-fixed-right-grid">
                <div class="a-fixed-right-grid-inner" style="padding-right:70px">
                  <div class="a-fixed-right-grid-col a-col-left" style="padding-right:5%;float:left;">
            
                    <div class="a-row">
                      <span class="a-text-bold">
                        E-mail:
                      </span>
                    </div>
                    
                      <div class="a-row">
                        {{customer_data[0].email}}
                      </div>
                  </div>
            
                  <div class="a-fixed-right-grid-col a-col-right" style="width:70px;margin-right:-70px;float:left;">
                      <div class="a-row">
                        <span class="a-button a-button-span12 a-button-base" id="">
                           <span class="a-button-inner">
                              <input (click)="profileEdit('email')" id="edit-email-button" class="a-button-input" type="button">
                              <span class="a-button-text" aria-hidden="true">Edit</span>
                           </span>
                        </span>
                      </div>
                    </div>
                  
                </div>
                </div>
            </div>
            </span>
            </li>

            <li id="update_email" *ngIf="email_field && edit_div" class="edit_block">
               <span class="a-list-item">
                                 <div class="a-padding-medium">
      
               <div class="a-fixed-right-grid">
               <div class="a-fixed-right-grid-inner" style="padding-right:70px">
      
                  <div class="a-fixed-right-grid-col a-col-left" style="padding-right:5%;float:left;">
                  <div class="a-row">
                  <span class="a-text-bold">
                     <input type="email" formControlName="email" readonly value="" placeholder="E-Mail" class="form-control" />             
                  </span>
                  <span *ngIf="!editprofileForm.get('email').valid && editprofileForm.get('email').touched" class="error-message">
                  <span *ngIf="editprofileForm.get('email').errors['required']">Please Enter Email</span>
                  <span *ngIf="editprofileForm.get('email').errors['email']">Please Enter Valid Email</span>
                  </span>
      
                  </div>
                  </div>
      
             <div class="a-fixed-right-grid-col a-col-right" style="width:70px;margin-right:-70px;float:left;">
                  <div class="a-row">
                  <span class="a-button a-button-span12 a-button-base" id="a-autoid-0">
                     <span class="a-button-inner">
                        <input class="a-button-input" id="save-email" type="submit">
                        <span class="a-button-text" id="">SAVE</span>
                     </span>
                  </span>
                  </div>
                  </div>
            
                </div>
                </div>
      </div>
      </span>
      </li>  

      <li id="edit_number" *ngIf="!telephone_field" class="normal_block"><span class="a-list-item">
         <div class="a-padding-medium">
            
             <div class="a-fixed-right-grid"><div class="a-fixed-right-grid-inner" style="padding-right:70px">
         
               <div class="a-fixed-right-grid-col a-col-left" style="padding-right:5%;float:left;">
                 <div class="a-row">
                   <span class="a-text-bold">
                     Mobile Phone Number:
                   </span>
                 </div>
                 
                   <div class="a-row">
                     {{customer_data[0].telephone}}
                   </div>
               </div>
          
                 <div class="a-fixed-right-grid-col a-col-right" style="width:70px;margin-right:-70px;float:left;">
                   <div class="a-row">
                     <span class="a-button a-button-span12 a-button-base">
                        <span class="a-button-inner">
                           <input  (click)="profileEdit('telephone')" id="edit-number-button" class="a-button-input" type="button">
                           <span class="a-button-text">Edit</span>
                        </span>
                     </span>
                   </div>
                   
                 </div>
               
              </div>
             </div>
         </div>
         </span>
         </li>
         <li id="update_number"  *ngIf="telephone_field && edit_div" class="edit_block">
            <span class="a-list-item">
                              <div class="a-padding-medium">
                              
   
            <div class="a-fixed-right-grid">
            <div class="a-fixed-right-grid-inner" style="padding-right:70px">
   
               <div class="a-fixed-right-grid-col a-col-left" style="padding-right:5%;float:left;">
               <div class="a-row">
               <span class="a-text-bold">
                  <input type="number" maxlength="10" formControlName="telephone" value="" placeholder="Telephone" class="form-control" />               </span>
               <span *ngIf="!editprofileForm.get('telephone').valid && editprofileForm.get('telephone').touched" class="error-message">
                  <span *ngIf="editprofileForm.get('telephone').errors['required']">Please Enter Firstname</span>
                 </span>   
               </div>
               </div>
   
   
               <div class="a-fixed-right-grid-col a-col-right" style="width:70px;margin-right:-70px;float:left;">
               <div class="a-row">
               <span class="a-button a-button-span12 a-button-base" id="a-autoid-0">
                  <span class="a-button-inner">
                     <input class="a-button-input" id="save-number" type="submit">
                     <span class="a-button-text">SAVE</span>
                  </span>
               </span>
               </div>
               </div>
         
             </div>
             </div>
   </div>
   </span>
   </li> 
   <li id="edit_password" *ngIf="!password_field" class="normal_block"><span class="a-list-item">
      <div class="a-padding-medium">
       
      
          <div class="a-fixed-right-grid">
             <div class="a-fixed-right-grid-inner" style="padding-right:70px">
      
            <div class="a-fixed-right-grid-col a-col-left" style="padding-right:5%;float:left;">
              <div class="a-row">
                <span class="a-text-bold">
                  Password:
                </span>
              </div>              
                <div class="a-row">
                  ********
                </div>
            </div>
      
            
              <div class="a-fixed-right-grid-col a-col-right" style="width:70px;margin-right:-70px;float:left;">
                <div class="a-row">
                  <span class="a-button a-button-span12 a-button-base">
                     <span class="a-button-inner">
                        <input (click)="profileEdit('password')" id="edit-password-button" class="a-button-input" type="button">
                        <span class="a-button-text">Edit</span>
                     </span>
                  </span>
                </div>
              </div>
            
          </div>
          </div>
      </div>
      </span>
      </li>
      <li id="update_password" *ngIf="password_field && edit_div" class="edit_block">
			<span class="a-list-item">
									<div class="a-padding-medium">
								
			<div class="a-fixed-right-grid">
			<div class="a-fixed-right-grid-inner" style="padding-right:70px">

				<div class="a-fixed-right-grid-col a-col-left" style="padding-right:5%;float:left;">
				<div class="a-row">
            <span class="a-text-bold">
               <input type="text" formControlName="password" value="" placeholder="Password" class="form-control" />                   
               </span>
				</div>
				</div>


				<div class="a-fixed-right-grid-col a-col-right" style="width:70px;margin-right:-70px;float:left;">
				<div class="a-row">
				<span class="a-button a-button-span12 a-button-base" id="a-autoid-0">
					<span class="a-button-inner">
						<input id="save-password" class="a-button-input" type="submit">
						<span class="a-button-text">SAVE</span>
					</span>
				</span>
				</div>
				</div>
      
		    </div>
		    </div>

</div>
</span>
</li>  
               </ul>
                     </form>
                  
</div>
</div>


</div>
</div>



</div>
</div>
</div>


<!-- <app-footer></app-footer> -->