<section id="checkout-login">
    <div class="container-fluid containerhwlogin" style="background-color:#DBF4E6;">
      <div class="row ">
      <div class="col-md-12">
        <div class="loginbox">
               <div style="color:red;">              
              </div>         
          <div class="loginheading" style="margin-bottom:10px;">
          Order Ticket
          </div>
                    
            <form class="form-horizontal" [formGroup]="orderTicketForm" (ngSubmit)="submitOrderTicketForm()">
             <div class="row">
            <div class="col-md-12">				
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="input-customer">Comments</label>
                      <div class="col-sm-10">
                        <!--<textarea class="form-control" rows="8" name="comment" id="comment" placeholder="Enter Comments..."></textarea>-->
                        <textarea id="comment" class="form-control" rows="8" placeholder="Enter Comments..." formControlName="comment"></textarea>
          <span *ngIf="!orderTicketForm.get('comment').valid && orderTicketForm.get('comment').touched"
                  class="error-message">
                  <span *ngIf="orderTicketForm.get('comment').errors['required']">Please Enter Comment</span>
                  </span> 
                      </div>
                    </div>
                </div>
            </div>
             <div class="row">
        <div class="col-md-12">				
                                <div class="row cmtbox">
      
               <div class="col-3 input-effect">
                      <label class="col-md-2 col-xs-12 control-label">Image</label>
                      <div class="col-sm-8 col-xs-8">
  
                      <input class="effect-16 effect" type="file" (change)="onUploadFile($event)" formControlName="complaint_image[]" id="input-file-1">
                      </div>
                      <a href="javascript:void" (click)="addMore()" class="addmore col-md-2 col-xs-4">Add More</a>
  
                      <span class="focus-border"></span>
                       <span class="error_image error-message" style="color: red;"></span>
                </div>
                </div>
                <div class="row cmtbox">
                   <div class="col-3 input-effect" style="display:none;" id="file_block_2">
                      <label class="col-md-2 col-xs-12 control-label">Image</label>
                      <div class="col-sm-8 col-xs-8">
                    <input class="effect-16 effect" type="file" (change)="onUploadFile($event)" formControlName="complaint_image[]" id="input-file-1">
  </div>
          <a href="javascript:void" (click)="remove(2)" class="removeadd col-md-2 col-xs-4">Remove</a>			 
  
                      <span class="focus-border"></span>
                       <span class="error_image error-message" style="color: red;"></span>
               </div>
               </div>
                <div class="row cmtbox">
                  <div class="col-3 input-effect" style="display:none;" id="file_block_3">
                      <label class="col-md-2 control-label col-xs-12">Image</label>
                      <div class="col-sm-8 col-xs-8">
   <input class="effect-16 effect" type="file" (change)="onUploadFile($event)" formControlName="complaint_image[]" id="input-file-1">
  </div>
          <a href="javascript:void" (click)="remove(3)" class="removeadd col-md-2 col-xs-4">Remove</a>			 
                      <span class="focus-border"></span>
                       <span class="error_image error-message" style="color: red;"></span>
  
               
               </div>	
               </div>	
  
        </div>
            </div>		  
                 <div class="row">
            <div class="col-md-12">
                    <div class="form-group">
                      <div class="col-sm-12">
                          <button type="submit" class="btn btn-success pull-right">Submit</button>
                      </div>
                    </div>				
                </div>
            </div> 
            </form>
          <div class="row">
  <div class="col-md-12">
    <div class="table">
      <table border="0" cellspacing="0" cellpadding="0" class="table table-striped table-2 table-hover">
        <thead>
          <tr  class="bg-info">
            <td valign="bottom">Comments</td>
          </tr>
        </thead>
        <tr *ngFor="let tic of tickets">
            <td *ngIf="tic.agent_name !='Customer'">

                <p style="font-weight:bold;">Date: {{tic.date_added}}</p>
		        <p> {{tic.comment}}</p>
                <div *ngIf="tic.images !=''">
                   <div *ngFor="let imgs of tic.imagess">
                    <p><a href="{{CDN_PATH}}option-images/{{imgs}}" target="_blank"><img loading="lazy"  src="{{CDN_PATH}}option-images/{{imgs}}" width="140px"></a></p>

                   </div>
                </div>
		    </td>
        </tr>
      </table>
    </div>
  </div>			  
            </div>
  
            
          </div>
        </div>
        </div>
      </div>
  
  </section>
  <!-- <app-footer></app-footer>  -->