<!-- <app-header></app-header> -->

 <div class="cat-body-box">
            <div class="review-section ">
               <div class="row">
                  <div class="col-sm-12 margintop30">
                     <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="section-heading">Customer <b>Reviews</b></div>
                        <div class="carousel-inner">
                           <div class="item carousel-item active">
                              <div class="row">
                                 
                                <div class="col-sm-4" *ngFor="let item of review" style="margin-bottom:10px;">
                                    <div class="media">
                                       <div class="media-left d-flex mr-3">
                                          <div class="media-text"> {{item.authtwoletter}} </div>
                                       </div>
                                       <div class="media-body">
                                          <div class="overview">
                                             <div class="name"><b>{{item.author}}</b></div>
                                             <div class="review-text">{{item.text}}</div>
                                             <div class="details">On {{item.date_added | date :'medium'}}  </div>
                                             <div class="star-rating" ng-bind-html="{item.ratinghtm}">
                                                
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                </div>
                                
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <!-- <app-footer></app-footer> -->