:host::ng-deep .cat-body-box { margin-top: 0px;}
@media screen and (max-width:760px) {
    :host::ng-deep.margintop30 {
        margin-top: 0px;
    }
}
 
:host::ng-deep .media-body{background-color:white;padding:8px}
:host::ng-deep .media-text{background-color:white}.carousel 
:host::ng-deep .media{padding:0;margin:0}.review-name{color:red}
:host::ng-deep .review-text{font-size:16px;color:#333}
:host::ng-deep .review-details{color:#999;font-size:12px}
:host::ng-deep .review-item{display:inline-block}

@media only screen and (max-width:600px){
    :host::ng-deep .section-heading{font-size:26px;padding-left:5px;margin-bottom:40px}
    :host::ng-deep .carousel .overview{padding:3px 0 0 3px}
    :host::ng-deep .review-box{width:100%;overflow-x:scroll;white-space:nowrap;margin:auto}
    :host::ng-deep .review-item{width:90%;padding-left:5px;padding-right:5px}
    :host::ng-deep .review-item:last-child{width:100%}
    :host::ng-deep .media-text{width:55px;height:55px;display:block;border-radius:50%;box-shadow:0 2px 4px rgba(0,0,0,.2);border:2px solid #fff;padding-top:16%;font-size:25px;text-align:center}
}
    
       