<!-- <app-header></app-header> -->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<link rel="stylesheet" type="text/css" [href]="cssDy.demo_tab">
<link rel="stylesheet" type="text/css" [href]="cssDy.tabscss">
<link rel="stylesheet" type="text/css" [href]="cssDy.tabstyles">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->


	<!--Section 1 top banner desktop size start-->
 <div class="cat_wrapper hidden-xs"><a  *ngIf="banner !=''" routerLink="/womens-day" target="_blank"> <img [src]="banner" width="100%" alt="{{category_data.name}}" title="{{category_data.name}}"></a></div>

<!--Section 1 top banner desktop size end-->


<!--Section 1 top banner mobile size start-->
<div class="cat_wrapper-mobile hidden-lg hidden-md hidden-sm"><a *ngIf="mobile_banner !=''" routerLink="/womens-day" target="_blank"> <img [src]= "category_data.mobile_banner" width="100%" alt="{{category_data.name}}" title="{{category_data.name}}"></a></div>


<div class="container">

<section>
                <div class="tabs tabs-style-tzoid">
				
				
                    <nav>
                        <ul>

                            <li [ngClass]="{'tab-current' : fragment==='section1'}"><a (click)="onClick('section1')" href="javascript:void(0)"><span>Greetings</span></a></li>

                            <li [ngClass]="{'tab-current' : fragment==='section2'}"><a (click)="onClick('section2')" href="javascript:void(0)"><span>Quotes</span></a></li>

                        </ul>

                    </nav>
                    <div class="content-wrap">
                        <section id="section1" [ngClass]="{'content-current' : fragment==='section1'}">
                            <div class="mft-main-heading">

  <div class="mft-product-itm-list-inner"> 
  
	 <div class="box-cover text-center" *ngFor="let product of greeting_products">     
  <img [src]="product.image" alt="{{product.name}}" title="{{product.name}}">      <div class="mft-text-product">
  
  <span class="small-icon" (click)="shareonWhatsapp(product.image)">
  <img src="{{CDN_PATH}}quotes/whatsaap.png"></span>
  <span class="small-icon"><a href="{{product.image}}" target="_blank" download><img src="{{CDN_PATH}}quotes/download.png"></a></span></div>

    </div>
	
  
</div>


 <div class="explore-more"><a href="javascript:void(0)"><span class="view-all">Explore More</span></a>
 </div>

</div>


                        </section>
                        <section id="section2" [ngClass]="{'content-current' : fragment==='section2'}">
                            <div class="mft-main-heading">

  <div class="mft-product-itm-list-inner">   


  <div class="backcolor box-cover text-center" *ngFor="let product of quote_products">
	<p [innerHTML]="product.description"></p>
	
<div class="mft-text-product">
	<span class="small-icon" (click)='shareonWhatsapp(toHTML(product.description))'>
	
	<img src="{{CDN_PATH}}quotes/whatsaap.png"></span><span class="small-icon" (click)='copyCode(product.description)'><img src="{{CDN_PATH}}quotes/copy.png"></span></div>


    </div>


</div>

                        </div>
</section>
                    </div>
<!-- /content -->
                </div>
<!-- /tabs -->
                
            </section>
<!--Section 1 top banner mobile size end-->
<div class="mft-main-heading">

  <div class="mft-product-itm-list-inner">    <a routerLink="/cakes">    <div class="box-cover box-cover1 text-center">      <img src="{{CDN_PATH}}quotes/cakes-greeting.jpg" alt="Birthday Greetings" title="Birthday Greetings">

    </div>


  </a>  <a routerLink="/flowers">    <div class="box-cover box-cover1 text-center">      <img src="{{CDN_PATH}}quotes/flowers-greeting.jpg" alt="Flowers Greetings" title="Flowers Greetings"></div>


  </a>  <a routerLink="/gifts">    <div class="box-cover box-cover1 text-center">      <img src="{{CDN_PATH}}quotes/gifts-greeting.jpg" alt="Gifts Greetings" title="Gifts Greetings"> </div>


  </a> 
<a routerLink="/chocolates">    <div class="box-cover box-cover1 text-center">      <img src="{{CDN_PATH}}quotes/chocolates-greeting.jpg" alt="Chocolates Greetings" title="Chocolates Greetings"></div>


  </a> </div>

</div>


<div class="mft-main-heading">
<div class="mft-heading mft-heading-light">
  <h2>Quotes &amp; Greeting For All Occasions</h2>

</div>


  <div class="mft-product-itm-list-inner">    <a routerLink="/mothers-day">    <div class="box-cover box-cover2 text-center">      <img src="{{CDN_PATH}}quotes/mother-day.jpg" alt="Birthday Lilies" title="Birthday Lilies"></div>


  </a>  <a routerLink="/fathers-day">    <div class="box-cover box-cover2 text-center">      <img src="{{CDN_PATH}}quotes/fathers-day.jpg" alt="Birthday Orchids" title="Birthday Orchids"></div>

  </a>  <a routerLink="/birthday">    <div class="box-cover box-cover2 text-center">      <img src="{{CDN_PATH}}quotes/birth-wishes.jpg" alt="Birthday Roses" title="Birthday Roses"></div>


  </a>  <a routerLink="/anniversary">    <div class="box-cover box-cover2 text-center">      <img src="{{CDN_PATH}}quotes/anniversary-wishes.jpg" alt="Heart Shaped Arrangements" title="Heart Shaped Arrangements"></div>


  </a>  <a routerLink="/teachers-day-gifts">    <div class="box-cover box-cover2 text-center">      <img src="{{CDN_PATH}}quotes/teachers-day.jpg" alt="Birthday Carnations" title="Birthday Carnations"></div>


  </a>  <a routerLink="/parents-day">    <div class="box-cover box-cover2 text-center">      <img src="{{CDN_PATH}}quotes/parents-day.jpg" alt="Flowers in a Vase" title="Flowers in a Vase"></div>


  </a>  </div>

  <div class="explore-more"><a href=""><span class="view-all">Explore More</span></a></div>

</div>


<div class="body-box content-wrap" style="clear:both;">
    <div class="editor-content content" style="text-align: left">
        <div class="row seocontant" *ngIf="category_data.bottom_description !=''">
            <div class="col-md-12" [innerHTML]="category_data.bottom_description | safeHtml">
            </div>
        </div>
    </div>
    
    </div>


</div>

		
		<!-- <app-footer></app-footer> -->