body {background: #fff5fa !important;font-family:sans-serif !important;}
.tabs-style-tzoid nav ul li.tab-current a span {
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
color: black;
}
.body-box {margin: 0 auto;max-width: 100% !important;padding: 0px !important;}
.cat_wrapper {display: table;width: 100%;}
.mft-main-heading {display: inline-block;align-items: center;justify-content: center;width: 100%;margin: 12px auto;text-align:center;background: white;}
.mft-heading h1 {font-size: 41px;font-weight: 600;margin: 0px 0px 7px 0px;padding:0px 0px 10px 0px;color: #333333;text-align:center; }
.mft-heading-light h1{font-weight: 100!important;
    margin: 0 !important;
    padding: 0px 0px 10px 0px !important;}
    .mft-heading h2 {font-size: 41px;font-weight: 600;margin: 0px;padding:15px 0px 10px 0px;color: #333333;text-align:center; }
.tabs-style-tzoid nav {
    padding: 0;
    width: 50%;
}
.tabs-style-tzoid nav ul li a {
    padding: 0;}
.tabs-style-tzoid nav ul li a {
    color: #ffffff;}
.tabs-style-tzoid nav ul li a span {
    font-size: 19px;
}
.mft-main-heading .mft-reviews {padding: 10px;margin: 0px 0px 19px 0px;}
.mft-category-review-summary .mft-ratings-count {color: #f09025;font-size: 14px;display: inline;}
.mft-category-review-summary .mft-ratings-count span {font-size: 18px;font-weight: bold;position: relative;}
.mft-category-review-summary .mft-stars-88 img {width: 75px;position: relative;top: -2px;}
.mft-category-review-summary .mft-stars-container:after {position: absolute;top: -3px;display: inline-block;left: 0;color: #feb614;overflow: hidden;}
#mft-show-category-reviews-carosel {cursor: pointer;}
#mft-show-category-reviews-carosel span {padding: 3px;color: #6badee;}
.fa-angle-down:before {content: "\f107";display: inline-block;line-height: 1;font-size: 24px;vertical-align: middle;color: #6badee;}
.mft-product-itm-list-inner{width: 100%;margin: 0px auto;text-align: center;display: inline-block;}
.mft-heading{width:100%;}
.col2 {float: left;width: 50%;padding: 0 10px;}
.full-width {float: left;width: 100%;margin-bottom: 20px;}
.full-width.full-banner a {display: block;border-radius: 4px;overflow: hidden;box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);}
.full-width img {display: block;width: 100%;transition: all ease-in-out 0.25s;}
.full-width:last-child {margin-bottom: 20px;}
.full-width .categories:nth-child(1) {padding-right: 10px;}
.full-width .categories {float: left;width: 50%;}
.full-width .categories a {display: block;border-radius: 4px;overflow: hidden;box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);}
.scalling-div {display: block;overflow: hidden;}
.full-width .categories .category-name {display: block;width: 100%;text-align: center;color: #222;font-size: 20px;font-weight: 500;padding: 6px 10px;background: #fff;}
.full-width .categories:nth-child(2) {padding-left: 10px;}
.full-width .categories:nth-child(1) {padding-right: 10px;}
.full-width-banner {margin:20px 0px;}
.box-cover{box-shadow: 0px 1px 4px 1px #cccccc;width: 31%;display: inline-block;margin: 10px;}.box-cover1 {width: 48% !important;}.box-cover img, .box-cover1 img {width:100%;}
.pro-name{font-size: 15px;
    font-family: arial;
    color: #131313;}
.mft-text-product{background: white;padding: 5px;}
.mft-text-product span{color:#333333;font-size: 23px;}
/*section 3 start*/
.designer-banner{margin:12px 0px;background:white;box-shadow: 0px 2px 7px 0px #cbcbcb;}
.designer-banner img{width:100%;border:3px solid white;border-radius:4px;curser:pointer;}
.mft-product-itm-list-inner{width: 100%;margin: 0px auto;text-align: center;}
.box-cover{box-shadow: 0px 1px 4px 1px #cccccc;width: 22%;display: inline-block;margin: 10px;}.mft-text-product{background: white;padding: 5px;}.box-cover1{width: 23% !important;}.box-cover2{width: 31% !important;}.mft-text-product span{color:#333333;font-size: 23px;font-family: Arial;}
.backcolor{background: aliceblue;}
.mft-main-heading .products-inner ul li.leaf1{
    display: inline-block;
    padding: 8px;
    width: calc(100% - 1048px);
   text-align: center;
    margin-right: 20px;
    min-width: 14%;
    
}
.small-icon{width:100%;}
.small-icon img{width: 44px;
    text-align: center;
    padding: 5px 10px;}
.mft-main-heading .products-inner ul li.leaf1 .pro-img {
    display: block;
    margin: 8px auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    box-shadow: 0 1px 4px 0 rgba(136,136,136,.5);
}
.mft-main-heading .products-inner ul li.leaf1 .pro-img img {
    width: 100%;
}
.wiggle:hover{
    animation: wiggle 1s ease;
  animation-iteration-count: 1;
}
figure{margin:5px;position:relative;}
@keyframes wiggle {
  20%  { transform: translateX(4px);  }
  40%  { transform: translateX(-4px); }
  60%  { transform: translateX(2px);  }
  80%  { transform: translateX(-1px); }
  100% { transform: translateX(0);    }
}
.mft-main-heading .products-inner ul li.leaf {
    display: inline-block;
    padding: 8px;
    width: calc(100% - 1048px);
    background: #fff;
    max-width: 24%;
    margin: 9px;
    box-shadow: 0 1px 4px 0 rgba(136,136,136,.5);
    width:23%;
}
.mft-main-heading .products-inner ul li.leaf .pro-img img {
    width: 100%;
}

.mft-main-heading .products-inner ul li.leaf .pro-name {
    font-size: 22px;
    display: block;
    padding: 5px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:#333333;
}
.price {
    font-size: 20px;
    color:#333333;
}
.container > section {
    padding: 1em 0;}
    .content-wrap section p {
    color: #676767;
    font-weight: 500;
    font-size: 17px;
    font-style: italic;
}
.explore-more{width:100%;
margin:20px auto;
}
.explore-more a span {background: #f08d25;
    border-radius: 0;
    border: none;
    box-shadow: 0 1px 7px 0 rgba(136,136,136,.5);
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    margin: 20px 0px;}
/*section 3 start*/
@media screen and (min-width: 1024px){
.products-wrap .products-inner ul {padding: 0;margin: 0;white-space: normal;overflow: hidden;padding-bottom: 0px!important;}
}
@media screen and (max-width: 768px){
	.mft-main-heading .products-inner ul li.leaf {
    width: 45%;
    max-width: 45%;
    padding: 2px;
    margin: 3px;
}
.tabs-style-tzoid nav {
    width: 100%;
}
.box-cover1 {
    width: 45% !important;
}
.box-cover2 {
    width: 45% !important;
}
.mft-main-heading .products-inner ul li.leaf .pro-name {
    font-size: 17px;}
    
    .products-inner {
    white-space: nowrap;
    overflow: scroll;
    padding-bottom: 0px !important;
}
    .mft-main-heading .products-inner ul li.leaf1 {min-width: 26% !important;margin: 0px 8px !important;}
.mft-main-heading .products-inner ul li.leaf1 .pro-img {width: 60px !important;height: 60px !important;}
	.mft-main-heading .products-inner ul li.leaf1 {min-width: 25% !important;}
	.mft-heading h1 {text-align: center;font-size: 24px;padding: 8px 0px 0px 0px!important;margin-bottom: 10px;}
	.mft-heading h2 {text-align: center;font-size: 24px;padding: 8px 0px 0px 0px!important;margin-bottom: 10px;}
	.box-cover {
    width: 45%;
    margin: 3px;
}
.content-wrap section {
    padding: 0px;}
    .content-wrap section p {
    font-size: 14px;}
	.mft-text-product span {font-size: 18px;}
	.mft-text-product {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
	.designer-banner {margin: 0px 0px;}
	.mft-main-heading{padding: 10px 5px;}
	.mft-main-heading .products-inner ul {white-space: normal;}
	.price {
    font-size: 17px;
    color: #333333;
}
}