 .modal {display: none;position: fixed;z-index: 999;padding-top: 60px;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgba(0, 0, 0, 0.66);}
 .modal__details{text-align:center;}
 .modal__details h1{font-weight: 600;
    color: #a42f5f;
    font-family: arial;
    margin: 0px 0px 20px 0px;
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    width: 96%;}
     .modal-content {position: relative;background-color: #fef4b2;margin: auto;padding: 0;width: 49%;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);-webkit-animation-name: animatetop;-webkit-animation-duration: 0.4s;animation-name: animatetop;animation-duration: 0.4s;}
@-webkit-keyframes animatetop {from {top:-300px; opacity:0} to {top:0; opacity:1}}
@keyframes animatetop {from {top:-300px; opacity:0}to {top:0; opacity:1}}
 .close:hover,.close:focus {color: #000;text-decoration: none;cursor: pointer;}
 .modal-header {padding: 0px;background-color: #fef4b2;color: white;border-bottom: 1px solid #e5e5e5;}
 .modal-body {padding: 2px 16px;}
 .modal-footer {padding: 0px 0px 25px 0px;background-color: #fef4b2;color: white;border: 0;}
 .but-1 {background: rgb(245, 111, 35);border-width: 0px;cursor: pointer;display: inline-block;padding: 7px 17px;text-align: center;text-decoration: none!important;vertical-align: middle;font-family:Arial;margin: 10px auto 0;color:white;font-size: 16px;}
 .a-button1 {width: 100%;margin: 0px auto;text-align: center;}
 .a-button-text {border: 0;display: block;font-family: Arial,sans-serif;font-size: 18px;outline: 0;padding: 10px 20px;text-align: center;white-space: nowrap;}
 .add-address {width: 85%;margin: 0px auto;padding: 15px;border-radius: 4px;display: grid;}
 #myForm {margin-bottom: 0px !important;width:100%;}
 .inputdiv label {width: 100%;font-size:16px;margin-bottom:0;font-family: Arial;font-weight: 600;}
 .inputdiv input {-webkit-appearance: none;-moz-appearance: none;appearance: none;display: block;width: 100%;height: 44px;float: left;margin: 5px 0px;padding: 0px 11px;font-size: 15px;line-height: 3;color: #5f5f5f;background-color: #ffffff;background-image: none;
    border: 1px solid #d0d0d0;-ms-word-break: normal;word-break: normal;font-weight: normal;font-family:Arial;}
::placeholder {color: #9b9b9b;opacity: 1;}

 .btn {
    text-align: center;
    font-family: arial;
    background: #da6700;
    padding: 10px;
    font-size: 16px;
    color: white;
    margin: 0px auto;
}
 .btn:hover{color: white;}
    .form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #3e3e3e;
    background-color: #eaeaea;
    background-image: none;
    border: none;
    border-radius: 0;
}
 .form-input-start{margin-top: 10px;
    display: inline-block;
    width: 100%;}
    .close{color: white;
    float: right;
    font-size: 32px;
    font-weight: 800;
    background: #979797;
    border-radius: 100px;
    height: 30px;
    position: relative;
    width: 30px;
    right: -20px;
    opacity: 1;
    text-align: center;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 6px;}
     .modal-header .close {
    margin-top: -19px;
}
 .modal-content {
    width: 56%;
    top: 2%;
}
 .modal__details h2 {
    font-size: 36px;
    font-weight: 600;
}
@media (max-width: 768px) {
    .modal-content{width:95%;}
    .add-address {width: 100%;padding:8px 0px;}
    .modal__details h1{padding: 1px 0px;font-size: 24px;margin: 8px 0px 20px 0px;}
    .modal-body {padding: 2px 8px;}
    .inputdiv input{height: 40px;width: 100%;}
    .a-button-text{font-size: 16px;}
    .close {font-size: 37px;right: -6px;width:20px;height:20px;}
}