<div id="myModal_offer" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="closemyModal_offer()">&times;</span>
      <div class="modal__details">
      <h2 class="modal__title">Unlock Special Coupons</h2></div>
    </div>
    <form [formGroup]="specialOfferForm" (ngSubmit)="submitSpecialOfferForm()"> 
    <div class="modal-body">
     <div class="add-address">
      
                <div class="inputdiv">
                  <!-- <input type="text" name="name" value="" placeholder="Your Name" pattern="[A-Za-z ]{1,32}" required>
                   -->
                  <input type="text" formControlName="name" id="name" value="" placeholder="Your Name">
                  <span *ngIf="!specialOfferForm.get('name').valid && specialOfferForm.get('name').touched"
                  class="error-message">
                  <span *ngIf="specialOfferForm.get('name').errors['required']">Please Enter Name</span>
                  </span>
                </div>
               <div class="inputdiv">
                          <!-- <input type="email" id="email" value="" placeholder="Email" pattern=".+@globex.com" size="30" required> -->
                          <input type="email" formControlName="email" value="" placeholder="Email" size="30">
                          <span *ngIf="!specialOfferForm.get('email').valid && specialOfferForm.get('email').touched"
                          class="error-message">
                          <span *ngIf="specialOfferForm.get('email').errors['required']">Please Enter Email</span>
                          <span *ngIf="specialOfferForm.get('email').errors['email']">Please Enter Valid Email</span>
                          </span>  
                </div>
                 <div class="inputdiv">
                          <!-- <input type="tel" name="phone" value="" placeholder="Mobile" pattern="[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}" required> -->
                      <input type="tel" maxlength="10"  formControlName="mobile" id="mobile" value="" placeholder="Mobile">
                      <span *ngIf="!specialOfferForm.get('mobile').valid && specialOfferForm.get('mobile').touched"
                      class="error-message">
                      <span *ngIf="specialOfferForm.get('mobile').errors['required']">Please Enter Mobile</span>
                      </span>
                </div>
                <div class="inputdiv">
                           <!-- <input type="text" class="form-control" id="inputCity" placeholder="Delivery City eg. Delhi"> -->
                           <input type="text" (keyup)="getUserIdsFirstWay($event)" id="userIdFirstWay" list="dynmicUserIds" placeholder="Delivery City e.g. Delhi "/>
                           <datalist id="dynmicUserIds">
                              <option *ngFor="let item of cities" [value]="item.city_name">{{item.city_name}}</option>
                           </datalist>
                </div>
                 
           
       </div>
    </div>
    <div class="modal-footer">
      <div class="bg-width">
            <div class="a-button1">
                 <button type="submit" id="userCouponRegister" class="a-button-text but-1">SHOW ME COUPON</button>
            </div>
    </div>
    </div>
  </form>
  </div> 

</div>



