:host ::ng-deep .fc-widget-small{display:none;}
   
:host ::ng-deep body {
       background-color: #ffffff;
      }
:host ::ng-deep ul.breadcrumb {
      
       padding: 10px 16px;
       list-style: none;
       background-color: #fff;
   }
   :host ::ng-deep .main-div-bg {
      width:70%;
   }
   :host ::ng-deep  ul.breadcrumb li {
       display: inline;
       font-size:14px;
       font-family:Arial;
   }
   :host ::ng-deep  ul.breadcrumb li+li:before {
       padding: 8px;
       color: black;
       content: "/\00a0";
   }
   :host ::ng-deep  ul.breadcrumb li a {
       color: #0275d8;
       text-decoration: none;
       font-size:14px;
       font-family:Arial;
   }
   :host ::ng-deep  ul.breadcrumb li a:hover {
       color: #01447e;
       text-decoration: underline;
   } 
   :host ::ng-deep  .wallet h2 {
     display: inline-block;
     width:100%;
     font-weight: 600;
     font-size: 30px;
   }
   :host ::ng-deep  .span-content {
     margin: 9px 0px 20px 0px;
       background-color: antiquewhite;
       padding: 9px;
       text-align: center;
   }
   :host ::ng-deep  .span-content span{
      font-size: 17px;
      color: #424242;
     font-family:Arial;
   }
   :host ::ng-deep  .wallet-table table, td, th {  
     text-align: left;
   }
   
   :host ::ng-deep   .wallet-table table {
     border-collapse: collapse;
     width: 100%;
   }
   :host ::ng-deep  .wallet-table tr th{
     background: #efefef;
     text-align: left;
     font-weight: 500;
       color: #171717;
       font-size:16px;
       padding: 10px 10px;
   }
   
   :host ::ng-deep  .wallet-table th, .wallet-table td {
     padding: 2px;
     text-align:left;
     color: #424242;
     font-family: Arial;
   }
   :host ::ng-deep  .balance-font {
      font-size: 30px !important;
       font-family: sans-serif;
       font-weight: normal;
   
   }
   :host ::ng-deep  .wallet-table .add-balance-1 {
      float:right;
   }
   :host ::ng-deep  .table-font {
      font-weight:600;
      font-size:17px;
   }
   :host ::ng-deep  .table-font-faded {
      font-size: 15px;
      color: #525252;
       font-weight: 500;
   }
   :host ::ng-deep   .wallet-table .add-balance {
      color: #25d28b;
      float:right;
   }
   :host ::ng-deep  .wallet-table .remove-balance {
      color: black;
      float:right;
   }
   :host ::ng-deep  .box-cover-bg {
      width:100%;
   }
   @media (max-width: 768px) {
    :host ::ng-deep  .wallet-table th, .wallet-table td {
     padding: 2px 0px;
   }
   :host ::ng-deep  .main-div-bg {
      width:100%;
   }
   :host ::ng-deep  .breadcrumb {
      display:block !important;
   }
   :host ::ng-deep  .table-font-faded {
       font-size: 14px;
   }
   :host ::ng-deep  .wallet-table tr th{
       font-size:16px;
   }
   /*  .cat-body-box {
       margin: 60px auto 20px !important;
   } */
   }

   :host ::ng-deep #container{margin-top:120px;} 
   :host ::ng-deep .heading-title{margin-top:0px;} 
@media only screen and (max-width:760px){ 
  :host ::ng-deep #container{margin-top:40px;} 
  :host ::ng-deep .cat-body-box {
      margin-top: 60px !important;
  }
}
