<!-- <app-header></app-header> -->
   
   
   <body>
     <div class="cat-body-box">
       <div class="container">
           <div class="main-div-bg">
   
               <div id="breadcrumb">
               <ul class="breadcrumb">
               <li><a routerLink="/account">Your Account</a></li>
               <li>Your Wallet</li>
               </ul>
               </div>
   
   <div class="box-cover-bg">
   
               <div class="wallet">
                   <h2>Your Wallet</h2>
               </div>
   
               <div class="span-content">
                      <span>Available Balance</span><br>
                      <span class="balance-font">&#8360; <b>{{remaining_balance}}</b></span>
                   </div>
   
              <div class="wallet-table">
   <table *ngFor="let item of wallet">
     <tr class="table-font">
       <td style="font-weight:400;">{{item.describtion}}</td>
       <td><div [innerHTML]="item.balance"></div></td>
     </tr>
     <tr class="table-font-faded">
       <td style="font-size: 13px;    color: #a1a1a1;">{{item.date_added}}</td>
       <td><span class="add-balance-1">Balance: &#8360; 
      {{item.running_balance}}</span></td>
     </tr>
    <tr>
    <td colspan="2"><hr /></td>
    </tr>
    
   </table>
   
   </div>
   
   </div>
   
   
           </div>
       </div>
     </div>
     <!-- <app-footer></app-footer> -->
