
:host::ng-deep .products-wrap {
    width: 100%;
    padding: 9px;
    background-color: antiquewhite;
}
:host::ng-deep .entry-content a {
    color: #0066FF;
    text-decoration: none;
}
:host::ng-deep .product-section {
    width: 100%;
    margin-top: 30px;
}
:host::ng-deep .product-section-heading {
    position: relative;
    margin: 0 0 20px;
}
:host::ng-deep .product-section-heading, .section-heading {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    display: inline-block;
    text-transform: uppercase;
}
:host::ng-deep .view-all-prd {
    float: right;
    line-height: 35px;
}
:host::ng-deep .view-all-prd a {
    padding: 5px 15px;
    border: 1px solid #B82327;
    background-color: #B82327;
    color: #fff;
}
:host::ng-deep .product-list-box {
    clear: both;
    display: table;
    margin-top: 10px;
    width: 100%;
	background-color: antiquewhite;
}
:host::ng-deep .product-item-box {
    width: 25%;
    background-color: transparent;
    float: left;
}
:host::ng-deep .product-item {
    margin: 5px;
    background-color: #fff;
    padding: 5px;
}
:host::ng-deep item a {
    text-decoration: none;
}
:host::ng-deep .product-item img {
    width: 100%;
}
:host::ng-deep .product-details {
    padding: 5px;
}
:host::ng-deep .product-list-name {
    font-size: 16px;
    color: #333;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
:host::ng-deep .product-list-price {
    font-size: 20px;
    color: #B82327;
}
:host::ng-deep p.price {
    margin: 0;
    font-size: 18px;
}

@media only screen and (max-width: 600px){
    :host::ng-deep .product-item-box {
    width: 50%;
    background-color: transparent;
    float: left;
}	
:host::ng-deep .product-section-heading, .section-heading {
    color: #000;
    font-size: 19px;
    font-weight: 300;
    display: inline-block;
    text-transform: uppercase;
}	
}