<app-blogheader></app-blogheader>
<div id="content" class="site-content">
    <div class="col-lg-12 col-md-12 col-sm-12 inner-content">
       <div class="row">
          
          <div class="col-lg-9 col-md-9 col-sm-9">
             <section id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                   
                   <article>
                      <div class="blog-item-wrap">
                         <div class="row">
                            <div class="col-md-12">
                             
                               <div class="taxonomy-description" *ngIf="cat_description!=''">
                                 <div [innerHTML]="cat_description | safeHtml"> </div>
                               </div>

                               <div class="col-lg-12 col-md-12 col-sm-12  blog-content-box">
                                  <h1 class="entry-title">{{detaildata.post_title}}</h1>
                                  <div class="entry-meta">
                                     <span class="posted-on">
                                         <i class="fa fa-calendar"></i> 
                                         <a href="" rel="bookmark">
                                             <time class="entry-date published">{{detaildata.post_date}}</time></a></span>
                                  </div>
                                  <div class="entry-content" [innerHtml]="detaildata.post_content">
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </article>
                  
                
                </main>
             </section>
          </div>
          <!--block right start-->
          <div class="blog-right-block col-lg-3 col-md-3 col-sm-3">
             <aside id="sfsi-widget-2" class="widget sfsi">
                <div id="custom_html-5">
                   <div class="textwidget">
                      <a href="" target="_blank">
                         <img loading="lazy"  src="{{CDN_DOMAIN}}blog/aside-banner.jpg" alt="Gifts online" class="lazyloaded">
                         <noscript><img loading="lazy"  src="{{CDN_DOMAIN}}blog/aside-banner.jpg" alt="Gifts online"></noscript>
                      </a>
                   </div>
                </div>
                <div class="sfsi_widget" data-position="widget">
                   <div id='sfsi_wDiv'></div>
                   <h3 class="widget-title">Follow us :)</h3>
                   <div class="norm_row sfsi_wDiv" style="width:100%;text-align:center;position:relative;margin:10px auto;">
                      <div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px;' class='sfsi_wicons shuffeldiv '>
                         <div class='inerCnt'>
                            <a class='sficn' rel="nofollow" effect='scale' href='https://www.facebook.com/MyFlowerTree' id='sfsiid_facebook' alt='Facebook' style='opacity:1'><img loading="lazy"  alt='Facebook' title='Facebook' src='{{CDN_DOMAIN}}blog/default_facebook.png' width='40' class='sfcm sfsi_wicon' effect='scale' /></a>
                         </div>
                      </div>
                      <div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px;' class='sfsi_wicons shuffeldiv '>
                         <div class='inerCnt'>
                            <a class=' sficn' rel="nofollow" effect='scale' href='javascript:void(0)' id='sfsiid_google' alt='Google+' style='opacity:1'><img loading="lazy"  alt='Google+' title='Google+' src='{{CDN_DOMAIN}}blog/default_google.png' width='40' class='sfcm sfsi_wicon' effect='scale' /></a>
                         
                         </div>
                      </div>
                      <div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px;' class='sfsi_wicons shuffeldiv '>
                         <div class='inerCnt'>
                            <a class=' sficn' rel="nofollow" effect='scale' href='https://twitter.com/myflowertreemft' id='sfsiid_twitter' alt='Twitter' style='opacity:1'><img loading="lazy"  alt='Twitter' title='Twitter' src='{{CDN_DOMAIN}}blog/default_twitter.png' width='40' class='sfcm sfsi_wicon' effect='scale' /></a>
                 
                         </div>
                      </div>
                      <div style='width:40px; height:40px;margin-left:5px;margin-bottom:5px;' class='sfsi_wicons shuffeldiv '>
                         <div class='inerCnt'><a class=' sficn' rel="nofollow" effect='scale' target='_blank' href='https://www.linkedin.com/company/myflowertree-com' id='sfsiid_linkedin' alt='Linkedin' style='opacity:1'><img loading="lazy"  alt='Linkedin' title='Linkedin' src='{{CDN_DOMAIN}}blog/default_linkedin.png' width='40' class='sfcm sfsi_wicon' effect='scale' /></a></div>
                      </div>
                   </div >
                   <div id="sfsi_holder" class="sfsi_holders" style="position: relative; float: left;width:100%;z-index:-1;"></div >
                   
                   <div style="clear: both;"></div>
                </div>
             </aside>
             <aside id="recent-posts-3" class="widget widget_recent_entries">
                <h3 class="widget-title">Recent Posts</h3>
                <ul>
                   <li *ngFor="let rec of recentpost">
                      <a routerLink="/blog/{{rec.post_name}}/">{{rec.post_title}}</a>
                   </li>
                  
                </ul>
             </aside>
             <aside id="categories-2" class="widget widget_categories">
                <h3 class="widget-title">Categories</h3>
                <select name="cat" id="cat" class="postform" (change)="selectedoptions($event.target.value)" >
                   <option value="-1">Select Category</option>
                   <option class="level-0" *ngFor="let cat of detailcat" value="{{cat.slug}}">{{cat.name}}&nbsp;&nbsp;({{cat.count}})</option>
                  
                 
                </select>
             </aside>
             <aside id="tag_cloud-2" class="widget widget_tag_cloud">
                <h3 class="widget-title">Gift Ideas</h3>
                <div class="gift-idea clearfix">
                   <a routerLink="/flowers">
                      <img loading="lazy"  src="{{CDN_DOMAIN}}blog/flowers.jpg" title="Flowers" alt="Flowers" class="img-fluid">
                      <div class="gift-idea-text-center"><span>Flowers</span></div>
                   </a>
                   <a routerLink="/cakes">
                      <img loading="lazy"  src="{{CDN_DOMAIN}}blog/cakes.jpg" title="Cakes" alt="Cakes" class="img-fluid">
                      <div class="gift-idea-text-center"><span>Cakes</span></div>
                   </a>
                   <a routerLink="/plants">
                      <img loading="lazy"  src="{{CDN_DOMAIN}}blog/plants.jpg" title="Plants" alt="Plants" class="img-fluid">
                      <div class="gift-idea-text-center"><span>Plants</span></div>
                   </a>
                   <a routerLink="/personalised-gifts">
                      <img loading="lazy"  src="{{CDN_DOMAIN}}blog/personalised.jpg" title="Personalised" alt="Personalised" class="img-fluid">
                      <div class="gift-idea-text-center"><span>Personalised</span></div>
                   </a>
                   <a routerLink="/birthday">
                      <img loading="lazy"  src="{{CDN_DOMAIN}}blog/birthday-cake.jpg" alt="Birthday" title="Birthday" class="img-fluid">
                      <div class="gift-idea-text-center"><span>Birthday</span></div>
                   </a>
                   <a routerLink="/anniversary">
                      <img loading="lazy"  src="{{CDN_DOMAIN}}blog/anniversary.jpg" alt="Anniversary" title="Anniversary" class="img-fluid">
                      <div class="gift-idea-text-center"><span>Anniversary</span></div>
                   </a>
                   <a routerLink="/combos">
                      <img loading="lazy"  src="{{CDN_DOMAIN}}blog/combos.jpg" alt="Combos" title="Combos" class="img-fluid">
                      <div class="gift-idea-text-center"><span>Combos</span></div>
                   </a>
                   <a routerLink="/gifts">
                      <img loading="lazy"  src="{{CDN_DOMAIN}}blog/gifts.jpg" alt="Gifts" title="Gifts" class="img-fluid">
                      <div class="gift-idea-text-center"><span>Gifts</span></div>
                   </a>
                </div>
             </aside>
             <aside id="tag_cloud-2" class="widget widget_tag_cloud">
                <h3 class="widget-title">Tags</h3>
                <div class="tagcloud">
                    <a *ngFor="let tag of detailtags" routerLink='/blog/tag/{{tag.slug}}' class='tag-link-{{tag.slug}}' title='4 topics' style='font-size: 8pt;'>{{tag.name}}</a>
                   </div>
             </aside>
          </div>
       </div>
    </div>
 </div>
 
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="widget">
                    <div class="footer-text text-center">
                        <a routerLink="/"><img loading="lazy"  src="images/blog/myflowertree-logo.png" alt="" class="img-fluid"></a>
                        <p>If you’re on this page, you have come to the right place to find some useful gifts.</p>
                    
                        <hr class="invis">

                        <div class="newsletter-widget text-center">
                            
                            <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="form-inline">
                                <input type="text" formControlName="email" class="form-control" placeholder="Enter your email address">
                                
                                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Subscribe</button>
                                <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
                                    class="error-message">
                                    <span *ngIf="loginForm.get('email').errors['required']" style="color: red;">Please Enter Email</span>
                                    <span *ngIf="loginForm.get('email').errors['email']" style="color: red;">Please Enter Valid Email</span>
                                </span>
                                <span style="color: green;">{{successmsg}}</span>
                            </form>
                        </div><!-- end newsletter -->
                    </div><!-- end footer-text -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <br>
                <div class="copyright1">Copyright&copy; MyFlowerTree</div>
            </div>
        </div>
    </div><!-- end container -->
</footer>