 .cat-body-box{padding-left:15px; padding-right:15px;}
 .cat_wrapper1-1 {display: table;width:100%;}
 .nbs-flexisel-item {width:200px !important;}
 .s-wrap {width: 100%;height: 80px;overflow: hidden;box-shadow: 0px 1px 6px #b9b9b9;background: #f1f1f1;}
 .s-move {display: flex;position: relative;top: 0;right: 0;width: 100%;margin: 0px auto;text-align: center;}
 .slider {box-sizing: border-box;padding: 20px;width: 100%;flex-shrink: 0;height: 80px;}
 .slider p {font-size: 27px;color: #386161;font-family: Arial;}
@keyframes slideh {
0% { right: 0; }
15% { right: 0; }
20% { right: 100%; }
35% { right: 100%; }
40% { right: 200%; }
55% { right: 200%; }
60% { right: 300%; }
75% { right: 300%; }
80% { right: 400%; }
95% { right: 400%; }
100% { right: 0; }
}
 .s-move { animation: slideh linear 25s infinite; }
 .s-move:hover { animation-play-state: paused; }
 .coporate_heading {margin: 60px 0px;}
 .coporate_heading h2 {display: inline-block;width:100%;margin:0px auto;text-align:center;font-weight: 600;font-size: 32px;text-decoration: underline;color:#282828;}
 .leaf.first {margin-right: 20px !important;}
 .products-inner {overflow:hidden;}
 .products-wrap .products-inner ul {overflow: hidden !important;}
 .products-wrap .products-inner ul li.leaf .pro-name {text-align: center;font-family:arial;}
 .quick-boarding {background: linear-gradient(45deg, #999999, #e8fdff);margin-bottom:20px;}
 .form-container input[type=text], .form-container input[type=submit] , .form-container input[type=tel]{width: 100%;padding: 12px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;font-family: arial;}
 .form-container input[type=checkbox] {margin-top: 16px;}
 .nbs-flexisel-inner {background: transparent !important;border: none !important;border-radius: 0px !important;height:auto !important;}
 .nbs-flexisel-nav-left, .nbs-flexisel-nav-right {display:none;}
 .nbs-flexisel-ul {height:auto !important;}
 .nbs-flexisel-item {margin :0px 14px !important;padding:10px !important;height:auto !important;}
 .form-container input[type=submit]:hover {opacity: 0.9;color:black;}
 .form-back {padding: 40px 40px 12px 40px;background-color: #fff;margin-bottom: 60px;box-shadow: 0px 7px 1px #8a8a8a;}
 .form-container {width: 60%;margin: 0px auto;}
 .splbutton {border-radius: 3px;padding: 10px !important;background-color: rgb(245, 111, 35);color: white;cursor: pointer !important;font-size: 16px;width: 34% !important;font-family: arial;}
 .but1 {width: 100%;margin: 0px auto;text-align: center; padding:15px 0px;}
 .col-centered {float: none;margin: 0 auto;}
 .carousel-control { width: 8%;width: 0px;}
 .carousel-control.left, .carousel-control.right { margin-right: 40px;margin-left: 32px; background-image: none;opacity: 1;display:none;}
 .carousel-control > a > span {color: white;font-size: 29px !important;}
 .carousel-col { position: relative; min-height: 1px; padding: 35px; float: left;}
 .active > div { display:none; }
 .active > div:first-child { display:block; }
 .cop1 {margin: 60px 0px 20px 0px !important;}
 .barnd-partners-section{margin-bottom:28px;}
@media (min-width: 768px) and (max-width: 991px){
     .carousel-inner .active.left { left: -50%; }
     .carousel-inner .active.right { left: 50%; }
     .carousel-inner .next        { left:  50%; }
     .carousel-inner .prev		     { left: -50%; }
     .carousel-col                { width: 25%; }
     .active > div:first-child + div { display:block; }
     .active > div:first-child + div + div { display:block; }
     .active > div:first-child + div + div + div { display:block; }
     .active > div:first-child + div + div + div + div { display:block; }
}
@media screen and (max-width: 767px){
     .products-wrap .products-inner ul li.leaf {width: 47%!important;margin: 7px 3px!important;}
     .products-wrap .products-inner ul {white-space: normal !important;width: 100%;margin: 0px auto;text-align: center;padding: 0 !important;}
     .products-inner {white-space: normal !important;}
     .slider p {font-size: 16px;}
     .slider {padding: 15px 10px;height: 50px;}
     .coporate_heading {margin: 22px 0px !important;}
     .coporate_heading h2 {font-size: 22px;}
     .s-wrap {height: 50px;}
     .form-container {width: 100%;}
     .form-back {padding: 23px 10px 12px 10px;}
     .splbutton {width: auto !important;}
     .but1 span {font-size:13px;}
     .nbs-flexisel-item {width: 100px !important;}
     .nbs-flexisel-container {width:100% !important;}
     .carousel-inner .active.left { left: -50%; }
     .carousel-inner .active.right { left: 50%; }
     .carousel-inner .next        { left:  50%; }
     .carousel-inner .prev        { left: -50%; }
     .carousel-inner {height:45px;}
     .carousel-inner .item {height:45px; overflow:hidden;}
     .carousel-col                { width: 25%;padding:3px; }
     .active > div:first-child + div { display:block; }
     .active > div:first-child + div + div { display:block; }
     .active > div:first-child + div + div + div { display:block; }
     .active > div:first-child + div + div + div + div { display:block; }
}
@media (min-width: 992px) and (max-width: 1199px) {
     .carousel-inner .active.left { left: -33%; }
     .carousel-inner .active.right { left: 33%; }
     .carousel-inner .next        { left:  33%; }
     .carousel-inner .prev        { left: -33%; }
     .carousel-col                { width: 25%; }
     .active > div:first-child + div { display:block; }
     .active > div:first-child + div + div { display:block; }
     .active > div:first-child + div + div + div { display:block; }
     .active > div:first-child + div + div + div + div { display:block; }
}
@media (min-width: 1200px) {
     .carousel-inner .active.left { left: -25%; }
     .carousel-inner .active.right{ left:  25%; }
     .carousel-inner .next        { left:  25%; }
     .carousel-inner .prev        { left: -25%; }
     .carousel-col                { width: 25%; }
     .active > div:first-child + div { display:block; }
     .active > div:first-child + div + div { display:block; }
     .active > div:first-child + div + div + div { display:block; }
     .active > div:first-child + div + div + div + div { display:block; }
}