<!-- <app-header></app-header> -->
<link rel="stylesheet" [href]="cssDy.styleCss">
<div class="cat-body-box">
<div class="row">
	<!--offer-banner-start-->
        <div class="cat_wrapper1-1">
            <img class="hidden-xs" src="{{CDN_PATH}}2020/corporate/coporate-banner-desktop.jpg" width="100%" alt="Myflowertree cake form" title="coporate">
            <img class="w-100 hidden-lg hidden-sm hidden-md" alt="test" src="{{CDN_PATH}}2020/corporate/coporate-banner-mobile.jpg">
        </div>
    <!--offer-banner-end-->
    <!--text-slide-start-->
    <div class="s-wrap"><div class="s-move">
  <div class="slider">
    <p>
      500+ Corporate Clients in Service
    </p>
  </div>
  <div class="slider">
    <p>
       Dedicated Campaign Manager
    </p>
  </div>
  <div class="slider">
    <p>
     Automated Reports
    </p>
  </div>
  <div class="slider">
    <p>
      Dashboard Access
    </p>
  </div>
</div></div>
    <!--text-slide-end-->
    <!--div container start-->
    <div class="container">


    	<div class="coporate_heading"><h2>Corporate Gifts Online</h2></div>

      <div class="products-wrap">
    	<div class="products-inner">
        <ul>
			
			<li class="leaf first"> 
				<a routerLink="/cake-trio-for-mom-6229">
					<div class="pro-img">
					<img src="{{CDN_PATH}}2020/corporate/coporate-flowers.jpg">
					</div>
					<div class="pro-desc">
					<div class="pro-name">Flowers</div>
					</div>
				</a> 
			</li>
			<li class="leaf"> 
				<a href="/cakes">
					<div class="pro-img">
					<img src="{{CDN_PATH}}2020/corporate/coporate-cake.jpg">
					</div>
					<div class="pro-desc">
					<div class="pro-name">Cakes</div>
					</div>
				</a> 
			</li>
			<li class="leaf"> 
				<a href="/plants">
					<div class="pro-img">
					<img src="{{CDN_PATH}}2020/corporate/coporate-plants.jpg">
					</div>
					<div class="pro-desc">
					<div class="pro-name">Plants</div>
					</div>
				</a> 
			</li>
			<li class="leaf last">
				<a href="/gifts">
					<div class="pro-img">
					<img src="{{CDN_PATH}}2020/corporate/coporate-gifts.jpg">
					</div>
					<div class="pro-desc">
					<div class="pro-name">Gifts</div>
					</div>
				</a> 
		    </li>
        </ul>
    </div>
      </div>

      <div class="barnd-partners-section">
            <div class="coporate_heading cop1"><h2>Proud Gifting Partner Of</h2></div>

           <div class="col-xs-12 col-md-12 col-centered">
<div class="row">
			<div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3500">
				<div class="carousel-inner">
					<div class="item active">
						<div class="carousel-col">
							<img class="img-responsive" alt="" title="" src="{{CDN_PATH}}2020/corporate/easemytrip.png">
						</div>
					</div>
					<div class="item">
						<div class="carousel-col">
							<img class="img-responsive" alt="" title="" src="{{CDN_PATH}}2020/corporate/Accenture.png">
						</div>
					</div>
					<div class="item">
						<div class="carousel-col">
							<img class="img-responsive" alt="" title="" src="{{CDN_PATH}}2020/corporate/MG.png">
						</div>
					</div>
					<div class="item">
						<div class="carousel-col">
							<img class="img-responsive" alt="" title="" src="{{CDN_PATH}}2020/corporate/tata-housing.png">
						</div>
					</div>
          <div class="item active">
            <div class="carousel-col">
              <img class="" alt="" title="" src="{{CDN_PATH}}2020/corporate/czdxvpvxnce.png">
            </div>
          </div>
          <div class="item">
            <div class="carousel-col">
              <img class="" alt="" title="" src="{{CDN_PATH}}2020/corporate/DLF-logo.png">
            </div>
          </div>
          <div class="item">
            <div class="carousel-col">
              <img class="" alt="" title="" src="{{CDN_PATH}}2020/corporate/shree-cement.png">
            </div>
          </div>
          <div class="item">
            <div class="carousel-col">
              <img class="" alt="" title="" src="{{CDN_PATH}}2020/corporate/Indigo.png">
            </div>
          </div>

				</div>

				<!-- Controls -->
				<div class="left carousel-control">
					<a href="#carousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
				</div>
				<div class="right carousel-control">
					<a href="#carousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>

			
</div>
		</div>
      </div>

     

      </div>


      <div class="container-fluid quick-boarding">
      	<div class="row">
      		<div class="container">
      <div class="">
      	 <div class="coporate_heading"><h2>Quick & Easy On-Boarding</h2></div>

           <form [formGroup]="corporateForm" (ngSubmit)="submitCorporateForm()" class="form-container"> 
			<div class="form-back" style="background-color:white">
			<input type="text" placeholder="Your Name" formControlName="name" required>
            <span *ngIf="!corporateForm.get('name').valid && corporateForm.get('name').touched"
            class="error-message">
            <span *ngIf="corporateForm.get('name').errors['required']">Please Enter Name</span>
            </span>
            <input type="text" placeholder="Email" formControlName="email" required>
            <span *ngIf="!corporateForm.get('email').valid && corporateForm.get('email').touched"
            class="error-message">
            <span *ngIf="corporateForm.get('email').errors['required']">Please Enter Email</span>
            <span *ngIf="corporateForm.get('email').errors['email']">Please Enter Valid Email</span>
            </span>
            
            <input type="tel" id="phone" formControlName="mobile" placeholder="Mobile" required>
            <span *ngIf="!corporateForm.get('mobile').valid && corporateForm.get('mobile').touched"
            class="error-message">
            <span *ngIf="corporateForm.get('mobile').errors['required']">Please Enter Mobile</span>
            </span>
            <input type="text" placeholder="Company" formControlName="company" required>
            <span *ngIf="!corporateForm.get('company').valid && corporateForm.get('company').touched"
            class="error-message">
            <span *ngIf="corporateForm.get('company').errors['required']">Please Enter Company Name</span>
            </span>
			<div class="but1">
			<input class="splbutton" type="submit" value="REQUEST CALL BACK"><br>
			<span>One of our associate will call back within 1 hour*</span><br>
			<span>*Working Hrs (10 am to 7 pm, 6 Days a week)</span>
			</div>
		</div>
			</form>

      </div>
      </div>
  </div>
      </div>
    <!--div container end-->
</div>
</div>
<!-- <app-footer></app-footer> -->
