:host::ng-deep .cat-body-box{padding-left:15px;padding-right:15px}
:host::ng-deep body{background-color:#f4f4f4}
:host::ng-deep .cat_wrapper1-1{display:table;width:100%}
:host::ng-deep .coporate_heading{margin:40px 0}
:host::ng-deep .coporate_heading h2{display:inline-block;width:100%;margin:0 auto;text-align:center;font-weight:600;font-size:32px;text-decoration:underline;color:#282828}
:host::ng-deep .form-container input[type=submit]:hover{opacity:.9;color:#000}
:host::ng-deep .form-container input[type=submit],.form-container input[type=tel],.form-container input[type=text]{width:100%;padding:12px;margin:8px 0;display:inline-block;border:1px solid #ccc;box-sizing:border-box;font-family:arial;font-size:15px}
:host::ng-deep .form-container input[type=checkbox]{margin-top:16px}.form-back{padding:40px 40px 12px 40px;background-color:#fff;margin-bottom:60px;box-shadow:0 13px 0 #8a8a8a}
:host::ng-deep .form-container{width:60%;margin:0 auto}
:host::ng-deep .splbutton{border-radius:3px;padding:10px!important;background-color:#f56f23;color:#fff;cursor:pointer!important;font-size:16px;width:34%!important;font-family:arial}
:host::ng-deep .but1{width:100%;margin:0 auto;text-align:right;padding:15px 0}
:host::ng-deep .tab-back{display:inline-block;width:100%;margin-top:20px}
:host::ng-deep .tab h2{color:#383838;text-decoration:underline;margin:0 0 30px 0;font-family:arial}
:host::ng-deep .tab p{color:#2a2a2a;font-size:18px;font-family:arial}
:host::ng-deep .tab p i{padding:0 20px}
:host::ng-deep .tabs{display:flex;flex-wrap:wrap;border-top:1px solid #ccc;margin-bottom:20px}
:host::ng-deep .tabs label{font-family:arial;order:1;display:grid;padding:1rem 2rem;margin-right:0;cursor:pointer;font-weight:700;margin-bottom:0!important;font-size:18px;color:#2d2d2d;width:25%;text-align:center;align-items:center}
:host::ng-deep .tabs .tab{order:99;flex-grow:1;width:100%;display:none;padding:30px 40px;background:linear-gradient(45deg,#c9cdcd,#e8fdff);border:1px solid #ccc}
:host::ng-deep .tabs input[type=radio]{display:none}
:host::ng-deep .tabs input[type=radio]:checked+label{background:linear-gradient(45deg,#d1d2d2,#e8fdff)}
:host::ng-deep .tabs input[type=radio]:checked+label+.tab{display:block}
:host::ng-deep .fa-hand-o-right:before{content:"\f0a4";color:#ff1493}
@media screen and (max-width:767px){
	:host::ng-deep .form-container{width:100%}
:host::ng-deep 	.splbutton{width:auto!important}
:host::ng-deep 	.tabs label{font-size:15px;padding:10px}
:host::ng-deep 	.tab h2{font-size:26px}
:host::ng-deep 	.tabs .tab{padding:30px 10px}
:host::ng-deep 	.tab p{font-size:17px}
:host::ng-deep 	.coporate_heading{margin:20px 0}
:host::ng-deep 	.coporate_heading h2{font-size:22px}
	}
