<div class="cat-body-box">
	<div class="row">
<!--banner-start-->
     <div class="cat_wrapper1-1">
        <img loading="lazy"  class="hidden-xs" src="{{CDN_PATH}}2020/franchise/frenchise-desktop.jpg" width="100%" alt="Myflowertree cake form" title="coporate">
        <img loading="lazy"  class="w-100 hidden-lg hidden-sm hidden-md" alt="test" src="{{CDN_PATH}}2020/franchise/frenchise-mobile.jpg">
    </div>
<!--banner-end-->
<div class="container">
    <!--form start-->
        <div class="coporate_heading"><h2>Request a Call Back</h2></div>
            <span style="color:red;"></span>
        <form [formGroup]="franchiseForm" (ngSubmit)="submitFranchiseForm()" class="form-container"> 
                <div class="form-back" style="background:linear-gradient(45deg, #f3f3f3, #c0cbcc)">
                <input type="text" placeholder="Your Name" formControlName="name" required>
                <span *ngIf="!franchiseForm.get('name').valid && franchiseForm.get('name').touched"
                class="error-message">
                <span *ngIf="franchiseForm.get('name').errors['required']">Please Enter Name</span>
                </span>
                <input type="text" placeholder="Email" formControlName="email" required>
                <span *ngIf="!franchiseForm.get('email').valid && franchiseForm.get('email').touched"
                class="error-message">
                <span *ngIf="franchiseForm.get('email').errors['required']">Please Enter Email</span>
                <span *ngIf="franchiseForm.get('email').errors['email']">Please Enter Valid Email</span>
                </span>
                
                <input type="tel" id="phone" formControlName="mobile" placeholder="Mobile" required>
                <span *ngIf="!franchiseForm.get('mobile').valid && franchiseForm.get('mobile').touched"
                class="error-message">
                <span *ngIf="franchiseForm.get('mobile').errors['required']">Please Enter Mobile</span>
                </span>
                <input type="Text" placeholder="City" formControlName="city" required>
                <span *ngIf="!franchiseForm.get('city').valid && franchiseForm.get('city').touched"
                class="error-message">
                <span *ngIf="franchiseForm.get('city').errors['required']">Please Enter City</span>
                </span>
                <div class="but1">
                <input class="splbutton" type="submit" value="SUBMIT">
                </div>
                </div>
            </form>
     <!--form end-->
 </div>
      <!--tab start-->
      <div class="container-fluid tab-back">
        <div class="row">
<div class="tabs">
  <input type="radio" name="tabs" id="tabone" checked="checked">
  <label for="tabone">About</label>
  <div class="tab">
   <h2>About</h2>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>World's largest low investment franchise chain of floral business.</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Delivering floral emotions since two decades.</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>A bouquet is sold every 5 seconds at MFT</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Adding a new franchise floral shop every week</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Out of 250 floral franchise stores, 40% are being managed by women entrepreneurs</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Rarest of rare flowers anywhere, anytime in the world being the best online florist!</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Delivering flowers/gifts faster than a courier service with floral and gift basket franchise</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Presence at every 200 kms in India.</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>1472 skilled artists throughout our Retail network</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Covering 56100 sq ft of Retail space pan India</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>People express their feelings not just with flowers but with MyFlowerTree</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>A name synonymous with flowers in every household</p>
  </div>
  
  <input type="radio" name="tabs" id="tabtwo">
  <label for="tabtwo">How It Works</label>
  <div class="tab">
  <h2>How It Works</h2>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>World's largest low investment franchise chain of floral business.</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Delivering floral emotions since two decades.</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>A bouquet is sold every 5 seconds at MFT</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Adding a new franchise floral shop every week</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Out of 250 floral franchise stores, 40% are being managed by women entrepreneurs</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Rarest of rare flowers anywhere, anytime in the world being the best online florist!</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Delivering flowers/gifts faster than a courier service with floral and gift basket franchise</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Presence at every 200 kms in India.</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>1472 skilled artists throughout our Retail network</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Covering 56100 sq ft of Retail space pan India</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>People express their feelings not just with flowers but with MyFlowerTree</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>A name synonymous with flowers in every household</p>
  </div>

  <input type="radio" name="tabs" id="tabthree">
  <label for="tabthree">Advantages</label>
  <div class="tab">
 <h2>Advantages</h2>
       <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>World's largest low investment franchise chain of floral business.</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Delivering floral emotions since two decades.</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>A bouquet is sold every 5 seconds at MFT</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Adding a new franchise floral shop every week</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Out of 250 floral franchise stores, 40% are being managed by women entrepreneurs</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Rarest of rare flowers anywhere, anytime in the world being the best online florist!</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Delivering flowers/gifts faster than a courier service with floral and gift basket franchise</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Presence at every 200 kms in India.</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>1472 skilled artists throughout our Retail network</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Covering 56100 sq ft of Retail space pan India</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>People express their feelings not just with flowers but with MyFlowerTree</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>A name synonymous with flowers in every household</p>
  </div>
  
  <input type="radio" name="tabs" id="tabfour">
  <label for="tabfour">FAQs</label>
  <div class="tab">
 <h2>FAQs</h2>
       <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>World's largest low investment franchise chain of floral business.</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Delivering floral emotions since two decades.</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>A bouquet is sold every 5 seconds at MFT</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Adding a new franchise floral shop every week</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Out of 250 floral franchise stores, 40% are being managed by women entrepreneurs</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Rarest of rare flowers anywhere, anytime in the world being the best online florist!</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Delivering flowers/gifts faster than a courier service with floral and gift basket franchise</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Presence at every 200 kms in India.</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>1472 skilled artists throughout our Retail network</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>Covering 56100 sq ft of Retail space pan India</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>People express their feelings not just with flowers but with MyFlowerTree</p>
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>A name synonymous with flowers in every household</p>
  </div>
</div>
     <!--tab end-->
    
</div>
</div>
</div>
</div>

<!-- <app-footer></app-footer> -->