
<div class="col-md-12">
  <div class="blog-box">
    <h3>Fresh & Juicy Read from our Blogs<span class="pull-right small"><a target="_blank" routerLink="/blog">View all Blogs</a></span></h3>
    <ul>
      <li class="blog-items" *ngFor="let item of blog">
        <h4><a target="_blank" routerLink="/blog/{{item.post_name}}">{{item.post_title}}</a></h4>
        <p>{{item.post_excerpt}}<a target="_blank" routerLink="/blog/{{item.post_name}}">Read More</a></p>
      </li>
      
    </ul>
  </div>
</div>