 #container {
    margin-top: 120px;
}
 .heading-title {
    margin-top: 0px;
}

 .fc-widget-small{display:none;}

   body {
    background-color: #ffffff;
}
   ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}
 .main-div-bg {
    width:70%;
    margin-bottom:20px;
}

 ul.breadcrumb li {
    display: inline;
    font-size:14px;
    font-family:Arial;
}
 ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
 ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    font-size:14px;
    font-family:Arial;
}
 ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
} 
 .reward h2 {
    display: inline-block;
    width:100%;
    font-weight: 600;
    font-size: 30px;
}
 .span-content {
    margin: 9px 0px 20px 0px;
    background-color: antiquewhite;
    padding: 9px;
    text-align: center;
}
 .wallet-table .remove-balance {
    color: black;
    float:right;
}
 .span-content span{
    font-size: 17px;
    color: #424242;
    font-family:Arial;
}
 .wallet-table table, td, th {  
    text-align: left;
}

 .wallet-table table {
    border-collapse: collapse;
    width: 100%;
}
 .wallet-table tr th{
    background: #efefef;
    text-align: left;
    font-weight: 500;
    color: #171717;
    font-size:18px;
    padding: 10px 10px;
}

 .wallet-table th, .wallet-table td {
    padding: 2px;
    text-align:left;
    color: #424242;
    font-family: Arial;
}
 .balance-font {
    font-size: 30px !important;
    font-family: sans-serif;
    font-weight: normal;

}
 .wallet-table .add-balance-1 {
    float:right;
}
 .table-font {
    font-weight:600;
    font-size:17px;
}
 .table-font-faded {
    font-size: 15px;
    color: #525252;
    font-weight: 500;
}
 .wallet-table .add-balance {
    color: #25d28b;
    float:right;
}
 .box-cover-bg {
    width:100%;
}
@media (max-width: 768px) {
     .wallet-table th, .wallet-table td {
    padding: 2px 0px;
}
 .main-div-bg {
    width:100%;
}
 .breadcrumb {
    display:block !important;
}
 .table-font-faded {
    font-size: 14px;
}
 .wallet-table tr th{
    font-size:16px;
}
/*  .cat-body-box {
    margin: 60px auto 20px !important;
} */
}

@media only screen and (max-width: 760px) {
     #container {
        margin-top: 40px;
    }
    .cat-body-box{
        margin-top: 60px;
    }
}