<!-- <app-header></app-header> -->


<div class="cat-body-box">
      <div class="container">
           <div class="main-div-bg">
               <div id="breadcrumb">
               <ul class="breadcrumb">
               <li><a routerLink="/account">Your Account</a></li>
               <li>Your Reward Points</li>
               </ul>
               </div>
   
   <div class="box-cover-bg">
   
               <div class="reward">
                   <h2>Your Reward Points</h2>
               </div>
   
               <div class="span-content">
                     <span>Available Balance</span><br>
                     <span class="balance-font">&#8360; <b>{{totalpoints}}</b></span>
                   </div>
   
   <div class="wallet-table">
   <table *ngFor="let item of rewards">
   
     <tr class="table-font">
       <td style="font-weight:400;">{{item.description}}</td>
       <td><div [innerHTML]="item.points"></div></td>
     </tr>
   
     <tr class="table-font-faded">
       <td style="font-size: 13px;    color: #a1a1a1;">{{item.date_added}}</td>
       <td><span class="add-balance-1">Balance: &#8360; 
      {{item.balance}}
      </span></td>
     </tr>
    <tr>
    <td colspan="2"><hr /></td>
    </tr>
   </table>
   
   </div>
   
   </div>
   
   
           </div>
       </div>
   </div>

   <!-- <app-footer></app-footer>   -->