<!-- <app-header></app-header> -->
<link rel="stylesheet" [href]="cssDy.contactcss">
  <div class="body-box contact-box">
  <div class="row">
      <div class="contact-heading"><img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/2019/contact-us/contact-banner.jpg"/></div>
     
      <div class="heading">Help Centre
        <div class="sub-heading">Tell us about your issue so we can help you more quickly.</div>
      </div>

      <div class="contact-wrap">
        <div class="contact-items">
          <ul>
            <li class="leaf bottom first">
              <a routerLink="/order">
                <span class="icon"><img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/2019/contact-us/orders.png"/></span>
                <span class="item-text">Your Orders</span></a>
            </li>

            <li class="leaf bottom left">
                <a routerLink="/refund-policy">
                    <span class="icon"><img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/2019/contact-us/orders.png"/></span>
                  <span class="item-text">Return & Refunds</span></a>
              </li>

              <li class="leaf first">
                  <a routerLink="/account/address">
                      <span class="icon"><img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/2019/contact-us/orders.png"/></span>
                    <span class="item-text">Manage Addresses</span></a>
                </li>

                <li class="leaf left">
                    <a routerLink="/track-order">
                        <span class="icon"><img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/2019/contact-us/orders.png"/></span>
                      <span class="item-text">Track Order</span></a>
                  </li>
          </ul>
        </div>
<style>

</style>
        <div class="heading">FAQS</div>
        <div  [innerHTML]="description | safeHtml"></div>

        <div class="faq-toggle">
          <div class="show-btn"><a href="javascript:void(0);" (click)="showFAQ()">Show More</a></div>
        </div>

        <!--<form name="contactus" id="contactus" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
        -->
        
        
        <form [formGroup]="addcontactus" (ngSubmit)="submitContactForm()">
            <div class="contact-form">
              
                <div class="form">
                  
                    <div class="heading">Contact Form</div>
                    <div class="col-3 input-effect">
                        <input  class="effect-16 effect" type="text" placeholder="" formControlName="name" value="" id="input-name">
                        <label>Enter Full Name</label>
                        <span class="focus-border"></span>
                        <span *ngIf="!addcontactus.get('name').valid && addcontactus.get('name').touched"
                        class="error-message">
                          <span *ngIf="addcontactus.get('name').errors['required']">Please Enter Name</span>          
                        </span>
                
                    </div>
                    
                    

                    <div class="col-3 input-effect">
                        <input oninput="this.value=this.value.slice(0,10)" class="effect-16 effect" type="number" formControlName="mobile" required="required" maxlength="10"  value="" id="input-mobile">
                        <label>Mobile Number</label>
                        <span class="focus-border"></span>
                        <span *ngIf="!addcontactus.get('mobile').valid && addcontactus.get('mobile').touched"
                        class="error-message">
                          <span *ngIf="addcontactus.get('mobile').errors['required']">Please Enter Mobile Number</span>          
                        </span>
                
                    </div>
                    

                    <div class="col-3 input-effect">
                        <input class="effect-16 effect" type="email" formControlName="email"  value="" id="input-email">
                        <label>Email Address</label>
                        <span class="focus-border"></span>
                        <span *ngIf="!addcontactus.get('email').valid && addcontactus.get('email').touched"
                            class="error-message">
                            <span *ngIf="addcontactus.get('email').errors['required']">Please Enter Email</span>
                            <span *ngIf="addcontactus.get('email').errors['email']">Please Enter Valid Email</span>
                        </span>
                
                        </div>
                    
            

                        <div class="col-3 input-effect">
                        <select  formControlName="query_related_to" id="query-related-to">
                            <option selected value="">Query Related to</option>
                            <option value="Order">Order</option>
                            <option value="Refund & Cancel">Refund & Cancel</option>
                            <option value="Other">Other</option>
                        </select>
                        <span *ngIf="!addcontactus.get('query_related_to').valid && addcontactus.get('query_related_to').touched"
                        class="error-message">
                          <span *ngIf="addcontactus.get('query_related_to').errors['required']">Please Enter Query Related</span>          
                        </span>
                
                        </div>

                        <div class="col-3 input-effect area">
                        <textarea class="effect-16 effect" formControlName="enquiry" rows="10" required="required"  id="input-enquiry"></textarea>
                        <label>Your Message Here...</label>
                        <span class="focus-border"></span>
                        <span *ngIf="!addcontactus.get('enquiry').valid && addcontactus.get('enquiry').touched"
                        class="error-message">
                          <span *ngIf="addcontactus.get('enquiry').errors['required']">Please Enter Message</span>          
                        </span>
                
                        </div>
                        
                        
                        
                    <div class="col-3 input-effect area">
                    <label>What is {{a}} + {{b}}?</label>
                    <input id='BotBootInput' formControlName="whatis" type='text' maxlength='2' size='2'/>                     
                    <span *ngIf="!addcontactus.get('whatis').valid && addcontactus.get('whatis').touched"
                        class="error-message">
                          <span *ngIf="addcontactus.get('whatis').errors['required']">Please Enter Number</span>          
                        </span>
                    <span *ngIf="errormsgwhat!=''" class="error_captcha error-message" style="color: red;">{{errormsgwhat}}</span>
                    
                    
                        
                        </div>
                        

                        <div class="main-btn">
                          <input class="btn btn-primary button" id="consub" type="submit" value="Submit" />
                          <span *ngIf="errormsg!=''" style="color: red;">{{errormsg}}</span>
                        </div>					
                        
            </div>
            </div>
        </form>
<!--</form>-->

      </div>

  </div>

</div>
<div id="resultLoading" style="width: 100%; height: 100%; position: fixed; z-index: 10000000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; display:none;"><div style="width: 250px; height: 75px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; font-size: 16px; z-index: 10; color: rgb(255, 255, 255);">
  <img loading="lazy"  src="{{CDN_DOMAIN}}live-site-2016/live-new/images/full_page_loader.gif"><div></div></div><div class="bg" style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div></div>
 
  <!-- <app-footer></app-footer>  -->
