:host ::ng-deep body {background: #f3f5f5 !important;}
:host ::ng-deep .body-box {margin: 0 auto;max-width: 100% !important;padding: 0px !important;}
:host ::ng-deep .cat_wrapper {display: table;width: 100%;}
:host ::ng-deep .mft-main-heading {display: inline-block;align-items: center;justify-content: center;width: 100%;margin: 12px auto;padding: 10px 10px 10px 10px;text-align:center;background: white;}
:host ::ng-deep .mft-heading h1 {font-size: 41px;font-weight: 600;margin: 0px 0px 7px 0px;padding:0px 0px 10px 0px;color: #333333;font-family: 'Roboto Condensed';text-align:center; }
:host ::ng-deep .mft-heading-light h1{font-weight: 100!important; margin: 0 !important; padding: 0px 0px 10px 0px !important;}
:host ::ng-deep .mft-heading h2 {font-size: 41px;font-weight: 600;margin: 0px 0px 7px 0px;padding:0px 0px 10px 0px;color: #333333;font-family: 'Roboto Condensed';text-align:center; }
:host ::ng-deep .mft-main-heading .mft-reviews {padding: 10px;}
:host ::ng-deep .mft-category-review-summary .mft-ratings-count {color: #f09025;font-size: 14px;display: inline;}
:host ::ng-deep .mft-category-review-summary .mft-ratings-count span {font-size: 18px;font-weight: bold;position: relative;}
:host ::ng-deep .mft-category-review-summary .mft-stars-88 img {width: 75px;position: relative;top: -2px;}
:host ::ng-deep .mft-category-review-summary .mft-stars-container:after {position: absolute;top: -3px;display: inline-block;left: 0;color: #feb614;overflow: hidden;}
:host ::ng-deep #mft-show-category-reviews-carosel {cursor: pointer;}
:host ::ng-deep #mft-show-category-reviews-carosel span {padding: 3px;color: #6badee;}
:host ::ng-deep .fa-angle-down:before {content: "\f107";display: inline-block;line-height: 1;font-size: 24px;vertical-align: middle;color: #6badee;}
/*section left*/
:host ::ng-deep .reviews-container {min-width: 0;width: 100%;}
:host ::ng-deep .card {border-radius: 2px;background-color: #fff;position: relative;margin: 0 0 4px 0;padding: 16px;}
:host ::ng-deep .card-business {display: flex;word-break: break-all;align-items: center;}
:host ::ng-deep .card-image {margin-right: 16px;}
:host ::ng-deep .card-image {position: relative;width: 40px;height: 40px;}
:host ::ng-deep .card__label {display: block;color: #73738f;margin: 0;word-break: break-word;font-weight: 400;font-size: 14px;line-height: 20px;}
:host ::ng-deep .mft-reviews-header {display: flex;justify-content: space-between;align-items: center;padding-bottom: 4px;border-bottom: 1px solid #f2f2f5;}
:host ::ng-deep .mft-reviews-header .headline {font-weight: 700;}
:host ::ng-deep .mft-reviews-header .headline__review-count {display: inline;color: #73738f;font-weight: 500;}
:host ::ng-deep .mft-reviews-header .button-write-review {width: auto;padding-top: 8px;padding-left: 16px;padding-right: 16px;}
:host ::ng-deep .review-filter-buttons {display: flex;align-items: center;}
:host ::ng-deep .review-filter-buttons .metadata {font-weight: 500;}
:host ::ng-deep .metadata {font-size: 14px;line-height: 20px;color: #73738f;}
:host ::ng-deep .review-filter-buttons .star-rating-filter>.button{margin-left: 0px !important;}
:host ::ng-deep .review-filter-buttons .star-rating-filter>.button {color: #000032;}
:host ::ng-deep .button--light{padding: 4px 8px;height: 32px;}
:host ::ng-deep .button--light {color: #1b1b21;}
:host ::ng-deep .button--light {background-color: #fff; border: 1px solid #dcdce6;}
:host ::ng-deep .button--light:focus{outline: 2px auto #dcdce6;}
:host ::ng-deep .button--light:focus, .button--light:hover {background-color: #f2f2f5;}
:host ::ng-deep .reviews-overview-body .rating-distribution-chart {padding-top: 16px;padding-bottom: 16px;}
[type=checkbox], [type=radio] {box-sizing: border-box;padding: 0;}
:host ::ng-deep .button {margin-left:8px;display: block;position: relative;text-align: center;border-radius: 2px;padding-left: 10px;padding-right: 10px;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;overflow: hidden;transition: background-color .2s linear;width: 100%;min-width: 48px;margin-bottom: 8px;height: 44px;white-space: nowrap;font-weight: 500;background-color: #c5c5d6;border: 0;font-size: 14px;line-height: 24px;}
:host ::ng-deep .quick-evaluate__rating {flex-grow: 1;}
:host ::ng-deep .button--light, .button--light-shadow, .button--link, .button--subtle {padding: 4px 8px;height: 32px;}
:host ::ng-deep .button--light, .button--light-shadow {color: #1b1b21;}
:host ::ng-deep .button--light, .button--light-shadow {background-color: #fff !important;border: 1px solid #dcdce6 !important;}
:host ::ng-deep .button * {font-size: 14px;line-height: 24px;}
:host ::ng-deep .button:focus {outline: thin dotted #333;outline: 2px auto #99c4ff;outline-offset: -2px;text-decoration: none;color: inherit;}
:host ::ng-deep .bar1{background:#6bbd89 !important;}
:host ::ng-deep .bar2{background:#82da82 !important;}
:host ::ng-deep .bar3{background:#e4c520 !important;}
:host ::ng-deep .bar4{background:#ff9000 !important;}
:host ::ng-deep .chart__cell__value {white-space: nowrap;text-align: right;padding-left: 24px;color: #5c5c70;}
:host ::ng-deep .aspect-filter {margin: 24px 0px;font-size: 0;}
:host ::ng-deep .aspect-filter__option {opacity: 0;position: fixed;width: 0;}
:host ::ng-deep .aspect-filter .aspect-filter__label {background: #fff;border-radius: 2px;border: .8px solid #dcdce6;height: 32px;padding: 6px 10px;display: inline-block;margin: 0 8px 8px 0;font-size: 14px;cursor: pointer;}
:host ::ng-deep .aspect-filter__option:checked+label {background: #6f6f87!important;border-color: #6f6f87;color: #fff;}
:host ::ng-deep .button--light:checked+label{background: #6f6f87!important;border-color: #6f6f87;color: #fff;}
[type=checkbox], [type=radio] {box-sizing: border-box;padding: 0;}
:host ::ng-deep input[type=checkbox], input[type=radio] {margin: -12px 5px 0;margin-top: 1px\9;line-height: normal;}
:host ::ng-deep .active1{background:#6f6f87!important;color:#ffffff!important;}

/*chart bar start*/
:host ::ng-deep .chart-wrap {max-width: 900px;margin: 0 auto;padding: 10px;border: 1px solid #eeeeee;}
:host ::ng-deep .chart-wrap .chart-title {margin-bottom: 10px;font-size: 16px;text-align: center;text-transform: uppercase;}
:host ::ng-deep .chart-title {margin-bottom: 10px;font-size: 16px;text-align: center;text-transform: uppercase;}
:host ::ng-deep .chart-wrap .row {position: relative;height: 26px;margin-bottom: 15px;}
:host ::ng-deep .chart-wrap .bar-wrap {position: relative;background: #d7dbde;width: 100%;height: 100%;overflow: hidden;}
:host ::ng-deep .chart-wrap .row:nth-of-type(1) .bar{transition: 1s 400ms;}
:host ::ng-deep .chart-wrap .bar-wrap .bar.in {transform: translateX(0%);}
:host ::ng-deep .chart-wrap .number {position: absolute;top: 0;right: 0;width: 30px;padding-right: 10px;font-size: 18px;line-height: 26px;font-weight: bold;text-align: right;z-index: 10;}
:host ::ng-deep .chart-wrap .label {position: absolute;top: 0;left: -92px;width: 93px;padding-left: 10px;text-align: left;font-size: 12px;line-height: 26px;text-transform: uppercase;font-weight: bold;z-index: 10;color: #333333;display: inline-block;float: left;}
:host ::ng-deep .fa-search:before {content: "\f002";position: relative;top: 22px;left: 10px;color: #6f6f87;}
:host ::ng-deep .fa-plus-circle:before{content: "\f055";padding: 0px 0px 0px 5px;font-size: 15px;color: #6f6f87;}
:host ::ng-deep .fa-chevron-circle-right:before {content: "\f138";padding: 0px 0px 0px 5px;font-size: 15px;color: #6f6f87;}
:host ::ng-deep .form-control{padding: 6px 30px;}
:host ::ng-deep .chart-wrap .bar-wrap .bar {position: absolute;top: 0;left: 0;height: 100%;background: rgb(243, 113, 103);transition: all 1s;transform: translateX(-100%);}
:host ::ng-deep .bar-wrap .bar.in {transform: translateX(0%);}

/*review section start*/
:host ::ng-deep .review-card{margin: 0 0 4px 0;background: #fff;border-radius: 2px;}
:host ::ng-deep .review {word-break: break-word;word-wrap: break-word;overflow-wrap: break-word;padding: 16px;}
:host ::ng-deep .review__consumer-information {padding-bottom: 16px;margin-bottom: 16px;border-bottom: 1px solid #dcdce6;color: #454554;}
:host ::ng-deep .consumer-information {display: flex;}
:host ::ng-deep .consumer-information__picture {width: 44px;min-width: 44px;height: 44px;display: block;border-radius: 50%;overflow: hidden;background-color: #f2f2f5;}
:host ::ng-deep .consumer-information__picture {width: 44px;min-width: 44px;height: 44px;display: block;border-radius: 50%;overflow: hidden;background-color: #f2f2f5;}
:host ::ng-deep .consumer-information__details {margin: 0 0 0 8px;display: flex;flex-direction: column;overflow: hidden;}
:host ::ng-deep .consumer-information__name {flex: 1;color: #454554;font-weight: 500;font-size: 15px;line-height: 20px;}
:host ::ng-deep .consumer-information__data {font-size: 14px;line-height: 20px;color: #73738f;display: flex;align-items: center;flex-wrap: wrap;}
:host ::ng-deep .consumer-information__review-count:not(:last-child) {margin-right: 16px;}
:host ::ng-deep .consumer-information__review-icon {fill: #73738f;height: 14px;width: 14px;margin-right: 6px;}
:host ::ng-deep .consumer-information__location, .consumer-information__review-count {display: flex;align-items: center;}
:host ::ng-deep .review-content__header {margin-bottom: 16px;}
:host ::ng-deep .review-content-header {display: flex;flex-wrap: wrap;}
:host ::ng-deep .star-rating--medium {width: 108px;height: 20px;display: flex;}
:host ::ng-deep .star-rating img {max-width: 100%;width: 100%;}
:host ::ng-deep .review-content-header__dates {flex-grow: 1;text-align: right;color: #73738f;}
:host ::ng-deep .review-content__title {font-size: 18px;line-height: 26px;margin-bottom: 4px;}
:host ::ng-deep .review__actions{padding-top: 16px;margin-top: 16px;border-top: 1px solid #dcdce6;}
:host ::ng-deep .review-actions {display: flex;justify-content: space-between;margin-top: -6px;margin-bottom: -6px;}
:host ::ng-deep .review-actions__main {display: flex;}
:host ::ng-deep .button--subtle {background-color: transparent;color: #73738f;border: none;cursor: pointer;font-weight: 400;}
.fa{padding:0px 3px;}
:host ::ng-deep .review-list{margin: 20px auto;}
:host ::ng-deep a.link--dark {color: #32323d;}

@media screen and (min-width:800px) {
    :host ::ng-deep .label {text-align: right;padding-left: 0;}
    :host ::ng-deep .number {text-align: left;padding-right: 0;}
 }
@media screen and (max-width:768px) {
    :host ::ng-deep .chart-wrap .label {left: 0;}
    :host ::ng-deep .mft-reviews-header {display: inline-block;}
    :host ::ng-deep .button{padding-left: 6px;padding-right: 6px;}
}