<!-- <app-header></app-header> -->

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=Roboto Condensed" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


	<!--Section 1 top banner desktop size start-->
 <div class="cat_wrapper hidden-xs"><a href="/&#10;" target="_blank"> <img src="{{CDN_PATH}}review-images/review-desktop-banner-1.jpg" width="100%" alt="Best Birthday Cakes Online" title="Best Birthday Cakes Online"><meta name="twitter:image" content="{{CDN_PATH}}review-images/review-desktop-banner-1.jpg"></a></div>

<!--Section 1 top banner desktop size end-->


<!--Section 1 top banner mobile size start-->
<div class="cat_wrapper-mobile hidden-lg hidden-md hidden-sm"><a href="/&#10;" target="_blank"> <img src="{{CDN_PATH}}review-images/review-mobile-banner-1.jpg" width="100%" alt="Best Birthday Cakes Online" title="Best Birthday Cakes Online"><meta name="twitter:image" content="{{CDN_PATH}}review-images/review-mobile-banner-1.jpg"></a></div>

<!--Section 1 top banner mobile size end-->
<div class="container">

<div class="mft-main-heading">
<div class="mft-reviews"> 
  <div class="mft-category-review-summary">
<div class="mft-ratings-count">{{total_rating/total_reviews | number : '1.1-1'}}
<span class="mft-stars-container mft-stars-88">
    <img src="{{CDN_PATH}}review-images/3-4star.png">
    </span>
</div>

<span id="mft-show-category-reviews-carosel">
  <span class="mft-reviews-count">{{total_reviews}}</span>
  <span>Reviews</span><i class="fa fa-angle-down"></i>
</span>
</div>

</div>

</div>


<!--section left-->
<section class="review-left-section col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="row">
<div class="card" style="display:none;">
                    
<div class="quick-evaluate">
<div class="card-business">
<img class="card-image" src="{{CDN_PATH}}review-images/73x73.png" alt="Your profile picture">
<h2 class="card__label">
<a routerLink="/" title="Review of Myflowertree">
    Write a review
</a>
</h2>

</div>

</div>

</div>





<div class="reviews-overview">
    <div class="card card--related">
       
        <div class="mft-reviews-header ">

            <h2 class="headline col-lg-9 col-md-9 col-sm-9 col-xs-12">Reviews&nbsp;&nbsp;<span class="headline__review-count">612</span></h2>



<div class="review-filter-buttons col-lg-3 col-md-3 col-sm-3 col-xs-12" style="display:none">
    <span class="metadata">Filter by:</span>
    <div class="star-rating-filter">
    	<button class="button button--light star-rating-filter-button">
    		<span>Rating<i class="fa fa-plus-circle" aria-hidden="true"></i></span>
    	</button> <!----></div>

    <div class="language-filter">
    	<button class="button button--light">
    		<span class="capitalize">English<i class="fa fa-chevron-circle-right"></i></span>
    	</button> <!---->
    </div>

</div>
        
</div>



<!--chart bar start-->
        <div class="reviews-overview-body">
            <section class="rating-distribution-chart">
            	<div class="chart-wrap">

  <div id="dashboard-stats" class="chart bars-horizontal brand-primary">
    <div class="row">
      <span class="label">Excellent</span>
      <div class="bar-wrap">
        <div class="bar bar1 in" data-value="five_rating" style="width: 100%;"></div>

      </div>

      <span class="number">{{five_rating}}</span>
    </div>

    <div class="row">
      <span class="label">Great</span>
      <div class="bar-wrap">
        <div class="bar bar2 in" data-value="four_rating" style="width: 64%;"></div>

      </div>

      <span class="number">{{four_rating}}</span>
    </div>

    <div class="row">
      <span class="label">Average</span>
      <div class="bar-wrap">
        <div class="bar bar3 in" data-value="three_rating" style="width: 15%;"></div>

      </div>

      <span class="number">{{three_rating}}</span>
    </div>

    <div class="row">
      <span class="label">Poor</span>
      <div class="bar-wrap">
        <div class="bar bar4 in" data-value="two_rating" style="width: 4%;"></div>

      </div>

      <span class="number">{{two_rating}}</span>
    </div>

    <div class="row">
      <span class="label">Bad</span>
      <div class="bar-wrap">
        <div class="bar bar5 in" data-value="one_rating" style="width: 6%;"></div>

      </div>

      <span class="number">{{one_rating}}</span>
    </div>

    
  </div>

</div>


</section>
        </div>

       
        <form class="aspect-filter" [formGroup]="tabForm" >
        	<button type="reset" class="aspect-filter__reset" style="display: none;">
    All reviews
  </button> 
  <input id="all-reviews" type="checkbox" class="aspect-filter__option"> 
  <label for="all-reviews" class="aspect-filter__label active1">
    All reviews
  </label> 
  <input id="aspect-0" type="checkbox" name="service" class="aspect-filter__option">
   <label for="aspect-0" class="aspect-filter__label">
      service
    </label>
    <input id="aspect-1" type="checkbox" name="cake" class="aspect-filter__option">
     <label for="aspect-1" class="aspect-filter__label">
      cake
    </label>
    <input id="aspect-2" type="checkbox" name="delivery" class="aspect-filter__option"> 
    <label for="aspect-2" class="aspect-filter__label">
      delivery
    </label>
    <input id="aspect-3" type="checkbox" name="order" class="aspect-filter__option"> 
    <label for="aspect-3" class="aspect-filter__label">
      order
    </label>
    <input id="aspect-4" type="checkbox" name="time" class="aspect-filter__option"> 
    <label for="aspect-4" class="aspect-filter__label">
      time
    </label>
    <input id="aspect-5" type="checkbox" name="flower" class="aspect-filter__option"> 
    <label for="aspect-5" class="aspect-filter__label">
      flower
    </label>
    <input id="aspect-6" type="checkbox" name="website" class="aspect-filter__option"> 
    <label for="aspect-6" class="aspect-filter__label">
      website
    </label>
    <input id="aspect-7" type="checkbox" name="experience" class="aspect-filter__option"> 
    <label for="aspect-7" class="aspect-filter__label">
      experience
    </label>
    <input id="aspect-8" type="checkbox" name="gift" class="aspect-filter__option"> 
    <label for="aspect-8" class="aspect-filter__label">
      gift
    </label>
    <input id="aspect-9" type="checkbox" name="day" class="aspect-filter__option"> 
    <label for="aspect-9" class="aspect-filter__label">
      day
    </label> 
    <button type="button" class="aspect-filter__label" style="display: none;">
    ...
  </button> 
  <input id="aspect-10" type="checkbox" name="money" class="aspect-filter__option" style=""> 
  <label for="aspect-10" class="aspect-filter__label" style="">
      money
    </label>
    <input id="aspect-11" type="checkbox" name="site" class="aspect-filter__option" style=""> 
    <label for="aspect-11" class="aspect-filter__label" style="">
      site
    </label>
    <input id="aspect-12" type="checkbox" name="quality" class="aspect-filter__option" style=""> 
    <label for="aspect-12" class="aspect-filter__label" style="">
      quality
    </label>
    <input id="aspect-13" type="checkbox" name="product" class="aspect-filter__option" style=""> 
    <label for="aspect-13" class="aspect-filter__label" style="">
      product
    </label>
    <input id="aspect-14" type="checkbox" name="people" class="aspect-filter__option" style=""> 
    <label for="aspect-14" class="aspect-filter__label" style="">
      people
    </label>
    <input id="aspect-15" type="checkbox" name="birthday" class="aspect-filter__option" style=""> 
    <label for="aspect-15" class="aspect-filter__label" style="">
      birthday
    </label>
    <input id="aspect-16" type="checkbox" name="customer care" class="aspect-filter__option" style=""> 
    <label for="aspect-16" class="aspect-filter__label" style="">
      customer care
    </label>
</form>
     <form class="pattern-library-form" [formGroup]="searchForm"><div class="search-wrapper"> <i class="fa fa-search" aria-hidden="true"></i><input (keyup)="searchReviews($event)" type="search" name="search" maxlength="100" placeholder="Search reviews" autocomplete="off" class="review-search form-control"> <!---->
        </div>

    </form>
    </div>


</div>



<!--review section start-->
<div class="review-list" *ngFor="let review of reviews | paginate: config">
	<div class="review-card">
 
<article class="review">
<aside class="review__consumer-information">
      
<a routerLink="/" class="consumer-information">
    <div class="consumer-information__picture">
    	<div><img class="card-image" src="{{CDN_PATH}}review-images/73x73.png" alt="Your profile picture">
    	</div>

    </div>

    <div class="consumer-information__details">
        <div class="consumer-information__name" v-pre="">
            {{review.author}}
        </div>

        <div class="consumer-information__data">
            <div class="consumer-information__review-count">
                <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                <span>1 review</span>
            </div>

                <div class="consumer-information__location" v-pre="">
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <span>IN</span>
                </div>

                    </div>

    </div>

</a>

</aside>

<section class="review__content">
<div class="review-content">

<div class="review-content__header">
<div class="review-content-header">
    
<div class="star-rating star-rating--medium">
    <img src="{{CDN_PATH}}review-images/stars-5.png" alt="5 stars: Excellent">
</div>

 
<div class="review-content-header__dates">
<span style="display: inline-block;">
	<time datetime="2021-03-23T05:48:30.000Z" title="Tuesday, March 23, 2021, 11:18:30 AM" class="review-date--tooltip-target">{{review.date_added | date: 'dd/MM/yyyy'}}</time>
</span>
</div>

   
</div>

</div>



<div class="review-content__body">
<h2 class="review-content__title">
<a class="link link--large link--dark" href="">
       {{review.text}}
</a>
</h2>

<p class="review-content__text">
</p>

</div>


</div>

</section>

<div class="review__actions">
<div class="review-actions" style="display:none;">
    <div class="review-actions__main">
    <div class="review-action brand-find-useful">
    	
    		<span style="display: inline-block;">
    			<div>
    				<button role="button" class="button button--subtle button--subtle-label-below brand-find-useful__button ">
    					<span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span> 
    					<span>Useful</span> <!---->
    				</button> 
    				<div>
    				</div>

    			</div>
  <!---->
    		</span> 
    	
    </div>

<div class="brand-share-button-wrapper">
		<span style="display: inline-block;">
			<div>
				<button class="button button--subtle brand-share-button">
					<span><i class="fa fa-share-alt" aria-hidden="true"></i></span> 
					<span>Share</span>
				</button> 
			</div>

		 </span> 
	</div>

    </div>


    <div class="review-actions__notify-wrapper">
    <button type="button" class="button button--subtle button--subtle-label-below notify-compliance-button" data-notify-content-integrity-team="">
        <span><i class="fa fa-flag" aria-hidden="true"></i></span>
    </button>
    </div>

</div>

</div>


</article>
</div>

</div>


<!--pagination start-->
<div class="jumbotron">
<div class="list">
<pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
</div>
</div>
<!--pagination end-->



</div>

</section>
<!--section left-->


</div>

<script>(function($) {
  function generateBarGraph(wrapper) {
    var values = [];
    $(wrapper + ' .bar').each(function(index, el) {
      values.push($(this).data('value'));
    });
    var max_value = Math.max.apply(Math, values);
    $(wrapper + ' .bar').each(function(index, el) {
      var bar = $(this),
          value = bar.data('value'),
          percent = Math.ceil((value / max_value) * 100);
      bar.width(percent + '%');
      bar.addClass('in');
    });
  }
  $(window).on('load', function(event) {
    generateBarGraph('#dashboard-stats');
  });
})(jQuery);
</script>
         <!-- <app-footer></app-footer> -->