<!-- <app-header></app-header> -->

<link rel="stylesheet" [href]="cssDy.birthdayCss"/>
<script async type="text/javascript"
            [src]="cssDy.jquerylazy"></script>
        <script async [src]="cssDy.popperMin"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <div class="body-box search-page-box">
            <div class="cat-filter-box">
                <ul class="breadcrumb" *ngIf="queryParams['page']==1">
                    <li *ngFor="let breadcrumb of breadcrumbs;let i = index;"> 
                        <a href="{{ breadcrumb.href }}#" *ngIf="(breadcrumbs.length) == i+1">
                            <span>{{ breadcrumb.text }}</span> 
                        </a>
                        <a routerLink="{{ breadcrumb.href }}" *ngIf="(breadcrumbs.length) != i+1">
                                <span>{{ breadcrumb.text }}</span>
                        </a>
                    </li>
                </ul>
                <div class="cat-filter"><span class="cat-filter-text">({{product_total}} items) Sort By: </span>
                    <div class="cat-filter-item fil-active "><i style="margin-right:5px;" class="fa fa-star"
                            aria-hidden="true"></i><a routerLink="/{{category_url}}?pincode={{queryParams['pincode']}}&product_type={{queryParams['product_type']}}">Popularity</a></div>
                    <div class="cat-filter-item "><i style="margin-right:5px;" class="fa fa-long-arrow-down"
                            aria-hidden="true"></i><a 
                            routerLink="/{{category_url}}?pincode={{queryParams['pincode']}}&product_type={{queryParams['product_type']}}&sort=p.price&order=ASC&type=Low"
                            >Low To High</a>
                    </div>
                    <div class="cat-filter-item "><i style="margin-right:5px;" class="fa fa-long-arrow-up"
                            aria-hidden="true"></i><a 
                            routerLink="/{{category_url}}?pincode={{queryParams['pincode']}}&product_type={{queryParams['product_type']}}&sort=p.price&order=DESC&type=High">High To Low</a>
                    </div>
                </div>
            </div>
            
            
    
        </div>
 
    <div class="body-box">
        <div id="category_content" id="all" class="product-section-cat main-products"
                data-grid-classes="xs-50 sm-33 md-25 lg-25 xl-25 display-icon block-button">
                <div>
                    <div class="product-list-box"><input type="hidden" id="pro_count" value="{{products.length}}">
                       <div
                            class="search-results"
                            infiniteScroll
                            [infiniteScrollDistance]="2"
                            [infiniteScrollThrottle]="50"
                            (scrolled)="onScroll()"
                            >
                        <div class="product-item-box ga-product" *ngFor="let product of products;let pindex=index;">
                            <div class="product-item ">
                            <a routerLink="/{{product.keyw}}" 
                             data-id="{{ product.product_id }}-{{ product.category_id }}"
                                     [className]="product.thumb2 !='' ? 'has-second-image lazy' : ''" (click)="productClick(product.product_id)">
                                    <div class="product-image">
                                        
                                        <span *ngIf="product.tag_class !=''" class="tag {{product.tag_class}}">{{ product.product_tag }}</span>
                                        


                    <img class="first-image" [defaultImage]="defaultImage"  [lazyLoad]="product.thumb" title="{{product.name}}" alt="{{product.alt_tag}}"
                                            /></div>
                                    <div class="product-details" *ngIf="product.product_type !='category promo banner'">
                                        <div class="product-list-name">{{product.name}}</div>
                                        <div class="product-list-price">
                                            <div class="price" *ngIf="product.price !=0">
                                                <div *ngIf="product.special==0;else priceBlock;">
                                                    <span class="price-new"> Rs. {{product.price}} </span>
                                                </div>
                                                <ng-template #priceBlock>
                                                    <span class="price-new"> Rs. {{product.special}}</span>
                                                        <span class="price-old"> Rs. {{product.price}}</span>
                                                        <span class="price-percentage">
                                                        {{product.percentage_offer}}
                                                        </span>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="product-list-time" *ngIf="(product.product_type=='Gifts' || product.manufacturer =='IS');else deliveryBlock">
                                            <div *ngIf="(product.current_hour < '17');then timeblockOne else timeblockTwo">here is ignored</div>    
                                            <ng-template #timeblockOne>Will be dispatched by <span class='green-text'>Today.</span></ng-template>
                                            <ng-template #timeblockTwo>Will be dispatched by <span class='green-text'>Tomorrow.</span></ng-template>
                                        </div>
                                    
                                        <ng-template #deliveryBlock>
                                            <div class="product-list-time">Can be delivered <span class="green-text">{{product.expected_delivery}}</span>.</div>
                                        </ng-template>
                                    </div>
                                </a></div>
                        </div>
                    </div>

                    </div>
                </div>
                                     <!-- sinner -->
     <div class="row pb-5">
        <div class="col-md-12 p-5">
         <ngx-spinner
         bdOpacity = 0.9
         bdColor = ""
         size = "default"
         color = "#581f87"
         type = "ball-pulse-sync"
         [fullScreen] = "false"
         >
         </ngx-spinner>
       </div>
     </div>
            </div>
    </div>
    <!-- <app-footer></app-footer> -->