:host ::ng-deep body {
    background-color: #f4f4f4;
 }


            :host ::ng-deep .breadcrumb li:last-child a {
                color: #808080;
                pointer-events: none;
            }

            :host ::ng-deep .seocontant h3 {
                color: #8c273c;
                font-size: 20px;
                padding: 0 0 10px 0;
            }

            ol li {
                margin-top: 8px;
            }

            :host ::ng-deep .btm-more-content {
                background-color: white;
                padding: 10px;
            }

            :host ::ng-deep .btm-more-content ul {
                margin-top: 5px;
            }

            :host ::ng-deep .btm-more-content ul li {
                list-style: none;
                display: inline-block;
                padding-right: 5px;
                padding-left: 5px;
            }

            :host ::ng-deep .quck-links {
                font-size: 18px;
                border-bottom: 1px dashed #ccc;
                margin-bottom: 12px;
                padding-bottom: 5px;
            }

            :host ::ng-deep .pagination-wrap {
                clear: both;
            }

            table.tablectnt75 tr:nth-of-type(2n) {
                background-color: #fdfdfd !important;
            }

            table.tablectnt tr:nth-of-type(2n) {
                background-color: #fdfdfd !important;
            }

            @media only screen and (max-width: 1400px) and (min-width: 900px) {
                :host ::ng-deep .cat_des h1 {
                    font-family: mft-heading-font;
                    font-size: 37px;
                    font-weight: lighter;
                    letter-spacing: .55px;
                    color: #b82327;
                    margin-bottom: 0px;
                    padding: 1px;
                    margin-top: 10px;
                }

                :host ::ng-deep .cat_des p {
                    font-size: 13px;
                    line-height: 19px;
                    padding-bottom: 0px;
                }

                :host ::ng-deep .cat_des ul li {
                    float: left;
                    width: 25%;
                    padding-bottom: 4px;
                    padding-right: 10px;
                }
            }

            :host ::ng-deep  body {
                background-color: #f4f4f4;
            }

            :host ::ng-deep .editor-content {
                overflow-y: scroll;
                max-height: 600px;
                padding: 5px;
                overflow-x: hidden;
            }

            :host ::ng-deep .cat_des ul li a {
                color: #1232b2;
                font-size: 13px;
                font-weight: normal;
                border: 1px solid;
                padding: 3px 8px;
                border-radius: 50px;
            }

            :host ::ng-deep .cat_des h1 {
                font-family: arial !important;
                font-size: 25px !important;
                font-weight: lighter;
                letter-spacing: .55px;
                color: #a51634;
            }

            :host ::ng-deep .cat_des p {
                font-size: 13px;
                line-height: 22px;
                padding-bottom: 12px;
                color: #505050;
            }

            :host ::ng-deep .cat_des ul li {
                float: left;
                width: auto;
                padding-bottom: 10px;
                padding-right: 10px;
                margin-right: 8px;
            }

            :host ::ng-deep .cat_des ul li a:hover {
                color: #0008FF;
                font-size: 13px;
                font-weight: normal;
                text-decoration: none;
                padding: 3px 8px;
            }

            table.tablectnt tr td a,
            table.tablectnt60 tr td a,
            table.tablectnt75 tr td a {
                color: #0909f3;
                text-decoration: none;
            }

            table.tablectnt tr:nth-of-type(2n),
            table.tablectnt60 tr:nth-of-type(2n),
            table.tablectnt75 tr:nth-of-type(2n) {
                background-color: #f4f4f4;
            }

            table.tablectnt tr td a,
            table.tablectnt60 tr td a,
            table.tablectnt75 tr td a {
                color: #0909f3;
                text-decoration: none;
            }

            :host ::ng-deep .body-box.content-wrap {
                width: 95%;
            }

            :host ::ng-deep .seocontant h2 {
                color: #8c273c;
                font-size: 26px;
                padding: 0 0 10px 0;
            }

            :host ::ng-deep .faq h2 {
                color: #8c273c;
                font-size: 26px;
                padding: 0 0 10px 0;
            }

            :host ::ng-deep .editor-content p {
                font-size: 14px;
                font-weight: 400;
                text-align: justify;
                color: #383838;
                line-height: 23px;
            }

            :host ::ng-deep .editor-content p a {
                color: #0c0cfd;
                font-weight: normal;
                text-decoration: none;
            }

            :host ::ng-deep .cat-filter-item.fil-active {
                background-color: #25ac25;
                color: #fff;
                border: 1px solid #25ac25;
            }

            :host ::ng-deep .cat-filter-item {
                padding: 3px 10px;
                color: #000;
                border: 1px solid #000;
                text-align: center;
                font-size: 11px;
                display: inline-block;
                margin-left: 5px;
                cursor: pointer;
                border-radius: 50px;
            }

            :host ::ng-deep p.price {
                margin: 0;
                font-size: 18px;
                color: #000;
                font-weight: bold;
            }

            :host ::ng-deep .product-item-box {
                width: 23%;
                background-color: transparent;
                float: left;
                box-shadow: 0 1px 10px 0 rgba(136, 136, 136, 0.5);
                margin: 1% 1% 0.5% 1%;
            }

            /* .cat_wrapper > img { opacity: 0.2; } */
            :host ::ng-deep .product-image {
                position: relative;
                padding: 0px;
            }

            :host ::ng-deep .product-item {
                margin: 0;
                background-color: #fff;
                padding: 0;
            }

            :host ::ng-deep .product-list-time {
                font-size: 14px;
                color: #999;
                padding: 5px 0 0 0;
            }

            :host ::ng-deep .product-list-price .price-percentage {
                font-size: 10px;
                border: 1px solid #b6ad88;
                border-radius: 18px;
                padding: 3px 5px 3px 5px;
                color: #fff;
                margin-left: 5px;
                background: #b6ad88;
            }

            :host ::ng-deep ul.nav-tabs {
                margin: 0px;
            }

            :host ::ng-deep .tab-content {
                margin-top: 15px;
            }

            :host ::ng-deep .product-quick-bar a {
                padding-left: 10px;
                padding-right: 10px;
                color: #4f7ab1;
                border-right: 1px solid #4f7ab1;
            }

           :host ::ng-deep  .product-list-name {
                white-space: nowrap;
                padding: 5px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 95%
            }

            :host ::ng-deep .cat_des h1 {
                font-family: mft-heading-font;
                font-size: 45px;
                font-weight: lighter;
                letter-spacing: .55px;
                color: #b82327
            }

            @font-face {
                font-family: mft-heading-font;
                src: url(https://d3cif2hu95s88v.cloudfront.net/live-site-2016/live-new/css/fonts/AlexBrush-Regular.ttf)
            }

            :host ::ng-deep .carousel .testimonial {
                background-color: #8dc3a8
            }

            :host ::ng-deep .outofstock {
                position: relative;
                overflow: hidden
            }

            :host ::ng-deep .soldout {
                background-color: #B82327;
                color: #fff;
                font-size: 16px;
                top: 29px
            }

            @media only screen and (max-width:600px) {

                :host ::ng-deep .blog-box h3,
                :host ::ng-deep .custom-cat-data {
                    padding-left: 15px;
                    padding-right: 15px
                }

                :host ::ng-deep table.tablectnt75 {
                    width: 100%
                }

                :host ::ng-deep .cat_des h1 {
                    font-size: 28px;
                    color: #000;
                    margin-top: 0px;
                }

                :host ::ng-deep .collapsible {
                    width: 98%;
                    text-align: left;
                    margin-left: 1%;
                    margin-top: 10px;
                    padding: 10px;
                    border: 1px solid #999;
                    border-radius: 5px
                }

                :host ::ng-deep.active1:after,
                :host ::ng-deep .collapsible:after {
                    color: #666;
                    font-weight: 700;
                    float: right;
                    margin-left: 5px
                }

               :host ::ng-deep .active1,
               :host ::ng-deep .collapsible:hover {
                    background-color: #CCC
                }

               :host ::ng-deep .collapsible:after {
                    content: '\002B'
                }

               :host ::ng-deep .active1:after {
                    content: "\2212"
                }

               :host ::ng-deep .content {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height .2s ease-out
                }
                
            }

            :host ::ng-deep .best-seller {
                background: linear-gradient(to right, #e89e17, #e2cb29);
            }

            :host ::ng-deep .exclusive {
                background: linear-gradient(to right, #e89e17, #e2cb29);
            }

            :host ::ng-deep .hot-selling {
                background: linear-gradient(to right, #e89e17, #e2cb29);
            }

            :host ::ng-deep .new-product {
                background: linear-gradient(to right, #e89e17, #e2cb29);
            }

            :host ::ng-deep .personalised {
                background: linear-gradient(to right, #e89e17, #e2cb29);
            }

            :host ::ng-deep .popular {
                background: linear-gradient(to right, #e89e17, #e2cb29);
            }

            :host ::ng-deep .top-seller {
                background: linear-gradient(to right, #e89e17, #e2cb29);
            }

            :host ::ng-deep .product-image {
                position: relative;
            }

            :host ::ng-deep .price-percentage {
                font-size: 12px;
                border: 1px solid;
                border-radius: 2px;
                padding: 3px;
                color: #636363;
                margin-left: 5px;
            }

            :host ::ng-deep .product-details {
                text-align: left;
            }

            :host ::ng-deep .price-new {
                color: #000;
                font-weight: bold;
                font-size: 18px;
            }

            :host ::ng-deep .tag {
                position: absolute;
                right: 0;
                background: linear-gradient(to right, #e89e17, #e2cb29);
                padding: 3px 15px 3px 20px;
                color: #ffffff;
                right: -12px;
                top: 20px;
                z-index: 1;
            }

            :host ::ng-deep .tag:before {
                content: "";
                padding: 4px;
                background: #e89e17;
                top: -7px;
                position: absolute;
                z-index: 0;
                right: 0;
                display: inline-block;
                border-radius: 0px 30px 10px 0px;
            }

            :host ::ng-deep .new-product {
                background: linear-gradient(to right, #070400, #6b6a62);
            }

            :host ::ng-deep .personalised {
                background: linear-gradient(to right, #05720d, #10ad06);
            }

            :host ::ng-deep .new-product:before {
                background: #070400
            }

            :host ::ng-deep .personalised:before {
                background: #05720d;
            }

            @media only screen and (max-width:767px) {
                :host ::ng-deep  .cat_wrapper {
                    display: table;
                    margin-top: 0px;
                }
                :host ::ng-deep .product-list-name {
                    padding: 0px 0px 4px 0px;
                }

                :host ::ng-deep .price-new {
                    font-size: 15px;
                }

                :host ::ng-deep .product-details {
                    padding: 5px;
                    padding-left: 0px;
                    padding-right: 0px;
                }

                :host ::ng-deep .cat_des ul li a {
                    color: #1232b2;
                    font-size: 12px;
                    font-weight: 600;
                    border: none;
                    padding: 2px 6px;
                    border-radius: 50px;
                }

                :host ::ng-deep .cat_des ul li {
                    float: none;
                    width: 48%;
                    padding-bottom: 0;
                    padding-right: 0;
                    margin-right: 8px;
                    display: inline-block;
                    padding: 3px 0 3px 10px;
                    margin: 0 2px 3px 2px;
                    position: relative;
                    text-align: left;
                }

                :host ::ng-deep .cat_des ul li a~span {
                    background-color: green;
                    color: white;
                    padding: 0px 5px 0px 5px;
                    border-radius: 20px;
                    font-size: 8px;
                    position: absolute;
                    top: -10px;
                    right: 8px;
                    top: 10px;
                    z-index: 999999;
                }

                :host ::ng-deep .price-percentage {
                    font-size: 10px;
                    padding: 2px;
                    margin-left: 2px;
                }

                :host ::ng-deep p.price {
                    font-size: 15px;
                    height: 21px;
                }

                :host ::ng-deep .price-old {
                    font-size: 10px;
                }

                :host ::ng-deep .tag {
                    position: absolute;
                    right: 0;
                    background: linear-gradient(to right, #e89e17, #e2cb29);
                    padding: 3px 15px 3px 20px;
                    color: #ffffff;
                    right: 0;
                    top: 8px;
                    font-size: 10px;
                }

                :host ::ng-deep .tag:before {
                    content: "";
                    display: none !important;
                }

                :host ::ng-deep .product-item-box {
                    width: 50%;
                    background-color: #fff;
                    float: none;
                    box-shadow: none;
                    margin: 0 -2px -2px 0px;
                    border: 1px solid #ccc;
                    padding-bottom: 5px;
                    min-height: 250px;
                    display: inline-block;
                    vertical-align: middle;
                }

                :host ::ng-deep .product-list-price .price-percentage {
                    font-size: 10px;
                    border: 1px solid #b6ad88;
                    border-radius: 18px;
                    padding: 0px 5px 0px 5px;
                    color: #fff;
                    margin-left: 0;
                    background: #b6ad88;
                    display: inline-block;
                    max-width: 57px;
                    text-align: center;
                    margin-left: 7px;
                }

                :host ::ng-deep .product-list-time {
                    font-size: 10px;
                    color: #999;
                    padding: 2px 0 0 0;
                }

                :host ::ng-deep .product-item {
                    margin: 0;
                    background-color: #fff;
                    padding: 0;
                }

                :host ::ng-deep .product-image {
                    position: relative;
                    padding: 7px;
                }

                :host ::ng-deep .product-details {
                    padding: 0;
                    padding-right: 0px;
                    padding-bottom: 0px;
                    padding-left: 0px;
                    padding-left: 7px;
                    padding-right: 0px;
                    height: 100%;
                    display: inline-block;
                    position: relative;
                    width: 99%;
                    background: #fff;
                }
            }


            :host ::ng-deep .product-box {
	max-width: 1300px;
	margin: 0 auto;
}
:host ::ng-deep .fath_wrapper {
	display: none
}
@font-face {
	font-family: mft-font;
	src: url(https://d3cif2hu95s88v.cloudfront.net/live-site-2016/live-new/css/fonts/Lato-Regular.ttf);
}
:host ::ng-deep body {
	font-family: mft-font !important;
}
:host ::ng-deep .diwali-banner {
	background-image: url(/images/event-banners/birthday/birthday-welcome.gif);
	background-repeat: no-repeat;
	height: 410px;
	width: 100%;
	background-size: cover;
	padding: 15px;
}
:host ::ng-deep .diwali-cat-box {
	width: 656px;
	height: 380px;
	background-color: white;
	opacity: 0.8;
	padding-top: 20px;
	padding-left: 20px;
}
:host ::ng-deep .diwali-cat-block {
	width: 212px;
	float: left;
}
:host ::ng-deep .diwali-cat-block > .heading {
	font-size: 22px;
	color: black;
}
:host ::ng-deep .diwali-cat-block > .subheading {
	font-size: 12px;
	color: #999999;
	text-transform: uppercase;
}
:host ::ng-deep .diwali-cat-block > ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
	font-size: 13px;
}
:host ::ng-deep .diwali-cat-block > ul li {
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
	margin-top: 10px;
	width: 80%;
}
:host ::ng-deep .diwali-cat-block > ul li a {
	color: black;
	width: 200px;
}
:host ::ng-deep .diwali-cat-block > ul li a:hover {
	color: rgb(234, 35, 73);
	font-weight: bold;
	font-size: 14px;
}
:host ::ng-deep .fatherspprd-heading {
	padding: 5px;
	padding-left: 0px;
	padding-right: 0px;
	border-bottom: 1.5px solid #9c0027;
	text-transform: uppercase;
	color: #9c0027;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 10px;
}
:host ::ng-deep .fatherspprd-heading span.viewall a {
	width: 100px;
	float: right;
	color: #9c0027;
	font-size: 12px;
	text-transform: none;
	padding: 5px;
	text-align: right;
	font-weight: bold;
	font-size: 13px;
	line-height: 32px;
}
:host ::ng-deep .fatherspprd-heading img {
	height: 25px;
}
:host ::ng-deep .fatherspprd-heading span:hover {
	color: black;
}
:host ::ng-deep .diwali-desktop {
	display: block;
}
:host ::ng-deep .diwali-mobile {
	width: 100%;
	display: none;
}
:host ::ng-deep .diwali-mobile-cat {
	width: 32%;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
}
:host ::ng-deep .diwali-mobile-cat1 {
	width: 32%;
	float: left;
	margin-right: 0%;
}
:host ::ng-deep .diwali-mobile-cat img {
	width: 100%;
}
:host ::ng-deep .diwali-mobile-cat .catbtn {
	background-color: #c4df9b;
	padding: 15px;
	width: 100%;
	color: black;
	font-size: 12px;
	text-align: center;
}
:host ::ng-deep .diwali-mobile-cat1 .catbtn {
	background-color: #c4df9b;
	padding: 15px;
	width: 100%;
	color: black;
	font-size: 12px;
	text-align: center;
}
:host ::ng-deep .diwali-mobile-cat1 img {
	width: 100%;
}
:host ::ng-deep .custom-cat-data {
	padding-left: 0px !important;
	padding-right: 0px !important;
	max-width: 100% !important;
}
@media only screen and (max-width: 500px) {
    :host ::ng-deep .MOBILE {
	display: block;
	margin-top: 0px !important;
}
:host ::ng-deep .diwali-mobile {
	display: block;
}
:host ::ng-deep .diwali-desktop {
	display: none;
}
:host ::ng-deep .fatherspprd-heading {
	padding: 5px;
	padding-left: 0px;
	padding-right: 0px;
	border-bottom: 1.5px solid #9c0027;
	text-transform: uppercase;
	color: #9c0027;
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 10px;
}
:host ::ng-deep .fatherspprd-heading span.viewall a {
	width: 100px;
	float: right;
	color: #9c0027;
	font-size: 12px;
	text-transform: none;
	padding: 5px;
	text-align: right;
	font-weight: bold;
	font-size: 13px;
	line-height: 19px;
}
}
:host ::ng-deep .occasion-cate ul .leaf .img-wrap .title-wrap .sub-title, .occasion-relations ul .leaf .img-wrap .title-wrap .sub-title {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	line-height: 30px;
	padding: 5px 12px 5px 12px;
	font-size: 0.9em;
}

:host ::ng-deep .editor-content {
        max-height: inherit;}
        :host ::ng-deep .category-products-box{    max-width: 1440px; margin: 0 auto;}
        :host ::ng-deep .catgory_heading{position: relative; margin:1%;margin-top:20px; margin-bottom:20px;}
        :host ::ng-deep .catgory_heading h2 {
        color: #515151;
        font-size: 26px;
        margin-bottom: 20px;
        padding-bottom: 5px;
        text-transform: capitalize;
        width: 100%;
        font-weight: bold;
        border: none;
        margin: 0px auto;
    }
    :host ::ng-deep .catgory_heading h2::after {
        content: "";
        width: 171px;
        height: 4px;
        display: block;
        background: #25ac25;
        margin-top: 15px;
    }
    :host ::ng-deep .catgory_heading .viewall {
        position: absolute;
        top: 20px;
        right:0;
    }
    
    :host ::ng-deep .catgory_heading :host ::ng-deep .viewall a{border: 1px solid #2a45cb;
        padding: 8px;
        color: #2a45cb;}
        :host ::ng-deep .catgory_heading :host ::ng-deep .viewall a:hover{box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
        background-color: #efefef; text-decoration:none;}
    @media only screen and (max-width: 767px){
        :host ::ng-deep .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    :host ::ng-deep .catgory_heading h2 {font-size:22px;}
    :host ::ng-deep .catgory_heading h2::after {
        content: "";
        width: 171px;
        height: 2px;
        display: block;
        background: #25ac25;
        margin-top: 9px;
    }
    :host ::ng-deep .catgory_heading :host ::ng-deep .viewall {
        position: absolute;
        top: 10px;
        right: 0;
    }
    }

