<!-- <app-header></app-header> -->
<div id="container" class="container j-container">
    <ul class="breadcrumb">
        <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb"><a routerLink="/" itemprop="url"><span itemprop="title">Home</span></a></li>
        <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb"><a routerLink="/terms-of-use" itemprop="url"><span itemprop="title">Terms &amp; Conditions</span></a></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1 class="heading-title">Terms &amp; Conditions</h1>
           <div [innerHTML]="termsdata[0]?.description"></div>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->