<!doctype html>
<html lang="en">
<head>
<meta meta="" charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<script type="application/ld+json"> { "@context" : "https://schema.org", "@type" : "Organization", "name" : "MyFlowerTree", "url" : "https://www.myflowertree.com/", "sameAs" : [ "https://www.facebook.com/MyFlowerTree/", "https://twitter.com/myflowertreemft", "https://www.linkedin.com/company/myflowertree-com/", "https://in.pinterest.com/myflowertreemft/", "https://plus.google.com/+Myflowertree/"] } </script>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<base href="/"/>

<!-- Fixed metas, links and Scripts -->
<!-- Metas -->
<meta property="og:site_name" content="MyFlowerTree"/>
<meta property="fb:app_id" content="159535174225392"/>
<meta property="og:image:type" content="image/jpeg"/>
<meta property="og:image:alt" content="MyFlowerTree"/>
<meta property="og:image:height" content="500"/>
<meta property="og:image:width" content="500"/>
<meta property="og:type" content="website"/>
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@myflowertreemft"/>
<meta name="twitter:creator" content="@myflowertreemft"/>
<meta name="google-site-verification" content="GX4tveAoJqLUkNjqTvk2GYdThSmvjFOcttTJnr-FvQg"/>
<meta name="facebook-domain-verification" content="38a9ew7troabe9dsj4frx0msqyioj5"/>
<meta name="google-signin-client_id" content="230925890562-igljuufsa6aapnrv12a22h6bsph6kf65.apps.googleusercontent.com"/>
<!-- metas -->

<!-- Links -->
<!-- <link rel="manifest" href="/catalog/view/json/manifest.json" /> -->
<link async="" type="image/x-icon" href="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/live-new/images/favicon.ico" rel="icon"/>
<!--<link href="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/live-new/css/responsive.css.gz" rel="stylesheet">-->
<link async="" rel="stylesheet" href="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/live-new/font-awesome/css/font-awesome.min.css.gz" media="all"/>
<!-- <link async rel="stylesheet" href="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/live-new/css/bootstrap.min.css.gz" media="all" /> -->
<!-- <link href="assets/css/owl.carousel.min.css" type="text/css" rel="stylesheet"> -->
<!-- <script  src="https://code.jquery.com/jquery-2.2.2.min.js"></script> -->
<!-- Links -->
<!-- Scripts -->
<script async="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/live-new/js/bootstrap.min.js.gz"></script> 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- <script async="" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/live-new/js/nav.js.gz"></script> -->
<script async="" type="text/javascript" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/live-new/js/jquery.lazy.1.6.min.js.gz"></script>

<!-- <script type="text/javascript" src="assets/js/owl.carousel.js"></script> -->
<!-- Scripts -->
<!-- Fixed metas, links and Scripts End Here-->
<style>
	:host ::ng-deep body {
		background-color: #f4f4f4 !important;
	}
</style>


<script id="app-state" type="application/json"></script>
 <script>
      var st_app_id = '3W5IK9RZTGVVVFQEBEFJDQVC';
      var st_app_read_token = '5TV2BYVFGEH52JAKKS272PF1';
      var st_collection_id = 'YHBMNT6NSPUQ5QNK5IRLZ2AW';
    </script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&amp;display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="manifest" href="manifest.webmanifest">
<meta name="theme-color" content="#1976d2">

<!--
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-15925960-1"></script>
<script type="text/javascript">
	window.dataLayer = window.dataLayer||[];
	function gtag(){dataLayer.push(arguments);}
	gtag("js",new Date());
</script>
-->

</head>

<body class="mat-typography">
<app-root></app-root>
 <div id="searchModalContainer" v-cloak="">
                    <div id="searchModal" v-show="isOpen" :class="{'st-loading': loader}">
                        <div>
                            <div class="contain-size hidden-mobile" v-show="!loader">
                                <div class="st-row">
                                    <div class="st-col-md-9 plr0" style="float:right">
                                        <div id="new_tags" v-if="totalHits>0">
                                            <div id="st-scroll" class="clear-fix all_tags">
                                                <div class="multiple_box" v-for="f in filters" v-if="f.onTop" v-show="!loader">
                                                    <div class="tag-button" v-for="i in f.selected" :key="i"><label class="bt-bg">
                                                        <input type="checkbox" :value="i" v-model="f.selected" @change="pushFilter(),filterAnalytics('top', f.title, i)"> <span class="filter-tags" v-html="i"></span></label></div>
                                                    <div class="tag-button" v-for="i in getNotSelectedFilters(f.field)" :key="i.name"><label class="bt-bg">
                                                        <input type="checkbox" :value="i.name" v-model="f.selected" @change="pushFilter(),filterAnalytics('top', f.title, i.name)"> <span class="filter-tags" v-html="i.name"></span></label></div>

                                                    <span id="tag_left" @click="breadCrumbScroll(-1)" class="hidden-xs hidden-sm"><span class="st-left-arrow"></span></span>
                                                    <span id="tag_right" @click="breadCrumbScroll(1)" class="hidden-xs hidden-sm"><span class="st-right-arrow"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="st-product-outer" v-show="!loader">
                                <div class="row">

                                    <div class="col-md-3 st-hide-mobile">
                                        <div id="STbar" class="sidebar-wrap" v-if="totalHits>0">
                                            <div class="filter-header">
                                                <div class="plr">
                                                    <h4 class="filter-title">
                                                        Filter by <span class="st-reset-all" v-show="filterCount>0" @click="clearFilters()">Reset all</span>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="st-token-tags" v-show="filterCount>0">
                                                <ul class="filter-summary">
                                                    <li v-for="obj in getSelectedFilterValues()" :key="obj.index">
                                                        <div class="filter-summary-filter">{{obj.displayValue}}
                                                            <label class="filter-summary-removeFilter" @click="removeFacet(obj.filter, obj.value)">
                                                                <span class="stweb-sprite filter-summary-removeIcon sprites-remove">x</span></label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="sidebar__inner">
                                                <div class="filter-container" v-for="f in filters" v-show="f.selected.length>0 || f.values.length>0 || f.type === 'single'">
            													<span class="st-clear" v-show="f.selected.length>0" @click.stop="clearFilters(f.field)">Clear</span>
                                                    <div class="st-filter-tab" @click="f.isOpen = !f.isOpen">
                                                        <h4 class="main-filter-title">
                                                            <i aria-hidden="true" class="indicator fa fa-minus" v-if="f.isOpen">
                                                            </i> <i v-if="!f.isOpen" aria-hidden="true" class="indicator fa fa-plus"></i>
                                                            {{f.title}}
                                                        </h4>
                                                    </div>
                                                    <div class="filter-list-container" v-show="f.isOpen">
                                                        <ul :id="`${f.field}FilterValues`" v-if="f.isStatic === false" v-show="f.field!=='special_price'" class="filter-list-desktop">
                                                            <li v-for="i in f.selected" :key="i">
                                                                <div class="outer-checkbox">
                                                                    <label>
                                                                        <input type="checkbox" :value="i" v-model="f.selected" @change="pushFilter(),filterAnalytics('left', f.title, i)"> <span class="st-checkbox"><i class="cr-icon fa fa-check"></i></span>
                                                                        <div :title="i" class="filter-label" v-html="i">
                                                                        </div>
                                                                        <span class="number_of_product">({{getSelectedCount(i, f.field)}})</span>
                                                                    </label>
                                                                    <!---->
                                                                </div>
                                                            </li>
                                                            <li v-for="i in getNotSelectedFilters(f.field)" :key="i.name">
                                                                <div class="outer-checkbox">
                                                                    <label>
                                                                        <input type="checkbox" :value="i.name" v-model="f.selected" @change="pushFilter(),filterAnalytics('left', f.title, i.name)"> <span class="st-checkbox"><i class="cr-icon fa fa-check"></i></span>
                                                                        <div :title="i.name" class="filter-label" v-html="i.name">
                                                                        </div>
                                                                        <span class="number_of_product">({{i.count}})</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul :id="`${f.field}FilterValues`" v-if="f.field==='special_price'" v-show="f.isOpen" class="filter-list-desktop">
                                                            <li v-for="i in f.selected" :key="i">
                                                                <div class="outer-checkbox">
                                                                    <label>
                                                                        <input type="checkbox" :value="i" v-model="f.selected" @change="pushFilter()">
                                                                        <span class="st-checkbox">
                                                                                        <i class="cr-icon fa fa-check"></i>&nbsp;</span>
                                                                        <div v-if="f.field==='special_price'" class="filter-label">{{getSelectedValues(i)}}
                                                                        </div>

                                                                        <span class="number_of_product">({{getSelectedCount(i, f.field)}})</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li v-for="i in getNotSelectedFilters(f.field)" :key="[i.min,i.max]">
                                                                <div class="outer-checkbox">
                                                                    <label>
                                                                        <input type="checkbox" :value="[i.min,i.max]" v-model="f.selected" @change="pushFilter(),filterAnalytics('left', f.title, [i.min,i.max])">
                                                                        <span class="st-checkbox">
                                                                                        <i class="cr-icon fa fa-check"></i>&nbsp;</span>

                                                                        <div v-if="i.min<10000" class="filter-label">{{currency}}{{i.min}}-{{currency}}{{i.max}}
                                                                        </div>
                                                                        <div class="filter-label" v-else="">{{currency}}{{i.min}} And Above
                                                                        </div>

                                                                        <span class="number_of_product">({{i.count}})</span>
                                                                    </label>
                                                                 </div>
                                                            </li>

                                                        </ul>

                                                        <ul :id="`${f.field}FilterValues`" v-if="f.isStatic" class="filter-list-desktop">

                                                            <li v-if="f.type === 'single'">
                                                                <div class="outer-checkbox">
                                                                    <label>
                                                                        <input type="checkbox" v-model="excludeOutOfStock" @change="search(0)">
                                                                        <span class="st-checkbox"><i class="cr-icon fa fa-check"></i>&nbsp;</span>
                                                                        <div title="Exclude Sold Out" class="filter-label">Exclude Sold Out</div>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-9">

                                        <div class="st-sort-bg">
                                            <div class="col-md-8">
                                                <div class="resut-summary-t">
                                                    <span class="block-bld">&nbsp;{{totalHits}}&nbsp;</span>
                                                    <span class="" v-if="totalHits>1">results</span>
                                                    <span class="" v-if="totalHits<=1">result</span>
                                                    <span class=" hidden-mobile" v-if="query.trim()!==''">&nbsp;for</span>
                                                    <span class=" txt-red block-bld hidden-mobile" v-if="query.trim()!==''">&nbsp;{{query}}</span>
                                                    <span class="st-brand-outer">
                                          <a href="https://www.searchtap.io/?utm_source=myflowertree&amp;utm_medium=website" rel="nofollow" target="_blank">
                                             <div class="st-brand-txt">Powered by SearchTap</div>
                                             <div class="st-brand"></div>
                                          </a>
                                       </span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 hidden-mobile" v-if="totalHits>0">
                                                <div class="sort-by">
                                                    <div class="form-group">
                                                        <label>Sort by :</label>
                                                        <select id="st-sort-web" v-model="sortLabel" @change="sorting()">
                                                            <option v-for="s in sorts" :value="s.label">{{s.label}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 st-no-result-msg" v-show="totalHits === 0 &amp;&amp; loader === false">
                                            <h2>Oops! No Results Found!</h2>
                                            <h2> Sometimes you have to be lost before you find what you're looking for.</h2>
                                            <h2>Here are our Best Sellers!</h2>
                                            <div class="binary-line"></div>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="st-product-list">

                                            <div class="product-list-box">

                                                <div class="product-item " v-for="item in getResults()" :key="item.id" :class="{'outofstock':item.status!=='1'}">
                                                    <div class="product-image">
                                                        <a target="_blank" :href="item.url">

                                                            <span class="tag personalised" v-if="item.tag!==undefined &amp;&amp; item.tag!=='' &amp;&amp; item.tag!==null">{{item.tag}}</span>
                                                            <span class="tag best-seller" v-if="item.top_selling===true &amp;&amp; item.tag!==undefined">{{item.tag}}</span> </a>
                                                        <div id="carousel-example" class="carousel slide" data-ride="carousel">
                                                            <a target="_blank" href="">
                                                                <ol class="carousel-indicators">
                                                                    <li v-for="(img, index) in item.images" data-target="#carousel-example" data-slide-to="0" :class="{'active': index === item.activeImageIndex}" v-if="item.images.length>1"></li>
                                                                </ol>
                                                            </a>
                                                            <div class=""><a target="_blank" href="">
                                                            </a>
                                                                <div class="item" v-for="(img, index) in item.images" :key="index" v-show="item.images!== undefined &amp;&amp; item.images!== null &amp;&amp; index === item.activeImageIndex" :class="{'active': index === item.activeImageIndex}">
                                                                    <a target="_blank" :href="item.url">
                                                                    </a>
                                                                    <a :href="item.url">
                                                                        <img loading="lazy" alt="images" :src="img">
                                                                    </a>
                                                                 </div>
                                                             </div>
                                                            <div v-if="item.images.length>1" class="left carousel-control" data-slide="prev">
                                                                <i class="fa fa-angle-left" @click="changeImage(item,'left')"></i>
                                                            </div>
                                                            <div v-if="item.images.length>1" class="right carousel-control" data-slide="next">
                                                                <i class="fa fa-angle-right" @click="changeImage(item,'right')"></i>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <a :href="item.url">
                                                        <div class="product-details">
                                                            <div class="product-list-name">{{item.name}}</div>
                                                            <div class="product-list-price">
                                                                <p class="price"><span class="price-new"> Rs. {{numberWithCommas(item.special_price)}}</span>
                                                                    <span class="price-old" v-if="item.price!==item.special_price"> Rs. {{numberWithCommas(item.price)}}</span>
                                                                    <span class="price-percentage" v-if="item.discount_percentage>0 &amp;&amp; item.special_price!==0"> {{item.discount_percentage}}% OFF </span>
                                                                    <span class="price-tax" style="display:none;">Ex Tax: Rs. 699</span></p></div>

                                                            <div class="product-list-time" v-if="item.delevery_type.toLowerCase().trim()==='express'"> Can be delivered
                                                                <span class="green-text"><span style="color:green">{{deliveryStatus(item)}}</span></span>.
                                                            </div>
                                                            <div class="product-list-time" v-if="item.delevery_type.toLowerCase().trim()==='courier'"> Will be dispatched by <span class="green-text"><span style="color:green">{{deliveryStatus(item)}}</span></span>.
                                                            </div>

                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div id="loadResults" class="st-results-end" v-show="loader === false &amp;&amp; results.length > 0" v-if="!resultsEnd" style="cursor: pointer" @click="loadMore()">
                                            Load more results
                                        </div>
                                        <div id="noResults" class="st-results-end" v-show="loader === false &amp;&amp; results.length > 0" v-if="resultsEnd" style="cursor: pointer">
                                            No more results
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="filter-bar st-hide-desktop" v-show="!loader">
                                <div id="sortFilter" class="sortFilterCon">
                                    <div v-show="!loader">
                                        <span class="tabIcon sortIcon"></span> <span class="filter-applied-ellip" style="display: none;"></span>
                                        <select id="st-mobile-sort" class="pdSorting" v-model="sortLabel" @change="sorting()">
                                            <option v-for="s in sorts" :value="s.label">{{s.label}}</option>
                                        </select>
                                        <span class="disInBlock">Sort by</span>
                                    </div>
                                    <div class="filter_h" @click="showFilter=true" v-show="!loader"><span class="tabIcon filterIcon"></span> <span class="filter-applied-ellip" v-show="filterCount >0"></span> <span class="disInBlock">
                              Filter</span>
                                    </div>
                                </div>
                            </div>
                            <div id="searchFilterMobile" class="hidden-desktop" v-if="showFilter" v-show="!loader">
                                <div class="mobile-filter-popup">
                                    <div class="filter-list">
                                        <div class="filterHeader">
                                            <div class="st-mobile-cross" @click="checkFilterQueue()"></div>
                                            Filter by
                                            <span class="pull-right">
                                                <span class="apply-all" @click="mobileFilterAction('apply')"><a class="apply-btn">Apply</a></span></span>
                                        </div>
                                        <div class="row">
                                            <div class="filter-body">
                                                <div class="mobileFilters" v-for="f in filters" v-show="f.selected.length>0 || f.values.length>0 || f.type === 'single'">
            													<span class="st-mobile-filter-clear" style="text-align: right;" v-show="f.selected.length>0" @click.stop="clearFilters(f.field)">Clear</span>
                                                    <a>
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title" @click="f.isOpen = !f.isOpen">
                                                                <i v-if="f.isOpen" aria-hidden="true" class="indicator fa fa-minus"></i>
                                                                <i v-if="!f.isOpen" aria-hidden="true" class="indicator fa fa-plus"></i>
                                                                {{f.title}}
                                                            </h4>
                                                        </div>
                                                    </a>
                                                    <div v-show="f.isOpen">
                                                        <ul :id="`${f.field}FilterValues`" v-show="f.field!=='special_price'" v-if="f.isStatic === false" class="filter-list-desktop">
                                                            <li v-for="i in f.selected" :key="i">
                                                                <div class="outer-checkbox">
                                                                    <label>
                                                                        <input type="checkbox" :value="i" v-model="f.selected" @change="applyFilter(f.title, i),filterAnalytics('left', f.title, i)">
                                                                        <span class="st-checkbox">
                                                                                        <i class="cr-icon fa fa-check"></i>&nbsp;</span>
                                                                        <div class="filter-label">{{i}}
                                                                        </div>
                                                                        <span class="number_of_product">({{getSelectedCount(i, f.field)}})</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li v-for="i in getNotSelectedFilters(f.field)" :key="i.name">
                                                                <div class="outer-checkbox">
                                                                    <label>
                                                                        <input type="checkbox" :value="i.name" v-model="f.selected" @change="applyFilter(f.title, i.name),filterAnalytics('left', f.title, i.name)">
                                                                        <span class="st-checkbox">
                                                                                        <i class="cr-icon fa fa-check"></i>&nbsp;</span>
                                                                        <div class="filter-label">{{i.name}}
                                                                        </div>
                                                                        <span class="number_of_product">({{i.count}})</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul :id="`${f.field}FilterValues`" v-if="f.field==='special_price'" v-show="f.isOpen" class="filter-list-desktop">
                                                            <li v-for="i in f.selected" :key="i">
                                                                <div class="outer-checkbox">
                                                                    <label>
                                                                        <input type="checkbox" :value="i" v-model="f.selected" @change="applyFilter(f.title,i)">
                                                                        <span class="st-checkbox">
                                                                        <i class="cr-icon fa fa-check"></i>&nbsp;</span>
                                                                        <div class="filter-label">{{getSelectedValues(i)}}
                                                                        </div>
                                                                        <span class="number_of_product">({{getSelectedCount(i, f.field)}})</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li v-for="i in getNotSelectedFilters(f.field)" :key="i.min">
                                                                <div class="outer-checkbox">
                                                                    <label>
                                                                        <input type="checkbox" :value="[i.min,i.max]" v-model="f.selected" @change="applyFilter(f.title,[i.min,i.max]),filterAnalytics('left', f.title, [i.min,i.max])">
                                                                        <span class="st-checkbox">
                                                                                        <i class="cr-icon fa fa-check"></i>&nbsp;</span>
                                                                        <div class="filter-label" v-if="i.max!=='20000'">{{currency}}{{i.min}}-{{currency}}{{i.max}}
                                                                        </div>
                                                                        <div class="filter-label" v-else="">{{currency}}{{i.max}} And Above
                                                                        </div>
                                                                        <span class="number_of_product">({{i.count}})</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                         <ul :id="`${f.field}FilterValues`" class="filter-list-desktop" v-if="f.isStatic">
                                                            <li v-if="f.type === 'single'">
                                                                <div class="outer-checkbox">
                                                                    <label><input type="checkbox" v-model="excludeOutOfStock" @change="search(0)">
                                                                        <span class="st-checkbox"><i class="cr-icon fa fa-check"></i>
                                                                                        </span><div class="filter-label">Exclude Out of Stock</div>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="st-main-popup hidden-desktop">
                                                        <div v-show="showDiscardPopup">
                                                            <div class="st-overlay"></div>
                                                            <div class="st-popup-content">
                                                                <div class="st-popup-container">
                                                                    <div class="st-popup-heading">Do you want to discard your changes?</div>
                                                                    <div class="description">You modified some filters. What would you like to do with these changes?</div>
                                                                    <div class="st-closeOption st-apply-btn" style="float: right;" @click="mobileFilterAction('apply')"> Apply Changes </div>
                                                                    <div class="st-closeOption" style="float: left;" @click="mobileFilterAction('close')"> Discard Changes </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 
<link href="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/st/st.css.gz" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/@searchtap/search-client/lib/index.min.js"></script>
<script>
    $(window).ready(()=>{
        $(document).on('click','#header a',()=>{
           $('#filter_search_name').val('');
        //    document.getElementById('searchModalContainer').remove();
        document.getElementById('searchModal').setAttribute('style','display:none')
        })
    })
function loadScript(url, callback){
  var script = document.createElement("script");
  script.type = "text/javascript";
  if (script.readyState){
	script.onreadystatechange = function(){
	  if (script.readyState == "loaded" ||
			  script.readyState == "complete"){
		  script.onreadystatechange = null;
         // console.log('call back called')
		  callback();
	  }
	};
  } else {
	script.onload = function(){
       // console.log('call back called')
		callback();
	};
  }

  script.src = url;
  document.getElementsByTagName("head")[0].appendChild(script);
}

loadScript("https://d3cif2hu95s88v.cloudfront.net/live-site-2016/st/js_node/st.js.gz", function(){
  return true;
});




function initFreshChat() {
    window.fcWidget.init({
        token: "ef94f05a-fa90-4ef8-894c-d1c8b39d8a24",
        host: "https://wchat.freshchat.com"
    });
}

function initialize(i, t) {
    var e;
    i.getElementById(t) ? initFreshChat() : ((e = i.createElement("script")).id = t, e.async = !0, e.src = "https://wchat.freshchat.com/js/widget.js", e.onload = initFreshChat, i.head.appendChild(e))
}

function initiateCall() {
    initialize(document, "freshchat-js-sdk")
}
 window.addEventListener ? window.addEventListener("load", initiateCall, !1) : window.attachEvent("load", initiateCall, !1);
 </script>

</body>
</html>
