<div id="addon-section" *ngIf="addOnDisplay"> 
        <div data-target=".navbar" data-offset="60" class="add-ons-container">        
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="addons-header"><div class="addons-header-text">Add some extra Love to win their Hearts<span style="font-weight:bold;" class="pull-right"><a routerLink="/cart">X</a></span></div></div>
        
          <div class="add-nav-box">
            <div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
       
        <li [class.active]="fragment==='section11'" *ngIf="rakhispecial.length !=0"><a (click)="onClick('section11')" href="javascript:void(0)" >Rakhi Special</a></li>  
        <li [class.active]="fragment==='section1'" *ngIf="topselling.length !=0"><a (click)="onClick('section1')" href="javascript:void(0)">Top Selling</a></li>
        <li [class.active]="fragment==='section2'" *ngIf="cakes.length !=0">
         
          <a (click)="onClick('section2')" href="javascript:void(0)" id="section2-tab" data-bs-toggle="tab" data-bs-target="#section2" type="button" role="tab" aria-controls="section2" aria-selected="true">Cakes</a></li>
        <li [class.active]="fragment==='section3'" *ngIf="flowers.length !=0"><a (click)="onClick('section3')" href="javascript:void(0)">Flowers</a></li>
        <li [class.active]="fragment==='section4'" *ngIf="chocolates.length !=0"><a (click)="onClick('section4')" href="javascript:void(0)">Chocolates</a></li>
        <li [class.active]="fragment==='section5'" *ngIf="gifts.length !=0"><a (click)="onClick('section5')" href="javascript:void(0)">Gifts</a></li>  
        <li [class.active]="fragment==='section6'" *ngIf="sweets.length !=0"><a (click)="onClick('section6')" href="javascript:void(0)">Sweets</a></li> 
        <li [class.active]="fragment==='section7'" *ngIf="dry_friuts.length !=0"><a (click)="onClick('section7')" href="javascript:void(0)">Dry Fruits</a></li>  
        <li [class.active]="fragment==='section8'" *ngIf="greeting_cards.length !=0"><a (click)="onClick('section8')" href="javascript:void(0)">Greeting Cards</a></li>  
        <li [class.active]="fragment==='section9'" *ngIf="forher.length !=0"><a (click)="onClick('section9')" href="javascript:void(0)">For Her</a></li>  
        <li [class.active]="fragment==='section10'" *ngIf="forhim.length !=0"><a (click)="onClick('section10')" href="javascript:void(0)">For Him</a></li>  			
      </ul>
              </div>
            </div>
          </div>
        </nav>  
     
        
        <div id="section11" class="add-ons-section">
        <div class="addons-box">
          <div class="product-list-box">
                                <div class="add-product-item-box" *ngFor="let rs of rakhispecial">
                                  <label for="check_rakhispecial{{rs.product_id}}" class="add-ons-label">
                                  <div class="product-item">
                                    <div class="product-image"> 
                                      <img loading="lazy"  alt="Price Surprise" class="lazy first-image"  width="100%" [src]="rs.thumb" style="display: block;" title="{{rs.name}}" >
                                     </div>
                                    <div class="product-details">
                                      <div style="height:60px">
                                      <div class="add-ons-pp-name">{{rs.name}}</div>
                                      <div class="add-ons-pp-price">Rs. {{rs.price}}</div>
                                    </div>
                                      <div class="addons-check-box">
                                        <input class="add-ons-checkbox check_add" value="{{rs.product_id}}" id="check_rakhispecial{{rs.product_id}}" name="addonId" price="rs.price" (change)="addAddonProduct(rs.product_id)" type="checkbox" />
                                        <input type="hidden" name="qty" id="qty_{{rs.product_id}}" value="1">
                                      </div>
                                    </div>
                                  </div>
                                  </label>
                                </div>
          </div>
        </div>
        </div>
        
        
        <div id="section1">
        <div class="addons-box">
          <div class="product-list-box">
                                <div class="add-product-item-box" *ngFor="let rs of topselling">
                                  <label for="check_topselling{{rs.product_id}}" class="add-ons-label">
                                  <div class="product-item">
                                    <div class="product-image"> 
                                      <img loading="lazy"  alt="Price Surprise" class="lazy first-image"  width="100%" src="{{rs.thumb}}" style="display: block;" title="{{rs.name}}" >
                                     </div>
                                    <div class="product-details">
                                    <div style="height:60px">
                                      <div class="add-ons-pp-name">{{rs.name}}</div>
                                      <div class="add-ons-pp-price">Rs. {{rs.price}}</div>
                                    </div>
                                      <div class="addons-check-box">
                                        <input class="add-ons-checkbox check_add" id="check_topselling{{rs.product_id}}" name="addonId" value="{{rs.product_id}}" price="rs.price" (change)="addAddonProduct(rs.product_id)" type="checkbox" />
                                        <input type="hidden" name="qty" id="qty_{{rs.product_id}}" value="1">
        
                                      </div>
                                    </div>
                                  </div>
                                  </label>
                                </div>
        
          </div>
        </div>
        </div>
        
        <div id="section2">
        <div class="addons-box">
          <div class="product-list-box">
                                <div class="add-product-item-box " *ngFor="let rs of cakes">
                                  <label for="check_cakes{{rs.product_id}}" class="add-ons-label">
                                  <div class="product-item">
                                    <div class="product-image"> 
                                      <img loading="lazy"  alt="Price Surprise" class="lazy first-image"  width="100%" src="{{rs.thumb}}" style="display: block;" title="{{rs.name}}" >
                                     </div>
                                    <div class="product-details">
                                      <div style="height:60px">
                                      <div class="add-ons-pp-name">{{rs.name}}</div>
                                      <div class="add-ons-pp-price">Rs. {{rs.price}}</div>
                                    </div>
                                      <div class="addons-check-box">
                                        <input class="add-ons-checkbox check_add" id="check_cakes{{rs.product_id}}" name="addonId" type="checkbox" (change)="addAddonProduct(rs.product_id)" price="rs.price" value="{{rs.product_id}}" />
                                       <input type="hidden" name="qty"  id="qty_{{rs.product_id}}" value="1">
                                      </div>
                                    </div>
                                  </div>
                                  </label>
                                </div>
          </div>
        </div>
        </div>
        <div id="section3" class="add-ons-section">
        <div class="addons-box">
          <div class="product-list-box">
                                <div class="add-product-item-box " *ngFor="let rs of flowers">
                                  <label for="check_flowers{{rs.product_id}}" class="add-ons-label">
                                  <div class="product-item">
                                    <div class="product-image"> 
                                      <img loading="lazy"  alt="Price Surprise" class="lazy first-image"  width="100%" src="{{rs.thumb}}" style="display: block;" title="{{rs.name}}" >
                                     </div>
                                    <div class="product-details">
                                      <div style="height:60px">
                                      <div class="add-ons-pp-name">{{rs.name}}</div>
                                      <div class="add-ons-pp-price">Rs. {{rs.price}}</div>
                                    </div>
                                      <div class="addons-check-box">
                                        <input class="add-ons-checkbox check_add" id="check_flowers{{rs.product_id}}" name="addonId" type="checkbox" (change)="addAddonProduct(rs.product_id)" price="rs.price" value="{{rs.product_id}}" />
                                        <input type="hidden" name="qty" id="qty_{{rs.product_id}}" value="1">
                                      </div>
                                    </div>
                                  </div>
                                  </label>
                                </div>
          </div>
        </div>
        </div>
        <div id="section4">
        <div class="addons-box">
          <div class="product-list-box">
                                <div class="add-product-item-box " *ngFor="let rs of chocolates">
                                  <label for="check_chocolates{{rs.product_id}}" class="add-ons-label">
                                  <div class="product-item">
                                    <div class="product-image"> 
                                      <img loading="lazy"  alt="Price Surprise" class="lazy first-image"  width="100%" src="{{rs.thumb}}" style="display: block;" title="{{rs.name}}" >
                                     </div>
                                    <div class="product-details">
                                      <div style="height:60px">
                                      <div class="add-ons-pp-name">{{rs.name}}</div>
                                      <div class="add-ons-pp-price">Rs. {{rs.price}}</div>
                                    </div>
                                      <div class="addons-check-box">
                                        <input class="add-ons-checkbox check_add" value="{{rs.product_id}}" id="check_chocolates{{rs.product_id}}" price="rs.price" name="addonId" (change)="addAddonProduct(rs.product_id)" type="checkbox" />
                                        <input type="hidden" name="qty" id="qty_{{rs.product_id}}" value="1">
                                      </div>
                                    </div>
                                  </div>
                                  </label>
                                </div>
          </div>
        </div>
        </div>
        <div id="section5" class="add-ons-section">
        <div class="addons-box">
          <div class="product-list-box">
                                <div class="add-product-item-box " *ngFor="let rs of gifts">
                                  <label for="check_gifts{{rs.product_id}}" class="add-ons-label">
                                  <div class="product-item">
                                    <div class="product-image"> 
                                      <img loading="lazy"  alt="Price Surprise" class="lazy first-image"  width="100%" src="{{rs.thumb}}" style="display: block;" title="{{rs.name}}" >
                                     </div>
                                    <div class="product-details">
                                      <div style="height:60px">
                                      <div class="add-ons-pp-name">{{rs.name}}</div>
                                      <div class="add-ons-pp-price">Rs. {{rs.price}}</div>
                                    </div>
                                      <div class="addons-check-box">
                                        <input class="add-ons-checkbox check_add" value="{{rs.product_id}}" id="check_gifts{{rs.product_id}}" price="rs.price"  name="addonId" (change)="addAddonProduct(rs.product_id)" type="checkbox" />
                                        <input type="hidden" name="qty" id="qty_{{rs.product_id}}" value="1">
                                      </div>
                                    </div>
                                  </div>
                                  </label>
                                </div>
          </div>
        </div>
        </div>
        <div id="section6">
        <div class="addons-box">
          <div class="product-list-box">
                                <div class="add-product-item-box " *ngFor="let rs of sweets">
                                  <label for="check_sweets{{rs.product_id}}" class="add-ons-label">
                                  <div class="product-item">
                                    <div class="product-image"> 
                                      <img loading="lazy"  alt="Price Surprise" class="lazy first-image"  width="100%" src="{{rs.thumb}}" style="display: block;" title="{{rs.name}}" >
                                     </div>
                                    <div class="product-details">
                                      <div style="height:60px">
                                      <div class="add-ons-pp-name">{{rs.name}}</div>
                                      <div class="add-ons-pp-price">Rs. {{rs.price}}</div>
                                    </div>
                                      <div class="addons-check-box">
                                        <input class="add-ons-checkbox check_add" value="{{rs.product_id}}" id="check_sweets{{rs.product_id}}" price="rs.price"  name="addonId" (change)="addAddonProduct(rs.product_id)" type="checkbox" />
                                        <input type="hidden" name="qty" id="qty_{{rs.product_id}}" value="1">
                                      </div>
                                    </div>
                                  </div>
                                  </label>
                                </div>
          </div>
        </div>
        </div>
        
        <div id="section7" class="add-ons-section">
        <div class="addons-box">
          <div class="product-list-box">
                                <div class="add-product-item-box " *ngFor="let rs of dry_friuts">
                                  <label for="check_sweets{{rs.product_id}}" class="add-ons-label">
                                  <div class="product-item">
                                    <div class="product-image"> 
                                      <img loading="lazy"  alt="Price Surprise" class="lazy first-image"  width="100%" src="{{rs.thumb}}" style="display: block;" title="{{rs.name}}" >
                                     </div>
                                    <div class="product-details">
                                      <div style="height:60px">
                                      <div class="add-ons-pp-name">{{rs.name}}</div>
                                      <div class="add-ons-pp-price">Rs. {{rs.price}}</div>
                      </div>
                                      <div class="addons-check-box">
                                        <input class="add-ons-checkbox check_add" value="{{rs.product_id}}" id="check_sweets{{rs.product_id}}" price="rs.price"  name="addonId"  (change)="addAddonProduct(rs.product_id)" type="checkbox" />
                                        <input type="hidden" name="qty" id="qty_{{rs.product_id}}" value="1">
                                      </div>
                                    </div>
                                  </div>
                                  </label>
                                </div>
          </div>
        </div>
        </div>
        <div id="section8" class="add-ons-section">
        <div class="addons-box">
          <div class="product-list-box">
                                <div class="add-product-item-box " *ngFor="let rs of greeting_cards">
                                  <label for="check_sweets{{rs.product_id}}" class="add-ons-label">
                                  <div class="product-item">
                                    <div class="product-image"> 
                                      <img loading="lazy"  alt="Price Surprise" class="lazy first-image"  width="100%" src="{{rs.thumb}}" style="display: block;" title="{{rs.name}}" >
                                     </div>
                                    <div class="product-details">
                                      <div style="height:60px">
                                      <div class="add-ons-pp-name">{{rs.name}}</div>
                                      <div class="add-ons-pp-price">Rs. {{rs.price}}</div>
                      </div>
                                      <div class="addons-check-box">
                                        <input class="add-ons-checkbox check_add" value="{{rs.product_id}}" id="check_sweets{{rs.product_id}}" price="rs.price"  name="addonId" (change)="addAddonProduct(rs.product_id)" type="checkbox" />
                                        <input type="hidden" name="qty" id="qty_{{rs.product_id}}" value="1">
                                      </div>
                                    </div>
                                  </div>
                                  </label>
                                </div>
          </div>
        </div>
        </div>
        <div id="section9" class="add-ons-section">
        <div class="addons-box">
          <div class="product-list-box">
                                <div class="add-product-item-box " *ngFor="let rs of forher">
                                  <label for="check_sweets{{rs.product_id}}" class="add-ons-label">
                                  <div class="product-item">
                                    <div class="product-image"> 
                                      <img loading="lazy"  alt="Price Surprise" class="lazy first-image"  width="100%" src="{{rs.thumb}}" style="display: block;" title="{{rs.name}}" >
                                     </div>
                                    <div class="product-details">
                                      <div style="height:60px">
                                      <div class="add-ons-pp-name">{{rs.name}}</div>
                                      <div class="add-ons-pp-price">Rs. {{rs.price}}</div>
                      </div>
                                      <div class="addons-check-box">
                                        <input class="add-ons-checkbox check_add" value="{{rs.product_id}}" id="check_sweets{{rs.product_id}}" price="rs.price"  name="addonId" (change)="addAddonProduct(rs.product_id)" type="checkbox" />
                                        <input type="hidden" name="qty" id="qty_{{rs.product_id}}" value="1">
                                      </div>
                                    </div>
                                  </div>
                                  </label>
                                </div>
          </div>
        </div>
        </div>
        <div id="section10" class="add-ons-section">
        <div class="addons-box">
          <div class="product-list-box">
                                <div class="add-product-item-box " *ngFor="let rs of forhim">
                                  <label for="check_sweets{{rs.product_id}}" class="add-ons-label">
                                  <div class="product-item">
                                    <div class="product-image"> 
                                      <img loading="lazy"  alt="Price Surprise" class="lazy first-image"  width="100%" src="{{rs.thumb}}" style="display: block;" title="{{rs.name}}" >
                                     </div>
                                    <div class="product-details">
                                      <div style="height:60px">
                                      <div class="add-ons-pp-name">{{rs.name}}</div>
                                      <div class="add-ons-pp-price">Rs. {{rs.price}}</div>
                      </div>
                                      <div class="addons-check-box">
                                        <input class="add-ons-checkbox check_add" value="{{rs.product_id}}" id="check_sweets{{rs.product_id}}" price="rs.price"  name="addonId" (change)="addAddonProduct(rs.product_id)" type="checkbox" />
                                        <input type="hidden" name="qty" id="qty_{{rs.product_id}}" value="1">
                                      </div>
                                    </div>
                                  </div>
                                  </label>
                                </div>
          </div>
        </div>
        </div>
        
        
        
        </div>
       
        <div class="add-ons-bottom">
        <div class="add-ons-box">
        
        <button type="button" class="btn-addons btn cont" (click)="goToCart()">Continue</button>
        <button *ngIf="choosed_product_amount==0" type="button" class="nothanks" (click)="goToCart()">SKIP</button>
        <div class="addon-wrap" id="showTotle" *ngIf="choosed_product_count!=0">
            <span class="total" id="totalAddon"></span>{{choosed_product_count}} Add On Selected<br>
            Total: Rs. <span class="total" id="total">{{choosed_product_amount}}</span>
        </div>
        </div>
        </div> 
    </div>

    