 .loginbox{width:80%;height:auto;background-color:#fff;margin:40px auto 0;padding:20px;box-shadow:0 2px 15px rgba(0,0,0,.1)}
@media only screen and (max-width:500px){ .loginbox{width:100%;height:auto;background-color:#fff;margin:10px auto 0;padding:25px;box-shadow:0 2px 15px rgba(0,0,0,.1)}}
 .containerhwlogin{min-height:650px;padding-top:10px; margin-top: 0px !important;}

@media screen and (max-width:760px) {
    .containerhwlogin{
        margin-top: 0px !important;
    }
}
 table.borderless tr{padding:2px 2px 2px 10px}
 table.borderless tr td{border:none;padding:5px;font-size:13px}
 .editpopup{float:right;border-radius:3px;font-size:12px;cursor:pointer;color:#09C}
 .notesbox{max-height:300px;overflow:auto}
 .notesbox::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);border-radius:10px;background-color:#F5F5F5}
 .notesbox::-webkit-scrollbar{width:7px;background-color:#F5F5F5}
 .notesbox::-webkit-scrollbar-thumb{border-radius:12px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#CCC}
 div.stars{width:270px;display:inline-block}
 .panel-default{border:1px solid #e8e8e8;border-top:1px solid #e8e8e8}
 .infohead{background-color:#f0f0f0;padding:6px;font-size:13px;margin-bottom:10px;font-weight:600}
 .panel-default .panel-heading{color:#595959;border-color:#e8e8e8;background:#F0F0F0}
 input.star{display:none}
 label.star{float:right;padding:10px;font-size:36px;color:#444;transition:all .2s}
 input.star:checked~label.star:before{content:'\f005';color:#FD4;transition:all .25s}
 input.star-5:checked~label.star:before{color:#FE7;text-shadow:0 0 20px #952}
 input.star-1:checked~label.star:before{color:#F62}
 label.star:hover{transform:rotate(-15deg) scale(1.3)}
 label.star:before{content:'\f006';font-family:FontAwesome}
