<!-- <app-cartheader></app-cartheader> -->
<section id="checkout-login">
  <div class="container-fluid containerhwlogin" style="background-color:#DBF4E6;">
    <div class="row ">
    <div class="col-md-12">
      <div class="loginbox">


        <div class="loginheading" *ngIf="message !=''">
            {{message}}
        </div>
	    <div class="loginheading" style="margin-bottom:10px;" *ngIf="message==''">
		Personalised Image
		</div>
			<div *ngIf="message==''">  
		   <div class="row">
		  		<div class="col-md-12 personaimg">				
				  <div class="form-group" >
					<label class="col-md-2 control-label" for="input-customer">Image</label>
					<div class="col-sm-10">
					  <input class="effect-16 effect" type="file" name="personalised_img[]" (change)="uploadFile($event)" id="input-file-1">
                   	
                    <span class="focus-border"></span>
					 <span class="error_input-file-1 error-message" style="color: red;"></span>
					</div>
				  </div>
				  <div class="form-group change">
			  			<label class="col-md-2 control-label" for="input-customer"></label>
						<div class="col-sm-10">
			  				<a href="javascript:void(0)" class="addmore" (click)="AddMore()">Add More</a>
			  			</div>
                </div>
                  </div>
                  <div class="col-md-12 personaimg" *ngFor="img_num of images;index as i;">				
                    <div class="form-group" >
                      <label class="col-md-2 control-label" for="input-customer">Image</label>
                      <div class="col-sm-10">
                        <input class="effect-16 effect" type="file" name="personalised_img[]" (change)="uploadFile($event)" id="input-file-1">
                         
                      <span class="focus-border"></span>
                       <span class="error_input-file-1 error-message" style="color: red;"></span>
                      </div>
                    </div>
                    <div class="form-group change">
                            <label class="col-md-2 control-label" for="input-customer"></label>
                          <div class="col-sm-10">
                                <a href="javascript:void(0)" class="btn btn-danger remove" (click)="remove(i)">- Remove</a>
                            </div>
                  </div>
                    </div>
		  </div>		  
			   <div class="row">
		  <div class="col-md-12">
				  <div class="form-group">
					<div class="col-sm-12">
						<button type="submit" (click)="personalizedFormSubmit()" class="btn btn-success pull-right">Submit</button>
					</div>
				  </div>				
			  </div>
          </div> 
          <div class="row" *ngIf="error !=''"> 
            <div class="col-md-12" style="color: red;">
                {{error}}			
            </div>
            </div> 
        </div>	
        </div>
      </div>
      </div>
    </div>

</section>


<div id="resultLoading" style="width: 100%; height: 100%; position: fixed; z-index: 10000000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; display:none;"><div style="width: 250px; height: 75px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; font-size: 16px; z-index: 10; color: rgb(255, 255, 255);">
<img loading="lazy"  src="{{CDN_PATH}}live-new/images/full_page_loader.gif"><div></div></div><div class="bg" style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div></div>
