<link rel="stylesheet" [href]="cssDy.stylecss">

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<a href="/cakes">
  <img src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/product-image/banner-2021/1620872830cake-of-joy-desktop-1440x400.jpg" loading="lazy"  class="w-100">
</a>

<!-- <swiper *ngIf="showbanner && isDataFetched" [config]="config" class="swiper-container">
  <div class="swiper-wrapper">
     <div class="swiper-slide" *ngFor="let banner of banners">
      <a routerLink="{{banner?.link}}"> <img loading="lazy"  class="w-100" alt="{{banner?.title}}" [src]="banner?.image"> </a>   
    </div>  

  </div>
  
  <div class="swiper-pagination"></div>
  
 <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>  -->

<div class="body-box">

  <ngx-skeleton-loader [count]="totalCount" appearance="circle" *ngIf="!isDataFetched" [theme]="{ width: '100px', height: '100px', marginLeft:'40px' }"> </ngx-skeleton-loader>
  <div class="" *ngIf="isDataFetched">
    <div class="data surprise-for hidden-xs">
      <ul>      

        <li class="leaf">
          <a routerLink="/birthday">
            <span class="icon">
              <img loading="lazy"   style="background: #ffecef;" src="{{CDN_PATH}}2021/home_new/birthday11.jpg" alt="Birthday" title="Birthday">
            </span>
            <span class="category">Birthday</span>
          </a>
        </li>

        <li class="leaf">
          <a routerLink="/flowers">
            <span class="icon">
              <img loading="lazy"   style="background: #f5efb0;" src="{{CDN_PATH}}2021/home_new/flower.png" alt="Online Flower Delivery" title="Online Flowers Delivery">
            </span>
            <span class="category">Flowers</span>
          </a>
        </li>

        <li class="leaf">
          <a routerLink="/cakes">
            <span class="icon">
              <img loading="lazy"   style="background: #ffeabc;" src="{{CDN_PATH}}2021/home_new/cakes.png" alt="Online Cake Delivery" title="Online Cake Delivery">
            </span>
            <span class="category">Cakes</span>
          </a>
        </li>

        <li class="leaf">
        <a routerLink="/plants">
          <span class="icon">
            <img loading="lazy"   style="background: #f0ffcc;" src="{{CDN_PATH}}2021/home_new/plants.png" alt="Online Plant Delivery" title="Online Plant Delivery">
          </span>
          <span class="category">Plants</span></a>
        </li>

        <li class="leaf">
        <a routerLink="/anniversary">
          <span class="icon">
            <img loading="lazy"   style="background: #dcf5ff;" src="{{CDN_PATH}}2021/home_new/anniversary.png" alt="Anniversary Gifts Online" title="Anniversary Gifts Online">
          </span>
          <span class="category">Anniversary</span></a>
        </li>

        <li class="leaf"><a routerLink="/personalised-gifts">
          <span class="icon">
            <img loading="lazy"   style="background: #efe5ff;" src="{{CDN_PATH}}2021/home_new/personalised.jpg" alt="Personalised Gifts Online" title="Personalised Gifts Online">
          </span>
          <span class="category">Personalised</span>
        </a>
      </li>

        <li class="leaf">
          <a routerLink="/combos">
            <span class="icon">
              <img loading="lazy"   style="background: #ffdce6;" src="{{CDN_PATH}}2021/home_new/combos.jpg">
            </span>
            <span class="category">Combos</span>
          </a>
        </li>

        
      
      </ul>

    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="mft-product-itm-list">
        <div class="mft-product-itm-list-inner">
          <div class="box-cover text-center hidden-lg hidden-md">
            <a routerLink="/birthday"><img loading="lazy"   src="{{CDN_PATH}}2021/home/valentine-1.jpg" title="Birthday Gifts" alt="Birthday Gifts">
              <div class="mft-text-product"><span>Birthday</span></div>
            </a>
          </div>
      
          <div class="box-cover text-center">
              <a routerLink="/anniversary"><img loading="lazy"   src="{{CDN_PATH}}2021/home_new/anniversary1.jpg" title="Anniversary" alt="Anniversary">
              <div class="mft-text-product"><span>Anniversary</span></div>
              </a>
          </div>
      
          <div class="box-cover text-center">
            <a routerLink="/flowers"><img loading="lazy"   src="{{CDN_PATH}}2021/home_new/flowers.jpg" title="Flowers" alt="Flowers">
            <div class="mft-text-product"><span>Flowers</span></div>
            </a>
          </div>
      
          <div class="box-cover text-center">
            <a routerLink="/cakes"><img loading="lazy"   src="{{CDN_PATH}}2021/home_new/cake.jpg" title="Cakes" alt="Cakes">
            <div class="mft-text-product"><span>Cakes</span></div>
            </a>
          </div>
      
          <div class="box-cover text-center">
            <a routerLink="/personalised-gifts"><img loading="lazy"   src="{{CDN_PATH}}2021/home_new/personalised1.jpg" title="Personalised" alt="Personalised">
            <div class="mft-text-product"><span>Personalised</span></div>
            </a>
          </div>
      
          <div class="box-cover text-center">
            <a routerLink="/plants"><img loading="lazy"   src="{{CDN_PATH}}2021/home_new/plants1.jpg" title="Plants" alt="Plants">
            <div class="mft-text-product"><span>Plants</span></div>
            </a>
          </div>
      
          <div class="box-cover text-center">
            <a routerLink="/combos"><img loading="lazy"   src="{{CDN_PATH}}2021/home_new/combos1.jpg" title="Combos" alt="Combos">
            <div class="mft-text-product"><span>Combos</span></div>
            </a>
          </div>
      
          <div class="box-cover text-center hidden-lg hidden-md hidden-xs hidden-sm">
            <a routerLink="/barbie-cakes"><img loading="lazy"   src="{{CDN_PATH}}2021/home/barbie-cakes.jpg" title="Barbie Cakes" alt="Barbie Cakes">
            <div class="mft-text-product"><span>Barbie Cakes</span></div>
            </a>
          </div>
      
          <div class="box-cover text-center">
            <a routerLink="/chocolate-bouquets"><img loading="lazy"   src="{{CDN_PATH}}2021/home_new/chocolate-bouqute.jpg" title="Chocolate Bouquets" align="Chocolate Bouquets">
            <div class="mft-text-product"><span>Chocolate Bouquets</span></div>
            </a>
          </div>
      
          <div class="box-cover text-center">
            <a routerLink="/flowers/delhi"><img loading="lazy"   src="{{CDN_PATH}}2021/home_new/delhi-ncr-special.jpg" title="Delhi NCR Special" alt="Delhi NCR Special">
            <div class="mft-text-product"><span>Delhi NCR Special</span></div>
            </a>
          </div>
      
        </div>
      
      </div>
    
    </div>
  
  </div>

  <div class="container">
    <div class="mft-timer">
      
      <div class="">
        <div class="hidden-xs"><a routerLink="/same-day-delivery">
          <img loading="lazy"   style="width:100%;" src="{{CDN_PATH}}2021/home/same-day-delivery.jpg" title="Gifts Same Day Delivery" alt="Gifts Same Day Delivery"></a>
        </div>
  
        <div class="hidden-lg hidden-md hidden-sm"><a routerLink="/same-day-delivery">
          <img loading="lazy"   style="width:100%;" src="{{CDN_PATH}}2021/home/same-day-delivery-mobile.jpg" title="Gifts Same Day Delivery" alt="Gifts Same Day Delivery"></a>
        </div>
  
      </div>
  
  
  
      <div class="time-left-delivery-box pull-left">
        <span>Time Left for Today's Delivery</span>
        <p id="mft-time">23h 40m 17s </p>
      </div>
  
      <div class="explore-now-mft pull-right">
        <button class="mft-explore-but"><a routerLink="/same-day-delivery">ORDER NOW</a></button>
      </div>
  
    </div>
    
  </div>



  <div class="container">
    <div class="">
      <div class="designer-banner">
  
        
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row">
              <a routerLink="/gifts/for-her">
                  <img loading="lazy"   style="width:100%;" src="{{CDN_PATH}}2021/home/for-her.jpg" alt="Gifts for Her" title="Gifts for Her">
              </a>
            </div>
  
          </div>
  
       
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row">
              <a routerLink="/gifts/for-him">
  
                <img loading="lazy"   style="width:100%;" src="{{CDN_PATH}}2021/home/for-him.jpg" alt="Gifts for him" title="Gifts for him">
              </a>
            </div>
  
          </div>
  
        
      </div>
  
    </div>
  
  </div>



  <!--<div class="home-box">
    <div class="row">
      <h2>What are you looking for?</h2>
      <div class="data surprise-for">
        <ul>
        <li class="leaf"> <a routerLink="/same-day-delivery"> <span class="icon"><img loading="lazy"   src="{{CDN_PATH}}2019/home-page/delivery.jpg" alt="Same Day Delivery" title="Same Day Gifts Delivery"/></span> <span class="category">Same Day Gifts</span> </a> </li>
        <li class="leaf"> <a routerLink="/flowers"> <span class="icon"><img loading="lazy"   src="{{CDN_PATH}}2019/homepage/flowers.jpg" alt="Online Flower Delivery" title="Online Flowers Delivery"/></span> <span class="category">Flowers</span> </a> </li>
        <li class="leaf"> <a routerLink="/cakes"> <span class="icon"><img loading="lazy"   src="{{CDN_PATH}}2019/home-page/cakes-3.jpg" alt="Online Cake Delivery" title="Online Cake Delivery"/></span> <span class="category">Cakes</span></a> </li>
        <li class="leaf"> <a routerLink="/combos"> <span class="icon"><img loading="lazy"   src="{{CDN_PATH}}2019/homepage/combos.jpg"/></span> <span class="category">Combos</span> </a> </li>
        <li class="leaf"> <a routerLink="/personalised-gifts"> <span class="icon"><img loading="lazy"   src="{{CDN_PATH}}2019/home-page/personalised.jpg"  alt="Personalised Gifts Online" title="Personalised Gifts Online" /></span> <span class="category">Personalised</span> </a> </li>
        <li class="leaf"> <a routerLink="/plants"> <span class="icon"><img loading="lazy"   src="{{CDN_PATH}}2019/homepage/plants-2.jpg" alt="Online Plant Delivery" title="Online Plant Delivery"/></span> <span class="category">Plants</span> </a> </li>
        
        </ul>
      </div>
    </div>
  
  </div>-->


<!---->
<div class="row catprrw Cakes cakesmft" *ngIf='best_products?.length > 0'>
  <div class="container">
    <div class="products-wrap">
      <div class="main-heading">
        <h2 class="pri-heading">Best Seller</h2>
        <a routerLink="/best-sellers"><span class="view-all">View All</span></a></div>
      <div class="products-inner">
        <ul>
          <li class="leaf" [ngClass]="{'first':i==0,'last':i==3}" *ngFor='let product of best_products ;let i = index'>
            <a (click)="productClick(product.product_id)" routerLink="{{product.keyw}}" >
            <div class="pro-img"><img loading="lazy"   [src]="product.image"></div>
            <div class="pro-desc">
              <div class="pro-name"> {{ product.product_name }}</div>
              <div class="price" *ngIf="product.special == null; else elseBestBlock">Rs. {{ product.price | number}}</div>
              <ng-template #elseBestBlock>
                <div class="price"> Rs. {{ product.special | number}}
                  <span class="list-price"> Rs. {{ product.price | number}}</span>
                </div>
              </ng-template>

            </div>

            <div class="product-list-time" *ngIf="(product.product_type=='Gifts' || product.manufacturer =='IS');else deliveryBestBlock">
              <div *ngIf="(product.current_hour < '17');then bestblockOne else bestblockTwo">here is ignored</div>    
              <ng-template #bestblockOne>Earliest Delivery:<span class='green-text'>Today.</span></ng-template>
              <ng-template #bestblockTwo>Earliest Delivery:<span class='green-text'>Tomorrow.</span></ng-template>
          </div>
      
          <ng-template #deliveryBestBlock>
              <div class="product-list-time">Earliest Delivery:<span class="green-text">{{product.expected_delivery}}</span>.</div>
          </ng-template>  
          </a></li>
        
        </ul>
      </div>
      <div class="view-all-mobile"><a routerLink="/best-sellers"><span class="m-view-all">View All</span></a></div>
    </div>
  </div>
</div>
<div class="row catprrw Cakes cakesmft" >
  <div class="container">
    <div class="products-wrap" *ngFor='let home of home_data;'>
      <div class="main-heading">
        <h2 class="pri-heading">{{ home.category_name}}</h2>
        <a routerLink="/{{home.url}}"><span class="view-all">View All</span></a></div>
      <div class="products-inner">
        <ul>
          <!--(click)="productClick(product.product_id)"-->
          <li class="leaf" [ngClass]="{'first':i==0,'last':i==3}" *ngFor='let product of home.products ;let i = index'>
            <a (click)="productClick(product.product_id)" routerLink="/{{product.href}}" >
            <div class="pro-img"><img loading="lazy"   [src]="product.image"></div>
            <div class="pro-desc">
              <div class="pro-name"> {{ product.product_name }}</div>
              <div class="price" *ngIf="product.special == 0; else elseHomeBlock">Rs. {{ product.price }}</div>
              <ng-template #elseHomeBlock>
                <div class="price"> Rs. {{ product.special | number}}
                  <span class="list-price"> Rs. {{ product.price | number}}</span>
                </div>
              </ng-template>
            </div>

            <div class="product-list-time" *ngIf="(product.product_type=='Gifts' || product.manufacturer =='IS');else deliveryBlock">
              <div *ngIf="(product.current_hour < '17');then timeblockOne else timeblockTwo">here is ignored</div>    
              <ng-template #timeblockOne>Earliest Delivery:<span class='green-text'>Today.</span></ng-template>
              <ng-template #timeblockTwo>Earliest Delivery:<span class='green-text'>Tomorrow.</span></ng-template>
          </div>
      
          <ng-template #deliveryBlock>
              <div class="product-list-time">Earliest Delivery:<span class="green-text">{{product.expected_delivery}}</span>.</div>
          </ng-template>  
          </a></li>
        
        </ul>
      </div>
      <div class="view-all-mobile"><a routerLink="{{home.url}}"><span class="m-view-all">View All</span></a></div>
    </div>
  </div>
</div>
<!---->

<div class="container">
  <div class="">
    <div class="designer-banner margin-common1">

      
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="row"><a routerLink="/eggless-cakes">
          <img loading="lazy"   style="width:100%;" src="{{CDN_PATH}}2021/home/eggless-cake.jpg" alt="Eggless Cakes" title="Eggless Cakes">
        </a></div>

        </div>

     
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="row"><a routerLink="/sugarfree-cakes">
          <img loading="lazy"   style="width:100%;" src="{{CDN_PATH}}2021/home/sugar-free-cakes.jpg" alt="Sugar Free Cakes" title="Sugar Free Cakes"></a>
        </div>

        </div>

      
    </div>

  </div>

</div>



<div class="container">
  <div class="">
  <div class="designer-cakes hidden-xs"><a routerLink="/flowers-in-a-box">
<img loading="lazy"   src="{{CDN_PATH}}2021/home/signature-box.jpg" title="Signature Box" alt="Signature Box"></a>
</div>

 <div class="designer-cakes hidden-lg hidden-md hidden-sm"><a routerLink="/flowers-in-a-box">
<img loading="lazy"   src="{{CDN_PATH}}2021/home/signature-box-mobile.jpg" title="Signature Box" alt="Signature Box"></a>
</div>

</div>

</div>


<div class="container">
  <div class="row">
<div class="mft-main-heading">

<div class="mft-product-itm-list">
<div class="mft-product-itm-list-inner">
    <div class="col2">
<div class="full-width full-banner">
<a routerLink="/personalised-gifts">
<img loading="lazy"   src="{{CDN_PATH}}2021/home/personalised-gifts.jpg" alt="Personalised Gifts" title="Personalised Gifts">
</a>
</div>


</div>

 <div class="col2">
<div class="full-width">
<div class="categories">
<a routerLink="/personalised-mugs">
<div class="scalling-div">
<img loading="lazy"   src="{{CDN_PATH}}2021/home/mugs.jpg" alt="Mugs" title="Mugs">
</div>

</a>
</div>


</div>


<div class="full-width">
<div class="categories">
<a routerLink="/personalised-cushions">
<div class="scalling-div">
<img loading="lazy"   src="{{CDN_PATH}}2021/home/cushions.jpg" alt="Cushions" title="Cushions">
</div>

</a>
</div>


</div>

</div>

<div class="padding-10">
<div class="full-width">
<div class="categories"><a routerLink="/plants">
<img loading="lazy"   class="hidden-xs" src="{{CDN_PATH}}2021/home/plants-bestseller.jpg" title="Plants Bestsellers" alt="Plants Bestsellers">
<img loading="lazy"   class="hidden-lg hidden-md hidden-sm" src="{{CDN_PATH}}2021/home/plants-bestseller-mobile.jpg" title="Plants Bestsellers" alt="Plants Bestsellers"></a>
</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>


<div class="container">
  <div class="row">
<div class="mft-product-itm-list margin-common">
  <div class="mft-heading">
      <h2>Shop by Categories</h2>


    </div>


  <div class="mft-product-itm-list-inner">

     <a routerLink="/flowers">
    <div class="box-cover box-cover5 text-center">
      <img loading="lazy"   src="{{CDN_PATH}}2021/home_new/flowers-catg.jpg" alt="Flowers" title="Flowers">
      <div class="mft-text-product"><span>Flowers</span></div>


    </div>


  </a>
  <a routerLink="/cakes">
    <div class="box-cover box-cover5 text-center">
      <img loading="lazy"   src="{{CDN_PATH}}2021/home_new/cakes-catg.jpg" alt="Cakes" title="Cakes">
      <div class="mft-text-product"><span>Cakes</span></div>


    </div>


  </a>
  <a routerLink="/chocolates">
    <div class="box-cover box-cover5 text-center">
      <img loading="lazy"   src="{{CDN_PATH}}2021/home_new/chocolates-catg.jpg" alt="Chocolates" title="Chocolates">
      <div class="mft-text-product"><span>Chocolates</span></div>


    </div>


  </a>
    <a routerLink="/jewellery">
    <div class="box-cover box-cover5 text-center">
      <img loading="lazy"   src="{{CDN_PATH}}2021/home_new/jewellery-catg.jpg" alt="Jewellery" title="Jewellery">
      <div class="mft-text-product"><span>Jewellery</span></div>


    </div>


  </a>
  <a routerLink="/soft-toys">
    <div class="box-cover box-cover5 text-center">
      <img loading="lazy"   src="{{CDN_PATH}}2021/home_new/toys-catg.jpg" alt="Soft Toys" title="Soft Toys">
      <div class="mft-text-product"><span>Soft Toys</span></div>


    </div>


  </a>
  <a routerLink="/personalised-travel-accessories">
    <div class="box-cover box-cover5 text-center">
      <img loading="lazy"   src="{{CDN_PATH}}2021/home_new/accessories-catg.jpg" alt="Accessories" title="Accessories">
      <div class="mft-text-product"><span>Accessories</span></div>


    </div>


  </a>
</div>

  </div>

</div>

</div>


<div class="barnd-partners-section">
  
            

  <div class="col-xs-12 col-md-12 col-centered">
<div class="row">
<div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3500">

<div class="container">
 <div class="coporate_heading text-center"><h2>Trusted by Millions and Celebrities</h2>
</div>

<div class="carousel-inner">
 <div class="item">
   <div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/1celeb.jpg">
   </div>

 <div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/2celeb.jpg">
   </div>
<div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/3celeb.jpg">
   </div>
<div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/4celeb.jpg">
   </div>
</div>

 <div class="item active">
   <div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/2celeb.jpg">
   </div>

 <div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/3celeb.jpg">
   </div>
<div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/4celeb.jpg">
   </div>
<div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home/5celeb.jpg">
   </div>
</div>

 <div class="item">
   <div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/3celeb.jpg">
   </div>

 <div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/4celeb.jpg">
   </div>
<div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home/5celeb.jpg">
   </div>
<div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/1celeb.jpg">
   </div>
</div>

 <div class="item">
   <div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/4celeb.jpg">
   </div>

 <div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home/5celeb.jpg">
   </div>
<div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/1celeb.jpg">
   </div>
<div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/2celeb.jpg">
   </div>
</div>

 <div class="item">
   <div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home/5celeb.jpg">
   </div>

 <div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/1celeb.jpg">
   </div>
<div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/2celeb.jpg">
   </div>
<div class="carousel-col">
     <img loading="lazy"   class="img-responsive" alt="" title="" src="{{CDN_PATH}}2021/home_new/3celeb.jpg">
   </div>
</div>

</div>


<!-- Controls -->
<div class="left carousel-control">
 <a href="#carousel" role="button" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
   <span class="sr-only">Previous</span>
 </a>
</div>

<div class="right carousel-control">
 <a href="#carousel" role="button" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
   <span class="sr-only">Next</span>
 </a>
</div>

</div>

</div>

</div>

</div>

</div>






<style> 
  .reviews ul li{height:200px; font-family:mft-font;vertical-align: top;} .review-note{text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;} 
  </style>
    <div class="row reviews-row grey">
      <h2>Stories From Our Customers <span class="view-all"><a routerLink="reviews">view-all</a></span></h2>
      
      <div class="reviews">
        <ul>
          <li class="first leaf" *ngFor="let item of review">
            <div class="star">
              <a *ngFor="let items of reviewcount let i=index ">  
                
                
                <i><img loading="lazy"   src="{{CDN_PATH}}2019/new_home_page/images/star.png" alt="star" /></i> 
              </a>
              <span class="based-on"><span class="score">{{item.rating}}/5</span></span></div>
            <div class="review-name">{{item.author}}</div>
            <div class="date-time">{{item.date_added | date :'medium'}} </div>
            <div class="review-note">{{item.text}} </div>
            <div class="recomend"><img loading="lazy"   src="{{CDN_PATH}}2019/new_home_page/images/thumb-icon.svg" alt="thumb"> Recommended Our Service</div>
          </li>
          
        </ul>
      </div>
   


    </div>
    <div class="row reviews-wrap">
      <h2>What makes us the best</h2>
      <div class="home-usp">
        <ul>
          <li class="leaf first">
            <div class="icon"><img loading="lazy"   src="{{CDN_PATH}}2019/new_home_page/images/bouquet.svg" /></div>
            <div class="heading-usp">Delivery In 3 Hrs</div>
          </li>
          <li class="leaf">
            <div class="icon"><img loading="lazy"   src="{{CDN_PATH}}2019/new_home_page/images/smile.svg" /></div>
            <div class="heading-usp">Over 2 Million Smiles Delivered</div>
          </li>
          <li class="leaf last">
            <div class="icon"><img loading="lazy"   src="{{CDN_PATH}}2019/new_home_page/images/free-delivery.svg" /></div>
            <div class="heading-usp">Free Shipping</div>
          </li>
        </ul>
      </div>
    </div>



  <button type="button" (click)="showContent = !showContent" class="collapsible btn hidden-md hidden-lg" [ngClass]="{active:showContent}">Why Us? </button>

  

  <div class="content editor-content" *ngIf = "showContent" >
    <div id="journal-cms-block-1735549623" class="box cms-blocks " >
      <div class="blocks">
        <div class="cms-block xs-100 sm-100 md-100 lg-100 xl-100"><span class="block-content" style="background-color: rgb(255, 255, 255)">
          <div class="editor-content" style="text-align: left">
          <div></div> 
          <div  [innerHTML]="postss"></div>
          </div>
          </span></div>
      </div>
    </div>
    
<div class="row">
  <div class="col-md-12">
    <div class="blog-box">
      <h3>Fresh & Juicy Read from our Blogs<span class="pull-right small"><a target="_blank" routerLink="/blog">View all Blogs</a></span></h3>
      <ul>
        <li class="blog-items" *ngFor="let item of blog">
          <h4><a target="_blank" routerLink="/blog/{{item.post_name}}">{{item.post_title}}</a></h4>
          <p>{{item.post_excerpt |slice:0:300}} <a target="_blank" routerLink="/blog/{{item.post_name}}">Read More</a></p>
        </li>
        
      </ul>
    </div>
  </div>
    </div>
  </div>
  
  <div class="gmb_about"></div>
  <div class="gmb_nearby_location"></div>

</div>
  <ngx-json-ld [json]="schema"></ngx-json-ld>


  <!-- <app-footer></app-footer> -->
