<div class="body-box news-room-box">
    <ul class="breadcrumb">
        <li itemscope="" itemtype="https://data-vocabulary.org/Breadcrumb"><a routerLink="/" itemprop="url"><span itemprop="title"> Home</span></a></li>
        <li><span> News Room </span></li>
    </ul>
    <div>
        <div class="box-content ">
            <div class="heading-title">News Room</div>
            <div class="row margintop10">

                <div class="col-md-3" *ngFor="let newsd of newroomsdata" >
                    <span *ngIf="newsd.image">
                    <a target="_blank" routerLink="/dream-date"><img loading="lazy"  style="width:100%" src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/image/{{newsd.image}}" alt="Dream Date"></a>
                    </span>
                </div>
                
            </div>
        </div>
    </div>
</div>