<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="left-inner mft-checkout-login-form">
    <div class="step1 open" *ngIf="view!=5"><span class="count active">1</span>
        <div class="heading mft-checkout-login mft-checkout-login-heading" *ngIf="view==10">Login</div>
        <div class="heading mft-checkout-login mft-checkout-login-heading" *ngIf="view==1">Enter your Email ID to get Started</div>
        <div class="fields-wrap mft-checkout-login" *ngIf="view==1">
            <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
                <div class="input-wrap" id="login-email-block">
                    <label class="inp">
                        <input type="email" formControlName="login_email" class="field"
                            placeholder="Your Email Address">
                        <span class="label">Email</span><span class="edit" style="display:none;"
                            id="login_email_edit_image">
                            <img loading="lazy"  src="{{CDN_PATH}}2019/newcheckout/images/edit.svg"
                                alt="Edit"></span><span class="border"></span>
                        <span *ngIf="!loginForm.get('login_email').valid && loginForm.get('login_email').touched"
                            class="error-message">
                            <span *ngIf="loginForm.get('login_email').errors['required']">Please Enter Email</span>
                            <span *ngIf="loginForm.get('login_email').errors['email']">Please Enter Valid Email</span>
                        </span>
                    </label>
                </div>

                <div class="input-wrap" id="login-password-block" *ngIf="is_customer">
                    <label class="inp">
                        <input type="password" formControlName="login_password" class="field"
                            placeholder="Your Password" />
                        <span class="label">Password</span>
                        <span class="border"></span>
                        <span *ngIf="!loginForm.get('login_password').valid && loginForm.get('login_password').touched"
                            class="error-message">Please Enter Password</span>
                    </label>
                    
                </div>

                <div class="submit-btn">
                    <span *ngIf="is_customer">
                    <input id="checkloginotp" (click)="checkloginotp()" class="field" type="button" value="Login with OTP">
                    </span>
                     <input class="field" id="checklogin" type="submit" value="Continue">
                </div>
                <span *ngIf="error!=''" class="error-message">{{error}}</span>
            </form>
        </div>

        <div class="fields-wrap mft-checkout-login" *ngIf="view==10">
            <form [formGroup]="loginOTPForm" (ngSubmit)="submitLoginwithOTPForm()">
                <div class="input-wrap" id="login-email-block">
                    <label class="inp">
                        <input type="email" formControlName="login_OTP_email" class="field"
                            placeholder="Your Email Address">
                        <span class="label">Email</span><span class="edit" style="display:none;"
                            id="login_email_edit_image">
                            <img loading="lazy"  src="{{CDN_PATH}}2019/newcheckout/images/edit.svg"
                                alt="Edit"></span><span class="border"></span>
                        <span *ngIf="!loginOTPForm.get('login_OTP_email').valid && loginOTPForm.get('login_OTP_email').touched"
                            class="error-message">
                            <span *ngIf="loginOTPForm.get('login_OTP_email').errors['required']">Please Enter Email</span>
                            <span *ngIf="loginOTPForm.get('login_OTP_email').errors['email']">Please Enter Valid Email</span>
                        </span>
                    </label>
                </div>

                <div class="input-wrap" id="login-password-block">
                    <label class="inp">
                        <input type="number" maxlength="6" formControlName="login_otp_password" class="field"
                            placeholder="Your Password" />
                        <span class="label">OTP</span>
                        <span class="border"></span>
                        <span *ngIf="!loginOTPForm.get('login_otp_password').valid && loginOTPForm.get('login_otp_password').touched"
                            class="error-message">Please Enter OTP</span>
                    </label>
                    <div id="login-otp-block-msg-2"><div style="font-size: 13px;margin-bottom: 11px;">OTP sent on <span style="color:green;font-weight: bold;">{{telephone}}</span> and your <span style="color: green; font-weight: bold;"> email id</span></div></div>
                    <span *ngIf="error!=''" class="error-message">{{error}}</span>
                </div>

                <div class="submit-btn">
                    <input type="hidden"  formControlName="matchotp" name="matchotp" value="{{otp}}">
                   
                    <input [disabled]="!loginOTPForm.valid" class="field" id="submitloginotp" type="submit" value="Continue">
                </div>
                <div class="loginbtmtxtctnr"><a href="javascript:void(0)" id="resendcheckloginotp" (click)="resendcheckloginotp()" style="display: block;">Resend OTP </a><span id="resend_otp_waiting_msg"></span></div>
                
            </form>
        </div>


        <div class="heading mft-checkout-register heading-register" *ngIf="view==2"> Sign Up</div>
        <div class="fields-wrap mft-checkout-register" *ngIf="view==2">
            <span class="loggedin_as"></span>
            <form [formGroup]="signupForm" (ngSubmit)="submitSignupForm()">
                <div class="input-wrap" id="register_email_block">
                    <label class="inp">
                        <input type="email" readonly class="field" formControlName="register_email" placeholder="Your Email Address" value="">
                        <span class="label">Email</span>
                        <span class="edit" id="register_email_edit_image">
                            <img loading="lazy"  src="{{CDN_PATH}}2019/newcheckout/images/edit.svg" alt="Edit">
                        </span>
                        <span class="border"></span>
                        <span *ngIf="!signupForm.get('register_email').valid && signupForm.get('register_email').touched"
                            class="error-message">
                            <span *ngIf="signupForm.get('register_email').errors['required']">Please Enter Email</span>
                            <span *ngIf="signupForm.get('register_email').errors['email']">Please Enter Valid Email</span>
                        </span>
                        <span id="register_email_error" class="error-message"></span>
                    </label>
                </div>
                <div class="input-wrap">
                    <label class="inp">
                        <input type="text" class="field" formControlName="register_name" placeholder="Your Full Name" value="">
                        <span class="label">Name</span>
                        <span class="border"></span>
                        <span *ngIf="!signupForm.get('register_name').valid && signupForm.get('register_name').touched"
                            class="error-message">
                            <span *ngIf="signupForm.get('register_name').errors['required']">Please Enter Name</span>
                          
                        </span>
                        
                    </label>
                </div>
                <div class="input-wrap" id="register_password_block">
                    <label class="inp">
                        <input type="password" class="field" formControlName="register_password" placeholder="Choose Your Password">
                        <span class="label">Password</span>
                        <span class="border"></span>
                        <span *ngIf="!signupForm.get('register_password').valid && signupForm.get('register_password').touched"
                            class="error-message">
                            <span *ngIf="signupForm.get('register_password').errors['required']">Please Enter Password</span>
                          
                        </span>
                        <!--<span class="regpas-error-icon error-message" id="register_password_error">Please Enter Password</span>-->
                    </label>
                </div>
                <div class="input-mobile plus prefix">
                    <input type="text" value="+" disabled="">
                </div>
                <div class="input-wrap">
                    <label class="inp country-code-block tooltips">
                        <input maxlength="4" type="tel" class="field" id="register-country-code" formControlName="register_country_code" placeholder="+91" value="91">
                        <span class="label country">Country code</span>
                        <span class="tooltiptext">Enter Country Code</span>
                        <span class="border"></span>
                        <span class="example">i.e 91</span>
                    <span *ngIf="!signupForm.get('register_country_code').valid && signupForm.get('register_country_code').touched"
                        class="error-message">
                        <span *ngIf="signupForm.get('register_country_code').errors['required']">Please Enter Country Code</span>
                    </span>                      </label>
                    <label class="inp tooltips">
                        <input maxlength="10" type="number" class="field onfocusfield" formControlName="register_telephone" placeholder="Mobile Number (For order status updates)" value="">
                        <span class="label">Mobile</span>
                        <span class="tooltiptext">Enter Mobile Number without 0</span>
                        <span class="border"></span>
                        <span class="example">i.e 9999XXXXXX</span>
                        <span *ngIf="!signupForm.get('register_telephone').valid && signupForm.get('register_telephone').touched"
                            class="error-message">
                            <span *ngIf="signupForm.get('register_telephone').errors['required']">Please Enter Mobile number</span>
                            <span *ngIf="signupForm.get('register_telephone').errors['pattern']">Please, Enter 10 digit Mobile Number</span>

                        </span>
                        <span class="error-message" id="register_telephone_error"></span>
                    </label>
                </div>
                <div class="input-wrap field" id="register_gender_block">
                    <div class="logingender">
                        <label class="register-gender-label">I'm a</label>
                        <input type="radio" class="register-gender-radio"  formControlName="gender" value="Male" [(ngModel)]="checked">
                        <label class="register-gender-label" for="male"> Male</label>
                        <input type="radio" class="register-gender-radio" formControlName="gender" value="Female">
                        <label class="register-gender-label" for="female"> Female</label>
                    </div>
                </div>
                <div class="submit-btn">
                    <input class="field" id="checkout-user-register"  type="submit" value="Continue">
                </div>
            </form>
            <div class="loginbtmtxtctnr">
                <div class="small center">
                    <span class="gray">Already have an Account?</span>
                    <a class="glogin" routerLink="/checkout" id="loginregister"><b>Login </b></a>
                </div>
            </div>
        </div>

        <div class="heading mft-checkout-register heading-register" *ngIf="view==4">Login</div>
        <div class="fields-wrap mft-checkout-register" *ngIf="view==4">
            <span class="loggedin_as">{{loggedin_as}}</span>
            <form [formGroup]="signupSocailForm" (ngSubmit)="submitSocialSignupForm()">
                <div class="input-wrap">
                    <label class="inp">
                        <input type="text" class="field" formControlName="register_name" placeholder="Your Full Name" value="">
                        <span class="label">Name</span>
                        <span class="border"></span>
                        <span *ngIf="!signupSocailForm.get('register_name').valid && signupSocailForm.get('register_name').touched"
                            class="error-message">
                            <span *ngIf="signupSocailForm.get('register_name').errors['required']">Please Enter Name</span>
                        </span>                        
                    </label>
                </div>
                <div class="input-mobile plus prefix">
                    <input type="text" value="+" disabled="">
                </div>
                <div class="input-wrap">
                    <label class="inp country-code-block tooltips">
                        <input maxlength="4" type="tel" class="field" formControlName="register_country_code" placeholder="+91" value="91">
                        <span class="label country">Country code</span>
                        <span class="tooltiptext">Enter Country Code</span>
                        <span class="border"></span>
                        <span class="example">i.e 91</span>
                        <span *ngIf="!signupSocailForm.get('register_country_code').valid && signupSocailForm.get('register_country_code').touched"
                        class="error-message">
                        <span *ngIf="signupSocailForm.get('register_country_code').errors['required']">Please Enter Country Code</span>
                    </span>  
                    </label>  
                    <label class="inp tooltips">
                        <input maxlength="10" type="number" class="field onfocusfield" formControlName="register_telephone" placeholder="Mobile Number (For order status updates)" value="">
                        <span class="label">Mobile</span>
                        <span class="tooltiptext">Enter Mobile Number without 0</span>
                        <span class="border"></span>
                        <span class="example">i.e 9999XXXXXX</span>
                        <span *ngIf="!signupSocailForm.get('register_telephone').valid && signupSocailForm.get('register_telephone').touched"
                            class="error-message">
                            <span *ngIf="signupSocailForm.get('register_telephone').errors['required']">Please Enter mobile number</span>
                            <span *ngIf="signupSocailForm.get('register_telephone').errors['pattern']">Please Enter 10 digit mobile number</span>

                        </span>
                        <span class="error-message" id="register_telephone_error"></span>
                    </label>
                </div>
                <div class="submit-btn">
                    <input class="field" type="submit" value="Continue">
                </div>
            </form>
        </div>
        <div class="heading mft-checkout-register heading-register" *ngIf="view==6">Login</div>
        <div class="fields-wrap mft-checkout-register" *ngIf="view==6">
            <span class="loggedin_as">{{loggedin_as}}</span>
            <form [formGroup]="editForm" (ngSubmit)="submitEditForm()">
                <div class="input-wrap">
                    <label class="inp">
                        <input type="text" class="field" formControlName="register_name" placeholder="Your Full Name" value="">
                        <span class="label">Name</span>
                        <span class="border"></span>
                        <span *ngIf="!editForm.get('register_name').valid && editForm.get('register_name').touched"
                            class="error-message">
                            <span *ngIf="editForm.get('register_name').errors['required']">Please Enter Name</span>
                        </span>                        
                    </label>
                </div>
                <div class="input-mobile plus prefix">
                    <input type="text" value="+" disabled="">
                </div>
                <div class="input-wrap">
                    <label class="inp country-code-block tooltips">
                        <input maxlength="4" type="tel" class="field" formControlName="register_country_code" placeholder="+91" value="91">
                        <span class="label country">Country code</span>
                        <span class="tooltiptext">Enter Country Code</span>
                        <span class="border"></span>
                        <span class="example">i.e 91</span>
                    <span *ngIf="!editForm.get('register_country_code').valid && editForm.get('register_country_code').touched"
                        class="error-message">
                        <span *ngIf="editForm.get('register_country_code').errors['required']">Please Enter Country Code</span>
                    </span>                    </label>
                    <label class="inp tooltips">
                        <input maxlength="10" type="number" class="field onfocusfield" formControlName="register_telephone" placeholder="Mobile Number (For order status updates)" value="">
                        <span class="label">Mobile</span>
                        <span class="tooltiptext">Enter Mobile Number without 0</span>
                        <span class="border"></span>
                        <span class="example">i.e 9999XXXXXX</span>
                        <span *ngIf="!editForm.get('register_telephone').valid && editForm.get('register_telephone').touched"
                            class="error-message">
                            <span *ngIf="editForm.get('register_telephone').errors['required']">Please Enter mobile number</span>
                            <span *ngIf="editForm.get('register_telephone').errors['pattern']">Please Enter 10 digit mobile number</span>

                        </span>
                        <span class="error-message" id="register_telephone_error"></span>
                    </label>
                </div>
                <div class="submit-btn">
                    <input class="field" type="submit" id="checkout-user-register" value="Continue">
                </div>
            </form>
        </div>

        <div class="normal-or-social text-center hidden-lg hidden-md" *ngIf="view==1">OR</div>
        <div class="social-wrap" id="register_social_block" *ngIf="view==1">
            <div class="social-heading">Login With Social Accounts</div>
            <div class="fb social-btn"><a href="javascript:void(0)" (click)="socialSignIn('facebook')"><span>Facebook</span></a>
            </div>
            <div class="google social-btn">
                <a href="javascript:void(0)" (click)="socialSignIn('google')"><span>Google+</span></a></div>
        </div>
    </div>
</div>

<div class="filled wrap mft-checkout-customer-detail" *ngIf="view==5" (click)="editLogin()">
    <span class="count filled">1</span>
    <span class="filled-head">Login Details</span>
    <ul>
        <li class="leaf name first">
            <span class="filled-heading">Full Name</span>
            <span class="filled-data">{{customer_data['fname']}}</span>
        </li>
        <li class="leaf number">
            <span class="filled-heading">Contact Number</span>
            <span class="filled-data">{{customer_data['telephoneCode']}}</span>
        </li>
        <li class="leaf email last">
            <span class="filled-heading">Email Address</span>
            <span class="filled-data">{{customer_data['email']}}</span>
        </li>
    </ul>
    <span class="edit"><img loading="lazy"  src="{{CDN_PATH}}2019/newcheckout/images/edit.svg"
            alt="Edit"></span>
</div>




