<app-addon></app-addon>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div id="product-page-section" *ngIf="productDisplay">
  <div class="cat-body-box">
      <div id="breadcrumb">
            <ul class="breadcrumb">
                <li *ngFor="let breadcrumb of product_data.breadcrumbs;let i = index;">
                    <a routerLink="{{ breadcrumb.href }}#" *ngIf="(product_data.breadcrumbs?.length) == i+1"><span>{{ breadcrumb.text }}</span></a>
                    <a routerLink="{{ breadcrumb.href }}" *ngIf="(product_data.breadcrumbs?.length) != i+1"><span>{{ breadcrumb.text }}</span></a>
                </li>
                </ul>
      </div>
      <div class="pp-box product-info" id="product">
          <div class="pp-box-first">
              <div class="pp-image">
                <div *ngIf="!isDataFetched">
                    <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                width: '100%',
                height: '300px',
                'border-radius': '10px'
              }">
                    </ngx-skeleton-loader>
                </div>

                  <swiper *ngIf="isDataFetched" [config]="config" class="swiper-container" >
                    <div class="swiper-wrapper">
  
                      <div class="swiper-slide" *ngFor = "let additional_image of product_data.additional_images">
                        <img loading="lazy"  class="w-100"  alt="{{product_data.alt_tag}}" [src]="additional_image" title="{{product_data.name}}">
                        </div>
                      <!---->

                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  </swiper>
                  


              </div>

              <!--{% if product_data.product_type=='Cakes' %}-->
                <div *ngIf="product_data.product_type=='Cakes'" class="hygiene1"><img loading="lazy"  src="{{CDN_PATH}}2020/Hygine-2.jpg" style="width:75px;" alt="Hygiene" /> </div>

                   <div class="cake-notes" *ngIf="product_data.product_type=='Cakes'"> <b>NOTE:</b> The icing, design of the cake may vary from the image depending upon local availability. </div>
              <!--{% endif %}-->

          </div>
          <div class="pp-box-second">
            <ngx-skeleton-loader count="5" [theme]="{
                width: '100%'
              }" *ngIf="!isDataFetched"></ngx-skeleton-loader>
              <div class="pp-price-mobile hidden-lg price" itemscope  *ngIf="isDataFetched">


              <div *ngIf="product_data.special == null; else elseBlock"><span class="product-price">Rs. {{product_data.price | number}}</span></div>
                <ng-template #elseBlock>
                  <span class="price-new" >Rs. {{product_data.special | number}}</span>
                  <span class="old-price price-old" >Rs. {{product_data.price | number}}</span>

                </ng-template>
                <p style="font-size: 12px; color:#b0aaaa; font-weight: normal; margin: 0px;">Free Delivery &amp; Inclusive all Taxes</p>
              </div>
              <div class="pp-name" itemprop="name">{{product_data.name}} </div>
              <div style="font-size:12px; color:#a9a6a6; display:inline-block; padding-right:10px;">Product Id: {{product_data.product_id}}</div>
              <div class="pp-rating"> {{product_data.product_rating}}
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span class="pp-review">
                  <a target="_blank" routerLink="/reviewall/{{product_data.product_id}}">{{product_data.reviewtotalss}}  Reviews</a></span>
                </div>
                <div class="product_upgrade" *ngIf="product_upgrades?.length > 0 && deviceType=='Mobile'">
                    <div class="upgrade-list" *ngFor="let p of product_upgrades">
                        <a href="javascript:void(0)" (click)="getUpgrade(p.product_id)">
                         <div class="product-upgrade-img" [ngClass]="{'upgrade-list-active' : p.product_id==product_data.product_id}">
                             <img loading="lazy"  class="" [src]="p.image" data-src="{{p.image}}" title="{{p.name}}" alt="{{p.name}}">
                         </div>
                         <div class="product-upgrade-details">
                             <div class="upgrade-product-list-name">{{p.name}}</div>
                             <div class="upgrade-product-list-price">
                                 <p><span class="price-new">Rs. {{p.price}}</span></p>
                             </div>
                         </div>
                         </a>
                     </div>
                  </div>
                <div  class="mftusp-mobile hidden-lg hidden-md">
                    <ul>
                    <li> <img loading="lazy"  src="{{CDN_PATH}}2021/usp/mobile/happiness-gurantee-mobile.png" alt="happiness-guarantee" title="happiness-guarantee" />  </li>
                    <li> <img loading="lazy"  src="{{CDN_PATH}}2021/usp/mobile/deliveried-cities-mobile.png" alt="Delivery on 600+ Cities" title="Delivery on 600+ Cities" />  </li>
                    <li> <img loading="lazy"  src="{{CDN_PATH}}2021/usp/mobile/on-time delivery-mobile.png" alt="99.2% On-Time Delivery Average" title="99.2% On-Time Delivery Average" />  </li>
                    <li> <img loading="lazy"  src="{{CDN_PATH}}2021/usp/mobile/trusted-mobile.png" alt="Trusted by Millions" title="Trusted by Millions"  />  </li>
                    </ul>
                    </div>
              <div class="pp-description" [innerHTML]="product_data.description">
              </div>

              <style> .upgrade-list{width:23%;margin:1%;vertical-align:top;display:inline-block}.upgrade-list a{text-decoration:none;color:#000}.product-upgrade-img img{width:100%}.upgrade-list-active{border:2px solid #44ab31}.upgrade-product-list-name{font-size:13px;text-align:center;font-weight:400}.upgrade-product-list-price p{font-size:13px;text-align:center;color:#b24457;font-weight:700} </style>
           <div class="product_upgrade" *ngIf="product_upgrades?.length > 0 && deviceType=='Desktop'">
               <div class="upgrade-list" *ngFor="let p of product_upgrades">
                   <a href="javascript:void(0)" (click)="getUpgrade(p.product_id)">
                    <div class="product-upgrade-img" [ngClass]="{'upgrade-list-active' : p.product_id==product_data.product_id}">
                        <img loading="lazy"  class="" [src]="p.image" data-src="{{p.image}}" title="{{p.name}}" alt="{{p.name}}">
                    </div>
                    <div class="product-upgrade-details">
                        <div class="upgrade-product-list-name">{{p.name}}</div>
                        <div class="upgrade-product-list-price">
                            <p><span class="price-new">Rs. {{p.price}}</span></p>
                        </div>
                    </div>
                    </a>
                </div>
             </div>

              <div class="alert alert-danger fileuploaderror" *ngIf="fileUploadMsg !='' && fileUploadMsg == 'empty'">
                <a routerLink="#" class="closea" data-dismiss="alert">&times;</a>
                <strong>Warning!</strong> Please upload image.
            </div>
            <div class="alert alert-danger" *ngIf="fileUploadMsg !='' && fileUploadMsg == 'fail'">
                <strong>Warning!</strong> Please try Again.
            </div>
            <div class="alert alert-success fade in" *ngIf="fileUploadMsg !='' && fileUploadMsg == 'success'">
                <div id="fileuploadsuccess">Your file was successfully uploaded!</div>
            </div>
              <div class="option form-group" *ngFor="let item of product_data.options">
        <div *ngIf="item.type=='file'">


            <div class="pp-image-box" id="imgll">
              <label class="control-label" id="filePreviewBlock{{item.product_option_id}}" style="display:none; position:absolute;">
                <img loading="lazy"  id="filePreview{{item.product_option_id}}" src="" class="filePreview" width="100" height="100">
              </label>
              <button type="button" title="{{item.product_option_id}}" id="button-upload{{item.product_option_id}}" data-loading-text="Loading please wait.." style="opacity: 0; height:100%; position:absolute;" class="btn btn-default btn-block btn-upload"><i class="fa fa-upload"></i>Upload</button>
              <input type="hidden" name="option[{{item.product_option_id}}]" value="" id="input-option{{item.product_option_id}}" />

              <input type="file" id="photofile" accept="image/gif, image/jpeg, image/png"  class="cfile" (change)="onUploadFile($event,item.product_option_id)" id="input-option{{item.product_option_id}}" autocompvare="off">
              <span class="imguploadspan" >UPLOAD PHOTO</span>
            </div>
            </div>

          </div>
              <div class="check-availablity-block" *ngIf="product_data.product_type!='International'">
                  <div class="heading-pincode">Check Availability</div>



                  <input type="number" maxlength="6" value="" #new_field oninput="this.value=this.value.slice(0,6)" name="check_availablity" id="check-availablity" placeholder="Enter Delivery Pincode" />
                  <button type="button" title="buy" (click) ="checkpincodeAvailability(new_field.value)" class="btn btn-success btn-pp button-check-availablity">Check</button>
                  <div class="check-availablity-msg-success">{{checkavail.message_success}}</div>
                  <div class="check-availablity-msg-error">{{checkavail.message_error}}</div>
                  <div class="check-availablity-msg-suggestion" *ngIf="message_suggestion_1 !=''"><span [innerHTML]="message_suggestion_1"></span></div>
                  <div class="check-availablity-msg-suggestion" *ngIf="message_suggestion_2 !=''"><span [innerHTML]="message_suggestion_2"></span></div>

              </div>
              <div class="mftusp hidden-xs hidden-sm">
                <ul>
                <li> <img loading="lazy"  src="{{CDN_PATH}}2021/usp/desktop/deliveried-cities.png" alt="happiness-guarantee" title="happiness-guarantee" />  </li>
                <li> <img loading="lazy"  src="{{CDN_PATH}}2021/usp/desktop/happiness-gurantee.png" alt="Delivery on 600+ Cities" title="Delivery on 600+ Cities" />  </li>
                <li> <img loading="lazy"  src="{{CDN_PATH}}2021/usp/desktop/on-time delivery.png" alt="99.2% On-Time Delivery Average" title="99.2% On-Time Delivery Average" />  </li>
                <li> <img loading="lazy"  src="{{CDN_PATH}}2021/usp/desktop/trusted.png" alt="Trusted by Millions" title="Trusted by Millions" />  </li>
                </ul>
                </div>
          </div>
          <div class="pp-box-third">
              <div class="pp-price price" itemscope>

                <div *ngIf="product_data.special == null; else elseBlock"><span class="product-price">Rs. {{product_data.price | number}} </span></div>
                <ng-template #elseBlock>
                    <span class="price-new"> Rs. {{product_data.special | number}} </span>
                    <span class="old-price price-old"> Rs. {{product_data.price | number}} </span>
                </ng-template>
                <p style="font-size: 12px; color:#b0aaaa; font-weight: normal; margin: 0px;">Free Delivery &amp; Inclusive all Taxes</p>

               </div>
              <div class="options push-image push-radio">
                <div *ngFor="let item of product_data.options; index as item_index;">

                    <div *ngIf="item.type=='select'">


                    <div class="option pp-option-box form-group{{item.required ? 'required' : ''}} option-{{item.type}}">

                        <div class="pp-cake-size">

                        <select name="option[{{item.product_option_id}}]" #newfield (change)="selectedoptions($event.target.value,item_index+1)"  id="input-option{{item.product_option_id}}" class="">
                            <option value=""> Select {{item.name}}</option>
                            <option *ngFor="let items of item.product_option_value"  value="{{items.product_option_value_id}}" title="{{ items.price | number }}">{{items.name}}
                            ( {{items.price_prefix}} {{items.price | number}})

                            </option>
                        </select>
                        </div>
                    </div>

                    </div>



                    <div *ngIf="item.type=='radio'">


                    <div class="option form-group{{item.required ? 'required' : ''}} option-{{item.type}}">
                        <label class="control-label">{{ item.name }}</label>
                        <div id="input-option{{ item.product_option_id }}" *ngFor="let option_value of item.product_option_value">

                        <label class="hidden" for="{{ option_value.product_option_value_id }}" class="pp-radio">

                            <div *ngIf="option_value.name == 'With egg' || option_value.name == 'Without Vase'; else elseBlock">
                                <input  class="hidden " class="rad" (change)="selectoptions(option_value.price,option_value.product_option_value_id)" type="radio" checked="checked" name="option[{{item.product_option_id}}]" value="{{option_value.product_option_value_id}}" title="{{option_value.price | number}}" />
                                <span class="checkmark"></span>
                            </div>

                            <ng-template #elseBlock>
                                <input  type="radio" class="rad" (change)="selectoptions(option_value.price,option_value.product_option_value_id)" name="option[{{ item.product_option_id }}]" value="{{option_value.product_option_value_id}}" title="{{option_value.price | number}}" />
                                <span class="checkmark1"></span>

                            </ng-template>

                            {{ option_value.name }}




                        </label>

                        </div>
                    </div>



                    </div>
                    <div *ngIf="item.type=='checkbox'">

                        <div class="option form-group{{item.required ? 'required' : ''}} option-{{item.type}}">
                            <div id="input-option{{ item.product_option_id }}" *ngFor="let option_value of item.product_option_value">
                                <div class="checkbox">
                                    <label>
                                        <span *ngIf="option_value.name == 'Double the Flowers Quantity'; else elseBlock">
                                            <input type="checkbox" #new_field  (change)="selectoptions(option_value.price,option_value.product_option_value_id)" id="double" title="{{option_value.price | number}}" name="option[{{item.product_option_id}}][]" value="{{option_value.product_option_value_id}}" id="{{option_value.name}}"  />
                                        </span>
                                        <ng-template #elseBlock>
                                            <input type="checkbox" #new_field (change)="selectoptions(option_value.price,option_value.product_option_value_id)" title="{{option_value.price | number}}" name="option[{{item.product_option_id}}][]" value="{{option_value.product_option_value_id}}" id="{{option_value.name}}"  />
                                        </ng-template>
                                        {{option_value.name}}
                                        <span *ngIf="option_value.price">
                                            ({{option_value.price_prefix}}<span class="grn">{{option_value.price | number}}</span>)
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div *ngIf="item.type=='textarea'">
                        <div class="option form-group{{item.required ? 'required' : ''}} option-{{item.type}}">
                        <textarea name="option[{{item.product_option_id}}]" rows="2" placeholder="{{item.name}}" #messageontext id="{{item.product_option_id}}" class="form-control personalerror{{item.product_option_id}}">{{item.value}}</textarea>
                        <div *ngIf="TextUploadMsg=='empty'" style="color: red;" class="personalerror_err{{item.product_option_id}}">Please enter text</div>
                        </div>
                    </div>
                </div>

              </div>


                    <div class="message-on-cake" *ngIf="product_data.message_on_cake=='yes';else messageonCakeElseBlock">
                    <input type="text" maxlength="20" #messageoncake placeholder="Message on Cake"/>
                    <div class="msg-txt-rmn">Maximum limit :- <span id="messageoncake-characters">20</span> Characters		</div>
                    </div>
                    <ng-template #messageonCakeElseBlock>
                        <input type="hidden" maxlength="20" #messageoncake placeholder="Message on Cake"/>
                    </ng-template>



              <div class="button-section">
                  <input type="hidden" value="1" name="custom[cate_id]" /><span class="qty"><input type="hidden" name="quantity" value="1" size="2" data-min-value="1" id="input-quantity" class="form-control" /><input type="hidden" name="product_id" value="{{product_data.product_id}}" /><input type="hidden" name="deli_time" value="19.23" /></span>
                  <div class="timer" *ngIf="countdowntoggle=='YES'"><i style="margin-right:5px;" class="fa fa-clock-o" aria-hidden="true"></i><span class="time">{{countdown}}</span>. left for today's delivery</div>
                  <div class="pp-btn-sec">
                      <button *ngIf="product_data.quantity>0" type="button" title="buy" id="buy-button" (click) = "AddToCart()" class="btn btn-danger btn-pp button-cart">Buy Now</button>
                      <button *ngIf="product_data.quantity==0" type="button" disabled="disabled" class="btn btn-danger btn-pp">Out Of Stock</button>

                    </div>
              </div>
          </div>
      </div>



      <div id="review" *ngIf="reviewss?.length!=0">

              <div class="review-section ">
                  <div class="row">
                      <div class="col-sm-12 margintop30">
                          <div id="myCarousel" class="carousel slide" data-ride="carousel">
                              <div class="section-heading">Customer Reviews</div>
                              <div class="row review-box">
                                    <div class="col-md-4 review-item" *ngFor="let review of reviewss">
                                      <div class="media">
                                          <div class="media-left d-flex mr-3">
                                              <div class="media-text">  {{review.authtwoletter}} </div>
                                            </div>
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="review-name"><b>{{review.author}}</b></div>
                                                    <div class="star-rating" ng-bind-html="{review.ratinghtm}">


                                                    </div>
                                                        <div class="review-text">{{review.text}} </div>
                                                        <div class="review-details">On {{review.date_added | date :'medium'}} </div>
                                                </div>
                                            </div>
                                            </div>
                                    </div>

                                    </div>
                                    <div class="text-center margintop30">
                                        <a routerLink="/reviewall/{{product_data.product_id}}" class="btn btn-primary view-more">View All Reviews</a></div></div></div></div></div> </div>
      <div class="product-section" *ngIf="relatedpro?.length!=0">
          <div class="product-section-heading">You May Also Like</div>
          <div class="product-list-box">

              <div class="product-item-box" *ngFor="let relPro of relatedpro">
                  <div class="product-item " itemprop="offers" *ngIf="relPro.expected_delivery!='NaN-NaN-NaN'">
                      <a itemprop="url" (click)="loadProduct(relPro.keyw)"  href="javascript:void(0)" class="has-second-image lazy">
                          <div class="product-image"><img loading="lazy"  class="lazy first-image {{relPro.product_id}}" src="{{relPro.image1}}" data-src="{{relPro.image1}}" title="{{relPro.name}}" alt="{{relPro.alt_tag}}" /></div>
                          <div class="product-details">
                              <div class="product-list-name">{{relPro.name}}</div>
                              <div class="product-list-price">

                                    <div *ngIf="relPro.special == null; else elseBlock">
                                        <p class="price">
                                             Rs. {{relPro.price | number}}
                                            <meta itemprop="priceCurrency" content="INR" />
                                            <meta itemprop="price" content="{{relPro.price | number}}" />
                                        </p>
                                    </div>
                                    <ng-template #elseBlock>
                                    <p class="price">
                                        <span class="price-new" > Rs. {{relPro.special | number}}</span>
                                        <span class="price-old" > Rs. {{relPro.price | number}}</span>
                                        <meta itemprop="priceCurrency" content="INR" />
                                        <meta itemprop="price" content="{{relPro.price | number}}" />
                                    </p>
                                    </ng-template>


                              </div>
                              <div class="product-list-time" *ngIf="(relPro.product_type=='Gifts' || relPro.manufacturer =='IS');else deliveryBlock">
                                <!-- <div *ngIf="(relPro.current_hour < '17');then timeblockOne else timeblockTwo">here is ignored</div>
                                <ng-template #timeblockOne>Will be dispatched by <span class='green-text'>Today.</span></ng-template>
                                <ng-template #timeblockTwo>Will be dispatched by <span class='green-text'>Tomorrow.</span></ng-template> -->

                                <div *ngIf="(relPro.tattime != '' && relPro.tattime!='undefined');else deliveryBlockss">
                                        <div *ngIf="(relPro.tattime == '24');else deliveryBlocktat">
                                            Earliest Delivery: <span class='green-text'>Tomorrow.</span>
                                        </div>
                                        <ng-template #deliveryBlocktat>
                                            Earliest Delivery: <span class='orange-text'>2-3 days.</span>
                                        </ng-template>
                                    </div>
                                    <ng-template #deliveryBlockss>
                                            <div *ngIf="(relPro.current_hour < '17');then timeblockOne else timeblockTwo">here is ignored</div>
                                            <ng-template #timeblockOne>Earliest Delivery: <span class='orange-text'>2-3 days.</span></ng-template>
                                            <ng-template #timeblockTwo>Earliest Delivery: <span class='orange-text'>2-3 days.</span></ng-template>

                                    </ng-template> 


                                
                            </div>

                            <ng-template #deliveryBlock>
                                <div class="product-list-time">Earliest Delivery: <span class="green-text">{{relPro.expected_delivery}}</span>.</div>
                            </ng-template>

                          </div>
                      </a>
                  </div>
              </div>


          </div>
      </div>
      <div class="product-section" *ngIf="best_products?.length!=0">
        <div class="product-section-heading">Best Seller Products</div>
        <div class="product-list-box">
            <div class="product-item-box" *ngFor="let relPro of best_products" >
                <div class="product-item " itemprop="offers" *ngIf="relPro.expected_delivery!='NaN-NaN-NaN'">
                    <a itemprop="url" (click)="loadProduct(relPro.keyw)" href="javascript:void(0)" class="has-second-image lazy">
                        <div class="product-image"><img loading="lazy"  class="lazy first-image {{relPro.product_id}}" src="{{relPro.image}}" data-src="{{relPro.image}}" title="{{relPro.name}}" alt="{{relPro.alt_tag}}" /></div>
                        <div class="product-details">
                            <div class="product-list-name">{{relPro.name}}</div>
                            <div class="product-list-price">
                                  <div *ngIf="relPro.special == null; else elseBestBlock">
                                      <p class="price">
                                           Rs. {{relPro.price | number}}
                                          <meta itemprop="priceCurrency" content="INR" />
                                          <meta itemprop="price" content="{{relPro.price | number}}" />
                                      </p>
                                  </div>
                                  <ng-template #elseBestBlock>
                                  <p class="price">
                                      <span class="price-new" > Rs. {{relPro.special | number}}</span>
                                      <span class="price-old" > Rs. {{relPro.price | number}}</span>
                                      <meta itemprop="priceCurrency" content="INR" />
                                      <meta itemprop="price" content="{{relPro.price | number}}" />
                                  </p>
                                  </ng-template>
                            </div>
                         

                          <div class="product-list-time" *ngIf="(relPro.product_type=='Gifts' || relPro.manufacturer =='IS');else deliveryBlock">

                            <div *ngIf="(relPro.tattime != '' && relPro.tattime!='undefined');else deliveryBlockss">
                                    <div *ngIf="(relPro.tattime == '24');else deliveryBlocktat">
                                        Earliest Delivery: <span class='green-text'>Tomorrow.</span>
                                    </div>
                                    <ng-template #deliveryBlocktat>
                                        Earliest Delivery: <span class='orange-text'>2-3 days.</span>
                                    </ng-template>
                            </div>
                            <ng-template #deliveryBlockss>
                                <div *ngIf="(relPro.current_hour < '17');then timeblockOne else timeblockTwo">here is ignored</div>
                                    <ng-template #timeblockOne>Earliest Delivery: <span class='orange-text'>2-3 days.</span></ng-template>
                                    <ng-template #timeblockTwo>Earliest Delivery: <span class='orange-text'>2-3 days.</span></ng-template>

                            </ng-template>
                        </div>
                        <ng-template #deliveryBlock>
                            <div class="product-list-time">Earliest Delivery: <span class="green-text">{{relPro.expected_delivery}}</span>.</div>
                        </ng-template>





                        </div>
                    </a>
                </div>
            </div>


        </div>
    </div>
      <div class="btm-more-content" *ngIf="product_data.quicklink?.length > 0">
          <div class="quck-links">Find More Products</div>
          <div *ngFor="let quickli of product_data.quicklink" [innerHTML]="quickli.text_data">

          </div>

      </div>
  </div>
</div>

<ngx-json-ld [json]="breadcrumbSchema"></ngx-json-ld>
<ngx-json-ld [json]="productPageSchema"></ngx-json-ld>

