<!-- <app-header></app-header> -->
<div id="resultLoading" style="width: 100%; height: 100%; position: fixed; z-index: 10000000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; display: none;">
    <div style="width: 250px; height: 75px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; font-size: 16px; z-index: 10; color: rgb(255, 255, 255);"> <img loading="lazy"  src="{{CDN_PATH}}live-new/images/full_page_loader.gif">
      <div></div>
    </div>
    <div class="bg" style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
  </div>
  
  <div class="cat-body-box">
  <div class="row">
  <!--banner-start-->
  <div class="cat_wrapper1-1">
  <img loading="lazy"  class="hidden-xs" src="{{CDN_PATH}}2020/custome-order/custom-banner-desktop.jpg" width="100%" alt="custom" title="custom">
  <img loading="lazy"  class="w-100 hidden-lg hidden-sm hidden-md" alt="custom" src="{{CDN_PATH}}2020/custome-order/custom-banner-mobile.jpg">
  </div>
  <!--banner-end--> 
  <div class="container" id="product">
  
  <div class="main-div-bg">
  <h2>Thinking Out of the Box?<br><span>Order What You Like</span></h2> 
  <form [formGroup]="customOrderForm" (ngSubmit)="submitCustomOrder()">
   
   <div class="add-address">
                 
         <div class="inputdiv">
              <label for="name">Product Description
                <input id="custom_description" type="text" formControlName="description" value="" placeholder="Example: 100 Red Roses with White Packing" pattern="[A-Za-z ]{1,32}" required>
              </label>
         </div>
        <div class="clearfix mtop10"></div>
       
       <div for="file-input" class="inputdiv">
          <label>Add Image 
              <div class="image-div">
              <div class="choose-div-img">
              <i  class="fa fa-cloud-upload" aria-hidden="true"></i>
              </div>
              <div class="choose-div">
              <p>Choose Image</p>
              <span>Max 2MB. Image Size extensions(png,jpg,jpeg)</span>
              </div>
              </div>
  
              <div class="file-field image-upload">
              <img loading="lazy"  id="filePreview" style="display:none;" width="150" height="150">
                  <input (change)="uploadFile($event)" type="file" class="order_image" name="option[1719]" value="" id="input-option1719" />
              </div>
          </label>
          <span id="image_message" style="color:red"></span>
      </div>	  
  
          <div class="inputdiv">
              <label for="amount">Amount 
                <input type="text" formControlName="custom_amount" value="" placeholder="As Confirmed by Our CS team" pattern="[A-Za-z ]{1,32}" id="custom_amount" required>
  
              </label>
     </div>
    
      <div class="bg-width">
              <div class="a-button1">
          <button type="submit" 
          *ngIf="!submit; else elseWaitBlock"
          class="a-button-text but-1">PLACE YOUR ORDER</button>
                <ng-template #elseWaitBlock>
                    <button type="button" 
               
                    class="a-button-text but-1">Please Wait...</button>
                </ng-template>
              </div>
      </div>
  </div>
  </form>
  </div>  
        <div class="clearfix mtop10"></div>    
        
        <div class="clearfix"></div>
        <div class="row">
        <div class="col-md-12">
        <div class="col-md-8 pull-right">
            <input type="hidden" value="3504" name="product_id" id="product_id">
            <input type="hidden" name="deli_time" value="" />
            
            
            <input type="hidden" name="quantity" value="1">
        </div>
        </div>
        </div>
  
  </div>
  </div>
  </div>
  
  <!-- <app-footer></app-footer>  -->