:host ::ng-deep body {
    background-color: #fff !important;
}
:host ::ng-deep .cat-body-box {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
:host ::ng-deep .cat_wrapper1-1 {display: table;width:100%;}
:host ::ng-deep .main-div-bg{margin-bottom:20px;}
:host ::ng-deep .main-div-bg h2 {text-align: center;margin-top: 40px;margin-bottom: 40px;font-size: 33px;font-family: arial;font-weight: 500;line-height: 40px;}
:host ::ng-deep .main-div-bg h2 span {font-size: 25px;}
:host ::ng-deep .add-address {width: 60%;margin: 0px auto;border: 1px solid lightgrey;padding: 30px;border-radius: 15px;}
:host ::ng-deep .inputdiv {position: relative;float: left;width: 100%;margin: 5px 0px;}
:host ::ng-deep .selectdiv:after {content: '\f107';font: normal normal normal 17px/1 FontAwesome;color: #0ebeff;right: 11px;top: 26px;height: 34px;padding: 11px 0px 0px 8px;position: absolute;pointer-events: none;font-size: 25px;}
:host ::ng-deep select::-ms-expand {display: none;}
:host ::ng-deep .inputdiv label {width: 100%;font-size:16px;margin-bottom:0;font-family: Arial;font-weight: 600;}
:host ::ng-deep .inputdiv input {-webkit-appearance: none;-moz-appearance: none;appearance: none;display: block;width: 100%;height: 43px;float: left;margin: 5px 0px;padding: 0px 11px;font-size: 14px;line-height: 3;color: #5f5f5f;background-color: #ffffff;background-image: none;
    border: 1px solid #d0d0d0;-ms-word-break: normal;word-break: normal;font-weight: normal;font-family:Arial;}
    :host ::ng-deep ::placeholder {color: #9b9b9b;opacity: 1;}
    :host ::ng-deep .image-div {display: inline-block;height: 50px;border: 2px dashed #b0eadb;width: 100%;padding: 4px 0px;}
    :host ::ng-deep .choose-div-img {float: left;width: 16%;}
    :host ::ng-deep .fa-cloud-upload:before {content: "\f0ee";font-size: 27px;color: darkkhaki;position: absolute;top: 34px;left: 14px;}
    :host ::ng-deep .choose-div {float: right;width: 84%;}
    :host ::ng-deep .choose-div p {font-size: 14px;margin: 0px !important;font-weight: 500;}
    :host ::ng-deep .choose-div span {font-weight: 200;font-size: 11px;}
/*.file-field {height: 3.2rem; }*/
:host ::ng-deep .image-upload > input {display: none !important;}
:host ::ng-deep .image-upload > button {display: none !important;}
:host ::ng-deep .bg-width {width:100%;margin:0px auto;display:flex;}
:host ::ng-deep .bg-width span {text-align: center;margin: 0px auto;font-size: 15px;color: #4f4f4f;}
:host ::ng-deep .but-1 {background: rgb(245, 111, 35);border-width: 0px;cursor: pointer;display: inline-block;padding: 7px 17px;text-align: center;text-decoration: none!important;vertical-align: middle;font-family:Arial;margin: 10px auto 0;color:white;font-size: 16px;}
:host ::ng-deep .a-button1 {width: 100%;margin: 0px auto;text-align: center;}
:host ::ng-deep .a-button-text {border: 0;display: block;font-family: Arial,sans-serif;font-size: 17px;line-height: 33px;outline: 0;padding: 2px 20px 2px 20px;text-align: center;white-space: nowrap;}
:host ::ng-deep #myForm {margin-bottom: 0px !important;}
@media (max-width: 768px) {
    /*:host ::ng-deep .cat-body-box{margin-top:49px !important;}*/
    :host ::ng-deep .main-div-bg h2 {font-size: 26px;line-height: 33px;}
    :host ::ng-deep .main-div-bg h2 span {font-size: 20px;}
    :host ::ng-deep .add-address {width:100%;padding: 20px 12px;}
    :host ::ng-deep .choose-div {float: right;width: 80%;}
    :host ::ng-deep .choose-div span {font-size: 9px;}
    :host ::ng-deep .bg-width span {font-size: 13px;}
    :host ::ng-deep .inputdiv input {text-overflow: ellipsis;}
}    
@media (min-width: 769px) and (max-width: 990px){
    :host ::ng-deep .choose-div {float: right;width: 84%;}
}