<div class="row">
    <div class="cart-heading">Cart <span class="item-count" *ngIf="cart_data.length==1;else moreItems">(1 Item)</span>
                  <ng-template #moreItems><span class="item-count">({{cart_data.length}} Items)</span></ng-template>
      </div>
    <div class="cart-wrap">		
             <div class="m-cart-data" *ngFor="let product of cart_data">
                      <div class="left-side"><a routerLink="/{{product.product_url}}" [queryParams]="{cate:product.queryParams}"><img loading="lazy"  [src]="product.thumb" alt="{{product.name}}" width="100" title="{{product.name}}" class="img-thumbnail" /></a></div>
                      <div class="right-side"><span class="pro-name-cart"><a routerLink="/{{product.product_url}}" [queryParams]="{cate:product.queryParams}" target="_blank">{{product.name}}</a></span>
                        <div class="price-wrap"><span class="price">Rs. {{product.price}}</span><span class="cross">X</span><span class="qty-cart"><span>Qty:</span>
                          <select class="updateQuantity" (change)="update_cart(product.cart_id, $event.target.value)">
                              <option value="1" [selected]="product.quantity==1">1</option>
                              <option value="2" [selected]="product.quantity==2">2</option>
                              <option value="3" [selected]="product.quantity==3">3</option>
                              <option value="4" [selected]="product.quantity==4">4</option>
                              <option value="5" [selected]="product.quantity==5">5</option>
                              <option value="6" [selected]="product.quantity==6">6</option>
                              <option value="7" [selected]="product.quantity==7">7</option>
                              <option value="8" [selected]="product.quantity==8">8</option>
                              <option value="9" [selected]="product.quantity==9">9</option>
                              <option value="10" [selected]="product.quantity==10">10</option>
                          </select>
                          </span></div>
                          <span class="upgrades" *ngIf="product['option'].length">
                              <span class="heading-upgrade">- Upgrade</span>
                              <ul>
                                  <li *ngFor="let option of product['option']">
                                      <div *ngIf="option['type'] != 'file' then bl1; else bl2;"></div>
                                      <ng-template #bl1>{{option['value']}}</ng-template>
                                      <ng-template #bl2>Image</ng-template>
                                  </li>
                              </ul>
                          </span>
                          <span class="dlt-cart"><span class="dlt-icon"><a href="javascript:void(0)" title="Remove"
                              (click)="cart_delete(product.cart_id, product.key)">Remove</a></span></span>
                      </div>
                    </div>
    </div>
    </div>