<!-- <app-header></app-header> -->
<app-category *ngIf="categoryShow"></app-category>
<app-product *ngIf="productShow"></app-product>
<app-page-not-found *ngIf="pageNotFound"></app-page-not-found>
<!-- <app-footer *ngIf="showFooter"></app-footer> -->