
                  :host ::ng-deep  .bankimg {
                    width: 50%;
                }
                
                :host ::ng-deep .main-container {
                    margin: 0px auto;
                    width: 100%;
                }
                
                :host ::ng-deep .inner-container {
                    width: 100%;
                    max-width: 1280px;
                    margin: 0px auto;
                }
                
                :host ::ng-deep .container-header {
                    background: #eaeaea;
                }
                
                :host ::ng-deep .splbutton {
                    border-radius: 3px;
                    padding: 10px;
                    background-color: rgb(245, 111, 35);
                    color: white;
                    cursor: pointer;
                    font-size: 15px;
                    width: 100%;
                }
                
                :host ::ng-deep .container-header h3 {
                    font-family: Arial, Helvetica, sans-serif;
                    padding: 5px 10px;
                    font-weight: 600;
                    color: #4e4d4e;
                    font-size: 18px;
                }
                
                :host ::ng-deep .container-box {
                    margin: 0px auto;
                    width: 100%;
                    border: 1px solid #D1D1D1;
                    box-shadow: 2px 4px 1px #e0e0e0;
                    margin-bottom: 16px;
                    padding-bottom: 20px;
                    padding-top: 10px;
                }
                
                :host ::ng-deep .content-box {
                    width: 72%;
                    display: inline-block;
                    margin-bottom: 29px;
                }
                
                :host ::ng-deep .content-box h3 {
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: 20px;
                    font-weight: normal;
                    color: #454545;
                    padding-bottom: 5px;
                    padding-left: 10px;
                }
                
                :host ::ng-deep .content-box h5 {
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: 13px;
                    padding-left: 10px;
                    color: #999;
                    font-weight: normal;
                }
                
                :host ::ng-deep .content-box p {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 13px;
                    color: #999;
                    padding-left: 10px;
                    font-weight: normal;
                    padding-top: 5px;
                }
                
                :host ::ng-deep .button-container {
                    width: 20%;
                    float: right;
                    margin-top: 0px;
                    margin-right: 30px;
                }
                
                :host ::ng-deep .button-container p {
                    font-size: 12px;
                    text-align: center;
                    color: #666666;
                    margin-bottom: 10px;
                }
                
                :host ::ng-deep .button-box {
                    width: 100%;
                    margin-right: 20px;
                    margin-bottom: 10px;
                }
                
                :host ::ng-deep .button-box img {
                    width: 50%;
                }
                
                :host ::ng-deep .button-box-subscribe {
                    width: 187px;
                    height: 48px;
                    float: right;
                    margin-right: 12px;
                    margin-bottom: 3px;
                    background: url("http://mftcdn.myflowertree.com/special-offer/subcribe1.png");
                    border: 1px solid #fff;
                }
                
                
                
                :host ::ng-deep .subsriber-container {
                    margin: 0px auto;
                    width: 100%;
                    border: 1px solid #d1d1d1;
                    margin-bottom: 25px;
                    margin-top: 27px;
                }
                
                :host ::ng-deep .subsriber-box {
                    width: 70%;
                    margin-bottom: 11px;
                    display: inline-block;
                }
                
                :host ::ng-deep .input-box {
                    width: 80%;
                    margin: 11px 9px 3px;
                    font-size: 17px;
                    font-weight: 500;
                    color: #919091;
                    border: 1px solid #d1d1d1;
                    padding: 6px;
                    background: #f3f1f2;
                }
                /* irrelevant styling */
                
                :host ::ng-deep #tallModal .modal-body p {
                    margin-bottom: 900px;
                }
                
                :host ::ng-deep .input-popup-box {
                    width: 90% !important;
                    margin: 14px 14px 23px;
                    color: #000;
                    font-size: 16px;
                    font-weight: bold;
                    border: 1px solid #d2d1d1;
                    border-radius: 5px;
                    padding: 12px;
                    background: #f3f1f2;
                    text-align: center;
                }
                
                :host ::ng-deep .copy {
                    box-shadow: 3px 3px 2px #a2a2a2;
                    padding: 6px 23px;
                    font-size: 24px;
                    text-transform: uppercase;
                }
                
                :host ::ng-deep .share-offfer-box {
                    margin: 0px auto;
                    width: 33%;
                    margin-bottom: 65px;
                }
                
                :host ::ng-deep .share-offer {
                    float: left;
                    width: auto;
                    margin-left: 2px;
                }
                
                :host ::ng-deep .modal-body h5 {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    color: #656464;
                    padding-bottom: 20px;
                    font-weight: normal;
                }
                
                :host ::ng-deep .share-offer h6 {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 18px;
                    color: #3e3e3e;
                }
                
                :host ::ng-deep .share-offer p {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    color: #979798;
                    margin-top: 4px;
                }
                
                :host ::ng-deep .msg-button {
                    padding: 3px;
                    background: #fefefe;
                    border: 1px solid #e2e0e0;
                }
                @media screen and (max-width:760px) {
                    :host ::ng-deep .cat_wrapper{
                        margin-top: 0px !important;
                    }
                }
                @media screen and (min-width:800px) and (max-width:1279px) {
                    :host ::ng-deep .share-offfer-box {
                        width: 400px !important;
                        margin-left: 30%;
                    }
                }
                
                @media screen and (max-width:1280px) {
                    :host ::ng-deep  .button-box-subscribe {
                        width: 180px;
                        height: 46px;
                        float: right;
                        margin-right: 13px;
                        margin-bottom: 3px;
                        background: url("http://mftcdn.myflowertree.com/special-offer/subcribe2.png") no-repeat scroll 0% 0% transparent;
                        border: 1px solid #FFF;
                    }
                }
                
                @media screen and (max-width:980px) {
                    :host ::ng-deep .button-box-subscribe {
                        width: 148px;
                        height: 39px;
                        float: right;
                        margin-right: -18px;
                        margin-bottom: 3px;
                        background: url("http://mftcdn.myflowertree.com/special-offer/subcribe-sec1.png") no-repeat scroll 0% 0% transparent;
                        border: 1px solid #FFF;
                    }
                    @media screen and (max-width: 480px) and (min-width: 320px) {
                        :host ::ng-deep  .button-box-subscribe {
                            width: 197px;
                            height: 48px;
                            float: right;
                            margin-right: 5px;
                            margin-bottom: 3px;
                            background: url("http://mftcdn.myflowertree.com/special-offer/subcribe2.png") no-repeat scroll 0% 0% transparent;
                            border: 1px solid #FFF;
                        }
                        :host ::ng-deep  .button-box-subscribe {
                            width: 126px;
                            height: 33px;
                            float: right;
                            margin-right: -9px;
                            margin-bottom: 3px;
                            background: url("http://mftcdn.myflowertree.com/special-offer/subcribe-fourth.png") repeat scroll 0% 0% transparent;
                            border: 1px solid #FFF;
                        }
                        :host ::ng-deep .button-box-subscribe {
                            width: 95px;
                            height: 26px;
                            float: right;
                            margin-right: -9px;
                            margin-bottom: 3px;
                            background: url("http://mftcdn.myflowertree.com/special-offer/subcribe-fifth.png") repeat scroll 0% 0% transparent;
                            border: 1px solid #FFF;
                        }
                        :host ::ng-deep .share-offfer-box {
                            width: 81% !important;
                        }
                        :host ::ng-deep .button-container {
                            width: 28%;
                            margin-top: 15px;
                        }
                        :host ::ng-deep .content-box {
                            height: auto;
                            width: 70%;
                        }
                        :host ::ng-deep .button-container {
                            width: 28%;
                            margin-top: 9px;
                            margin-right: 4px;
                        }
                        :host ::ng-deep .button-box {
                            width: 100%;
                            margin-right: 0px;
                        }
                        :host ::ng-deep .modal-title {
                            font-size: 18px !important;
                        }
                        :host ::ng-deep .modal-body h5 {
                            font-size: 17px !important;
                        }
                        :host ::ng-deep .container-box {
                            height: auto;
                        }
                        :host ::ng-deep .content-box h3 {
                            font-size: 12px;
                        }
                        :host ::ng-deep .content-box h5 {
                            font-size: 10px;
                            height: auto;
                        }
                        :host ::ng-deep .content-box p {
                            font-size: 10px;
                        }
                        :host ::ng-deep .modal-title {
                            font-size: 18px !important;
                        }
                        :host ::ng-deep .modal-body h5 {
                            font-size: 17px !important;
                        }
                        :host ::ng-deep .subsriber-container {
                            width: 98%;
                        }
                        :host ::ng-deep .container-box {
                            height: auto;
                            width: 98%;
                        }
                        :host ::ng-deep .content-box {
                            width: 58%;
                        }
                        :host ::ng-deep .content-box h3 {
                            font-size: 11px;
                            width: 99%;
                        }
                        :host ::ng-deep .content-box h5 {
                            font-size: 10px;
                            height: auto;
                        }
                        :host ::ng-deep .content-box p {
                            font-size: 10px;
                        }
                        :host ::ng-deep .button-container {
                            width: 38%;
                            margin-top: 0px;
                            margin-right: 0px;
                        }
                        :host ::ng-deep .button-container p {
                            font-size: 11px;
                            text-align: left;
                            margin-right: 2px;
                        }
                        :host ::ng-deep .button-box {
                            width: 97%;
                            margin-right: 14px;
                        }
                        :host ::ng-deep .button-box img {
                            margin-left: 10px;
                            margin-top: 7px;
                            width: 90%;
                        }
                    }
                    :host ::ng-deep .modal.modal-wide .modal-dialog {
                        text-align: center;
                        color: #646464;
                    }
                    :host ::ng-deep .modal.modal-wide .modal-dialog input {
                        width: 80%;
                    }
                    :host ::ng-deep .modal-wide .modal-body {
                        text-align: center;
                        overflow-y: auto;
                    }
                }
				
:host ::ng-deep .seocontent{width:95%;margin:0 auto;margin-top:20px}
:host ::ng-deep .seocontent h2{color:#8c273c;font-size:26px;padding:0 0 10px 0}
:host ::ng-deep .seocontent p{font-size:14px;font-weight:400;text-align:justify;color:#383838;line-height:23px}
:host ::ng-deep .modal-body ul{margin:15px}
:host ::ng-deep .modal-body ul li{padding-top:10px}
:host ::ng-deep .header_margin{margin-top:10px}
:host ::ng-deep body{background-color:#fff}
:host ::ng-deep .tooltip{position:relative;display:inline-block;opacity:1;z-index:9;margin-left:5px}
:host ::ng-deep .tooltip .tooltiptext{visibility:hidden;width:140px;background-color:#555;color:#fff;text-align:center;border-radius:6px;padding:5px;position:absolute;z-index:1;bottom:150%;left:50%;margin-left:-75px;opacity:1;transition:opacity .3s}
:host ::ng-deep .tooltip .tooltiptext::after{content:"";position:absolute;top:100%;left:50%;margin-left:-5px;border-width:5px;border-style:solid;border-color:#555 transparent transparent transparent}
:host ::ng-deep .tooltip:hover .tooltiptext{visibility:visible;opacity:1}
:host ::ng-deep .cat_wrapper{margin-top:20px;margin-bottom:15px}
:host ::ng-deep .container{width:100%;padding:0}
:host ::ng-deep .tabs{max-width:100%;float:none;list-style:none;padding:0;margin:10px auto}
:host ::ng-deep .tabs:after{content:'';display:table;clear:both}
:host ::ng-deep .tabs input[type=radio]{display:none}
:host ::ng-deep .tabs label{display:block;float:left;width:50%;color:#878787;font-size:21px;font-weight:400;text-decoration:none;text-align:center;line-height:2;cursor:pointer;-webkit-transition:all .5s;transition:all .5s;font-family:sans-serif;border-bottom:1px solid #e2e2e2}
:host ::ng-deep .tabs label i{padding:5px;margin-right:0}
:host ::ng-deep .tabs label:hover{color:#3498db}
:host ::ng-deep .tab-content h3{text-align:center}
:host ::ng-deep .tab-content{display:none;width:100%;float:left;padding:15px;box-sizing:border-box;background-color:#fff}
:host ::ng-deep .tab-content *{-webkit-animation:scale .7s ease-in-out;-moz-animation:scale .7s ease-in-out;animation:scale .7s ease-in-out}@keyframes scale{0%{transform:scale(.9);opacity:0}50%{transform:scale(1.01);opacity:.5}100%{transform:scale(1);opacity:1}}
:host ::ng-deep .tabs [id^=tab]:checked+label{background:#fff;border-bottom:3px solid #db3439;color:#333}
:host ::ng-deep #tab1:checked~#tab-content1,#tab2:checked~#tab-content2,#tab3:checked~#tab-content3{display:block}
:host ::ng-deep .product-item-box1{width:33%;background-color:transparent;float:left}
:host ::ng-deep .product-item1{margin:5px;background-color:#fff;padding:5px}
:host ::ng-deep .product-details{padding:0!important;position:absolute;background:#ffffffc9;bottom:12px;padding-top:12px!important;width:100%;margin:0 auto;text-align:center}
:host ::ng-deep .product-list-name1{font-size:21px;padding-right:20px;padding-left:10px;color:#b146bd}
:host ::ng-deep .product-item1{height:258px;position:relative;display:inline-block}
:host ::ng-deep .product-item1 img{width:100%;position:relative}
:host ::ng-deep .product-image{position:relative;width:100%}
:host ::ng-deep .product-image img{position:relative;width:100%}
:host ::ng-deep .splbutton1{border-radius:3px;padding:6px;background-color:rgb(112 175 97);color:#fff;cursor:pointer;font-size:15px;width:30%}
:host ::ng-deep .splbutton{border-radius:3px;padding:6px;background-color:#f56f23;color:#fff;cursor:pointer;font-size:15px;width:30%}
:host ::ng-deep .button-container p{margin:0!important}
:host ::ng-deep .bank-offer{margin:10px 10px!important;padding:0!important}
:host ::ng-deep .bank-offer img{box-shadow:0 0 4px 1px #cecccc}
:host ::ng-deep .product-details-bank{background:#efeded!important}
@media (max-width:768px){
	:host ::ng-deep .seocontent{width:85%}
:host ::ng-deep 	.header_margin{margin-top:30px}
:host ::ng-deep 	.heading-title{display:none}
:host ::ng-deep 	.cat_wrapper img{display:block}
:host ::ng-deep 	.tabs i{padding:5px;margin-right:10px}
:host ::ng-deep 	.tabs label span{display:inline-block}
:host ::ng-deep 	.tabs{max-width:1180px;margin:10px auto}
:host ::ng-deep 	.product-item1{height:auto!important}
:host ::ng-deep 	.product-item-box1{width:100%!important}
:host ::ng-deep 	.tabs label{font-size:18px}
:host ::ng-deep 	.product-details{bottom:32px}
:host ::ng-deep 	.product-details-bank{bottom:10px!important}
:host ::ng-deep 	.product-list-name1{margin-bottom:10px;font-size:18px}
:host ::ng-deep 	.splbutton{padding:2px}
:host ::ng-deep 	.product-details p{margin:10!important}
:host ::ng-deep 	.tabs label span{font-size:12px}}
@media screen and (min-device-width:769px) and (max-device-width:1217px){
:host ::ng-deep 	.product-list-name1{font-size:19px}
:host ::ng-deep 	.splbutton{width:37%}
:host ::ng-deep 	.button-box p{margin:0!important}
:host ::ng-deep 	.bank-offer{height:180px}
:host ::ng-deep 	.product-details-bank{bottom:-8px}
}
@media screen and (min-device-width:1065px) and (max-device-width:1215px){
:host ::ng-deep 	.product-details-bank{bottom:-44px}
	}

