<div id="container" class="container j-container">
    <ul class="breadcrumb">
        <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb"><a routerLink="/" itemprop="url"><span itemprop="title">Home</span></a></li>
        <li itemscope itemtype="https://data-vocabulary.org/Breadcrumb"><a routerLink="/special-offers" itemprop="url"><span itemprop="title">Welcome to most Juicy Coupons for MyFlowerTree. </span></a></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1 class="heading-title">Welcome to most Juicy Coupons for MyFlowerTree. </h1>
            <div class="cat_wrapper">
                <img loading="lazy"  src="{{CDN_PATH}}2020/offer-page/offer-banner.jpg" width="100%" alt="Myflowertree Offers" title="Myflowertree Offers">
            </div>
            <div class="tabs">
                <input type="radio" name="tabs" id="tab1" checked="">
                <label for="tab1">
                    <span>TOP OFFERS</span>
                </label>
        
                <input type="radio" name="tabs" id="tab2">
                <label for="tab2">
                    <span>DEAL OF THE DAY</span>
                </label>
        
                <!--<input type="radio" name="tabs" id="tab3">
                <label for="tab3">
                    <span>BANK OFFERS</span>
                </label>-->
 
                <div id="tab-content1" class="tab-content">
                    <h3>TOP OFFERS</h3>
                    <div class="product-item-box1" *ngFor="let offer of offersdata">
                        <div class="product-item1" *ngIf="offer.coupon_type=='top_offers'">
                                <img loading="lazy"  class="lazy first-image" src="{{CDN_PATH}}option-images/{{offer.image}}" data-src="https://d3cif2hu95s88v.cloudfront.net/live-site-2016/option-images/{{offer.image}}" title="{{offer.coupon_title}}" alt="{{offer.coupon_title}}">
                            <div class="product-details">
                                <div class="product-list-name1">{{offer.coupon_title}}</div>
                                        <div class="button-box">
                                                <button class="splbutton" id="text{{offer.id}}" (click)="getCode(offer.id)">Get Code</button>
        <div class="copy_text" style="display:none;" id="{{offer.id}}">
        <input style="background-color: bisque;
            border: 1.5px solid #999;
            width: 100px;
            text-align: center;
            font-weight: bold;" type="text" value="{{offer.coupon_code}}" id="code-{{offer.id}}" #couponCode>
        <div class="tooltip">
        <button style="font-size:13px;" (click)="copyCode(couponCode)" (mouseout)="outFunc()">
          <span class="tooltiptext" id="myTooltip">Copy Code</span>
          Copy Code
          </button>
        </div>
        </div>
        <p style="margin-top:12px;     text-align: right; text-decoration:underline;padding-right: 10%;"> <a style="cursor:pointer;" href="javascript:void(0)" (click)="getTNC(offer.id)">View T&amp;C </a> </p>
                                        </div>
                                </div>	        		
                        </div>
                    </div>
                </div>
                <div id="tab-content2" class="tab-content">
                    <h3>DEAL OF THE DAY</h3>
                    <div class="product-item-box1" *ngFor="let offer of offersdata">
                        <div class="product-item1" *ngIf="offer.coupon_type=='deal_of_the_day'">
                                <img loading="lazy"  class="lazy first-image" src="{{CDN_PATH}}option-images/{{offer.image}}" data-src="{{CDN_PATH}}option-images/{{offer.image}}" title="{{offer.coupon_title}}" alt="{{offer.coupon_title}}">
                            <div class="product-details">
                                <div class="product-list-name1">{{offer.coupon_title}}</div>
                                        <div class="button-box">
                                                <button class="splbutton" id="text{{offer.id}}" (click)="getCode(offer.id)">Get Code</button>
        <div class="copy_text" style="display:none;" id="{{offer.id}}">
        <input style="background-color: bisque;
            border: 1.5px solid #999;
            width: 100px;
            text-align: center;
            font-weight: bold;" type="text" value="{{offer.coupon_code}}" id="code-{{offer.id}}" #couponCode>
        <div class="tooltip">
        <button style="font-size:13px;" (click)="copyCode(couponCode)" (mouseout)="outFunc()">
          <span class="tooltiptext" id="myTooltip">Copy Code</span>
          Copy Code
          </button>
        </div>
        </div>
        <p style="margin-top:12px;     text-align: right; text-decoration:underline;padding-right: 10%;"> <a style="cursor:pointer;" href="javascript:void(0)" (click)="getTNC(offer.id)">View T&amp;C </a> </p>
                                        </div>
                                </div>	        		
                        </div>
                    </div>
        
                </div>
         <!-- #tab-content2 -->
        <!--
              <div id="tab-content3" class="tab-content">
                    
                    <h3>BANK OFFERS</h3>
                    <div class="product-item-box1" *ngFor="let offer of offersdata">
                       <div class="product-item1" *ngIf="offer.coupon_type=='bank_offers'">
                                <img loading="lazy"  class="lazy first-image" src="{{CDN_PATH}}option-images/{{offer.image}}" data-src="{{CDN_PATH}}option-images/{{offer.image}}" title="{{offer.coupon_title}}" alt="{{offer.coupon_title}}">
                            <div class="product-details">
                                <div class="product-list-name1">{{offer.coupon_title}}</div>
                                        <div class="button-box">
                                                <button class="splbutton" id="text{{offer.id}}" (click)="getCode(offer.id)">Get Code</button>
        <div class="copy_text" style="display:none;" id="{{offer.id}}">
        <input style="background-color: bisque;
            border: 1.5px solid #999;
            width: 100px;
            text-align: center;
            font-weight: bold;" type="text" value="{{offer.coupon_code}}" id="code-{{offer.id}}" #couponCode>
        <div class="tooltip">
        <button style="font-size:13px;" (click)="copyCode(couponCode)" (mouseout)="outFunc()">
          <span class="tooltiptext" id="myTooltip">Copy Code</span>
          Copy Code
          </button>
        </div>
        </div>
        <p style="margin-top:12px;     text-align: right; text-decoration:underline;padding-right: 10%;"> <a style="cursor:pointer;" href="javascript:void(0)" (click)="getTNC(offer.id)">View T&amp;C </a> </p>
                                        </div>
                                </div>	        		
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="seocontent">	
        <h2>MyFlowerTree Coupons & Discount Deals</h2>
        <p>Enjoy every occasion meaningfully with delicious cakes. We not only offer mouthwatering cakes but also ensure to offer them at discounted prices. Our occasion-wise deals can save your hard-earned money. People check out the best gifts for their loved ones on our online portal and make the most desirable picks conveniently. It is easy to grab an ideal gift and astonish the mood of someone special. MyFlowerTree understands the specific needs of its customers and comes up with the most suitable cakes. Fresh and yummy cakes offered by us can stun the mood of any individual. This is the reason why we have gained the trust of people and made them our loyal customers.</p>
        <h2>Discount Coupons To Buy Gifts Within Your Pocket</h2>
        <p>Before making any purchase, you can look into an array of coupons with us. Best-suited gift coupons make it easier for people to buy the most desirable items and that too within their budget. MyFlowerTree comes up with a unique range of gifts to choose from. You can pick any item for your beloved and apply a coupon to save your money. The heartwarming gift will surprise the recipient and leave unforgettable memories. Our discount coupons are suitable to stun the mood of the buyers. You can also view such discounts on our online portal often and send the most desirable gifts to the doorstep of your friends and relatives.</p>
        <h2>Promotion Codes and Exclusive Offers From MyFlowerTree</h2>
        <p>Make every occasion memorable with amazing promotion codes by us. Budget-friendly offers of a fresh bunch of flowers, cakes, chocolates, personalized items and other items can offer you several choices. If you think that on-time delivery is essential, choose MyFlowerTree as your next gifting platform. Our timely gift delivery ensures to make every occasion amazing. It is also easy to apply coupon codes on our portal and book an order as per the comfort of your home.</p>
        <p>We provide offers and discounts on various gift items. So, you have a lot of things to explore. Our gift delivery is available across India and abroad. You can keep on viewing our latest gifts and offers on our site and get suitable stuff. During the festive season, we offer incredible discounts that can save plenty of bucks. Get the latest updates about the discount coupons and cashback offers on our portal often or receive them on your contact number and email address by registering them on our site.</p>
        </div>
    </div>
</div>

<div class="modal" id="myModalSpecial">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 style="color:red;display: inline-block;" class="modal-title">Terms & Conditions</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="closeTNC()">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body" [innerHTML]="toHTML(tnc_text)">
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeTNC()">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  
  <!-- <app-footer></app-footer>  -->
  