 .image-upload > input {
    display: none;
}
 .cat-body-box{padding-left:15px; padding-right:15px;}

 body {
    background-color: #fff;
}
 .selectdiv {
  position: relative;
    float: left;
    margin: 10px 8px;
    width:100%;
}
 .inputdiv {
    position: relative;
    float: left;
    width: 100%;
    margin: 10px 0px;
}

 .selectdiv:after {
    content: '\f107';
    font: normal normal normal 17px/1 FontAwesome;
    color: #0ebeff;
    right: 11px;
    top: 26px;
    height: 34px;
    padding: 11px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
    font-size: 25px;
}

 select::-ms-expand {
    display: none;
    }
     .selectdiv label, .inputdiv label {
    width: 100%;
    font-size:16px;
    margin-bottom:0;
font-family: Arial;
    font-weight: 600;}
 

     .selectdiv select, .inputdiv input {
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    height: 50px;
    float: left;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 3;
    color: #5f5f5f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d0d0d0;
    -ms-word-break: normal;
    word-break: normal;
    font-weight: normal;
    font-family:Arial;
}
 .main-div-bg {
    width:100%;
}
 .a-button1 {
    background-color: rgb(245, 111, 35);
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 4;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    font-family:Arial;
    margin: 10px auto;
}
 .but-1-cake {
    color:white !important;
}
 .a-button-inner {
    display: block;
    position: relative;
    overflow: hidden;
    height: 33px;
    border-radius: 2px;
}
 .a-button-text-cake {
    background-color: transparent;
    border: 0;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 17px;
    line-height: 33px;
    margin: 0;
    outline: 0;
    padding: 0 20px 0 20px;
    text-align: center;
    white-space: nowrap;
}
 .main-div-bg h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 33px;
    font-family: arial;
    font-weight: 500;
    line-height: 40px;
}
 .main-div-bg h2 span {
font-size: 25px;
    }
     .cat_wrapper1-1 {
    display: table;
}
 .add-address {
    width: 60%;
    margin: 0px auto;
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 15px;
}

 button.new-button:focus {
    outline: none;
}

 .fa-cloud-upload:before {
    content: "\f0ee";
    font-size: 27px;
    color: darkkhaki;
    position: absolute;
    top: 34px;
    left: 14px;
}
 .bg-width {
    width:100%;
    margin:0px auto;
    display:flex;
}
 .bg-width span {
    text-align: center;
    margin: 0px auto;
    font-size: 15px;
    color: #4f4f4f;
}
 .file-field.big .file-path-wrapper {
height: 3.2rem; }
 .file-field.big .file-path-wrapper .file-path {
height: 3rem; }
 .image-upload> input {
  display: none;
}
 .image-div {
    display: inline-block;
    height: 50px;
    border: 2px dashed #b0eadb;
    width: 100%;
    padding: 4px 0px;
}
 .choose-div {
    float: right;
    width: 84%;
}
 .choose-div-img {
    float: left;
    width: 16%;
}
 .choose-div p {
font-size: 15px;
    margin: 0px !important;
}
 .choose-div span {
    font-weight: 200;
    font-size: 11px;
}
 #datepicker::-webkit-inner-spin-button {
     opacity:0;   
    -webkit-appearance: none;
 }

@media (max-width: 768px) {
     .cat-body-box {
margin-top: 0px !important;
}
 .add-address {
    width:100%;
}
 .main-div-bg h2 {
    font-size: 27px;
line-height: 33px;}
 .main-div-bg h2 span {
font-size: 20px;
    }
     .choose-div {
    float: right;
    width: 80%;
}
 .choose-div span {
    font-size: 9px;}
    .bg-width span {
    font-size: 13px;}
}
@media (min-width: 769px) and (max-width: 990px){
     .choose-div {
    float: right;
    width: 84%;
}

}

:host::ng-deep .image-upload>input{display:none}
:host::ng-deep .cat-body-box{padding-left:15px;padding-right:15px}
:host::ng-deep body{background-color:#fff}
:host::ng-deep .selectdiv{position:relative;float:left;margin:10px 8px;width:100%}
:host::ng-deep .inputdiv{position:relative;float:left;width:100%;margin:10px 0}
:host::ng-deep .selectdiv:after{content:'\f107';font:normal normal normal 17px/1 FontAwesome;color:#0ebeff;right:11px;top:26px;height:34px;padding:11px 0 0 8px;position:absolute;pointer-events:none;font-size:25px}
:host::ng-deep select::-ms-expand{display:none}
:host::ng-deep .inputdiv label,
:host::ng-deep .selectdiv label{width:100%;font-size:16px;margin-bottom:0;font-family:Arial;font-weight:600}
:host::ng-deep .inputdiv input,
:host::ng-deep .selectdiv select{-webkit-appearance:none;-moz-appearance:none;appearance:none;display:block;width:100%;height:50px;float:left;margin:5px 0;padding:0 24px;font-size:16px;line-height:3;color:#5f5f5f;background-color:#fff;background-image:none;border:1px solid #d0d0d0;-ms-word-break:normal;word-break:normal;font-weight:400;font-family:Arial}
:host::ng-deep .main-div-bg{width:100%}
:host::ng-deep .a-button1{background-color:#f56f23;border-width:1px;cursor:pointer;display:inline-block;padding:4;text-align:center;text-decoration:none!important;vertical-align:middle;font-family:Arial;margin:10px auto}
:host::ng-deep .but-1-cake{color:#fff!important}
:host::ng-deep .a-button-inner{display:block;position:relative;overflow:hidden;height:33px;border-radius:2px}
:host::ng-deep .a-button-text-cake{background-color:transparent;border:0;display:block;font-family:Arial,sans-serif;font-size:17px;line-height:33px;margin:0;outline:0;padding:0 20px 0 20px;text-align:center;white-space:nowrap}
:host::ng-deep .main-div-bg h2{text-align:center;margin-top:40px;margin-bottom:40px;font-size:33px;font-family:arial;font-weight:500;line-height:40px}
:host::ng-deep .main-div-bg h2 span{font-size:25px}
:host::ng-deep .cat_wrapper1-1{display:table}
:host::ng-deep .add-address{width:60%;margin:0 auto;border:1px solid #d3d3d3;padding:20px;border-radius:15px}
:host::ng-deep button.new-button:focus{outline:0}
:host::ng-deep .fa-cloud-upload:before{content:"\f0ee";font-size:27px;color:#bdb76b;position:absolute;top:34px;left:14px}
:host::ng-deep .bg-width{width:100%;margin:0 auto;display:flex}
:host::ng-deep .bg-width span{text-align:center;margin:0 auto;font-size:15px;color:#4f4f4f}
:host::ng-deep .file-field.big .file-path-wrapper{height:3.2rem}
:host::ng-deep .file-field.big .file-path-wrapper .file-path{height:3rem}
:host::ng-deep .image-upload>input{display:none}
:host::ng-deep .image-div{display:inline-block;height:50px;border:2px dashed #b0eadb;width:100%;padding:4px 0}
:host::ng-deep .choose-div{float:right;width:84%}
:host::ng-deep .choose-div-img{float:left;width:16%}
:host::ng-deep .choose-div p{font-size:15px;margin:0!important}
:host::ng-deep .choose-div span{font-weight:200;font-size:11px}
:host::ng-deep #datepicker::-webkit-inner-spin-button{opacity:0;-webkit-appearance:none}
@media (max-width:768px){
:host::ng-deep 	.cat-body-box{margin-top:0px!important}
:host::ng-deep 	.add-address{width:100%}
:host::ng-deep 	.main-div-bg h2{font-size:27px;line-height:33px}
:host::ng-deep 	.main-div-bg h2 span{font-size:20px}
:host::ng-deep 	.choose-div{float:right;width:80%}
:host::ng-deep 	.choose-div span{font-size:9px}
:host::ng-deep 	.bg-width span{font-size:13px}
	}
@media (min-width:769px) and (max-width:990px){
:host::ng-deep 	.choose-div{float:right;width:84%}
	}
