  <div class="cat-body-box">
  <div class="row">
  <!--banner-start-->
  <div class="cat_wrapper1-1">
  <img loading="lazy"  class="hidden-xs" src="{{CDN_PATH}}2020/custome-order/custom-banner-desktop.jpg" width="100%" alt="custom" title="custom">
  <img loading="lazy"  class="w-100 hidden-lg hidden-sm hidden-md" alt="custom" src="{{CDN_PATH}}2020/custome-order/custom-banner-mobile.jpg">
  </div>
  <!--banner-end--> 
  <div class="container" id="product">
  
  <div class="main-div-bg">
  <h2>Thinking Out of the Box?<br><span>Order What You Like</span></h2> 
  <form [formGroup]="customOrderForm" (ngSubmit)="submitCustomOrder()">
   
   <div class="add-address"> 
    <div for="file-input" class="inputdiv">
        <label>Upload Image 
        
        <div class="image-div">
            <div class="choose-div-img">
         <i  class="fa fa-cloud-upload" aria-hidden="true"></i>
     </div>
         <div class="choose-div">
         <p>Choose Image</p>
         <span>Max 2MB. Image Size extensions(png,jpg,jpeg)</span>
         </div>
        </div>
       
        <div class="file-field image-upload">
        <input id="input-file-1" style="padding:12px 46px;" class="cfile" formControlName="cake_image" (change)="uploadFile($event)" type="file">
         </div>
          </label>
    <span *ngIf="!customOrderForm.get('cake_image').valid && customOrderForm.get('cake_image').touched"
          class="error-message">
          <span *ngIf="customOrderForm.get('cake_image').errors['required']">Please Select Image</span>
      </span>
    </div>      
    <div class="inputdiv">
        <label for="name">Which Flavour would you like
          <input type="text" formControlName="flavour" value="" placeholder=" ">
        </label>
    <span *ngIf="!customOrderForm.get('flavour').valid && customOrderForm.get('flavour').touched"
        class="error-message">
        <span *ngIf="customOrderForm.get('flavour').errors['required']">Please Enter Flavour</span>
    </span>
    </div>

    <div class="inputdiv selectdiv sel-check">
        <label for="Quantity">Quantity
            <select formControlName="quantity_new" [(ngModel)]="selectedOption" id="cake-quantity" (change)="cakeQuantity()">
            <option value="1kg">1kg</option>
            <option value="2kg">2kg</option>
            <option value="3kg">3kg</option>
            <option value="others">Other</option>
            </select>
        </label>
    <span *ngIf="!customOrderForm.get('quantity_new').valid && customOrderForm.get('quantity_new').touched"
        class="error-message">
        <span *ngIf="customOrderForm.get('quantity_new').errors['required']">Please Select Quantity</span>
    </span>
    </div>
    <div class="inputdiv" id="other_box" *ngIf="selectedOption=='others'">
        <label for="city">Other Quantity
          <input type="text" formControlName="other_box_value" placeholder=" " value="">
        </label>
    <span *ngIf="!customOrderForm.get('other_box_value').valid && customOrderForm.get('other_box_value').touched"
        class="error-message">
        <span *ngIf="customOrderForm.get('other_box_value').errors['required']">Please Enter Quantity</span>
    </span>
    </div>
    
    <div class="inputdiv">
        <label for="date">Delivery Date
          <input type="date" formControlName="date" id="datepicker" class="DatePickerInput" placeholder=" " value="">
        </label>
    <span *ngIf="!customOrderForm.get('date').valid && customOrderForm.get('date').touched"
        class="error-message">
        <span *ngIf="customOrderForm.get('date').errors['required']">Please Select Date</span>
    </span>

    </div>

    <div class="inputdiv">
        <label for="city">Delivery City
          <input type="text" formControlName="city" placeholder=" " value="">
        </label>
    <span *ngIf="!customOrderForm.get('city').valid && customOrderForm.get('city').touched"
        class="error-message">
        <span *ngIf="customOrderForm.get('city').errors['required']">Please Enter City</span>
    </span>
    </div>

    <div class="inputdiv">
        <label for="fname">Your Name
          <input type="text" formControlName="name" value="" placeholder=" ">
        </label>
    <span *ngIf="!customOrderForm.get('name').valid && customOrderForm.get('name').touched"
        class="error-message">
        <span *ngIf="customOrderForm.get('name').errors['required']">Please Enter Name</span>
    </span>

    </div>

    <div class="inputdiv">
        <label for="phone">Your Contact No.
          <input type="tel" formControlName="mobile" value="" placeholder=" " >
        </label>
    <span *ngIf="!customOrderForm.get('mobile').valid && customOrderForm.get('mobile').touched"
        class="error-message">
        <span *ngIf="customOrderForm.get('mobile').errors['required']">Please Enter Mobile</span>
    </span>
    </div>

     <div class="inputdiv">
        <label for="email">Email ID
          <input type="email" id="email" formControlName="email" value="" placeholder=" " >
        </label>
    <span *ngIf="!customOrderForm.get('email').valid && customOrderForm.get('email').touched"
        class="error-message">
        <span *ngIf="customOrderForm.get('email').errors['required']">Please Enter Email</span>
        <span *ngIf="customOrderForm.get('email').errors['email']">Please Enter Valid Email</span>
    </span>

    </div>

    <div class="bg-width">
        <div class="a-button1">
            <span class="a-button-inner">
                    <button type="submit" class="a-button-text-cake but-1-cake">REQUEST CALL BACK</button>

            </span>
        </div>
    </div>
    <div class="bg-width"><span>Our associate will contact you within 30 minutes with price and availability confirmation</span></div>

  </div>
  </form>
  </div>  
        <div class="clearfix mtop10"></div>       
  </div>
  </div>
  </div>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
        data-client_id="63021686664-75te2dfhmmv47p3pei9m5jpkc3hrgpaf.apps.googleusercontent.com"
        data-login_uri="https://www.myflowertree.com/google/onetap"
       >
    </div>
    <!-- <app-footer></app-footer>  -->