:host::ng-deep .fc-widget-small{display:none}
:host::ng-deep body{background-color:#fff}
:host::ng-deep ul.breadcrumb{padding:10px 16px;list-style:none}
:host::ng-deep .main-div-bg{width:70%;margin-bottom:20px}
:host::ng-deep ul.breadcrumb li{display:inline;font-size:14px;font-family:Arial}
:host::ng-deep ul.breadcrumb li+li:before{padding:8px;color:#000;content:"/\00a0"}
:host::ng-deep ul.breadcrumb li a{color:#0275d8;text-decoration:none;font-size:14px;font-family:Arial}
:host::ng-deep ul.breadcrumb li a:hover{color:#01447e;text-decoration:underline}
:host::ng-deep .recently_viewed h2{isplay:inline-block;width:100%;font-weight:600;font-size:30px}
:host::ng-deep .product-section{margin-bottom:20px}
:host::ng-deep .ac-box{margin:0 auto;padding-left:20px;padding-right:20px;margin-top:0px}
:host::ng-deep .ac-details-box{width:100%;display:table;margin-top:25px}
:host::ng-deep .ac-details-items{width:30%;float:left;margin-right:20px;margin-bottom:20px}
:host::ng-deep. ac-details-items a{text-decoration:none;color:#333}
:host::ng-deep .a-box{display:block;border:4px solid #fff;box-shadow:0 2px 4px rgba(0,0,0,.2);border-radius:4px;background-color:#fff;padding:25px}
:host::ng-deep .a-box:hover{background-color:#ececec}
:host::ng-deep .a-box-img{float:left;width:40px;font-size:40px}
:host::ng-deep .a-box-img i{vertical-align:top;color:#666}
:host::ng-deep .a-box-details{float:left;padding-left:15px}
:host::ng-deep .a-box-details h2{margin:0;padding:0;padding-bottom:5px}
:host::ng-deep .a-box-details div{font-size:12px;color:#999;margin:0;padding:0}
@media only screen and (max-width:600px){
	:host::ng-deep .ac-box{margin-top:60px;padding-left:5px;padding-right:5px}
:host::ng-deep	.ac-details-items{width:100%;float:left;margin-right:20px;margin-bottom:20px}
:host::ng-deep	.ac-details-items{margin-bottom:5px}
:host::ng-deep	.breadcrumb{display:block!important}
:host::ng-deep	.recently_viewed h2{font-size:24px}
:host::ng-deep	.product-section{padding-top:0;margin-top:0}
}
