<!-- <app-header></app-header> -->
 <div class="body-box ac-box">
       <div class="product-section">
         <div class="container">
                 <div class="recently_viewed">
           <h2>Best Seller Products</h2>
         </div>
           <div class="product-list-box">
               <div class="product-item-box ga-product" itemprop="itemListElement" itemscope
               itemtype="https://schema.org/ListItem" *ngFor="let product of products;let pindex=index;">
               <div class="product-item ">
                   <meta itemprop="position" content="{{pindex}}" />
               <a routerLink="/{{product.keyw}}" data-id="{{ product.product_id }}-{{ product.category_id }}"
                       itemprop="url" [className]="product.thumb2 !='' ? 'has-second-image lazy' : ''">
                       <div class="product-image">
                           
                           <span *ngIf="product.tag_class !=''" class="tag {{product.tag_class}}">{{ product.product_tag }}</span>
                           
   
   
       <img loading="lazy"  class="lazy first-image"  [defaultImage]="defaultImage"  [lazyLoad]="product.image" title="{{product.name}}" alt="{{product.alt_tag}}"
                               /></div>
                       <div class="product-details" *ngIf="product.product_type !='category promo banner'">
                           <div class="product-list-name">{{product.name}}</div>
                           <div class="product-list-price">
                               <div class="price" *ngIf="product.price !=0">
                                   <div *ngIf="product.special==null;else priceBlock;">
                                       <span class="price-new"> Rs. {{product.price | number}} </span>
                                   </div>
                                   <ng-template #priceBlock>
                                       <span class="price-new">Rs. {{product.special | number}}</span>
                                           <span class="price-old">Rs. {{product.price | number}}</span>
                                           <span class="price-percentage">
                                           {{product.percentage_offer}}
                                           </span>
                                   </ng-template>
                               </div>
                           </div>
                           <div class="product-list-time" *ngIf="(product.product_type=='Gifts' || product.manufacturer =='IS');else deliveryBlock">
                               <div *ngIf="(product.current_hour < '17');then timeblockOne else timeblockTwo">here is ignored</div>    
                               <ng-template #timeblockOne>Will be dispatched by <span class='green-text'>21-04-2020</span></ng-template>
                               <ng-template #timeblockTwo>Will be dispatched by <span class='green-text'>21-04-2020</span></ng-template>
                           </div>
                       
                           <ng-template #deliveryBlock>
                               <div class="product-list-time">Can be delivered <span class="green-text">{{product.expected_delivery}}</span>.</div>
                           </ng-template>
                       </div>
                   </a></div>
           </div>
   
                     </div>
       </div>
     
     </div>
   </div>


   <!-- <app-footer></app-footer> -->
